.contactus-page{	
	
	font-size: $font_14 + 4px;
	line-height: $font_14 + 14px;
	
	.section{		
		padding-bottom: 0;		
	}
	
	footer{
		margin-top: 0;
	}
	
	.map{
		
		border: 1px solid #ddd;
		padding: 4px;
		border-radius: 4px;
		height:350px;
	}

	.contact-address{
		/*padding-top: 30px;
		padding-bottom: 30px;*/
		line-height: $font_14 + 10px;
	}
}