@media (max-width: 991px) and (min-width: 736px){
	
	/*====== PAGE: About Us =====*/
	.aboutus-page{
		
		.nav-pills.nav-stacked{
			width: 100%;
			
			li{
				display: table-cell;
    			width: 1%;
				float: none;
				text-align: center;
			}
		}	
	}
	
	/*====== PAGE: Services =====*/
	.services-page{
		
		.nav-pills.nav-stacked{
			width: 100%;
			
			li{
				display: table-cell;
    			width: 1%;
				float: none;
				text-align: center;
			}
		}	
	}
	
}

@media (max-width: 736px){
	.nav-header{
		text-align: center;
		font-size: $font_14 - 3px;
	}
	
	.navbar .navbar-brand img{
		height: auto;
	}
	.navbar.navbar-default .navbar-toggle{
		margin-right: 0;
		margin-top: 20px;
	}
	
	.navbar.navbar-default .navbar-collapse{
		padding: 0;
		margin-right: -15px;
		margin-left: -15px;
	}
	
	.navbar .navbar-collapse .navbar-nav{
		width: 100%;
    	margin: 0;
	}
	
	.navbar .navbar-collapse .navbar-nav > li a {
		padding: 15px 10px;
	}
	
	.brand-full-name{font-size: $font_14 + 10px;}
	
	
	footer{
		text-align: center;
	}
	
	footer .contact-detail .footer_contact{
		text-align: left;
		width: 100%;
	}
		
	footer .contact-detail .footer_contact .fatexts{
		max-width: 85%;
	}
	footer .contact-detail h3.title {
		font-size: 18px;
	}
	footer .nav {
		text-align: center;
	}
}

