.services-page{
	
	font-size: $font_14 + 4px;
	line-height: $font_14 + 14px;

	
	.services-content{
		
		padding-top: 50px;
		padding-bottom: 80px;
		
		.tab-pane{
			
			.sub-title{
				display: block;
				margin: 15px 0 5px;
			}
			
			ol,ul{
				padding: 0 0 0 15px;
			}
			
			.thumbnail:hover{
				background-color: $secondaryBlue;
				
					-webkit-transition: 	all .3s ease-out;
					  -moz-transition: 		all .3s ease-out;
					  -o-transition: 		all .3s ease-out;
					  transition: 			all .3s ease-out;
				
				
				.caption{
					color: $primaryBlue;	
					
					-webkit-transition: 	all .5s ease-out;
					  -moz-transition: 		all .5s ease-out;
					  -o-transition: 		all .5s ease-out;
					  transition: 			all .5s ease-out;
				}
				
			}
			
		}
	}
	
	h3.title{
		 color: darken($grey, 30%);
	}
	
	.nav-pills{
		margin-top: 20px;
	}
	
	.nav-pills>li>a, 
	.nav-pills>li>a:focus, 
	.nav-pills>li>a:hover{
		
	}
	
	.nav-pills>li.active>a, 
	.nav-pills>li.active>a:focus, 
	.nav-pills>li.active>a:hover{
		background-color: $primaryBlue;	
	}
	
}