
/*COLORS*/
$primaryBlue : 	#0094c6;
$secondaryBlue: #03191e;

$white:			#ffffff;
$black:			#000000;
$grey:			#9e9e9e;

$grey-darken-3: #424242;
$grey-darken-4: #212121;


/*FONT SIZE*/
$font_14: 14px;