.admin-home-page{
	
	header{
		position: static;
		background-color: $primaryColor;
	}
	
	.container-fluid{
		background-color: lighten($dark, 5%);
	}
	
	aside{
		
		.nav>li>a{
			color:$white;
		}
		.nav>li>a:focus, 
		.nav>li>a:hover{
			background-color: transparent;
			color:$secondaryColor;
		}
		.nav-pills>li.active>a, 
		.nav-pills>li.active>a:focus, 
		.nav-pills>li.active>a:hover{
			background-color: darken($dark, 100%);
			
		}
		
	}
	
	.content-wrapper{
		background-color: $white;
	}
	.content-wrap{
		padding: 15px 0;
		
	}
	
	footer{
		padding: 10px 0;
	}
}