/*COLORS*/

$primaryColor : 	#0150A0;//#001d99;
$secondaryColor : 	#00B0F7;//#00ffff;

$white : 			#ffffff;
$black : 			#000000;
$grey : 			#9e9e9e;
$dark : 			#323232;


/*FONTS*/
$Roboto : 			'Roboto';
$lemonMilklight : 	'lemonMilklight';
$lemonMilk : 		'lemonMilk';
$Arial : 			'Arial';

/*FONT SIZE*/
$font18: 18px;