@@if(carousel){
   <div class="carousel-outer mx-auto pos-relative w-full">
      @@if(!context.hideControl){
      <button class="jsCarouselPrv pos-absolute z-20 pin-t-50 pin-l @@if(context.jsCarouselControlClasses || context.controlLeftClasses){@@jsCarouselControlClasses @@controlLeftClasses}">
         <span class="p-xs flex-col">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 477.175 477.175">
               <path fill="currentColor"
                  d="M145.188 238.575l215.5-215.5c5.3-5.3 5.3-13.8 0-19.1s-13.8-5.3-19.1 0l-225.1 225.1c-5.3 5.3-5.3 13.8 0 19.1l225.1 225c2.6 2.6 6.1 4 9.5 4s6.9-1.3 9.5-4c5.3-5.3 5.3-13.8 0-19.1l-215.4-215.5z" />
               </svg>
         </span>
      </button>
      }
   <div class="is-carousel banner-carousel owl-carousel owl-theme @@if(!context.jsCarouselClasses){jsBannerCarousel} @@if(context.jsCarouselClasses){@@jsCarouselClasses}">
}
   @@for (var i = 0; i < data.length; i++) {
      @@if(carousel){
         <div class="item flex-row flex-stretch">
      }
         @@include("./_includes/_simple-card.html", `+(JSON.stringify(data[i]))+`)
      
         @@if(carousel){
         </div>
      }
   }
   
@@if(carousel){   
   </div>
      @@if(!context.hideControl){
      <button class="jsCarouselNxt pos-absolute z-20 pin-t-50 pin-r @@if(context.jsCarouselControlClasses || context.controlRightClasses){@@jsCarouselControlClasses @@controlRightClasses}">
         <span class="p-xs flex-col">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 477.175 477.175">
               <path fill="currentColor"
                  d="M360.731 229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1 0s-5.3 13.8 0 19.1l215.5 215.5-215.5 215.5c-5.3 5.3-5.3 13.8 0 19.1 2.6 2.6 6.1 4 9.5 4 3.4 0 6.9-1.3 9.5-4l225.1-225.1c5.3-5.2 5.3-13.8.1-19z" />
               </svg>
         </span>
      </button>
      }
   </div>
}