<section class="pt-2md lg:pt-xl">
   <div class="container md:container-md lg:container-xl mx-auto">
      <div class="pagination flex-row justify-center list-reset fsize-3sm">
         <a href="#" class="mx-xxs py-xxs px-xs fcolor-inherit no-underline flex-col justify-center align-center on-active-fcolor-flamingo on-active-fweight-bold is-active">1</a>
         <span class="mx-xxs py-xxs">|</span>
         <a href="#" class="mx-xxs py-xxs px-xs fcolor-inherit no-underline flex-col justify-center align-center">2</a>
         <span class="mx-xxs py-xxs">|</span>
         <a href="#" class="mx-xxs py-xxs px-xs fcolor-inherit no-underline flex-col justify-center align-center">3</a>
      </div>
   </div>
</section>