<header class="header w-full flex-col z-100 pos-absolute pin-x pin-t">
  <div class="container sm:container-sm md:container-md lg:container-lg xl:container-xl xxl:container-xxl mx-auto pos-relative">
    <div class="flex-row align-center py-20 lg:py-34">
      <a class="brand-logo mr-auto lg:mr-0" title="@@websiteName" href="index.html">
        <span class="icon icon-logo-sm xl:icon-logo-lg ratio-logo">
          <img src="./images/well-city-logo.png" />
        </span>
      </a>
      <nav class="navbar
              col-12
              flex-col
              flex-stretch
              justify-center
              pos-fixed
              pin
              pin-l-auto
              z-50
              bg-primary
              f-color-white
              shadow-lg
              md:col-6
              lg:f-size-22
              lg:mx-auto
              lg:col-flex
              lg:pos-static
              lg:bg-transparent
              lg:shadow-none
              lg:f-color-inherit
              lg:px-20
           ">
        <ul class="list-reset md:flex-row justify-end capitalize lg:-mx-20">
          <li class="@@if(context.home){is-active} px-20 lg:px-10 xl:px-20 lg:d-hidden">
            <a class="f-color-inherit no-underline py-10 d-inline-block" href="index.html">
              <i class="icon icon-2sm-400">
                <svg stroke="currentColor" xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                  <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"
                    d="M80 212v236a16 16 0 0 0 16 16h96V328a24 24 0 0 1 24-24h80a24 24 0 0 1 24 24v136h96a16 16 0 0 0 16-16V212" />
                  <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M480 256 266.89 52c-5-5.28-16.69-5.34-21.78 0L32 256m368-77V64h-48v69" />
                </svg>
              </i>
            </a>
          </li>
          <li class="@@if(context.howItWorks){is-active} px-20 lg:px-10 xl:px-20">
            <a class="f-color-inherit no-underline py-10 d-inline-block" href="how-it-works.html">How It Works</a>
          </li>
          <li class="@@if(context.courses){is-active} px-20 lg:px-10 xl:px-20">
            <a class="f-color-inherit no-underline py-10 d-inline-block" href="courses.html">Courses</a>
          </li>
          <li class="@@if(context.gallery){is-active} px-20 lg:px-10 xl:px-20">
            <a class="f-color-inherit no-underline py-10 d-inline-block" href="gallery.html">Gallery</a>
          </li>
          <li class="@@if(context.about){is-active} px-20 lg:px-10 xl:px-20">
            <a class="f-color-inherit no-underline py-10 d-inline-block" href="about.html">About</a>
          </li>
          <li class="@@if(context.news){is-active} px-20 lg:px-10 xl:px-20">
            <a class="f-color-inherit no-underline py-10 d-inline-block" href="#">News</a>
          </li>
          <li class="@@if(context.contact){is-active} px-20 lg:px-10 xl:px-20">
            <a class="f-color-inherit no-underline py-10 d-inline-block" href="contact.html">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="flex-row justify-center -mx-xs-300 ml-auto">
        <div class="navbar-toggle f-color-primary mx-xs-300 d-inline-flex lg:d-hidden z-50 transition-all">
          <i class="icon icon-2sm-400 my-auto hamburger pointer-events-auto">
            <div>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </i>
        </div>
      </div>
    </div>
  </div>
</header>