$baseFont: 'Roboto';
$secondaryFont: 'bebas-kai', $font_sans;

$defaultTextColor: #3e3f42;
$defaultFontWeights: 300;
$defaultFontSize: 1.7rem; 
$defaultFont: $baseFont, $font_sans;

$fontFamily: (
  'primary' $defaultFont,
  'secondary' $secondaryFont,
);

$colorRhino: #2e3a5e;
$colorTuna: #3e3f42;
$colorMarigoldYellow: #fcde78;
$colorSteelBlue: #488da9;
$colorCardinal: #ca2033;
$colorRiverBed: #41485e;

$colorWhite: white;
$colorBlack: black;
$colorPrimary: $colorRhino;
$colorSecondary: $colorSteelBlue;
$hamburgerColor: $colorCardinal;
$placeHolderColor: $colorTuna;

$states : ( 
  null null, 
  hover\: ':hover',
  focus\: ':focus',
  active\: null,
);

$bgColors: (
  "inherit" inherit,
  "white" $colorWhite, 
  "black" $colorBlack, 
  "dark" $colorRiverBed,
  "primary" $colorRhino,
  "secondary" $colorSteelBlue,
  "highLight" $colorMarigoldYellow,
  "highLight2" $colorCardinal,
);

$textColors: (
  "inherit" inherit,
  "white" $colorWhite,
  "dark" $colorTuna,
  "primary" $colorRhino,
  "secondary" $colorSteelBlue,
  "hightlight" $colorMarigoldYellow,
);

$borderColors: (
  "transparent" transparent,
  "white" $colorWhite,
  "hightlight" $colorMarigoldYellow,
);

$borderWidth: ( 
  null .1rem,
  "2" .2rem,
  "10" 1rem,
);

$textSizes: (
    "sm" 1.2rem,
    "sm2" 1.6rem,
    "base" $defaultFontSize,
    "md" 2rem,
    "rg" 3.6rem,
    "lg" 4.0rem,
    "xl" 5.5rem,
);

$fontWeights: (
  "light" 300,
  "regular" 400,
  "medium" 500,
);

$lineHeight: ();

$paddings: (
  "1" 0.1rem,
  "3" 0.3rem,
  "5" 0.5rem,
  "10" 1.0rem,
  "12" 1.25rem,
  "15" 1.5rem,
  "20" 2.0rem,
  "25" 2.5rem,
  "30" 3.0rem,
  "45" 4.5rem,
  "50" 5.0rem,
  "60" 6.0rem,
  "67" 6.7rem,
  "92" 9.2rem,
  "105" 10.5rem,
  "0" 0,
);

$margins: (
  "1" 0.1rem,
  "2" 0.2rem,
  "5" 0.5rem,
  "10" 1.0rem,
  "12" 1.25rem,
  "15" 1.5rem,
  "25" 2.5rem,
  "30" 3rem,
  "45" 4.5rem,
  "0" 0,
);

$negativeMargin: (
  "1" 0.1rem,
  "12" 1.25rem,
  "15" 1.5rem,
  "25" 2.5rem,
  "45" 4.5rem,
  "0" 0,
);

$shadowDefault: 0 2px 4px 0 rgba(0,0,0,0.10);
$shadow_outline: 0 0 0 3px rgba($colorMarigoldYellow,0.8);
$shadow_none: none;
$shadows: (
  "default" $shadowDefault,
  "outline" $shadow_outline,
  "none" none
);

$aspectRatios: (
	'1x1' 1 1,
  '16x9' 16 9,
  'logo' 205 112,
  'custom-1' 527 258,
  'custom-2' 260 195,
  // 'custom' 1920 1165
);

$iconsSizes: (
  null 2.6rem,
  'sm' 2.2rem,
  'md' 2.6rem,
  'rg' 3.6rem,
  'lg' 4.0rem,
);

$gridGutters: ();

$borderRadius: (
  'full' 9999px,
  'none' 0,
);