.primary-color{color: $primary-color;}
.secondary-color{color: $secondary-color;}
.highlight-color{color: $highlight-color;}
.primary-bg{background-color:  $primary-color;}
.secondary-bg{background-color:  $secondary-color;}
.highlight-bg{background-color:  $highlight-color;}

body{
    font-size: 16px;
    font-family: $primary-font;
    @extend .primary-color;
}

.title{
    @extend .secondary-color;
}

