@font-face {
    font-family: 'CaboRoundedRegularRegular';
    src: url('../fonts/CaboRoundedRegularRegular.eot');
    src: url('../fonts/CaboRoundedRegularRegular.woff2') format('woff2'),
         url('../fonts/CaboRoundedRegularRegular.woff') format('woff'),
         url('../fonts/CaboRoundedRegularRegular.ttf') format('truetype'),
         url('../fonts/CaboRoundedRegularRegular.svg#CaboRoundedRegularRegular') format('svg'),
         url('../fonts/CaboRoundedRegularRegular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.eot');
    src: url('../fonts/Calibri.woff2') format('woff2'),
         url('../fonts/Calibri.woff') format('woff'),
         url('../fonts/Calibri.ttf') format('truetype'),
         url('../fonts/Calibri.svg#Calibri') format('svg'),
         url('../fonts/Calibri.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  