$primary-color : #272727;
$secondary-color : #748598;
$highlight-color : #e87111;


//*Font family––––––––––––––––––––––––––––––––––––––––––––––––––*//
$default-font: Helvetica, Arial;
$primary-font: 'Calibri' ,$default-font, sans-serif;
$secondary-font: "CaboRoundedRegularRegular" ,$default-font, sans-serif;
