<header class="py-xs lg:py-2sm bg-white border-default border-b">
   <div class="container mx-auto xl:px-xs pos-relative">
      <div class="flex-row align-center">
         <a href="index.html" title="Mukti Bridging Distance" class="flex-none icon icon-logo ratio-logo pos-relative d-inline-block">
            <span class="pos-absolute pin">
               <img src="./images/mukti-logo.png" alt="@@websiteName">
            </span>
         </a>
         <div class="ml-auto flex-row align-center -mr-sm">
            <button class="hamburger rounded-full flex-row align-center cursor-pointer mr-sm hover:shadow-md transition-all xxl:d-hidden">
               <span class="p-xs flex-row align-center">
                  <i data-feather="menu"></i>
                  <i data-feather="x"></i>
               </span>
            </button>
            <a href="#" class="f-weight-semibold pos-relative mr-sm no-underline ">
               <span class="icon md:icon-2md rounded-full bg-secondary f-color-white cursor-pointer hover:shadow-md transition-all">
                  <span class="p-thin flex-row align-center">
                     <i data-feather="bell"></i>
                  </span>
               </span>
               <div class="pos-absolute pin-t pin-r -mt-2xs -mr-2xs md:-mt-thin md:-mr-thin">
                  <span class="icon bg-primary f-color-white rounded-full">
                     <span class="p-thin f-size-xxs"><small>3</small></span>
                  </span>
               </div>
            </a>
            <div class="dropdown">
               <button class="dropdown-trigger button flex-row align-center mr-sm">
                  <div class="icon md:icon-2md mr-xs">
                     <span class="rounded-full bg-primary-light bg-cover bg-center" style="background-image: url('https://picsum.photos/200');"></span>
                  </div>
                  <span class="icon">
                     <i data-feather="chevron-down"></i>
                  </span>
               </button> 
               <div class="dropdown-content -mr-sm">
                  <div class="bg-white py-xs shadow-md m-sm">
                     <ul class="list-reset">
                        <li>
                           <a href="#" class="no-underline flex-row px-sm py-xs f-color-inherit hover:bg-primary-light">
                              <span class="mr-xs"><i data-feather="settings"></i></span> Settings
                           </a>
                           </li>
                        <li>
                           <a href="#" class="no-underline flex-row px-sm py-xs f-color-inherit hover:bg-primary-light">
                              <span class="mr-xs"><i data-feather="user"></i></span> Profile
                           </a>
                           </li>
                        <li>
                           <a href="login.html" class="no-underline flex-row px-sm py-xs f-color-inherit hover:bg-primary-light">
                              <span class="mr-xs"><i data-feather="log-out"></i></span> Logout
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>