<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta property="og:title" content="@@websiteName" />
<meta property="og:description" content="@@description" />
<meta property="og:url" content="****WEBSITE-URL****" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="date=no">
<meta name="format-detection" content="address=no">
<meta name="format-detection" content="email=no">
<link rel="icon" href="./images/favicon.png" />
<title>@@pageName | @@websiteName</title>
<link rel="stylesheet" href="./css/styles.css" />