<!--Message-->
<section class="py-2 bg-primary button f-color-white">
   <div class="container
					md:container-sm lg:container-lg xl:container-xl
					mx-auto
					flex-col">
      <div class="text-center">
         <h3 class="jsContactPopup_open uppercase cursor-pointer f-size-6">
            <strong>Get in touch with us anytime</strong>
         </h3>
      </div>
   </div>
</section>

<!--&lt;!&ndash; Reviews popup &ndash;&gt;-->
<!--<div id="jsReviewsPopup" class="d-hidden container container-md popup shadow-2xl bg-white bg-white border-primary border-b-2">-->
<!--   <div class="flex-col w-full flex-stretch popup-wrap">-->
<!--      <button class="jsReviewsPopup_close button-->
<!--         pos-absolute pin-t pin-r z-10 ml-auto-->
<!--         bg-primary-->
<!--         shadow-lg-->
<!--         icon icon-3-->
<!--         -mt-flat -mr-flat-->
<!--      ">-->
<!--        <span class="p-flat f-color-white">-->
<!--            <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.001 512.001"><path d="M284.286 256.002L506.143 34.144c7.811-7.811 7.811-20.475 0-28.285-7.811-7.81-20.475-7.811-28.285 0L256 227.717 34.143 5.859c-7.811-7.811-20.475-7.811-28.285 0-7.81 7.811-7.811 20.475 0 28.285l221.857 221.857L5.858 477.859c-7.811 7.811-7.811 20.475 0 28.285 3.905 3.905 9.024 5.857 14.143 5.857 5.119 0 10.237-1.952 14.143-5.857L256 284.287l221.857 221.857c3.905 3.905 9.024 5.857 14.143 5.857s10.237-1.952 14.143-5.857c7.811-7.811 7.811-20.475 0-28.285L284.286 256.002z"/></svg>-->
<!--        </span>-->
<!--      </button>-->
<!--      <div class="flex-stretch overflow-auto popup-body p-4 lg:p-5">-->
<!--         <div class="text-wrap text-center">-->
<!--            <span class="icon icon-4 f-color-primary">-->
<!--               <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45.4 31.5"><path d="M45.4 0h-7.1L29 14.4c-1.8 2.8-3 5-3 8.1 0 5.3 4 9.1 8.6 9.1 4.8 0 8.6-3.8 8.6-9.1 0-3.5-1.5-6.6-4.8-8.1l7-14.4zm-26 0h-7.1L3 14.4c-1.8 2.8-3 5-3 8.1 0 5.3 4 9.1 8.6 9.1 4.8 0 8.6-3.8 8.6-9.1 0-3.5-1.5-6.6-4.8-8.1l7-14.4z"/></svg>-->
<!--            </span>-->
<!--            <p>Tem escidip samusandae net vere voluptae net quasperum lam sumqui deliquis dus dolum audicit, od quisciatibus dollupti odicias erionecto milliquas sequam hilis alita. Sa aut volorep erferor iberatur mo modit. Gia nem hilignim sam entiistios dolupturest, eatquo idi re sin porem. Ficipsam eostrum, nonsed que sernataquam, offic tenis que adit laborerum quiam eiciatur autate con con nonsequis di venda nam, corum quodit labo. Et ut invenis ipsapis duciaer chilibuscit utem. Nus aligniet laut magnis invelec tinverf erferro od maioria vendande rerspe pratem sus.</p>-->
<!--            <p>Ro qui quo to volesto blaboribus, iur re nusandia veles elis ex et et que laborerferit laborum nation prero occus debis aut mint.</p>-->
<!--            <p>Ehene nones et volum vendem. Nes experor ehendem reruntorit ra cone endis deliquosam quat.</p>-->
<!--            <p>Is et molum a consed quamet quidis erovit, siment aut andesti aut arum, tet quiscipsant ius simetum fugia volor mos conempores di aut vention </p>-->
<!--            <p class="f-weight-regular">Mr & Mrs P, Salisbury</p>-->
<!--         </div>-->
<!--      </div>-->
<!--   </div>-->
<!--</div>-->

<!-- Contact popup -->
<div id="jsContactPopup" class="d-hidden container container-sm popup shadow-2xl">
   <div class="flex-col w-full flex-stretch popup-wrap">
      <button class="jsContactPopup_close button
         pos-absolute pin-t pin-r z-10 ml-auto
         bg-primary
         shadow-lg
         icon icon-3
         -mt-flat -mr-flat
      ">
        <span class="p-flat f-color-white">
            <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.001 512.001"><path d="M284.286 256.002L506.143 34.144c7.811-7.811 7.811-20.475 0-28.285-7.811-7.81-20.475-7.811-28.285 0L256 227.717 34.143 5.859c-7.811-7.811-20.475-7.811-28.285 0-7.81 7.811-7.811 20.475 0 28.285l221.857 221.857L5.858 477.859c-7.811 7.811-7.811 20.475 0 28.285 3.905 3.905 9.024 5.857 14.143 5.857 5.119 0 10.237-1.952 14.143-5.857L256 284.287l221.857 221.857c3.905 3.905 9.024 5.857 14.143 5.857s10.237-1.952 14.143-5.857c7.811-7.811 7.811-20.475 0-28.285L284.286 256.002z"/></svg>
        </span>
      </button>
      <div class="flex-stretch overflow-auto popup-body bg-medium f-color-white px-3 px-4 pt-4">
         <div class="text-wrap">
            <h2 class="f-weight-regular f-size-6">Talk to us about your needs</h2>
            <p>Get in touch to discover more about how we can help you with.</p>
            <form class="flex-row flex-wrap -mx-1">
               <div class="col-12 flex-col w-full px-1 pb-1">
                  <input type="text" placeholder="Full Name" class="py-1 px-2 bg-white flex-stretch shadow focus:shadow-lg transition-all">
               </div>
               <div class="col-12 flex-col w-full px-1 pb-1">
                  <input type="email" placeholder="Email" class="py-1 px-2 bg-white flex-stretch shadow focus:shadow-lg transition-all">
               </div>
               <div class="col-12 flex-col w-full px-1 pb-1">
                  <input type="tel" placeholder="Telephone" class="py-1 px-2 bg-white flex-stretch shadow focus:shadow-lg transition-all">
               </div>
               <div class="col-12 flex-col w-full px-1 pb-1">
                  <textarea rows="6" placeholder="Message" class="py-1 px-2 bg-white flex-stretch shadow focus:shadow-lg transition-all" spellcheck="false"></textarea>
               </div>
               <div class="col-12 px-1 py-2">
<!--                  <label class="w-full custom-tick">-->
<!--                     <input name="addr" type="checkbox">-->
<!--                     <span class="d-inline-block tick"><span class="bg-white border f-color-primary radius-full"></span></span>-->
<!--                     <span class="related-text hover:f-color-primary">-->
<!--                        <span class="f-color-white">I have read and agreed to your</span>-->
<!--                        <a href="#" class="f-color-inherit no-underline">privacy policy</a>-->
<!--                     </span>-->
<!--                  </label>-->
               </div>
               <button class="button
                     f-color-inherit
                     flex-auto d-flex justify-space-between
                     bg-primary hover:bg-dark hover:f-color-white
                     transition-all
                     py-2
                     px-3 lg:px-4
                     -mx-3
                  ">
                  <span>Get in touch with us</span>
                  <span class="icon icon-3 f-color-white ml-2">
                     <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M506.134 241.843c-.006-.006-.011-.013-.018-.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285.068-7.792 7.829-7.762 20.492.067 28.284L443.558 236H20c-11.046 0-20 8.954-20 20s8.954 20 20 20h423.557l-70.162 69.824c-7.829 7.792-7.859 20.455-.067 28.284 7.793 7.831 20.457 7.858 28.285.068l104.504-104c.006-.006.011-.013.018-.019 7.833-7.818 7.808-20.522-.001-28.314z"/>
                     </svg>
                  </span>
               </button>
            </form>
         </div>
      </div>
   </div>
</div>

<!-- Footer -->
<footer class="bg-dark f-color-white">
   <section class="pt-5 ">
      <div class="container
         md:container-sm lg:container-lg xl:container-xl
         mx-auto
         flex-col md:flex-row-reverse md:flex-wrap
         justify-space-between md:align-end
         text-center md:text-left
         ">
         <div class="text-wrap-sm md:text-right mb-5">
            <a href="index.html" title="@@websiteName" class="-mt-1 f-color-primary icon icon-logo md:icon-logo ratio-logo pos-relative d-inline-block">
                  <span class="pos-absolute pin">
                     <img src="./images/ge-logo-white.png" alt="" />
                  </span>
            </a>
            <div class="text-wrap-sm">
               <p><a class="no-underline f-color-inherit hover:f-color-primary" href="tel:9998946494">9998946494</a><br>
                  <a class="no-underline f-color-inherit hover:f-color-primary" href="tel:9998222522">9998222522</a></p>
               <p><a class="no-underline f-color-inherit hover:f-color-primary" href="mailto:info@gujaratenergy.com">info@gujaratenergy.com</a></p>
               <p><a class="no-underline f-color-inherit hover:f-color-primary" target="_blank" href="https://goo.gl/maps/8qQnxvGjJH5Ftnuw7">
                  UG 39, Atlanta Shopping Mall,<br/> Althan-Bhimrad Canal Road, Althan,<br/>
                  Surat, Gujarat<br/>
                  395017
               </a></p>
            </div>
         </div>
         <ul class="list-reset flex-col capitalize text-wrap-sm mb-5">
            <li><a class="f-color-inherit hover:f-color-primary no-underline py-xs d-inline-block" href="services.html">Services</a></li>
            <li><a class="f-color-inherit hover:f-color-primary no-underline py-xs d-inline-block" href="about.html">About</a></li>
            <li><a class="f-color-inherit hover:f-color-primary no-underline py-xs d-inline-block" href="contact.html">Contact</a></li>
<!--            <li><a class="f-color-inherit hover:f-color-primary no-underline py-xs d-inline-block" href="#">Privacy Policy</a></li>-->
            <li><span class="py-xs d-inline-block">© Gujarat Energy <script> document.write(new Date().getFullYear())</script></span></li>
         </ul>
      </div>
   </section>
</footer>