$fontRelatedClassNamePrifix: 'f-';
$fontFamilyClassNamePrefix: "#{$fontRelatedClassNamePrifix}family";
$textColorsClassPrefix: "#{$fontRelatedClassNamePrifix}color";
$fontSizesClassPrefix: "#{$fontRelatedClassNamePrifix}size";
$fontWeightsClassPrefix: "#{$fontRelatedClassNamePrifix}weight";
$lineHeightsClassPrefix: "#{$fontRelatedClassNamePrifix}height";
$letterSpacingsClassPrefix: "#{$fontRelatedClassNamePrifix}spacing";

/*ImportFontsonts*/
 @import "./ImportFonts";

$color-white: #ffffff;
$color-black: #000000;
$color-grey: #373636;

// brand colors
$color1: #5c3328;
$color2: #a52337;
$color3: #e94f03;
$color4: #fffaf1;
$color5: #67401f;

$color-orange: #e94f03;
$color-blue: #334293;
$color-green: #285e47;

$color-text: $color1;
$color-primary: $color1;
$color-secondary: $color2;
$color-tertiary: $color3;
$color-quaternary: $color5;
$color-light: $color4;

// $color-text-placeholder: rgba($color-text, .8);
$color-text-placeholder: $color-primary;
$color-input-text: $color-primary;
$defaultPlaceHolderColor: $color-text-placeholder;
$color-placeholder: mix(white, $color-primary, 96%);

$selectionTextColor: $color-primary;
//$selectionTextBgColor: rgba($color-primary, .65);
$selectionTextBgColor: rgba(invert($color-text), .65);
//$selectionTextBgColor: rgba(#CF995F, .55);

//-------------------------

// $gridSizes: ();
$orientations: (
  // landscape\: "landscape",
  // portrait\: "portrait"
);

$baseFont: 'Raleway', $font_serif;
$primaryFont: $baseFont;
//$secondaryFont: 'Argesta', $font_serif;

$defaultFont: $baseFont;
$defaultTextColor: $color-text;
$defaultFontWeights: 400;
$defaultFontSize: 1.8rem;
$defaultFontHeight: 1.2;
$defaultLetterSpacing: 0;

$fontFamily: (
  //$fontFamilyClassNamePrefix "default" $defaultFont,
  $fontFamilyClassNamePrefix "primary" $primaryFont,
  //$fontFamilyClassNamePrefix "secondary" $secondaryFont,
);

$bp_xs: 460px;
$bp_sm: 576px;
$bp_md: 710px;
$bp_lg: 992px;
$bp_xl: 1200px;
$bp_xxl: 1400px;
$breakPoints: (
  null 0, 
  sm\: $bp_sm, 
  md\: $bp_md, 
  lg\: $bp_lg, 
  xl\: $bp_xl,
  xxl\: $bp_xxl
);

$states: (
  null null,
  hover\: ":hover",
  focus\: ":focus",
  focus-within\: ":focus-within",
  // active\: null,
);

$gradient-1: linear-gradient(0deg, rgba(2,0,0,0.7) 0%, rgba(240,240,240,0.06) 60%, rgba(255,255,255,0) 100%);;
$bgColors: (
  $bgColorsClassPrefix "$color-placeholder" $color-placeholder 'states' 'no-parent' null,
  $bgColorsClassPrefix "inherit" inherit 'states' 'no-parent' null,
  $bgColorsClassPrefix "transparent" transparent 'states' 'no-parent' null,
  $bgColorsClassPrefix "primary" $color-primary 'states' 'no-parent' null,
  $bgColorsClassPrefix "secondary" $color-secondary 'states' 'no-parent' null,
  $bgColorsClassPrefix "tertiary" $color-tertiary 'states' 'no-parent' null,
  $bgColorsClassPrefix "quaternary" $color-quaternary 'states' 'no-parent' null,
  $bgColorsClassPrefix "light" $color-light 'states' 'no-parent' null,
  $bgColorsClassPrefix "white" $color-white 'states' 'no-parent' null,
  $bgColorsClassPrefix "orange" $color-orange 'states' 'no-parent' null,
  $bgColorsClassPrefix "blue" $color-blue 'states' 'no-parent' null,
  $bgColorsClassPrefix "green" $color-green 'states' 'no-parent' null,
);

$shadowOverClassPrefix: "overlay";
$shadowOver: (
  //$shadowOverClassPrefix 'cover' $gradList-primary 'no-states',
  // $shadowOverClassPrefix "grad-1" $gradient-1 'states' 'no-parent' null,
  //$shadowOverClassPrefix 'grad-primary-to-right' $gradList-primary-to-right 'states',
  //$shadowOverClassPrefix 'grad-secondary' $gradList-secondary 'states',
  //$shadowOverClassPrefix 'grad-primary-reverse' $gradList-primary-reverse 'states',
  //$shadowOverClassPrefix 'grad-secondary-reverse' $gradList-secondary-reverse 'states',
  //$shadowOverClassPrefix 'solid-primary' $gradList-solid-primary 'states',
  //$shadowOverClassPrefix 'solid-secondary' $gradList-solid-secondary 'states',
  //$shadowOverClassPrefix "none" none 'no-states',
);

$themeColor: ();

$borderColors: (
  $borderColorsClassPrefix "inherit" inherit 'states' 'no-parent' null,
  $borderColorsClassPrefix "transparent" transparent 'states' 'no-parent' null,
  $borderColorsClassPrefix "primary" $color-primary 'states' 'no-parent' null,
  $borderColorsClassPrefix "secondary" $color-secondary 'states' 'no-parent' null,
  $borderColorsClassPrefix "tertiary" $color-tertiary 'states' 'no-parent' null,
  $borderColorsClassPrefix "quaternary" $color-quaternary 'states' 'no-parent' null,
  $borderColorsClassPrefix "light" $color-light 'states' 'no-parent' null,
  $borderColorsClassPrefix "white" $color-white 'states' 'no-parent' null,
  $borderColorsClassPrefix "orange" $color-orange 'states' 'no-parent' null,
  $borderColorsClassPrefix "blue" $color-blue 'states' 'no-parent' null,
  $borderColorsClassPrefix "green" $color-green 'states' 'no-parent' null,
  $borderColorsClassPrefix "grey" $color-grey 'states' 'no-parent' null,
);

$borderWidth: (
  null 0.1rem 'states' 'no-parent',
  1 0.1rem 'states' 'no-parent',
  2 0.2rem 'states' 'no-parent',
  4 0.4rem 'states' 'no-parent',
  0 0rem 'no-states' 'no-parent',
);


$textColors: (
  $textColorsClassPrefix "inherit" inherit 'states' 'no-parent' null,
  $textColorsClassPrefix "default" $color-text 'states' 'no-parent' null,
  $textColorsClassPrefix "primary" $color-primary 'states' 'no-parent' null,
  $textColorsClassPrefix "secondary" $color-secondary 'states' 'no-parent' null,
  $textColorsClassPrefix "tertiary" $color-tertiary 'states' 'no-parent' null,
  $textColorsClassPrefix "quaternary" $color-quaternary 'states' 'no-parent' null,
  $textColorsClassPrefix "white" $color-white 'states' 'no-parent' null,
  $textColorsClassPrefix "orange" $color-orange 'states' 'no-parent' null,
  $textColorsClassPrefix "blue" $color-blue 'states' 'no-parent' null,
  $textColorsClassPrefix "green" $color-green 'states' 'no-parent' null,
);


// 15 16 18 19 21 22 23 24 27 31 32 61 96 112
$fontSizes: (
  $fontSizesClassPrefix "inherit" inherit null,
  $fontSizesClassPrefix "10" 1.0rem null,
  $fontSizesClassPrefix "12" 1.2rem null,
  $fontSizesClassPrefix "15" 1.5rem null,
  $fontSizesClassPrefix "16" 1.6rem null,
  $fontSizesClassPrefix "18" 1.8rem null,
  $fontSizesClassPrefix "20" 2.0rem null,
  $fontSizesClassPrefix "22" 2.2rem null,
  $fontSizesClassPrefix "24" 2.4rem null,
  $fontSizesClassPrefix "25" 2.55rem null,
  $fontSizesClassPrefix "32" 3.2rem null,
  $fontSizesClassPrefix "41" 4.1rem null,
  $fontSizesClassPrefix "61" 6.1rem null,
  $fontSizesClassPrefix "96" 9.6rem null,
  $fontSizesClassPrefix "100" 10rem null,
  $fontSizesClassPrefix "112" 11.2rem null,
  $fontSizesClassPrefix "118" 11.8rem null,
);

$fontWeights: (
  $fontWeightsClassPrefix "inherit" inherit null,
  $fontWeightsClassPrefix "hairline" 100 null,
  //$fontWeightsClassPrefix "thin" 200 null,
  //$fontWeightsClassPrefix "light" 300 'no-states',
  $fontWeightsClassPrefix "regular" 400 'states',
  $fontWeightsClassPrefix "medium" 500 'states',
  $fontWeightsClassPrefix "semiBold" 600 'states',
  $fontWeightsClassPrefix "bold" 700 'states',
  //$fontWeightsClassPrefix "extraBold" 800 null,
  //$fontWeightsClassPrefix "black" 900 null,
);

$lineHeights: (
  $lineHeightsClassPrefix "none" 1,
  $lineHeightsClassPrefix "tight" 1.2,
  $lineHeightsClassPrefix "normal" "normal",
  //$lineHeightsClassPrefix "ease" 1.6,
  //$lineHeightsClassPrefix "loose" 2
);

$letterSpacings: (
  // $letterSpacingsClassPrefix "tight" -0.05em,
  $letterSpacingsClassPrefix "base" $defaultLetterSpacing,
  $letterSpacingsClassPrefix "wide" 0.07em,
  $letterSpacingsClassPrefix "min-wide" 0.092rem,
);

$paddings: (
  $paddingsClassPrefix "1" .1rem,
  $paddingsClassPrefix "2" .2rem,
  $paddingsClassPrefix "5" .5rem,
  $paddingsClassPrefix "6" .6rem,
  $paddingsClassPrefix "8" .8rem,
  $paddingsClassPrefix "10" 1.0rem,
  $paddingsClassPrefix "12" 1.2rem,
  $paddingsClassPrefix "14" 1.4rem,
  $paddingsClassPrefix "15" 1.5rem,
  $paddingsClassPrefix "20" 2.0rem,
  $paddingsClassPrefix "30" 3.0rem,
  $paddingsClassPrefix "36" 3.6rem,
  $paddingsClassPrefix "40" 4.0rem,
  $paddingsClassPrefix "50" 5.0rem,
  $paddingsClassPrefix "54" 5.4rem,
  $paddingsClassPrefix "65" 6.5rem,
  $paddingsClassPrefix "80" 8.0rem,
  $paddingsClassPrefix "100" 10.0rem,
  $paddingsClassPrefix "165" 16.5rem,
  $paddingsClassPrefix "225" 22.5rem,
  $paddingsClassPrefix "0" 0,
);

$margins: (
  $marginsClassPrefix "auto" auto,
  $marginsClassPrefix "1" .1rem,
  $marginsClassPrefix "2" .2rem,
  $marginsClassPrefix "5" .5rem,
  $marginsClassPrefix "6" .6rem,
  $marginsClassPrefix "8" .8rem,
  $marginsClassPrefix "10" 1.0rem,
  $marginsClassPrefix "12" 1.2rem,
  $marginsClassPrefix "14" 1.4rem,
  $marginsClassPrefix "15" 1.5rem,
  $marginsClassPrefix "20" 2.0rem,
  $marginsClassPrefix "30" 3.0rem,
  $marginsClassPrefix "36" 3.6rem,
  $marginsClassPrefix "40" 4.0rem,
  $marginsClassPrefix "50" 5.0rem,
  $marginsClassPrefix "54" 5.4rem,
  $marginsClassPrefix "65" 6.5rem,
  $marginsClassPrefix "80" 8.0rem,
  $marginsClassPrefix "100" 10.0rem,
  $marginsClassPrefix "165" 16.5rem,
  $marginsClassPrefix "225" 22.5rem,
  $marginsClassPrefix "0" 0,
);

$negativeMargin: (
  $negativeMarginClassPrefix "1" .1rem,
  $negativeMarginClassPrefix "2" .2rem,
  $negativeMarginClassPrefix "5" .5rem,
  $negativeMarginClassPrefix "6" .6rem,
  $negativeMarginClassPrefix "8" .8rem,
  $negativeMarginClassPrefix "10" 1.0rem,
  $negativeMarginClassPrefix "12" 1.2rem,
  $negativeMarginClassPrefix "14" 1.4rem,
  $negativeMarginClassPrefix "15" 1.5rem,
  $negativeMarginClassPrefix "20" 2.0rem,
  $negativeMarginClassPrefix "30" 3.0rem,
  $negativeMarginClassPrefix "36" 3.6rem,
  $negativeMarginClassPrefix "40" 4.0rem,
  $negativeMarginClassPrefix "50" 5.0rem,
  $negativeMarginClassPrefix "54" 5.4rem,
  $negativeMarginClassPrefix "65" 6.5rem,
  $negativeMarginClassPrefix "80" 8.0rem,
  $negativeMarginClassPrefix "100" 10.0rem,
  $negativeMarginClassPrefix "165" 16.5rem,
  $negativeMarginClassPrefix "225" 22.5rem,
  $negativeMarginClassPrefix "0" 0,
);

$shadow: 0 1px 3px 0 rgba($color-primary, 0.10), 0 1px 2px 0 rgba($color-primary, 0.06);
$shadow_md: 0 4px 6px -1px rgba($color-primary, 0.45), 0 2px 4px -1px rgba($color-primary, 0.06);
$shadow_lg: 0 6px 12px 6px rgba(darken($color-primary, 25), 0.15);
$shadow_xl: 0 20px 25px -5px rgba($color-primary, 0.45), 0 10px 10px -5px rgba($color-primary, 0.04);
$shadow_2xl: 0 12px 50px 0px rgba($color-primary, 0.20);
$shadow_inner: inset 0 2px 4px 0 rgba($color-primary, 0.06);
$shadow_outline: inset 0 2px 4px 0 rgba($color-primary, 0.06);

$shadows: (
  $shadowsClassPrefix null $shadow 'states',
  $shadowsClassPrefix "md" $shadow_md 'states',
  $shadowsClassPrefix "lg" $shadow_lg 'states',
  //$shadowsClassPrefix "xl" $shadow_xl 'states',
  //$shadowsClassPrefix "2xl" $shadow_2xl 'states',
  $shadowsClassPrefix "inner" $shadow_inner 'states',
  //$shadowsClassPrefix "outline" $shadow_outline 'states',
  $shadowsClassPrefix "none" none 'states',
);

$aspectRatiosClassNamePrefix: "ratio";
$aspectRatios: (
  $aspectRatiosClassNamePrefix "logo" 184 95,
  $aspectRatiosClassNamePrefix "custom" 590 396,
  $aspectRatiosClassNamePrefix "diamond" 207 187,
  $aspectRatiosClassNamePrefix "9x7" 9 7,
  $aspectRatiosClassNamePrefix "54x35" 54 35,
  $aspectRatiosClassNamePrefix "custom-4" 1920 730,
  $aspectRatiosClassNamePrefix "1x1" 1 1,
  $aspectRatiosClassNamePrefix "4x3" 4 3,
  $aspectRatiosClassNamePrefix "16x9" 16 9,
  //$aspectRatiosClassNamePrefix "3x2" 3 2,
  $aspectRatiosClassNamePrefix "5x2" 5 2,
  $aspectRatiosClassNamePrefix "unstuck-design" 200 20,
  $aspectRatiosClassNamePrefix "none" 1 0,
);

$columnCount: (0, 2, 3);

$columnCountGapsClassPrefix: "col-gap";
$columnCountGaps: (
  $columnCountGapsClassPrefix "20" 2rem,
  $columnCountGapsClassPrefix "30" 3rem,
  $columnCountGapsClassPrefix "40" 4rem,
);

$hasColsSizes: (
  $hasColsSizesClassNamePrefix null 5,
);
//74,
$iconsSizes: (
  $iconsSizesClassNamePrefix null 2.6rem,
  $iconsSizesClassNamePrefix "8" 0.8rem,
  $iconsSizesClassNamePrefix "10" 1.0rem,
  $iconsSizesClassNamePrefix "13" 1.3rem,
  $iconsSizesClassNamePrefix "15" 1.5rem,
  $iconsSizesClassNamePrefix "18" 1.8rem,
  $iconsSizesClassNamePrefix "30" 3.0rem,
  $iconsSizesClassNamePrefix "38" 3.8rem,
  $iconsSizesClassNamePrefix "40" 4.0rem,
  $iconsSizesClassNamePrefix "48" 4.8rem,
  // $iconsSizesClassNamePrefix "68" 6.8rem,
  $iconsSizesClassNamePrefix "80" 8.0rem,
  // $iconsSizesClassNamePrefix "90" 9.0rem,
  // $iconsSizesClassNamePrefix "108" 10.8rem,
  // $iconsSizesClassNamePrefix "155" 15.5rem,
  $iconsSizesClassNamePrefix "130" 13.0rem,
  // $iconsSizesClassNamePrefix "165" 16.5rem,
  // $iconsSizesClassNamePrefix "185" 18.5rem,
  $iconsSizesClassNamePrefix "logo" 18.4rem,
  $iconsSizesClassNamePrefix "logo-sm" 11.0rem,
  $iconsSizesClassNamePrefix "unstuck-design" 19.5rem,
  $iconsSizesClassNamePrefix "auto" 'auto',
);

 $opacities: (
   $opacitiesClassPrefix "0" 0 "states",
   $opacitiesClassPrefix "15" 0.15 null,
   $opacitiesClassPrefix "25" 0.25 null,
   $opacitiesClassPrefix "35" 0.35 null,
   $opacitiesClassPrefix "50" 0.5 null,
   $opacitiesClassPrefix "65" 0.65 null,
   $opacitiesClassPrefix "75" 0.75 null,
   $opacitiesClassPrefix "85" 0.85 null,
   $opacitiesClassPrefix "100" 1 "states"
 );

$borderRadiusClassPrefix: "rounded";
$borderRadiuses: (
  // $borderRadiusClassPrefix null 2px,
  $borderRadiusClassPrefix "full" 9999px,
  // $borderRadiusClassPrefix "xs" 4px,
);

// Container widths
// $container_lg: 100rem;
$container_article: 88rem;
$container_fluid: 100%;
$container_sm: 57.6rem;
$container_md: 71.0rem;
$container_lg: 93.6rem;
$container_xl: 114rem;
$container_xxl: 140rem;

$container_null: calc(100% - 3rem);
$container: (
  $containerClassPrefix null $container_null,
  $containerClassPrefix "fluid" $container_fluid,
  $containerClassPrefix "sm" $container_sm,
  $containerClassPrefix "md" $container_md,
  $containerClassPrefix "lg" $container_lg,
  $containerClassPrefix "xl" $container_xl,
  $containerClassPrefix "xxl" $container_xxl,
  $containerClassPrefix "article" $container_article
);

// $zIndexs: (
  // $zIndexsClassPrefix "auto" "auto",
  // $zIndexsClassPrefix "0" 0,
  // $zIndexsClassPrefix "10" 10,
  // $zIndexsClassPrefix "20" 20,
  // $zIndexsClassPrefix "30" 30,
  // $zIndexsClassPrefix "40" 40,
  // $zIndexsClassPrefix "50" 50,
// );

$iconThickNess: .06rem;
$navbarBp: $bp_xl;
$lineThickNess: 2px;

// Range slider style
// $trackHeight: 2px;
// $trackWidth: 100%;
// $trackColor: $color1;
// $trackColorFocus: $color-black;
// $trackBorderColor: transparent;
// $trackBorderWidth: 0px;
// $trackBorderRadius: 4px;

// $thumbHeight: 24px;
// $thumbWidth: $thumbHeight;
// $thumbColor: $color-white;
// $thumbBorderColor: $colorPink;
// $thumbBorderWidth: 2px;
// $thumbBorderRadius: 15px;

$transition: all 0.35s 0s ease-out;