h1, h2 {
  line-height: 1.025;
}
h3, h4, h5, h6 {
  line-height: 1.25;
}

[class*="ratio"]:before {
  display: block;
  width: 100%;
  content: "";
  pointer-events: none;
}

.link {
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid transparent;
  transition: $transition;
  &:hover {
    border-color: inherit;
  }

  &.primary {
    color: $color-primary;
  }
  &.secondary {
    color: $color-secondary;
  }
}

.button {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  line-height: 1.2;
  // font-family: $primaryFont;
  transition: $transition;
  text-align: center;
  text-transform: uppercase;
  // font-size: 1.6rem;
  letter-spacing: 0.130em;
  // font-weight: 500;
  padding: .9rem 2.2rem;

  // &.sm {
  //   font-size: 1.4rem;
  //   padding: 0.6rem 2rem;
  // }

  &:hover {
    // background-color: $color-white;
    box-shadow: $shadow_lg;
    // font-size: 2rem;
    // padding-left: 1rem;
    // padding-right: 1rem;
    // margin-left: -1rem;
    // margin-right: -1rem;
    // color: $color-primary;
  }

  &.primary {
    background-color: $color-primary;
  }
  &.secondary {
    background-color: $color-secondary;
  }
}

.select {
  &:after {
    color: inherit;
    top: calc(50% - 0.2rem);
    right: 1.2rem;
    width: 0.8rem;
    height: 0.8rem;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2rem;
    // background-color: $color-secondary;
    border-radius: 9999px;
    pointer-events: none;
  }
}

.list {
  &.primary {
    ::marker {
      color: $color-primary;
    }
  }
  &.secondary {
    ::marker {
      color: $color-secondary;
    }
  }
}

::marker {
  color: $color-primary;
  .primary & {
    color: $color-primary;
  }
  .secondary & {
    color: $color-secondary;
  }
  .white & {
    color: $color-white;
  }
}

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 3rem;
}

.owl-theme .owl-dots .owl-dot span {
  margin: 0.4rem;
}

.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span {
  background: $color-tertiary;
}

.wide-image {
  width: 100%;

  @media (max-width: $bp_md) {
    & > figure {
      width: calc(100vw + 0.2rem);
      transform: translateX(-50%);
      left: 50%;
    }
  }

  @media (min-width: $bp_md) {
    width: 50%;
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
  }
  @media (min-width: $bp_xl) {
    width: calc(100vw / 2.77);
  }
  @media (min-width: $bp_xxl) {
    width: calc(100vw / 2.69);
  }

}

.unstuck-link {
  overflow: visible !important;
}

.banner {
  @media (min-width: $bp_md) {
    background-size: 123%;
  }
  .rings {
    transform: translate(5rem, 5rem);
  }
}

.rings-left {
  transform: translateX(-8rem);
}
.rings-right {
  transform: translateX(8rem) scale(-1);
}


.theme {
  &-primary {
    &.owl-theme {
      .owl-dots .owl-dot span {
        background: $color-grey;
      }
      .owl-dots .owl-dot.active span,
      .owl-dots .owl-dot:hover span {
        background: $color-primary;
      }
    }
  }
  &-secondary {
    &.owl-theme {
      .owl-dots .owl-dot span {
        background: $color-grey;
      }
      .owl-dots .owl-dot.active span,
      .owl-dots .owl-dot:hover span {
        background: $color-secondary;
      }
    }
  }
}

.accordion-wrapper .accordion.is-open > .accordion-label .toggle-sign {
  transform: rotate(-45deg);
}

@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx)
{
    .pswp--svg .pswp__button,
    .pswp--svg .pswp__button--arrow--left:before,
    .pswp--svg .pswp__button--arrow--right:before
    {
        background-image: url(../images/default-skin.png);
    }
}

.pswp__caption__center
{
    max-width: unset;
}

.imageSwipeGallery:after
{
    font-size: 15px !important;

    position: absolute;
    z-index: 9999 !important;
    bottom: 0;
    left: 50%;

    display: block;

    content: 'Click images for more detail';
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    white-space: nowrap;
    pointer-events: none; 

    color: #000 !important;
    background-color: rgba(255, 255, 255, .65);
}

.imageSwipeGallery > li img {
  cursor: zoom-in;
}

.flip-x {
  transform: scale(-1);
}

.hero-banner {
  height: 100vh;
  max-height: 59.4rem;
}

.ribbon-with-rings {
  img {
    transform: translate(0, -10%);
    @media (min-width: $bp_xl) {
      transform: translate(0, -20%);
    }
  }
}