body {
  background-color: $color-primary-xlight;
}

h1,
h2 {
  line-height: 1.025;
}
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}

[class*="ratio"]:before {
  display: block;
  width: 100%;
  content: "";
  pointer-events: none;
}

.link {
  // text-decoration: none;
  display: inline-block;

  &:hover {
    font-weight: 700;
  }

  &.primary {
    color: $color-primary;
  }
}

.button {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  // position: relative;
  line-height: 1.2;
  // font-family: $primaryFont;
  transition: $transition;
  text-align: center;
  text-transform: uppercase;
  // font-size: 1.8rem;
  letter-spacing: 0.13em;
  // font-weight: 500;
  // padding: 1.2rem 4rem;

  // &.sm {
  //   font-size: 1.4rem;
  //   padding: 0.6rem 2rem;
  // }

  &:hover {
    // background-color: $color-white;
    box-shadow: $shadow_lg;
    // font-size: 2rem;
    // padding-left: 1rem;
    // padding-right: 1rem;
    // margin-left: -1rem;
    // margin-right: -1rem;
    // color: $color-primary;
  }

  // &.primary {
  //   background-color: $color-primary;
  // }
}

// .select {
//   &:after {
//     color: inherit;
//     top: calc(50% - 0.2rem);
//     right: 1.2rem;
//     width: 0.8rem;
//     height: 0.8rem;
//     transform: translate(-50%, -50%) rotate(-45deg);
//   }
//   &:before {
//     content: "";
//     position: absolute;
//     top: 50%;
//     right: 0;
//     transform: translate(-50%, -50%);
//     width: 2rem;
//     height: 2rem;
//     // background-color: $color-secondary;
//     border-radius: 9999px;
//     pointer-events: none;
//   }
// }

.list {
  &.primary {
    ::marker {
      color: $color-primary;
    }
  }
  &.secondary {
    ::marker {
      color: $color-secondary;
    }
  }
}

// ::marker {
//   color: $color-primary;
//   .primary & {
//     color: $color-primary;
//   }
//   .secondary & {
//     color: $color-secondary;
//   }
//   .white & {
//     color: $color-white;
//   }
// }

.unstuck-link {
  overflow: visible !important;
}

// Custom Select dropdown
// .select-hidden {
//   display: none;
//   visibility: hidden;
//   padding-right: 10px;
// }
// .custom-select {
//   &-wrapper {
//     cursor: pointer;
//     display: inline-block;
//     position: relative;
//     // color: inherit;
//     width: 100%;
//     height: auto;
//   }
//   &-styled {
//     &:after {
//       transform-origin: center;
//       transition: $transition;
//     }
//     &:active,
//     &.active {
//       box-shadow: $shadow_md;
//       &:after {
//         transform: rotate(-225deg);
//       }
//     }
//   }
//   &-options {
//     display: none;
//     position: absolute;
//     top: 100%;
//     right: 0;
//     left: 0;
//     z-index: 999;
//     margin: 0;
//     padding: 0;
//     list-style: none;
//     background-color: $color-white;
//     box-shadow: $shadow_lg;
//     li {
//       color: inherit;
//       margin: 0;
//       padding: 8px 0;
//       text-indent: 15px;
//       // border-top: $color-light;
//       transition: $transition;
//       &:hover {
//         // background: $color-light;
//         color: $color-primary;
//       }
//       &.is-selected {
//         color: $color-white;
//         background: $color-primary;
//       }
//       &[rel="hide"] {
//         display: none;
//       }
//     }
//   }
// }

.display-title {
  font-size: 34.5rem;
}

.pace .pace-progress {
  background: $color-primary;
}

.unstuck-tm.add-animation {
  li {
    top: 0;
  }
  li:nth-child(1) {
    transition-delay: 100ms;
  }
  li:nth-child(2) {
    transition-delay: 200ms;
  }
  li:nth-child(3) {
    transition-delay: 300ms;
  }
  li:nth-child(4) {
    transition-delay: 400ms;
  }
  li:nth-child(5) {
    transition-delay: 500ms;
  }
  li:nth-child(6) {
    transition-delay: 600ms;
  }
  li:nth-child(7) {
    transition-delay: 700ms;
  }
}

.accordion-wrapper {
  .accordion {
    &.is-open {
      > .accordion-label {
        + .accordion-content {
          > .answer {
            animation: fadeInUp 0.45s ease-in-out both;
          }
        }
      }
    }
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

.hamburger {
  min-height: unset;
}

@media (max-width: $bp_lg) {
  .search-bar {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }
  .search-is-open {
    .search-bar {
      transform: translateY(0);
      max-height: 5.6rem;
      transition: max-height 0.5s ease-in;
    }
  }
}

.floating-tag {
  transform: rotate(10deg);
}

.speech-bubble,
.circle {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.speech-bubble {
  &.primary {
    background-image: url("../images/bubble-icon.svg");
  }
  &.primary-medium {
    background-image: url("../images/bubble-icon-medium.svg");
  }
  &.primary-light {
    background-image: url("../images/bubble-icon-light.svg");
  }
  &.primary-xlight {
    background-image: url("../images/bubble-icon-xlight.svg");
  }
  &.highlight {
    background-image: url("../images/bubble-icon-highlight.svg");
  }
  &.tilt-left {
    transform: rotate(-10deg);
  }
  &.tilt-right {
    transform: scaleX(-1) rotate(-10deg);
  }
  &.flip-x {
    transform: scaleX(-1);
  }
}

.circle {
  &.default {
    background-image: url("../images/circle-icon-default.svg");
  }
  &.primary {
    background-image: url("../images/circle-icon.svg");
  }
  &.primary-medium {
    background-image: url("../images/circle-icon-medium.svg");
  }
  &.primary-light {
    background-image: url("../images/circle-icon-light.svg");
  }
  &.primary-xlight {
    background-image: url("../images/circle-icon-xlight.svg");
  }
  &.highlight {
    background-image: url("../images/circle-icon-highlight.svg");
  }
  &.secondary {
    background-image: url("../images/circle-icon-secondary.svg");
  }
  &.secondary-medium {
    background-image: url("../images/circle-icon-secondary-medium.svg");
  }
  &.secondary-light {
    background-image: url("../images/circle-icon-secondary-light.svg");
  }
  &.secondary-xlight {
    background-image: url("../images/circle-icon-secondary-xlight.svg");
  }
}

.picture-slider {
  overflow: hidden;
  figure {
    transform: translateY(100%);
    transition: all 1s ease-in-out;
    z-index: 0;
    &.is-active {
      transform: translateY(0);
      transition: all 1.35s 0.5s ease-in-out;
      z-index: 1;
    }
  }
}

[data-aos="slide-up"] {
  transform: translate3d(0, 100%, 0);
}

.pagination {
  a {
    &:not(:last-child) {
      border-right: 1px solid;
    }
    &.is-active {
      font-weight: 600;
    }
  }
}

.accordion.is-open .accordion-label {
  font-weight: 600;
}

@media (max-width: $bp_lg) {
  .filter-panel {
    transform: translateX(calc(-100% - 2rem));
  }

  .filter-open {
    .filter-panel {
      transform: translateX(0);
    }
    .filter-toggle {
      background-color: $color-primary;
    }
  }
}

.toggle-tabs {
  .accordion {
    width: auto;
    &.is-open {
      .accordion-toggle {
        background-color: $color-white;
      }
    }
  }
}

.accordion-tabs-wrapper {
  @media (min-width: $bp_sm) {
    .toggle-content .accordion .accordion-label {
      display: none;
    }
  }

  @media (max-width: $bp_sm) {
    .toggle-tabs {
      display: none;
    }
  }

  &.accordion-wrapper .accordion.is-open > .accordion-label > .toggle-sign {
    transform: rotate(180deg);
  }
}

.imageGallery-wrapper {
  .lSAction {
    display: none !important;
  }

  .imageGallery li {
    a,
    img {
      cursor: url("../images/search-icon.svg"), zoom-in !important;
    }
  }

  .imageGallery li img {
    width: 100%;
    height: 100%;
    background-color: $color-primary-xlight;
  }
  .lSSlideWrapper {
    &:before {
      padding-top: 100% !important;
    }
    margin-bottom: 2.5rem;
  }
  .lSSlideOuter .lSPager.lSGallery li {
    img {
      transition: transform 0.35s ease-in-out;
    }
    &.active,
    &:hover {
      border-radius: 0rem;
      border: 0.2rem solid $color-primary-medium;
      background-color: $color-primary-xlight;
      img {
        transform: scale(1.1);
      }
      > a {
        opacity: 0.7;
      }
    }
  }
}

#jsPrescriptionPopup_background {
  transition: all 0.3s 0.3s;
}
#jsPrescriptionPopup,
#jsPrescriptionPopup_wrapper {
  transition: all 0.3s ease-out;
}
#jsPrescriptionPopup {
  transform: translateX(0) translateY(-40%);
}
.popup_visible #jsPrescriptionPopup {
  transform: translateX(0) translateY(0);
}

$helloBarH : 4.088rem;

.hello-bar {
  overflow: hidden;
  max-height: 0;
}

body.hello-bar-open {
  margin-top: $helloBarH;
  header {
    margin-top: $helloBarH;
  }

  .hello-bar {
    max-height: 10rem;
  }

  .navbar .is-open .submenu {
    height: calc(100vh - #{$headerHeight_sm - $helloBarH});
    @media (min-width: $bp_md) {
      height: calc(100vh - #{$headerHeight_sm - $helloBarH});
    }
    @media (min-width: $bp_lg) {
      top: $headerHeight_lg + $helloBarH;
      height: calc(100vh - #{$headerHeight_lg - $helloBarH});
    }
    @media (min-width: $bp_lg) {
      top: $headerHeight_lg + $helloBarH;
    }
  }
}

.our-team-banner {
  .bird-icon {
    width: 8%;
    margin-left: 1%;
  }
  .small-exotic-icon {
    width: 14%;
    margin-left: 1%;
  }
  .farm-animal-icon {
    width: 23%;
    margin-left: 1%;
  }
  .cat-icon {
    width: 13%;
    margin-left: 1%;
  }
  .dog-icon {
    width: 15%;
    margin-left: 1%;
  }
  .horse-icon {
    width: 22%;
  }
}