$headerHeight_sm: 7.8rem;
$headerHeight_md: 8.9rem;
$headerHeight_lg: 21.744rem;

.navbar {
  transition: all .35s 0s ease;
  opacity: 0;
  top: $headerHeight_sm;
  height: calc(100vh - #{$headerHeight_sm});
  margin-left: auto;
  
  @media (max-width: $bp_lg) {
    max-width: 50%;
    pointer-events: none;
    // transform: translateY(-100%);
  }
  
  @media (min-width: $bp_md) {
    top: $headerHeight_md;
    height: calc(100vh - #{$headerHeight_md});
  }
  
  @media (min-width: $bp_lg) {
    top: $headerHeight_lg;
    height: calc(100vh - #{$headerHeight_lg});
  }

  @media (min-width: $bp_lg) {
    height: auto;
    opacity: 1;
    top: unset;
  }

  &, .submenu {
    > .container {
      @media (max-width: $bp_lg) {
        // padding-top: 1.5rem;
        // padding-bottom: 1.5rem;
      }
    }
  }
      
  ul > li {
    cursor: pointer;
    letter-spacing: 0.12em;
    .nav-link {
      text-transform: uppercase;
      font-weight: 700;
    }
    
    @media (min-width: $bp_lg) {
      .nav-link {
        transition: all .45s 0s ease-in-out;
      }
      &:hover,
      &.is-open,
      &.is-active {
        & .nav-link {
          background-color: $color-white;
          color: $color-primary;
        }
      }
    }

    & > a {
      text-decoration: none;
      display: inline-flex;
    }

    & > a, 
    & > .submenu-trigger {
      cursor: pointer;
    }
  }

  .is-open {
    .submenu {
      overflow: auto;
      opacity: 1;
      transform: translateX(0%);

      @media (min-width: $bp_lg) {
        overflow: auto;
        opacity: 1;
        height: auto;
        max-height: calc(100vh - #{$headerHeight_lg});
      }
    }
    .submenu-trigger {
      .close-icon {
        opacity: 1;
        transform: translateY(-100%);
      }
      .down-icon {
        opacity: 0;
        transform: translateY(-50%);
        @media (max-width: $bp_lg) {
          transform: translateY(-50%) rotate(-90deg);
        }
      }
    }
  }
}

.submenu {
  opacity: 0;
  overflow: hidden;
  // top: $headerHeight_sm;
  top: 0;
  transform: translateX(100%);
  height: calc(100vh - #{$headerHeight_sm});
  transition: all .35s 0s ease;
  color: $color-primary;
  
  @media (min-width: $bp_md) {
    // top: $headerHeight_sm;
    height: calc(100vh - #{$headerHeight_sm});
  }

  @media (min-width: $bp_lg) {
    top: $headerHeight_lg;
    height: calc(100vh - #{$headerHeight_lg});
  }

  @media (min-width: $bp_lg) {
    top: $headerHeight_lg;
    height: 0;
    opacity: 0;
    transform: translateX(0%);
  }  
}

.submenu-trigger {
  position: relative;
  .close-icon, .down-icon {
    transition: all .35s 0s ease;
    position: absolute;
    right: 0;
  }
  .close-icon {
    opacity: 0;
    transform: translateY(0%);
  }
  .down-icon {
    opacity: 1;
    @media (max-width: $bp_lg) {
      transform: translateY(0%) rotate(-90deg);
    }
  }
}

.jsNavbarToggle {
  &.is-open {
    .navbar-toggle {
      background-color: $color-secondary;
      color: $color-white;
    }
    .hamburger {
      position: relative;
      top: 0;
      right: 0;
    }

    .navbar{
      pointer-events: all;
      overflow: auto;
      opacity: 1;
      @media (max-width: $bp_lg) {
        // transform: translateY(0%);
      }
    }
  }
}

.navbar ul > li > a {
  .icon {
    transform: rotate(-90deg);
  }
}

.back-button {
  .icon {
    transform: rotate(90deg);
  }
}

main {
  margin-top: $headerHeight_sm;
  @media (min-width: $bp_md) {
    margin-top: $headerHeight_md;
  }
  @media (min-width: $bp_lg) {
    margin-top: $headerHeight_lg;
  }
}
