$fontRelatedClassNamePrifix: 'f';
$fontFamilyClassNamePrefix: "#{$fontRelatedClassNamePrifix}family";
$textColorsClassPrefix: "#{$fontRelatedClassNamePrifix}color";
$fontSizesClassPrefix: "#{$fontRelatedClassNamePrifix}size";
$fontWeightsClassPrefix: "#{$fontRelatedClassNamePrifix}weight";
$lineHeightsClassPrefix: "#{$fontRelatedClassNamePrifix}height";
$letterSpacingsClassPrefix: "#{$fontRelatedClassNamePrifix}spacing";

/*ImportFontsonts*/
@import "./ImportFonts";

$colorWhite: #ffffff;
$colorBlack: #000000;

// brand colors
$color1: #3c3c3b;
$color2: #e2241c;
$color3: #294735;
$color4: mix(white, $color1, 90%);

$color-text: $color1;
$color-primary: $color3;
$color-secondary: $color2;
$color-light: $color4;
$color-medium: mix(white, $color1, 75%);

//-------------------------

// $gridSizes: ();
$orientations: (
  // landscape\: "landscape",
  // portrait\: "portrait"
);

$baseFont: 'Raleway', $font_sans;

$defaultFont: $baseFont;
$defaultTextColor: $color-text;
$defaultFontWeights: 300;
$defaultFontSize: 1.6rem;

$fontFamily: (
  $fontFamilyClassNamePrefix "default" $defaultFont,
);

$bp_sm: 576px;
$bp_md: 710px;
$bp_lg: 992px;
$bp_xl: 1200px;
$breakPoints: (
  null 0, 
  sm\: $bp_sm, 
  md\: $bp_md, 
  lg\: $bp_lg, 
  xl\: $bp_xl,
);

$states: (
  null null,
  hover\: ":hover",
  focus\: ":focus",
  focus-within\: ":focus-within",
  // active\: null,
);

$bgColors: (
  $bgColorsClassPrefix "inherit" inherit 'states' 'no-parent',
  $bgColorsClassPrefix "transparent" transparent 'states' 'no-parent',
  $bgColorsClassPrefix "black" $colorBlack 'states' 'no-parent',
  $bgColorsClassPrefix "white" $colorWhite 'states' 'no-parent',
  $bgColorsClassPrefix "primary" $color-primary 'states' 'no-parent',
  $bgColorsClassPrefix "secondary" $color-secondary 'states' 'parent',
  $bgColorsClassPrefix "light" $color-light 'states' 'no-parent',
  $bgColorsClassPrefix "default" $color1 'no-states' 'no-parent',
);

$themeColor: ();

$borderColors: (
  $borderColorsClassPrefix "inherit" inherit 'states' 'no-parent',
  $borderColorsClassPrefix "transparent" transparent 'states' 'no-parent',
  $borderColorsClassPrefix "black" $colorBlack 'states' 'no-parent',
  $borderColorsClassPrefix "white" $colorWhite 'states' 'no-parent',
  $borderColorsClassPrefix "primary" $color-primary 'states' 'parent',
  $borderColorsClassPrefix "secondary" $color-secondary 'states' 'parent',
  $borderColorsClassPrefix "light" $color-light 'states' 'no-parent',
  $borderColorsClassPrefix "medium" $color-medium 'no-states' 'no-parent',
);

$borderWidth: (
  null 0.1rem 'states' 'parent',
  2 0.2rem 'states' 'parent',
  0 0rem 'no-states' 'no-parent',
);


$selectionTextColor: $colorWhite;
$selectionTextBgColor: rgba(invert($color-secondary), 1);

$textColors: (
  $textColorsClassPrefix "inherit" inherit 'states' 'no-parent',
  $textColorsClassPrefix "default" $color1 'states' 'no-parent',
  $textColorsClassPrefix "black" $colorBlack 'states' 'no-parent',
  $textColorsClassPrefix "white" $colorWhite 'states' 'no-parent',
  $textColorsClassPrefix "primary" $color-primary 'states' 'no-parent',
  $textColorsClassPrefix "secondary" $color-secondary 'states' 'parent',
  $textColorsClassPrefix "light" $color-light 'states' 'no-parent',
  $textColorsClassPrefix "medium" $color-medium 'states' 'no-parent',
);

// 16, 17, 18, 20, 30, 34, 36, 38

$fontSizes: (
  $fontSizesClassPrefix "inherit" inherit null,
  $fontSizesClassPrefix "xxs" 1.4rem null,
  $fontSizesClassPrefix "xs" 1.5rem null,
  $fontSizesClassPrefix "2xs" 1.6rem null,
  $fontSizesClassPrefix "sm" 1.8rem null,
  $fontSizesClassPrefix "2sm" 2.0rem null,
  $fontSizesClassPrefix "3sm" 2.2rem null,
  $fontSizesClassPrefix "4sm" 2.6rem null,
  $fontSizesClassPrefix "md" 3.0rem null,
  $fontSizesClassPrefix "2md" 3.4rem null,
  $fontSizesClassPrefix "lg" 3.6rem null,
  $fontSizesClassPrefix "2lg" 4.0rem null,
  // $fontSizesClassPrefix "xl" 1.8rem null,
  // $fontSizesClassPrefix "2xl" 1.8rem null,
);

$fontWeights: (
  $fontWeightsClassPrefix "inherit" inherit null,
  // $fontWeightsClassPrefix "hairline" 100 null,
  // $fontWeightsClassPrefix "thin" 200 null,
  $fontWeightsClassPrefix "light" 300 null,
  $fontWeightsClassPrefix "regular" 400 null,
  $fontWeightsClassPrefix "medium" 500 null,
  $fontWeightsClassPrefix "semibold" 600 null,
  $fontWeightsClassPrefix "bold" 700 null,
  // $fontWeightsClassPrefix "extrabold" 800 null,
  $fontWeightsClassPrefix "black" 900 null,
);

$lineHeights: ();

$paddings: (
  $paddingsClassPrefix "xxxs" .1rem,
  $paddingsClassPrefix "xxxs" .2rem,
  $paddingsClassPrefix "xxs" .5rem,
  $paddingsClassPrefix "xs" 1rem,
  $paddingsClassPrefix "2xs" 1.5rem,
  $paddingsClassPrefix "sm" 2rem,
  $paddingsClassPrefix "2sm" 2.5rem,
  $paddingsClassPrefix "md" 3rem,
  $paddingsClassPrefix "2md" 4rem,
  $paddingsClassPrefix "lg" 5rem,
  $paddingsClassPrefix "2lg" 6rem,
  $paddingsClassPrefix "xl" 7rem,
  $paddingsClassPrefix "2xl" 9.5rem,
  $paddingsClassPrefix "3xl" 12.4rem,
  $paddingsClassPrefix "0" 0,
);

$margins: (
  $marginsClassPrefix "auto" auto,
  $marginsClassPrefix "xxxs" .1rem,
  $marginsClassPrefix "xxxs" .2rem,
  $marginsClassPrefix "xxs" .5rem,
  $marginsClassPrefix "xs" 1rem,
  $marginsClassPrefix "2xs" 1.5rem,
  $marginsClassPrefix "sm" 2rem,
  $marginsClassPrefix "2sm" 2.5rem,
  $marginsClassPrefix "md" 3rem,
  $marginsClassPrefix "2md" 4rem,
  $marginsClassPrefix "lg" 5rem,
  $marginsClassPrefix "2lg" 6rem,
  $marginsClassPrefix "xl" 7rem,
  $marginsClassPrefix "2xl" 9.5rem,
  $marginsClassPrefix "3xl" 12.4rem,
  $marginsClassPrefix "0" 0,
);

$negativeMargin: (
  $negativeMarginClassPrefix "xxxs" .1rem,
  $negativeMarginClassPrefix "xxxs" .2rem,
  $negativeMarginClassPrefix "xxs" .5rem,
  $negativeMarginClassPrefix "xs" 1rem,
  $negativeMarginClassPrefix "2xs" 1.5rem,
  $negativeMarginClassPrefix "sm" 2rem,
  $negativeMarginClassPrefix "2sm" 2.5rem,
  $negativeMarginClassPrefix "md" 3rem,
  $negativeMarginClassPrefix "2md" 4rem,
  $negativeMarginClassPrefix "lg" 5rem,
  $negativeMarginClassPrefix "2lg" 6rem,
  $negativeMarginClassPrefix "xl" 7rem,
  $negativeMarginClassPrefix "2xl" 9.5rem,
  $negativeMarginClassPrefix "3xl" 12.4rem,
  $negativeMarginClassPrefix "none" 0,
);

$shadowDefault: 0px 1px 4px -1px rgba($colorBlack, 0.5);
$shadowBottom: 0px 2px 6px -2px rgba($colorBlack, 0.8);
$shadow_outline: 0 0 0 3px rgba($colorBlack, 0.8);
$shadow_md: 0 4px 8px 0 rgba($colorBlack, 0.22),
0 2px 4px 0 rgba($colorBlack, 0.08);
$shadow_lg: 0 5px 5px 0 rgba(0, 0, 0, 0.35), 0 5px 15px 0 rgba(0, 0, 0, 0.16);
$shadow_inner: inset 0px 0px 3px 0px rgba($colorBlack, 0.5);

$shadows: (
  $shadowsClassPrefix 'sm' $shadowDefault 'states',
  $shadowsClassPrefix "bottom" $shadowBottom 'states',
  $shadowsClassPrefix "lg" $shadow_lg 'states',
  // $shadowsClassPrefix "inner" $shadow_inner null,
  // $shadowsClassPrefix "outline" $shadow_outline null,
  $shadowsClassPrefix "none" none 'states',
);

$letterSpacings: (
  // $letterSpacingsClassPrefix "tight" -0.05em,
  // $letterSpacingsClassPrefix "normal" 0,
  // $letterSpacingsClassPrefix "wide" .15em,
);


$aspectRatiosClassNamePrefix: "ratio";
$aspectRatios: (
  $aspectRatiosClassNamePrefix "1x1" 1 1,
  $aspectRatiosClassNamePrefix "5x2" 5 2,
  $aspectRatiosClassNamePrefix "16x9" 16 9,
  $aspectRatiosClassNamePrefix "logo" 500 415,
  $aspectRatiosClassNamePrefix "unstuck-design" 200 18,
  $aspectRatiosClassNamePrefix "custom-1" 352 390,
  $aspectRatiosClassNamePrefix "custom-2" 278 238,
  $aspectRatiosClassNamePrefix "custom-3" 455 600,
  $aspectRatiosClassNamePrefix "custom-4" 552 430,
  $aspectRatiosClassNamePrefix "custom-5" 350 270,
  $aspectRatiosClassNamePrefix "none" 1 0,
);

// $columnCount: ();
$hasColsSizes: ();

// 14, 26, 36, 64, 100, 110, 140, 165, 172, 
$iconsSizes: (
  $iconsSizesClassNamePrefix null 2.6rem,
  $iconsSizesClassNamePrefix "logo-header" 10.7rem,
  $iconsSizesClassNamePrefix "logo-header-small" 7.7rem,
  // $iconsSizesClassNamePrefix "logo-footer" 30rem,
  $iconsSizesClassNamePrefix "unstuck-design" 20rem,
  $iconsSizesClassNamePrefix "xs" 1.4rem,
  // $iconsSizesClassNamePrefix "2xs" 2.4rem,
  $iconsSizesClassNamePrefix "sm" 3.0rem,
  $iconsSizesClassNamePrefix "2sm" 3.6rem,
  $iconsSizesClassNamePrefix "md" 4.0rem,
  $iconsSizesClassNamePrefix "2md" 4.8rem,
  // $iconsSizesClassNamePrefix "lg" 6.4rem,
  $iconsSizesClassNamePrefix "2lg" 8.5rem,
  // $iconsSizesClassNamePrefix "3lg" 12rem,
  // $iconsSizesClassNamePrefix "xl" 14rem,
  // $iconsSizesClassNamePrefix "2xl" 16.5rem,
  // $iconsSizesClassNamePrefix "3xl" 18rem,
  $iconsSizesClassNamePrefix "auto" 'auto',
);

// $opacities: (
//   $opacitiesClassPrefix "0" 0 null,
//   $opacitiesClassPrefix "15" 0.15 null,
//   $opacitiesClassPrefix "25" 0.25 null,
//   $opacitiesClassPrefix "50" 0.5 null,
//   $opacitiesClassPrefix "65" 0.65 null,
//   $opacitiesClassPrefix "75" 0.75 null,
//   $opacitiesClassPrefix "85" 0.85 null,
//   $opacitiesClassPrefix "100" 1 null
// );

$borderRadiusClassPrefix: "radius";
$borderRadiuses: (
  $borderRadiusesClassPrefix "full" 9999px,
  $borderRadiusesClassPrefix "xs" 4px,
);

// Container widths
// $container_lg: 100rem;
$container_lg: 96rem;
// $container_xl: 140rem;
$container_null: calc(100% - 3rem);
$container: (
  $containerClassPrefix null $container_null,
  $containerClassPrefix "fluid" $container_fluid,
  $containerClassPrefix "sm" $container_sm,
  $containerClassPrefix "md" $container_md,
  $containerClassPrefix "lg" $container_lg,
  $containerClassPrefix "xl" $container_xl,
  $containerClassPrefix "popup-md" 62rem,
);

$gredList1: linear-gradient(to right, rgba($colorBlack, .4) 0%, rgba($colorBlack, .85) 100%);
$gredList2: linear-gradient(to bottom, rgba($colorBlack, 0) 30%, rgba($colorBlack, .70) 100%);
$gredList3: linear-gradient(to right, rgba($colorBlack, .4) 0%, rgba($colorBlack, .4) 100%);
$gredList4: linear-gradient(70deg, $color2 55%, transparent 0%);
$gredList5: linear-gradient(70deg, transparent 55%, $color2 0%);
$shadowOver: (
  // $shadowOverClassPrefix 'default' $gredList3 'no-states',
  $shadowOverClassPrefix 'dark' $gredList2 'no-states',
  // $shadowOverClassPrefix 'primary-tilt-45' $gredList2 'no-states',
  // $shadowOverClassPrefix 'primary-tilt-55' $gredList4 'no-states',
  // $shadowOverClassPrefix 'primary-tilt-55-rev' $gredList5 'no-states',
  // $shadowOverClassPrefix 'primary' $gredList1 'states',
  // $shadowOverClassPrefix "none" none 'no-states',
);

// $zIndexs: (
  // $zIndexsClassPrefix "auto" "auto",
  // $zIndexsClassPrefix "0" 0,
  // $zIndexsClassPrefix "10" 10,
  // $zIndexsClassPrefix "20" 20,
  // $zIndexsClassPrefix "30" 30,
  // $zIndexsClassPrefix "40" 40,
  // $zIndexsClassPrefix "50" 50,
// );

$iconThickNess: .06rem;
$navbarBp: $bp_lg;
$lineThickNess: .28rem;

// Range slider style
// $trackHeight: 2px;
// $trackWidth: 100%;
// $trackColor: $color1;
// $trackColorFocus: $colorBlack;
// $trackBorderColor: transparent;
// $trackBorderWidth: 0px;
// $trackBorderRadius: 4px;

// $thumbHeight: 24px;
// $thumbWidth: $thumbHeight;
// $thumbColor: $colorWhite;
// $thumbBorderColor: $colorPink;
// $thumbBorderWidth: 2px;
// $thumbBorderRadius: 15px;