<section class="@@sectionClasses">
   <div class="container md:container-sm lg:container-xl mx-auto">
      <div class="pt-xl">
         <div class="-m-sm flex-col md:flex-row flex-wrap text-center">
            <div class="p-sm md:col-6 lg:col-4">
               <div class="lg:px-lg flex-col align-center">
                  <div class="icon icon-xl mb-sm" data-aos="zoom-in" data-aos-delay="100" data-aos-duration="700">
                     <span><img src="./images/online-instruction-icon.svg" /></span>
                  </div>
                  <div class="text-wrap text-center" data-aos="fade" data-aos-delay="200" data-aos-duration="700">
                     <p>Follow our <strong class="font-color-pink font-weight-bold">online instructions</strong> to construct a tailored price</p>
                  </div>
               </div>
            </div>
            <div class="p-sm md:col-6 lg:col-4">
               <div class="lg:px-lg flex-col align-center">
                  <div class="icon icon-xl mb-sm" data-aos="zoom-in" data-aos-delay="300" data-aos-duration="700">
                     <span><img src="./images/storage-period-icon.svg" /></span>
                  </div>
                  <div class="text-wrap text-center" data-aos="fade" data-aos-delay="400" data-aos-duration="700">
                     <p>Adjust the <strong class="font-color-pink font-weight-bold">storage period</strong> to suit your storage length</p>
                  </div>
               </div>
            </div>
            <div class="p-sm md:col-6 lg:col-4">
               <div class="lg:px-lg flex-col align-center">
                  <div class="icon icon-xl mb-sm" data-aos="zoom-in" data-aos-delay="500" data-aos-duration="700">
                     <span><img src="./images/deposit-amount-icon.svg" /></span>
                  </div>
                  <div class="text-wrap text-center" data-aos="fade" data-aos-delay="600" data-aos-duration="700">
                     <p>Adjust the <strong class="font-color-pink font-weight-bold">deposit amount</strong> to pay upfront</p>
                  </div>
               </div>
            </div>
            <div class="p-sm md:col-6 lg:col-4">
               <div class="lg:px-lg flex-col align-center">
                  <div class="icon icon-xl mb-sm" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="700">
                     <span><img src="./images/spread-the-rest-icon.svg" /></span>
                  </div>
                  <div class="text-wrap text-center" data-aos="fade" data-aos-delay="300" data-aos-duration="700">
                     <p><strong class="font-color-pink font-weight-bold">Spread the rest</strong> of the cost over the storage period giving you high level of flexibility on payments.</p>
                  </div>
               </div>
            </div>
            <div class="p-sm md:col-6 lg:col-4">
               <div class="lg:px-lg flex-col align-center">
                  <div class="icon icon-xl mb-sm" data-aos="zoom-in" data-aos-delay="400" data-aos-duration="700">
                     <span><img src="./images/need-to-store-for-longer-icon.svg" /></span>
                  </div>
                  <div class="text-wrap text-center" data-aos="fade" data-aos-delay="500" data-aos-duration="700">
                     <p><strong class="font-color-pink font-weight-bold">Need to store for longer?</strong> No problem - extend the storage period, take advantage of lower rates</p>
                  </div>
               </div>
            </div>
            <div class="p-sm md:col-6 lg:col-4">
               <div class="lg:px-lg flex-col align-center">
                  <div class="icon icon-xl mb-sm" data-aos="zoom-in" data-aos-delay="600" data-aos-duration="700">
                     <span><img src="./images/need-to-store-for-shorten-icon.svg" /></span>
                  </div>
                  <div class="text-wrap text-center" data-aos="fade" data-aos-delay="700" data-aos-duration="700">
                     <p><strong class="font-color-pink font-weight-bold">Need to shorten the storage period?</strong> No problem, just let us know</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>