<section class="@@sectionClasses">
   <div class="py-xl @@bgClasses">
      <div class="container md:container-sm lg:container-xl mx-auto">
         <div class="-m-sm flex-row flex-wrap">
            <div class="p-sm col-8 md:col-6 mx-auto lg:col-4 flex-col">
               <div class="flex-stretch pos-relative">
                  <div class="ratio-1x1" data-aos="fade-up" data-aos-delay="100" data-aos-duration="700">
                     <div class="pos-absolute pin flex-col justify-center align-center p-md lg:p-md">
                        <img src="./images/brand-logo-vertical.svg" alt=""/>
                     </div>
                     <div class="pos-absolute pin bg-pinkLight -z-1"></div>
                  </div>
               </div>
            </div>
            <div class="p-sm col-12 lg:col-4 flex-col" data-aos="fade-up" data-aos-delay="300" data-aos-duration="700">
               @@include('./_includes/_commons/h3.html', {
               "title": "<span>Advantages</span>",
               "className": "font-color-cyan mb-xs"
               })
               <ul data-aos="fade-up" class="list-reset">
                  <li class="flex-row align-start mb-2xs">
                     <span class="icon flex-none mr-xs mt-xxs"><span><img src="./images/tick-icon.svg" /></span></span>
                     <span class="pt-xxs d-inline-block w-full">Very secure solution</span>
                  </li>
                  <li class="flex-row align-start mb-2xs">
                     <span class="icon flex-none mr-xs mt-xxs"><span><img src="./images/tick-icon.svg" /></span></span>
                     <span class="pt-xxs d-inline-block w-full">A very reasonably priced solution</span>
                  </li>
                  <li class="flex-row align-start mb-2xs">
                     <span class="icon flex-none mr-xs mt-xxs"><span><img src="./images/tick-icon.svg" /></span></span>
                     <span class="pt-xxs d-inline-block w-full">Gain access by appointment</span>
                  </li>
                  <li class="flex-row align-start mb-2xs">
                     <span class="icon flex-none mr-xs mt-xxs"><span><img src="./images/tick-icon.svg" /></span></span>
                     <span class="pt-xxs d-inline-block w-full">Collection charge included in storage cost</span>
                  </li>
                  <li class="flex-row align-start mb-2xs">
                     <span class="icon flex-none mr-xs mt-xxs"><span><img src="./images/tick-icon.svg" /></span></span>
                     <span class="pt-xxs d-inline-block w-full">Inventory of what we stowed for you</span>
                  </li>
                  <li class="flex-row align-start mb-2xs">
                     <span class="icon flex-none mr-xs mt-xxs"><span><img src="./images/tick-icon.svg" /></span></span>
                     <span class="pt-xxs d-inline-block w-full">Price fixed for duration, in fact store longer and the price decreases</span>
                  </li>
               </ul>
            </div>
            <div class="p-sm col-12 lg:col-4 flex-col" data-aos="fade-up" data-aos-delay="500" data-aos-duration="700">
               @@include('./_includes/_commons/h3.html', {
               "title": "<span>Disadvantages</span>",
               "className": "font-color-cyan mb-xs"
               })
               <ul class="mb-md" class="list-reset">
                  <li class="flex-row align-start mb-2xs">
                     <span class="icon flex-none mr-xs mt-xxs"><span><img src="./images/uncheck-icon.svg" /></span></span>
                     <span class="pt-xxs d-inline-block w-full">Limited access, restricted by opening hours and appointment only</span>
                  </li>
               </ul>
               <div class="bg-dark font-color-white p-md mt-auto flex-col" data-aos="zoom-in" data-aos-delay="700" data-aos-duration="700">
                  <div class="text-wrap w-full">
                     @@include('./_includes/_commons/h3.html', {
                     "title": "<span>Ewe need a quote today? Get yours NOW…</span>",
                     "className": "mb-xs"
                     })
                     @@include('./_includes/_commons/button.html', {
                     "link": "get-a-quote.html",
                     "className": "bg-pink font-color-white",
                     "buttonText": "Get a Quote"
                     })
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>