<section class="select-storage by-area">
   <div class="bg-pink font-color-white py-md">
      <div class="container md:container-md lg:container-xl mx-auto">
         <div class="-m-xs flex-row flex-wrap text-center justify-center">
            <div class="p-xs col-6 md:col-4 lg:col-10-2 flex-col mx-auto md:mx-0">
               <div class="flex-col flex-stretch">
                  <section class="col-12 ratio-custom-2 mb-sm flex-none">
                     <div class="pos-absolute pin flex-col flex-stretch bg-cover bg-center" style="background-image:url('./images/standard-garage-icon.svg')"></div>
                  </section>
                  <section class="text-wrap w-full flex-auto flex-col">
                     @@include('./_includes/_commons/h3.html', {"title": "1/4 of Standard Garage XXsq ft <span title='Bis Catis pectusc iervitiaed pericaederri tum esitemus; Catus; nem sent grae rem adhum pati. Bis Catis pectusc iervitiaed pericaederri tum esitemus; Catus; nem sent grae rem. Bis Catis pectusc iervitiaed.' class='tooltipster d-inline-block'><img class='align-middle' src='./images/info-icon.png' alt=''/></span>","className": ""})
                     @@include('./_includes/_commons/button.html', {"link": "#","className": "bg-dark font-color-white mt-auto mx-auto","buttonText": "Select"})
                  </section>
               </div>
            </div>
            <div class="p-xs col-6 md:col-4 lg:col-10-2 flex-col mx-auto md:mx-0">
               <div class="flex-col flex-stretch">
                  <section class="col-12 ratio-custom-2 mb-sm flex-none">
                     <div class="pos-absolute pin flex-col flex-stretch bg-cover bg-center" style="background-image:url('./images/2-Bed-Flat-icon.svg')"></div>
                  </section>
                  <section class="text-wrap w-full flex-auto flex-col">
                     @@include('./_includes/_commons/h3.html', {"title": "2 Bed Flat XXsq ft <span title='Bis Catis pectusc iervitiaed pericaederri tum esitemus; Catus; nem sent grae rem adhum pati. Bis Catis pectusc iervitiaed pericaederri tum esitemus; Catus; nem sent grae rem. Bis Catis pectusc iervitiaed.' class='tooltipster d-inline-block'><img class='align-middle' src='./images/info-icon.png' alt=''/></span>","className": ""})
                     @@include('./_includes/_commons/button.html', {"link": "#","className": "bg-dark font-color-white mt-auto mx-auto","buttonText": "Select"})
                  </section>
               </div>
            </div>
            <div class="p-xs col-6 md:col-4 lg:col-10-2 flex-col mx-auto md:mx-0">
               <div class="flex-col flex-stretch">
                  <section class="col-12 ratio-custom-2 mb-sm flex-none">
                     <div class="pos-absolute pin flex-col flex-stretch bg-cover bg-center" style="background-image:url('./images/1-Bed-House-icon.svg')"></div>
                  </section>
                  <section class="text-wrap w-full flex-auto flex-col">
                     @@include('./_includes/_commons/h3.html', {"title": "1 Bed House XXsq ft <span title='Bis Catis pectusc iervitiaed pericaederri tum esitemus; Catus; nem sent grae rem adhum pati. Bis Catis pectusc iervitiaed pericaederri tum esitemus; Catus; nem sent grae rem. Bis Catis pectusc iervitiaed.' class='tooltipster d-inline-block'><img class='align-middle' src='./images/info-icon.png' alt=''/></span>","className": ""})
                     @@include('./_includes/_commons/button.html', {"link": "#","className": "bg-dark font-color-white mt-auto mx-auto","buttonText": "Select"})
                  </section>
               </div>
            </div>
            <div class="p-xs col-6 md:col-4 lg:col-10-2 flex-col mx-auto md:mx-0">
               <div class="flex-col flex-stretch">
                  <section class="col-12 ratio-custom-2 mb-sm flex-none">
                     <div class="pos-absolute pin flex-col flex-stretch bg-cover bg-center" style="background-image:url('./images/2-Bed-House-icon.svg')"></div>
                  </section>
                  <section class="text-wrap w-full flex-auto flex-col">
                     @@include('./_includes/_commons/h3.html', {"title": "2 Bed House XXXsq ft <span title='Bis Catis pectusc iervitiaed pericaederri tum esitemus; Catus; nem sent grae rem adhum pati. Bis Catis pectusc iervitiaed pericaederri tum esitemus; Catus; nem sent grae rem. Bis Catis pectusc iervitiaed.' class='tooltipster d-inline-block'><img class='align-middle' src='./images/info-icon.png' alt=''/></span>","className": ""})
                     @@include('./_includes/_commons/button.html', {"link": "#","className": "bg-dark font-color-white mt-auto mx-auto","buttonText": "Select"})
                  </section>
               </div>
            </div>
            <div class="p-xs col-6 md:col-4 lg:col-10-2 flex-col mx-auto md:mx-0">
               <div class="flex-col flex-stretch">
                  <section class="col-12 ratio-custom-2 mb-sm flex-none">
                     <div class="pos-absolute pin flex-col flex-stretch bg-cover bg-center" style="background-image:url('./images/3-Bed-House-icon.svg')"></div>
                  </section>
                  <section class="text-wrap w-full flex-auto flex-col">
                     @@include('./_includes/_commons/h3.html', {"title": "3 Bed House XXXsq ft <span title='Bis Catis pectusc iervitiaed pericaederri tum esitemus; Catus; nem sent grae rem adhum pati. Bis Catis pectusc iervitiaed pericaederri tum esitemus; Catus; nem sent grae rem. Bis Catis pectusc iervitiaed.' class='tooltipster d-inline-block'><img class='align-middle' src='./images/info-icon.png' alt=''/></span>","className": ""})
                     @@include('./_includes/_commons/button.html', {"link": "#","className": "bg-dark font-color-white mt-auto mx-auto","buttonText": "Select"})
                  </section>
               </div>
            </div>
         </div>
         <div class="pt-lg pb-md mt-auto text-right">
            @@include('./_includes/_commons/button.html', {
            "link": "your-quick-quote.html",
            "className": "bg-dark font-color-white mt-auto",
            "buttonText": "Get Quick Quote"
            })
         </div>
      </div>
   </div>
</section>