<section class="select-storage by-item">
   <div class="bg-pink font-color-white py-md">
      <div class="container md:container-xl mx-auto">
         <div class="flex-col text-center justify-center">
            @@include('./_includes/_tabs_inner/_byItemsOption.html')
            <div class="pt-lg pb-md mt-auto text-right">
               @@include('./_includes/_commons/button.html', {
               "link": "your-quick-quote.html",
               "className": "bg-dark font-color-white mt-auto",
               "buttonText": "Get Quick Quote"
               })
            </div>
         </div>
      </div>
   </div>
</section>