<section class="@@sectionClasses">
   <div class="py-xl @@bgClasses pos-relative">
      <div class="bg-cyan opacity-15 pos-absolute pin"></div>
      <div class="container lg:container-xl mx-auto pos-relative">
         <div class="-m-sm flex-col md:flex-row flex-wrap">
            <div class="p-sm lg:px-md md:col-4 flex-col">
               <div class="text-wrap w-full flex-stretch flex-col">
                  <div class="icon icon-xl mb-md" data-aos="zoom-in" data-aos-delay="100" data-aos-duration="700">
                     <span><img src="./images/self-storage-icon.svg" /></span>
                  </div>
                  <div data-aos="fade" data-aos-delay="200" data-aos-duration="700">
                     @@include('./_includes/_commons/h3.html', {
                     "title": "<span>Self Storage</span>",
                     "className": "font-weight-bold mb-md"
                     })
                  </div>
                  <div class="special-height" data-aos="fade-up" data-aos-delay="300" data-aos-duration="700">
                     @@include('./_includes/_commons/h3.html', {
                     "title": "<span>Advantages</span>",
                     "className": "font-color-cyan mb-xs"
                     })
                     <ul data-aos="fade-up" class="list-reset">
                        <li class="flex-row align-start mb-2xs">
                           <span class="icon icon-xs lg:icon-sm flex-none mr-xs mt-xxs"><img src="./images/tick-icon.svg" /></span>
                           <span class="pt-xxs d-inline-block w-full">Very accessible if you need regular access</span>
                        </li>
                     </ul>
                  </div>
                  <div data-aos="fade-up" data-aos-delay="500" data-aos-duration="700">
                     @@include('./_includes/_commons/h3.html', {
                     "title": "<span>Disadvantages</span>",
                     "className": "font-color-cyan mb-xs"
                     })
                     <ul class="mb-md" data-aos="fade-up" class="list-reset">
                        <li class="flex-row align-start mb-2xs">
                           <span class="icon icon-xs lg:icon-sm flex-none mr-xs mt-xxs"><img src="./images/uncheck-icon.svg" /></span>
                           <span class="pt-xxs d-inline-block w-full">Could be located on different floors</span>
                        </li>
                        <li class="flex-row align-start mb-2xs">
                           <span class="icon icon-xs lg:icon-sm flex-none mr-xs mt-xxs"><img src="./images/uncheck-icon.svg" /></span>
                           <span class="pt-xxs d-inline-block w-full">Long walks to the storage units</span>
                        </li>
                        <li class="flex-row align-start mb-2xs">
                           <span class="icon icon-xs lg:icon-sm flex-none mr-xs mt-xxs"><img src="./images/uncheck-icon.svg" /></span>
                           <span class="pt-xxs d-inline-block w-full">Narrow corridors to navigate, especially when others using facilities</span>
                        </li>
                        <li class="flex-row align-start mb-2xs">
                           <span class="icon icon-xs lg:icon-sm flex-none mr-xs mt-xxs"><img src="./images/uncheck-icon.svg" /></span>
                           <span class="pt-xxs d-inline-block w-full">Expensive storage solution</span>
                        </li>
                        <li class="flex-row align-start mb-2xs">
                           <span class="icon icon-xs lg:icon-sm flex-none mr-xs mt-xxs"><img src="./images/uncheck-icon.svg" /></span>
                           <span class="pt-xxs d-inline-block w-full">Due to the number of visitors, fire protection limited</span>
                        </li>
                        <li class="flex-row align-start mb-2xs">
                           <span class="icon icon-xs lg:icon-sm flex-none mr-xs mt-xxs"><img src="./images/uncheck-icon.svg" /></span>
                           <span class="pt-xxs d-inline-block w-full">Short notice price increases</span>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="p-sm lg:px-md md:col-4 flex-col">
               <div class="text-wrap w-full flex-stretch flex-col">
                  <div class="icon icon-xl mb-md" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="700">
                     <span><img src="./images/barn-storage-icon.svg" /></span>
                  </div>
                  <div data-aos="fade" data-aos-delay="300" data-aos-duration="700">
                     @@include('./_includes/_commons/h3.html', {
                     "title": "<span>Barn Storage</span>",
                     "className": "font-weight-bold mb-md"
                     })
                  </div>
                  <div class="special-height" data-aos="fade-up" data-aos-delay="400" data-aos-duration="700">
                     @@include('./_includes/_commons/h3.html', {
                     "title": "<span>Advantages</span>",
                     "className": "font-color-cyan mb-xs"
                     })
                     <ul data-aos="fade-up" class="list-reset">
                        <li class="flex-row align-start mb-2xs">
                           <span class="icon icon-xs lg:icon-sm flex-none mr-xs mt-xxs"><img src="./images/tick-icon.svg" /></span>
                           <span class="pt-xxs d-inline-block w-full">Cheap</span>
                        </li>
                     </ul>
                  </div>
                  <div data-aos="fade-up" data-aos-delay="600" data-aos-duration="700">
                     @@include('./_includes/_commons/h3.html', {
                     "title": "<span>Disadvantages</span>",
                     "className": "font-color-cyan mb-xs"
                     })
                     <ul class="mb-md" data-aos="fade-up" class="list-reset">
                        <li class="flex-row align-start mb-2xs">
                           <span class="icon icon-xs lg:icon-sm flex-none mr-xs mt-xxs"><img src="./images/uncheck-icon.svg" /></span>
                           <span class="pt-xxs d-inline-block w-full">Risk of fire</span>
                        </li>
                        <li class="flex-row align-start mb-2xs">
                           <span class="icon icon-xs lg:icon-sm flex-none mr-xs mt-xxs"><img src="./images/uncheck-icon.svg" /></span>
                           <span class="pt-xxs d-inline-block w-full">Low levels of security</span>
                        </li>
                        <li class="flex-row align-start mb-2xs">
                           <span class="icon icon-xs lg:icon-sm flex-none mr-xs mt-xxs"><img src="./images/uncheck-icon.svg" /></span>
                           <span class="pt-xxs d-inline-block w-full">Prone to fluctuations in temperatures</span>
                        </li>
                        <li class="flex-row align-start mb-2xs">
                           <span class="icon icon-xs lg:icon-sm flex-none mr-xs mt-xxs"><img src="./images/uncheck-icon.svg" /></span>
                           <span class="pt-xxs d-inline-block w-full">Not purpose built for storage business or home storage</span>
                        </li>
                        <li class="flex-row align-start mb-2xs">
                           <span class="icon icon-xs lg:icon-sm flex-none mr-xs mt-xxs"><img src="./images/uncheck-icon.svg" /></span>
                           <span class="pt-xxs d-inline-block w-full">It’s a barn!</span>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="p-sm lg:px-md md:col-4 flex-col">
               <div class="text-wrap w-full flex-stretch flex-col">
                  <div class="icon icon-xl mb-md" data-aos="zoom-in" data-aos-delay="300" data-aos-duration="700">
                     <span><img src="./images/shipping-containers-icon.svg" /></span>
                  </div>
                  <div data-aos="fade" data-aos-delay="400" data-aos-duration="700">
                     @@include('./_includes/_commons/h3.html', {
                     "title": "<span>Shipping containers</span>",
                     "className": "font-weight-bold mb-md"
                     })
                  </div>
                  <div class="special-height" data-aos="fade-up" data-aos-delay="500" data-aos-duration="700">
                     @@include('./_includes/_commons/h3.html', {
                     "title": "<span>Advantages</span>",
                     "className": "font-color-cyan mb-xs"
                     })
                     <ul data-aos="fade-up" class="list-reset">
                        <li class="flex-row align-start mb-2xs">
                           <span class="icon icon-xs lg:icon-sm flex-none mr-xs mt-xxs"><img src="./images/tick-icon.svg" /></span>
                           <span class="pt-xxs d-inline-block w-full">Accessible within opening times</span>
                        </li>
                     </ul>
                  </div>
                  <div data-aos="fade-up" data-aos-delay="700" data-aos-duration="700">
                     @@include('./_includes/_commons/h3.html', {
                     "title": "<span>Disadvantages</span>",
                     "className": "font-color-cyan mb-xs"
                     })
                     <ul class="mb-md" data-aos="fade-up" class="list-reset">
                        <li class="flex-row align-start mb-2xs">
                           <span class="icon icon-xs lg:icon-sm flex-none mr-xs mt-xxs"><img src="./images/uncheck-icon.svg" /></span>
                           <span class="pt-xxs d-inline-block w-full">Not purpose built for storage</span>
                        </li>
                        <li class="flex-row align-start mb-2xs">
                           <span class="icon icon-xs lg:icon-sm flex-none mr-xs mt-xxs"><img src="./images/uncheck-icon.svg" /></span>
                           <span class="pt-xxs d-inline-block w-full">The containers are ‘single skinned’</span>
                        </li>
                        <li class="flex-row align-start mb-2xs">
                           <span class="icon icon-xs lg:icon-sm flex-none mr-xs mt-xxs"><img src="./images/uncheck-icon.svg" /></span>
                           <span class="pt-xxs d-inline-block w-full">Prone to fluctuations in temperatures</span>
                        </li>
                        <li class="flex-row align-start mb-2xs">
                           <span class="icon icon-xs lg:icon-sm flex-none mr-xs mt-xxs"><img src="./images/uncheck-icon.svg" /></span>
                           <span class="pt-xxs d-inline-block w-full">Sweat inside the containers, causing condensation on storage items</span>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>