<section class="@@sectionClasses">
   <div class="py-xl @@bgClasses pos-relative">
      <div class="bg-cyan opacity-15 pos-absolute pin"></div>
      <div class="container lg:container-xl mx-auto pos-relative">
         <div class="-m-sm">
            <table class="w-full">
               <tbody>
                  <tr>
                     <td class="px-sm">
                        <div class="icon icon-xl" data-aos="zoom-in" data-aos-delay="100" data-aos-duration="700">
                           <span><img src="./images/self-storage-icon.svg" /></span>
                        </div>
                     </td>
                     <td class="px-sm">
                        <div class="icon icon-xl" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="700">
                           <span><img src="./images/barn-storage-icon.svg" /></span>
                        </div>
                     </td>
                     <td class="px-sm">
                        <div class="icon icon-xl" data-aos="zoom-in" data-aos-delay="300" data-aos-duration="700">
                           <span><img src="./images/shipping-containers-icon.svg" /></span>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</section>