<!-- Header -->
<header class="pin-b-auto pin-x">
   <div class="mx-auto container lg:container-xl pos-relative py-sm">
      <div class="flex-row align-center lg:align-end -mx-sm justify-center">
         <div class="flex-col flex-none px-sm">
            <div class="lg:flex-stretch">
               <a href="index.html" class="icon icon-3xl ratio-logo xs:icon-logo-footer xl:icon-logo-header">
                  <div>
                     <img src="images/brand-logo.svg" alt="" />
                  </div>
               </a>
            </div>
         </div>
         <div class="flex-row align-center flex-stretch justify-end text-center lg:text-left">
            <nav class="lg:my-xs bg-white lg:bg-transparent flex-col pin align-center justify-center col-12 lg:col-auto lg:font-color-inherit font-weight-light lg:pos-static lg:shadow-none md:col-7 navbar pin-l-auto pos-fixed shadow-lg z-50">
               <div class="flex-col lg:flex-row lg:px-xs w-full justify-space-between">
                  <a class="py-xs px-xs xl:px-xs font-color-inherit font-size-2sm lg:font-size-xs xl:font-size-2sm font-weight-inherit hover:font-weight-bold lg:py-0 no-underline uppercase lg:d-hidden @@homeActive" href="index.html">Home</a>
                  <a class="py-xs px-xs xl:px-xs font-color-inherit font-size-2sm lg:font-size-xs xl:font-size-2sm font-weight-inherit hover:font-weight-bold lg:py-0 no-underline uppercase @@getAQuoteActive" href="get-a-quote.html">get a QUOTE</a>
                  <a class="py-xs px-xs xl:px-xs font-color-inherit font-size-2sm lg:font-size-xs xl:font-size-2sm font-weight-inherit hover:font-weight-bold lg:py-0 no-underline uppercase @@educationActive" href="education.html">EDUCATION</a>
                  <a class="py-xs px-xs xl:px-xs font-color-inherit font-size-2sm lg:font-size-xs xl:font-size-2sm font-weight-inherit hover:font-weight-bold lg:py-0 no-underline uppercase @@howItWorkActive" href="how-it-works.html">HOW IT WORKS</a>
                  <a class="py-xs px-xs xl:px-xs font-color-inherit font-size-2sm lg:font-size-xs xl:font-size-2sm font-weight-inherit hover:font-weight-bold lg:py-0 no-underline uppercase @@galleryActive" href="gallery.html">Gallery</a>
                  <a class="py-xs px-xs xl:px-xs font-color-inherit font-size-2sm lg:font-size-xs xl:font-size-2sm font-weight-inherit hover:font-weight-bold lg:py-0 no-underline uppercase @@contactActive" href="contact.html">CONTACT</a>
                  <a class="py-xs px-xs xl:px-xs font-color-inherit font-size-2sm lg:font-size-xs xl:font-size-2sm font-weight-inherit hover:font-weight-bold lg:py-0 no-underline uppercase @@aboutEweActive" href="about-ewe.html">ABOUT EWE</a>
               </div>
            </nav>
            <div class="flex-row font-color-white lg:pos-absolute pin-r pin-t">
               <a href="tel:020 1234 5678" class="mx-xxs lg:mx-0 no-underline uppercase p-xxs md:p-xs xl:p-2xs bg-aqua font-color-inherit font-size-sm font-weight-bold hover:bg-cyan hover:font-color-default ml-auto flex-row align-center">
                  <span class="icon lg:d-hidden"><img src="./images/phone-call.svg" alt=""/></span>
                  <span class="d-hidden md:d-inline-block px-xxs">CALL</span>
                  <span class="font-weight-light d-hidden lg:d-inline-block">020 1234 5678<span>
               </a>
               <a href="#" class="mx-xxs lg:mx-0 no-underline uppercase p-xxs md:p-xs xl:p-2xs bg-aqua font-color-inherit font-size-sm font-weight-bold hover:bg-cyan hover:font-color-default ml-auto flex-row align-center">
                  <span class="icon lg:d-hidden"><img src="./images/login-icon.svg" alt=""/></span>
                  <span class="d-hidden md:d-inline-block px-xxs">Login</span>
               </a>
            </div>
         </div>
         <!-- ! Hamburger -->
         <div class="icon flex-none lg:d-hidden mx-sm">
            <div>
               <div class="icon font-color-pink hamburger pointer-events-auto">
                  <div>
                     <span></span>
                     <span></span>
                     <span></span>
                     <span></span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>