<div class="flex-col lg:flex-row pos-relative @@bgClasses">
      @@if (context.bgImage) {
         <section class="lg:pos-absolute lg:col-6 pin pin-l-auto ratio-16x9 " data-aos="fade" data-aos-delay="100" data-aos-duration="700">
            <div class="pos-absolute pin flex-col flex-stretch @@bgImgClasses" style="background-image:url('@@bgImage')"></div>
         </section>
      }
      <section class="container md:container-md lg:container-xl mx-auto flex-row flex-row-reverse flex-wrap" data-aos="fade-up" data-aos-delay="300" data-aos-duration="700">
         @@if (context.inlineImage) {
            <div class="flex-col col-12 md:col-6 lg:col-5 xl:col-6 align-center justify-center ml-auto pt-md md:py-lg lg:pl-2lg">
               <img class="d-hidden md:d-inline-block" src="@@inlineImage" alt=""/>
               <img class="md:d-hidden" src="@@inlineImageMobile" alt=""/>
            </div>
         }
         <div class="col-12 md:col-6 lg:col-7 xl:col-6 mr-auto px-sm lg:pr-2lg py-2md lg:py-2xl">
            <div class="w-full text-wrap">
               @@if (context.title) {
               @@include('./_includes/_commons/h2.html', {
               "title": "<span>@@title</span>",
               "className": "@@titleClass"
               })
               }
               @@if (context.subtitle) {
               @@include('./_includes/_commons/h3.html', {
               "title": "<span>@@subtitle</span>",
               "className": "@@subtitleClass"
               })
               }
               @@if (context.text) {
               @@text
               }
               @@if (context.button === true) {
               @@include('./_includes/_commons/button.html', {
               "link": "@@buttonLink",
               "className": "@@buttonClass font-color-white",
               "buttonText": "@@buttonText"
               })
               }
               @@if(context.createAccount){
               <div>
                  <form class="flex-col">
                     <h4 class="font-weight-bold font-color-pink mb-xs">Create a Ewe Store It account</h4>
                     <div class="-m-xs">
                        <div class="p-xs flex-auto flex-col">
                           <input type="password" required placeholder="Enter Password " class="px-2xs py-xs flex-stretch focus:shadow-lg transition-all bg-white border border-pink">
                        </div>
                        <div class="p-xs flex-auto flex-col">
                           <input type="password" required placeholder="Confirm Password" class="px-2xs py-xs flex-stretch focus:shadow-lg transition-all bg-white border border-pink">
                        </div>
                        <div class="p-xs flex-auto">
                           @@include('./_includes/_commons/button-submit.html', {"className": "bg-aqua font-color-white","buttonText": "Create Account"})
                        </div>
                     </div>
                  </form>
               </div>
               }
               @@if(context.GetAquoteForm){
               <div>
                  <form class="flex-col">
                     <div class="-m-xs flex-row flex-wrap">
                        <div class="p-xs flex-auto flex-col col-12">
                           <input type="text" placeholder="Start Date" class="datepicker w-full px-2xs py-xs flex-stretch focus:shadow-lg transition-all bg-white border border-pink">
                        </div>
                        <div class="p-xs flex-auto flex-col md:col-6">
                           <input type="text" placeholder="Postcode" class="w-full px-2xs py-xs flex-stretch focus:shadow-lg transition-all bg-white border border-pink">
                        </div>
                        <div class="p-xs flex-auto md:flex-col md:col-6">
                           @@include('./_includes/_commons/button-submit.html', {"className": "bg-dark font-color-white w-full","buttonText": "Get a quote"})
                        </div>
                     </div>
                  </form>
               </div>
               }
               @@if(context.selectStorage){
               <div>
                  <form class="flex-col">
                     <div class="-m-xxs flex-row flex-wrap">
                        <div class="p-xxs flex-auto flex-col col-12">
                           <input type="text" placeholder="Location/Postcode" class="w-full px-2xs py-xs flex-stretch focus:shadow-lg transition-all bg-white border border-pink">
                        </div>
                        <div class="p-xxs flex-auto flex-col col-12">
                           <input type="text" placeholder="Duration (weeks)" class="w-full px-2xs py-xs flex-stretch focus:shadow-lg transition-all bg-white border border-pink">
                        </div>
                        <div class="select p-xxs flex-auto flex-col col-12 font-color-pink">
                           <select id="storageSelect" class="px-2xs py-xs flex-stretch focus:shadow-lg transition-all bg-white border border-pink font-color-default">
                              <option value="">Storage Select</option>
                              <option value="by-area">By Area</option>
                              <option value="by-item">By Item</option>
                           </select>
                        </div>
                     </div>
                  </form>
               </div>
               }
            </div>
         </div>
      </section>
   </div>