<section class="@@sectionClasses">
   <section class="text-center font-size-2md overflow-hidden">
      @@include('./_includes/_commons/h3-lg.html', {"title": "Follow us","className": "font-color-cyan mb-md"})
      <div class="flex-row flex-wrap justify-center -m-xs">
         <!-- <div class="col-3 lg:w-auto lg:col-flex p-xs" data-aos="zoom-in" data-aos-delay="100" data-aos-duration="700">
            <a href="#" class="ratio-1x1 d-inline-block bg-dark align-bottom">
               <div class="pos-absolute pin flex-col flex-stretch flex-col justify-center align-center">
                  <div class="icon-lg lg:icon-xl"><img src="./images/insta-logo-w.svg" alt=""></div>
               </div>
            </a>
         </div> -->
         <div class="col-3 lg:w-auto lg:col-flex p-xs" data-aos="zoom-in" data-aos-delay="100" data-aos-duration="700">
            <a href="#" class="ratio-1x1 d-inline-block align-bottom ">
               <span class="pos-absolute pin flex-col flex-stretch bg-cover bg-center" style="background-image:url('./images/insta-2.jpg')"></span>
            </a>
         </div>
         <div class="col-3 lg:w-auto lg:col-flex p-xs" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="700">
            <a href="#" class="ratio-1x1 d-inline-block align-bottom ">
               <span class="pos-absolute pin flex-col flex-stretch bg-cover bg-center" style="background-image:url('./images/insta-1.jpg')"></span>
            </a>
         </div>
         <div class="col-3 lg:w-auto lg:col-flex p-xs" data-aos="zoom-in" data-aos-delay="300" data-aos-duration="700">
            <a href="#" class="ratio-1x1 d-inline-block align-bottom ">
               <span class="pos-absolute pin flex-col flex-stretch bg-cover bg-center" style="background-image:url('./images/insta-3.jpg')"></span>
            </a>
         </div>
         <div class="col-3 lg:w-auto lg:col-flex p-xs" data-aos="zoom-in" data-aos-delay="400" data-aos-duration="700">
            <a href="#" class="ratio-1x1 d-inline-block align-bottom ">
               <span class="pos-absolute pin flex-col flex-stretch bg-cover bg-center" style="background-image:url('./images/insta-4.jpg')"></span>
            </a>
         </div>
         <div class="col-3 lg:w-auto lg:col-flex p-xs" data-aos="zoom-in" data-aos-delay="500" data-aos-duration="700">
            <a href="#" class="ratio-1x1 d-inline-block align-bottom ">
               <span class="pos-absolute pin flex-col flex-stretch bg-cover bg-center" style="background-image:url('./images/insta-5.jpg')"></span>
            </a>
         </div>
         <div class="col-3 lg:w-auto lg:col-flex p-xs" data-aos="zoom-in" data-aos-delay="400" data-aos-duration="700">
            <a href="#" class="ratio-1x1 d-inline-block align-bottom ">
               <span class="pos-absolute pin flex-col flex-stretch bg-cover bg-center" style="background-image:url('./images/insta-6.jpg')"></span>
            </a>
         </div>
         <div class="col-3 lg:w-auto lg:col-flex p-xs" data-aos="zoom-in" data-aos-delay="400" data-aos-duration="700">
            <a href="#" class="ratio-1x1 d-inline-block align-bottom ">
               <span class="pos-absolute pin flex-col flex-stretch bg-cover bg-center" style="background-image:url('./images/insta-7.jpg')"></span>
            </a>
         </div>
      </div>
   </section>
</section>