<section class="@@sectionClasses">
   <div class="py-2md lg:py-lg">      
      <div class="container md:container-md lg:container-xl mx-auto">
         <div class="flex-col lg:flex-row -mx-sm xl:-mx-2md -my-sm">
            <section class="col-flex px-sm xl:px-2md py-sm" data-aos="fade" data-aos-delay="100" data-aos-duration="700">
               <div class="text-wrap w-full">
                  @@include('./_includes/_commons/h3-lg.html', {
                  "title": "Left Text 2 Col",
                  "className": "font-color-cyan font-size-2md"
                  })
                  @@loop('./_includes/_commons/para.html', [
                  {"paraText": "At voloreh enduci cor ma et magnis essum sequatus siment et veliquisquid eiunt, tem dolore nuscipiet acit vidia quae pliqui seque sam dolut pore maiones audiae volupta tumqui optatet voluptatiur sus adias cus accus eum dolupis Nam."},
                  {"paraText": "Rum volum, quas quatatus plabo. Ehenimincia quae volenesequas et entius, core venis none in re qui ut hil maionsequat ditate suntemo lliati dolorio quae nos dolorae."}
                  ])
                  @@include('./_includes/_commons/button.html', {"link": "#","className": "bg-aqua font-color-white","buttonText": "Link Here"})
               </div>
            </section>
            <section class="col-flex px-sm xl:px-2md py-sm" data-aos="fade" data-aos-delay="300" data-aos-duration="700">
               <div class="text-wrap w-full">
                  @@include('./_includes/_commons/h3-lg.html', {
                  "title": "Right Text 2 Col",
                  "className": "font-color-cyan font-size-2md"
                  })
                  @@loop('./_includes/_commons/para.html', [
                  {"paraText": "At voloreh enduci cor ma et magnis essum sequatus siment et veliquisquid eiunt, tem dolore nuscipiet acit vidia quae pliqui seque sam dolut pore maiones audiae volupta tumqui optatet voluptatiur sus adias cus accus eum dolupis Nam."},
                  {"paraText": "Rum volum, quas quatatus plabo. Ehenimincia quae volenesequas et entius, core venis none in re qui ut hil maionsequat ditate suntemo lliati dolorio quae nos dolorae."}
                  ])
                  @@include('./_includes/_commons/button.html', {"link": "#","className": "bg-aqua font-color-white","buttonText": "Link Here"})
               </div>
            </section>
         </div>
      </div>
   </div>
   <div class="py-2md lg:py-lg">
      <div class="container md:container-md lg:container-xl mx-auto">
         <div class="flex-col lg:flex-row -mx-sm xl:-mx-2md -my-sm">
            <section class="w-full flex-col px-sm xl:px-2md py-sm" data-aos="fade" data-aos-delay="500" data-aos-duration="700">
               <div class="text-wrap w-full">
                  @@include('./_includes/_commons/h2.html', {
                  "title": "Left Text 1 Col",
                  "className": "font-color-cyan font-size-2md"
                  })
                  @@loop('./_includes/_commons/para.html', [
                  {"paraText": "At voloreh enduci cor ma et magnis essum sequatus siment et veliquisquid eiunt, tem dolore nuscipiet acit vidia quae pliqui seque sam dolut pore maiones audiae volupta tumqui optatet voluptatiur sus adias cus accus eum dolupis Nam."},
                  {"paraText": "Rum volum, quas quatatus plabo. Ehenimincia quae volenesequas et entius, core venis none in re qui ut hil maionsequat ditate suntemo lliati dolorio quae nos dolorae."}
                  ])
                  @@include('./_includes/_commons/button.html', {"link": "#","className": "bg-aqua font-color-white","buttonText": "Link Here"})
               </div>
            </section>
         </div>
      </div>
   </div>
</section>