<section class="@@sectionClasses">
   <div class="container md:container-md lg:container-xl mx-auto">
      <div class="pt-xl">
         <div class="-m-sm flex-col lg:flex-row">
            <div class="p-sm col-12 lg:col-6 flex-col">
               <div class="-m-xs flex-col flex-auto">
                  <div class="flex-row flex-wrap">
                     <div class="p-xs col-12 md:col-6" data-aos="fade" data-aos-duration="500">
                        <h4 class="font-weight-bold font-color-cyan">Total Weekly Cost</h4>
                        @@include('./_includes/_commons/h2.html', {
                           "title": "<span>£XX</span> <span class='font-size-sm'>per week*</span>",
                           "className": "font-color-cyan"
                        })
                     </div>
                     <div class="p-xs col-12 md:col-6" data-aos="fade" data-aos-delay="100" data-aos-duration="500">
                        <h4 class="font-weight-bold font-color-pink">Comparison Weekly Cost</h4>
                        @@include('./_includes/_commons/h2.html', {
                           "title": "<span class='font-size-2md'>£XX</span> <span class='font-size-sm'>per week*</span>",
                           "className": ""
                        })
                     </div>
                  </div>
                  <div class="p-xs" data-aos="fade" data-aos-delay="300" data-aos-duration="500">
                     <h4 class="font-weight-bold font-color-pink">Weekly Cost After Initial Period</h4>
                     @@include('./_includes/_commons/h2.html', {
                        "title": "<span class='font-size-2md'>£XX.XX</span> <span class='font-size-sm'>per week*</span>",
                        "className": ""
                     })
                  </div>
                  <div class="p-xs text-wrap" data-aos="fade" data-aos-delay="500" data-aos-duration="500">
                     <h4><span class="font-weight-bold font-color-pink">Location:</span> 123 Address</h4>
                     <h4><span class="font-weight-bold font-color-pink">Duration:</span> XX weeks</h4>
                     <h4><span class="font-weight-bold font-color-pink">Storage Size:</span> Storage option selected or items selected</h4>
                  </div>
                  <div class="p-xs" data-aos="fade" data-aos-delay="500" data-aos-duration="500">
                     <h4 class="font-weight-bold font-color-pink mb-xs">Enter Your Contact Details here:   </h4>
                     <div class="-m-xs flex-col">
                        <div class="p-xs">
                           <input type="text" required placeholder="Name" class="px-2xs py-xs flex-stretch focus:shadow-lg transition-all bg-white border border-pink w-full">
                        </div>
                        <div class="p-xs">
                           <input type="email" required placeholder="Email" class="px-2xs py-xs flex-stretch focus:shadow-lg transition-all bg-white border border-pink w-full">
                        </div>
                        <div class="p-xs">
                           <input type="text" required placeholder="Telephone" class="px-2xs py-xs flex-stretch focus:shadow-lg transition-all bg-white border border-pink w-full">
                        </div>
                        <div class="p-xs">
                           <p class="font-size-xs">
                              *This quote is accurate based on the details provided, but we reserve the right amend
                              this figure if the details change or are inaccurate. For more information, please see our
                              @@include('./_includes/_commons/button-as-link.html', {
                                 "link": "#",
                                 "className": "font-color-pink opacity-50 hover:opacity-100",
                                 "buttonText": "Terms and Conditions."
                              })
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="p-xs mt-auto">
                     @@include('./_includes/_commons/button.html', {
                     "link": "contact.html",
                     "className": "bg-aqua font-color-white mt-auto",
                     "buttonText": "Get in Touch"
                     })
                  </div>
               </div>
            </div>
            <div class="m-sm border-b lg:border-b-0 lg:border-l border-dashed border-pink"></div>
            <div class="p-sm col-12 lg:col-6 flex-col">
               @@include('./_includes/_commons/h3.html', {
                  "title": "<span>Additional Services</span>",
                  "className": "font-color-cyan mb-sm"
               })
               <div class="-m-sm flex-col flex-auto">
                  <div class="p-sm flex-row align-center">
                     <div class="icon icon-1lg mr-sm flex-none" data-aos="zoom-in" data-aos-duration="500">
                        <span><img src="./images/packing-icon.svg" /></span>
                     </div>
                     <div class="" data-aos="fade" data-aos-delay="200" data-aos-duration="500">
                        <h4 class="font-weight-bold font-color-pink">Packing</h4>
                        <p>Conecerit ma vellam quam eate ducidusam aut quaessin conem eliciis as et occus, to veliam, idebit laudam vellam quam.</p>
                     </div>
                  </div>
                  <div class="p-sm flex-row align-center">
                     <div class="icon icon-1lg mr-sm flex-none" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="500">
                        <span><img src="./images/shredding-icon.svg" /></span>
                     </div>
                     <div class="" data-aos="fade" data-aos-delay="300" data-aos-duration="500">
                        <h4 class="font-weight-bold font-color-pink">Shredding</h4>
                        <p>Nimus conecerit ma vellam quam eate ducidusam aut quaessin conem eliciis as et occus, to veliam, sus, idebit laudam vellam quam eate.</p>
                     </div>
                  </div>
                  <div class="p-sm flex-row align-center">
                     <div class="icon icon-1lg mr-sm flex-none" data-aos="zoom-in" data-aos-delay="300" data-aos-duration="500">
                        <span><img src="./images/insurance-icon.svg" /></span>
                     </div>
                     <div class="" data-aos="fade" data-aos-delay="400" data-aos-duration="500">
                        <h4 class="font-weight-bold font-color-pink">Insurance</h4>
                        <p>Conecerit ma vellam quam eate ducidusam aut quaessin conem eliciis as et occus, to veliam, idebit laudam vellam quam.</p>
                     </div>
                  </div>
                  <div class="p-sm flex-row align-center">
                     <div class="icon icon-1lg mr-sm flex-none" data-aos="zoom-in" data-aos-delay="400" data-aos-duration="500">
                        <span><img src="./images/dismantling-icon.svg" /></span>
                     </div>
                     <div class="" data-aos="fade" data-aos-delay="500" data-aos-duration="500">
                        <h4 class="font-weight-bold font-color-pink">Dismantling</h4>
                        <p>Conecerit ma vellam quam eate ducidusam aut quaessin conem eliciis as et occus, to veliam, idebit laudam vellam quam.</p>
                     </div>
                  </div>
                  <div class="p-sm mt-auto">
                     @@include('./_includes/_commons/button.html', {
                     "link": "detailed-quote.html",
                     "className": "bg-aqua font-color-white mt-auto",
                     "buttonText": "Get Detailed Quote"
                     }) 
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
