<section class="@@sectionClasses">
   <div class="container md:container-md lg:container-xl mx-auto">
      @@include('./_includes/_commons/h3.html', {
         "title": "<span>Storage sites</span>",
         "className": "font-color-pink"
      })
      <div data-togglable="true" data-close-others="true" class="accordion-wrapper -mx-xs py-xs flex-row flex-wrap text-left">
         <div class="col-12 lg:col-4 toggle-content px-xs">
               <div class="accordion border-b hover:shadow-bottom px-xs">
                  <div data-filterby="content_1" class="accordion-label accordion-toggle pt-xs pb-xs transition-all">
                     <h3 class="question font-weight-bold">Berkshire</h3>
                     <span class="toggle-sign icon font-color-pink transition-all">
                        <span class="p-xxs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357 357">
                              <path fill="currentColor" d="M357 204H204v153h-51V204H0v-51h153V0h51v153h153v51z" /></svg></span>
                     </span>
                  </div>
                  <div class="accordion-content transition-all">
                     <div class="answer py-sm">
                        <div class="text-wrap w-full font-weight-light">
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Head Office</h4>
                              <p>Ewe Store It Ltd<br>
                                 Wincanton Business Park,<br>
                                 Wincanton,<br>
                                 Somerset<br>
                                 BA9 9RU
                              </p>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Telephone</h4>
                              <a href="tel:+44 (0) 1963 34065" class="no-underline font-color-inherit hover:font-color-pink">+44 (0) 1963 34065</a>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Email</h4>
                              <a href="mailto:enquiries@ewestoreit.com" class="no-underline font-color-inherit hover:font-color-pink">enquiries@ewestoreit.com</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="accordion border-b hover:shadow-bottom px-xs">
                  <div data-filterby="content_2" class="accordion-label accordion-toggle pt-xs pb-xs transition-all">
                     <h3 class="question font-weight-bold">Bristol</h3>
                     <span class="toggle-sign icon font-color-pink transition-all">
                        <span class="p-xxs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357 357">
                              <path fill="currentColor" d="M357 204H204v153h-51V204H0v-51h153V0h51v153h153v51z" /></svg></span>
                     </span>
                  </div>
                  <div class="accordion-content transition-all">
                     <div class="answer py-sm">
                        <div class="text-wrap w-full font-weight-light">
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Head Office</h4>
                              <p>Ewe Store It Ltd<br>
                                 Wincanton Business Park,<br>
                                 Wincanton,<br>
                                 Somerset<br>
                                 BA9 9RU
                              </p>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Telephone</h4>
                              <a href="tel:+44 (0) 1963 34065" class="no-underline font-color-inherit hover:font-color-pink">+44 (0) 1963 34065</a>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Email</h4>
                              <a href="mailto:enquiries@ewestoreit.com" class="no-underline font-color-inherit hover:font-color-pink">enquiries@ewestoreit.com</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="accordion border-b hover:shadow-bottom px-xs">
                  <div data-filterby="content_3" class="accordion-label accordion-toggle pt-xs pb-xs transition-all">
                     <h3 class="question font-weight-bold">Buckinghamshire</h3>
                     <span class="toggle-sign icon font-color-pink transition-all">
                        <span class="p-xxs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357 357">
                              <path fill="currentColor" d="M357 204H204v153h-51V204H0v-51h153V0h51v153h153v51z" /></svg></span>
                     </span>
                  </div>
                  <div class="accordion-content transition-all">
                     <div class="answer py-sm">
                        <div class="text-wrap w-full font-weight-light">
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Head Office</h4>
                              <p>Ewe Store It Ltd<br>
                                 Wincanton Business Park,<br>
                                 Wincanton,<br>
                                 Somerset<br>
                                 BA9 9RU
                              </p>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Telephone</h4>
                              <a href="tel:+44 (0) 1963 34065" class="no-underline font-color-inherit hover:font-color-pink">+44 (0) 1963 34065</a>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Email</h4>
                              <a href="mailto:enquiries@ewestoreit.com" class="no-underline font-color-inherit hover:font-color-pink">enquiries@ewestoreit.com</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="accordion border-b hover:shadow-bottom px-xs">
                  <div data-filterby="content_4" class="accordion-label accordion-toggle pt-xs pb-xs transition-all">
                     <h3 class="question font-weight-bold">Devon</h3>
                     <span class="toggle-sign icon font-color-pink transition-all">
                        <span class="p-xxs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357 357">
                              <path fill="currentColor" d="M357 204H204v153h-51V204H0v-51h153V0h51v153h153v51z" /></svg></span>
                     </span>
                  </div>
                  <div class="accordion-content transition-all">
                     <div class="answer py-sm">
                        <div class="text-wrap w-full font-weight-light">
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Head Office</h4>
                              <p>Ewe Store It Ltd<br>
                                 Wincanton Business Park,<br>
                                 Wincanton,<br>
                                 Somerset<br>
                                 BA9 9RU
                              </p>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Telephone</h4>
                              <a href="tel:+44 (0) 1963 34065" class="no-underline font-color-inherit hover:font-color-pink">+44 (0) 1963 34065</a>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Email</h4>
                              <a href="mailto:enquiries@ewestoreit.com" class="no-underline font-color-inherit hover:font-color-pink">enquiries@ewestoreit.com</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="accordion border-b hover:shadow-bottom px-xs">
                  <div data-filterby="content_5" class="accordion-label accordion-toggle pt-xs pb-xs transition-all">
                     <h3 class="question font-weight-bold">Dorset</h3>
                     <span class="toggle-sign icon font-color-pink transition-all">
                        <span class="p-xxs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357 357">
                              <path fill="currentColor" d="M357 204H204v153h-51V204H0v-51h153V0h51v153h153v51z" /></svg></span>
                     </span>
                  </div>
                  <div class="accordion-content transition-all">
                     <div class="answer py-sm">
                        <div class="text-wrap w-full font-weight-light">
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Head Office</h4>
                              <p>Ewe Store It Ltd<br>
                                 Wincanton Business Park,<br>
                                 Wincanton,<br>
                                 Somerset<br>
                                 BA9 9RU
                              </p>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Telephone</h4>
                              <a href="tel:+44 (0) 1963 34065" class="no-underline font-color-inherit hover:font-color-pink">+44 (0) 1963 34065</a>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Email</h4>
                              <a href="mailto:enquiries@ewestoreit.com" class="no-underline font-color-inherit hover:font-color-pink">enquiries@ewestoreit.com</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
         </div>
         <div class="col-12 lg:col-4 toggle-content px-xs">
               <div class="accordion border-b hover:shadow-bottom px-xs">
                  <div data-filterby="content_6" class="accordion-label accordion-toggle pt-xs pb-xs transition-all">
                     <h3 class="question font-weight-bold">Essex</h3>
                     <span class="toggle-sign icon font-color-pink transition-all">
                        <span class="p-xxs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357 357">
                              <path fill="currentColor" d="M357 204H204v153h-51V204H0v-51h153V0h51v153h153v51z" /></svg></span>
                     </span>
                  </div>
                  <div class="accordion-content transition-all">
                     <div class="answer py-sm">
                        <div class="text-wrap w-full font-weight-light">
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Head Office</h4>
                              <p>Ewe Store It Ltd<br>
                                 Wincanton Business Park,<br>
                                 Wincanton,<br>
                                 Somerset<br>
                                 BA9 9RU
                              </p>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Telephone</h4>
                              <a href="tel:+44 (0) 1963 34065" class="no-underline font-color-inherit hover:font-color-pink">+44 (0) 1963 34065</a>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Email</h4>
                              <a href="mailto:enquiries@ewestoreit.com" class="no-underline font-color-inherit hover:font-color-pink">enquiries@ewestoreit.com</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="accordion border-b hover:shadow-bottom px-xs">
                  <div data-filterby="content_7" class="accordion-label accordion-toggle pt-xs pb-xs transition-all">
                     <h3 class="question font-weight-bold">Gloucestshire</h3>
                     <span class="toggle-sign icon font-color-pink transition-all">
                        <span class="p-xxs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357 357">
                              <path fill="currentColor" d="M357 204H204v153h-51V204H0v-51h153V0h51v153h153v51z" /></svg></span>
                     </span>
                  </div>
                  <div class="accordion-content transition-all">
                     <div class="answer py-sm">
                        <div class="text-wrap w-full font-weight-light">
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Head Office</h4>
                              <p>Ewe Store It Ltd<br>
                                 Wincanton Business Park,<br>
                                 Wincanton,<br>
                                 Somerset<br>
                                 BA9 9RU
                              </p>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Telephone</h4>
                              <a href="tel:+44 (0) 1963 34065" class="no-underline font-color-inherit hover:font-color-pink">+44 (0) 1963 34065</a>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Email</h4>
                              <a href="mailto:enquiries@ewestoreit.com" class="no-underline font-color-inherit hover:font-color-pink">enquiries@ewestoreit.com</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="accordion border-b hover:shadow-bottom px-xs">
                  <div data-filterby="content_8" class="accordion-label accordion-toggle pt-xs pb-xs transition-all">
                     <h3 class="question font-weight-bold">Hampshire</h3>
                     <span class="toggle-sign icon font-color-pink transition-all">
                        <span class="p-xxs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357 357">
                              <path fill="currentColor" d="M357 204H204v153h-51V204H0v-51h153V0h51v153h153v51z" /></svg></span>
                     </span>
                  </div>
                  <div class="accordion-content transition-all">
                     <div class="answer py-sm">
                        <div class="text-wrap w-full font-weight-light">
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Head Office</h4>
                              <p>Ewe Store It Ltd<br>
                                 Wincanton Business Park,<br>
                                 Wincanton,<br>
                                 Somerset<br>
                                 BA9 9RU
                              </p>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Telephone</h4>
                              <a href="tel:+44 (0) 1963 34065" class="no-underline font-color-inherit hover:font-color-pink">+44 (0) 1963 34065</a>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Email</h4>
                              <a href="mailto:enquiries@ewestoreit.com" class="no-underline font-color-inherit hover:font-color-pink">enquiries@ewestoreit.com</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="accordion border-b hover:shadow-bottom px-xs">
                  <div data-filterby="content_9" class="accordion-label accordion-toggle pt-xs pb-xs transition-all">
                     <h3 class="question font-weight-bold">Herfordshire</h3>
                     <span class="toggle-sign icon font-color-pink transition-all">
                        <span class="p-xxs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357 357">
                              <path fill="currentColor" d="M357 204H204v153h-51V204H0v-51h153V0h51v153h153v51z" /></svg></span>
                     </span>
                  </div>
                  <div class="accordion-content transition-all">
                     <div class="answer py-sm">
                        <div class="text-wrap w-full font-weight-light">
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Head Office</h4>
                              <p>Ewe Store It Ltd<br>
                                 Wincanton Business Park,<br>
                                 Wincanton,<br>
                                 Somerset<br>
                                 BA9 9RU
                              </p>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Telephone</h4>
                              <a href="tel:+44 (0) 1963 34065" class="no-underline font-color-inherit hover:font-color-pink">+44 (0) 1963 34065</a>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Email</h4>
                              <a href="mailto:enquiries@ewestoreit.com" class="no-underline font-color-inherit hover:font-color-pink">enquiries@ewestoreit.com</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="accordion border-b hover:shadow-bottom px-xs">
                  <div data-filterby="content_10" class="accordion-label accordion-toggle pt-xs pb-xs transition-all">
                     <h3 class="question font-weight-bold">Leicestershire</h3>
                     <span class="toggle-sign icon font-color-pink transition-all">
                        <span class="p-xxs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357 357">
                              <path fill="currentColor" d="M357 204H204v153h-51V204H0v-51h153V0h51v153h153v51z" /></svg></span>
                     </span>
                  </div>
                  <div class="accordion-content transition-all">
                     <div class="answer py-sm">
                        <div class="text-wrap w-full font-weight-light">
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Head Office</h4>
                              <p>Ewe Store It Ltd<br>
                                 Wincanton Business Park,<br>
                                 Wincanton,<br>
                                 Somerset<br>
                                 BA9 9RU
                              </p>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Telephone</h4>
                              <a href="tel:+44 (0) 1963 34065" class="no-underline font-color-inherit hover:font-color-pink">+44 (0) 1963 34065</a>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Email</h4>
                              <a href="mailto:enquiries@ewestoreit.com" class="no-underline font-color-inherit hover:font-color-pink">enquiries@ewestoreit.com</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
         </div>
         <div class="col-12 lg:col-4 toggle-content px-xs">
               <div class="accordion border-b hover:shadow-bottom px-xs">
                  <div data-filterby="content_11" class="accordion-label accordion-toggle pt-xs pb-xs transition-all">
                     <h3 class="question font-weight-bold">Oxfordshire</h3>
                     <span class="toggle-sign icon font-color-pink transition-all">
                        <span class="p-xxs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357 357">
                              <path fill="currentColor" d="M357 204H204v153h-51V204H0v-51h153V0h51v153h153v51z" /></svg></span>
                     </span>
                  </div>
                  <div class="accordion-content transition-all">
                     <div class="answer py-sm">
                        <div class="text-wrap w-full font-weight-light">
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Head Office</h4>
                              <p>Ewe Store It Ltd<br>
                                 Wincanton Business Park,<br>
                                 Wincanton,<br>
                                 Somerset<br>
                                 BA9 9RU
                              </p>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Telephone</h4>
                              <a href="tel:+44 (0) 1963 34065" class="no-underline font-color-inherit hover:font-color-pink">+44 (0) 1963 34065</a>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Email</h4>
                              <a href="mailto:enquiries@ewestoreit.com" class="no-underline font-color-inherit hover:font-color-pink">enquiries@ewestoreit.com</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="accordion border-b hover:shadow-bottom px-xs">
                  <div data-filterby="content_12" class="accordion-label accordion-toggle pt-xs pb-xs transition-all">
                     <h3 class="question font-weight-bold">Somerset</h3>
                     <span class="toggle-sign icon font-color-pink transition-all">
                        <span class="p-xxs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357 357">
                              <path fill="currentColor" d="M357 204H204v153h-51V204H0v-51h153V0h51v153h153v51z" /></svg></span>
                     </span>
                  </div>
                  <div class="accordion-content transition-all">
                     <div class="answer py-sm">
                        <div class="text-wrap w-full font-weight-light">
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Head Office</h4>
                              <p>Ewe Store It Ltd<br>
                                 Wincanton Business Park,<br>
                                 Wincanton,<br>
                                 Somerset<br>
                                 BA9 9RU
                              </p>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Telephone</h4>
                              <a href="tel:+44 (0) 1963 34065" class="no-underline font-color-inherit hover:font-color-pink">+44 (0) 1963 34065</a>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Email</h4>
                              <a href="mailto:enquiries@ewestoreit.com" class="no-underline font-color-inherit hover:font-color-pink">enquiries@ewestoreit.com</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="accordion border-b hover:shadow-bottom px-xs">
                  <div data-filterby="content_13" class="accordion-label accordion-toggle pt-xs pb-xs transition-all">
                     <h3 class="question font-weight-bold">Surrey</h3>
                     <span class="toggle-sign icon font-color-pink transition-all">
                        <span class="p-xxs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357 357">
                              <path fill="currentColor" d="M357 204H204v153h-51V204H0v-51h153V0h51v153h153v51z" /></svg></span>
                     </span>
                  </div>
                  <div class="accordion-content transition-all">
                     <div class="answer py-sm">
                        <div class="text-wrap w-full font-weight-light">
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Head Office</h4>
                              <p>Ewe Store It Ltd<br>
                                 Wincanton Business Park,<br>
                                 Wincanton,<br>
                                 Somerset<br>
                                 BA9 9RU
                              </p>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Telephone</h4>
                              <a href="tel:+44 (0) 1963 34065" class="no-underline font-color-inherit hover:font-color-pink">+44 (0) 1963 34065</a>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Email</h4>
                              <a href="mailto:enquiries@ewestoreit.com" class="no-underline font-color-inherit hover:font-color-pink">enquiries@ewestoreit.com</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="accordion border-b hover:shadow-bottom px-xs">
                  <div data-filterby="content_14" class="accordion-label accordion-toggle pt-xs pb-xs transition-all">
                     <h3 class="question font-weight-bold">West Sussex</h3>
                     <span class="toggle-sign icon font-color-pink transition-all">
                        <span class="p-xxs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357 357">
                              <path fill="currentColor" d="M357 204H204v153h-51V204H0v-51h153V0h51v153h153v51z" /></svg></span>
                     </span>
                  </div>
                  <div class="accordion-content transition-all">
                     <div class="answer py-sm">
                        <div class="text-wrap w-full font-weight-light">
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Head Office</h4>
                              <p>Ewe Store It Ltd<br>
                                 Wincanton Business Park,<br>
                                 Wincanton,<br>
                                 Somerset<br>
                                 BA9 9RU
                              </p>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Telephone</h4>
                              <a href="tel:+44 (0) 1963 34065" class="no-underline font-color-inherit hover:font-color-pink">+44 (0) 1963 34065</a>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Email</h4>
                              <a href="mailto:enquiries@ewestoreit.com" class="no-underline font-color-inherit hover:font-color-pink">enquiries@ewestoreit.com</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="accordion border-b hover:shadow-bottom px-xs">
                  <div data-filterby="content_15" class="accordion-label accordion-toggle pt-xs pb-xs transition-all">
                     <h3 class="question font-weight-bold">Wiltshire</h3>
                     <span class="toggle-sign icon font-color-pink transition-all">
                        <span class="p-xxs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357 357">
                              <path fill="currentColor" d="M357 204H204v153h-51V204H0v-51h153V0h51v153h153v51z" /></svg></span>
                     </span>
                  </div>
                  <div class="accordion-content transition-all">
                     <div class="answer py-sm">
                        <div class="text-wrap w-full font-weight-light">
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Head Office</h4>
                              <p>Ewe Store It Ltd<br>
                                 Wincanton Business Park,<br>
                                 Wincanton,<br>
                                 Somerset<br>
                                 BA9 9RU
                              </p>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Telephone</h4>
                              <a href="tel:+44 (0) 1963 34065" class="no-underline font-color-inherit hover:font-color-pink">+44 (0) 1963 34065</a>
                           </div>
                           <div>
                              <h4 class="font-weight-normal mb-xxs">Email</h4>
                              <a href="mailto:enquiries@ewestoreit.com" class="no-underline font-color-inherit hover:font-color-pink">enquiries@ewestoreit.com</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
         </div>
      </div>
   </div>
</section>