<section class="py-2md lg:py-2lg">
   <div class="container lg:container-xl mx-auto">
      <article>
         <div class="text-wrap text-center">
            @@include('./_includes/_commons/h3-lg.html', {
            "title": "Testimonials",
            "className": "font-color-cyan font-size-2md"
            })
            @@loop('./_includes/_commons/para.html', [
               {"paraText": "“Cat libusaeribus dolorem quas ut plicias perunti onsequiatur, sam, volupta volora il is porepudam, que dolorem. Dus, con ea dolectatus quatur aut magnietur, sed qui voloreicias corehendunte aped que cumqui delenectorit inus, hillicae ne lacid eseri cupta sin prorit que labore velectem sandipsus sam voluptas vendam sit alitatem lique pos”"}
            ])
            @@include('./_includes/_commons/button.html', {"link": "testimonials.html","className": "bg-aqua font-color-white","buttonText": "More Reviews"})
         </div>
      </article>
   </div>
</section>