<div class="py-xl @@bgClasses">
   <div class="container md:container-sm lg:container-xl mx-auto">
      <hgroup class="text-wrap w-full mb-md">
         @@include('./_includes/_commons/h2.html', {"title": "Left Title","className": "font-color-cyan"})
      </hgroup>
      <div class="-m-sm flex-col lg:flex-row flex-wrap text-center align-center">
         <div class="p-sm lg:col-4 flex-col">
            <div class="flex-col flex-stretch">
               <section class="ratio-1x1 mb-sm " data-aos="zoom-in" data-aos-delay="100" data-aos-duration="700">
                  <div class="pos-absolute pin flex-col flex-stretch bg-cover bg-center" style="background-image:url('./images/iStock-468652844-(1).jpg')"></div>
               </section>
               <section class="text-wrap w-full" data-aos="fade-up" data-aos-delay="200" data-aos-duration="700">
                  @@include('./_includes/_commons/h3.html', {"title": "Sub Header","className": "font-color-cyan"})
                  @@loop('./_includes/_commons/para.html', [{"paraText": "Bis Catis pectusc iervitiaed pericaederri tum esitemus; Catus; nem sent grae rem adhum pati."}])
                  @@include('./_includes/_commons/button.html', {"link": "#","className": "bg-aqua font-color-white","buttonText": "Link Here"})
               </section>
            </div>
         </div>
         <div class="p-sm lg:col-4 flex-col">
            <div class="flex-col flex-stretch">
               <section class="ratio-1x1 mb-sm " data-aos="zoom-in" data-aos-delay="300" data-aos-duration="700">
                  <div class="pos-absolute pin flex-col flex-stretch bg-cover bg-center" style="background-image:url('./images/iStock-903449576.jpg')"></div>
               </section>
               <section class="text-wrap w-full" data-aos="fade-up" data-aos-delay="400" data-aos-duration="700">
                  @@include('./_includes/_commons/h3.html', {"title": "Sub Header","className": "font-color-cyan"})
                  @@loop('./_includes/_commons/para.html', [{"paraText": "Bis Catis pectusc iervitiaed pericaederri tum esitemus; Catus; nem sent grae rem adhum pati."}])
                  @@include('./_includes/_commons/button.html', {"link": "#","className": "bg-aqua font-color-white","buttonText": "Link Here"})
               </section>
            </div>
         </div>
         <div class="p-sm lg:col-4 flex-col">
            <div class="flex-col flex-stretch">
               <section class="ratio-1x1 mb-sm " data-aos="zoom-in" data-aos-delay="500" data-aos-duration="700">
                  <div class="pos-absolute pin flex-col flex-stretch bg-cover bg-center" style="background-image:url('./images/iStock-518380333.jpg')"></div>
               </section>
               <section class="text-wrap w-full" data-aos="fade-up" data-aos-delay="700" data-aos-duration="700">
                  @@include('./_includes/_commons/h3.html', {"title": "Sub Header","className": "font-color-cyan"})
                  @@loop('./_includes/_commons/para.html', [{"paraText": "Bis Catis pectusc iervitiaed pericaederri tum esitemus; Catus; nem sent grae rem adhum pati."}])
                  @@include('./_includes/_commons/button.html', {"link": "#","className": "bg-aqua font-color-white","buttonText": "Link Here"})
               </section>
            </div>
         </div>
      </div>
   </div>
</div>