<section class="@@sectionClasses">
   <div class="@@bgClasses">
      <div class="container md:container-sm lg:container-xl mx-auto">
         @@if (context.title) {
         <hgroup class="text-wrap w-full mb-md">
            @@include('./_includes/_commons/h3-lg.html', {
            "title": "<span>@@title</span>",
            "className": "@@titleClass"
            })
         </hgroup>
         }
         <div class="js_media_Gallery_Popup -m-sm flex-row flex-wrap text-center">
            <div class="p-sm col-12 md:col-4 flex-col" data-aos="zoom-in" data-aos-delay="100" data-aos-duration="700">
               <div class="flex-col flex-stretch">
                  <section class="ratio-custom-1">
                     <a href="./images/iStock-118238290.jpg" class="pos-absolute pin image-rollover flex-col">
                        <div class="flex-col flex-stretch bg-center bg-cover" style="background-image:url('./images/iStock-118238290.jpg')"></div>
                     </a>
                  </section>
               </div>
            </div>
            <div class="p-sm col-12 md:col-4 flex-col" data-aos="zoom-in" data-aos-delay="300" data-aos-duration="700">
               <div class="flex-col flex-stretch">
                  <section class="ratio-custom-1">
                     <a href="./images/iStock-511308674.jpg" class="pos-absolute pin image-rollover flex-col">
                        <div class="flex-col flex-stretch bg-center bg-cover" style="background-image:url('./images/iStock-511308674.jpg')"></div>
                     </a>
                  </section>
               </div>
            </div>
            <div class="p-sm col-12 md:col-4 flex-col" data-aos="zoom-in" data-aos-delay="500" data-aos-duration="700">
               <div class="flex-col flex-stretch">
                  <section class="ratio-custom-1">
                     <a href="./images/iStock-118238313.jpg" class="pos-absolute pin image-rollover flex-col">
                        <div class="flex-col flex-stretch bg-center bg-cover" style="background-image:url('./images/iStock-118238313.jpg')"></div>
                     </a>
                  </section>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>