<section class="pt-2md lg:pt-2xl">
   <div class="overflow-hidden">
      <div class="-m-xs flex-row flex-wrap">
         <div class="col-12 lg:col-6 p-xs">
            <section class="js_media_Gallery_Popup flex-auto ratio-16x9 ">
               <div class="pos-absolute pin flex-stretch bg-center bg-cover" style="background-image: url('./images/iStock-131981972.jpg')"></div>
            </section>
         </div>
         <div class="col-12 lg:col-6 p-xs">
            <section class="js_media_Gallery_Popup flex-auto ratio-16x9 ">
               <div class="pos-absolute pin flex-stretch bg-center bg-cover" style="background-image: url('./images/iStock-494760682.jpg')"></div>
            </section>
         </div>
      </div>
   </div>
</section>