<section class="pt-2md lg:pt-2xl">
   <div class="container-fluid md:container-md lg:container-fluid mx-auto flex-row flex-wrap">
      <div class="col-12 lg:col-6 bg-cyan">
         <div class="flex-col">
            <section class="ratio-16x9 ">
               <div class="pos-absolute pin flex-col">
                  <div class="flex-stretch bg-center bg-cover" style="background-image: url('./images/iStock-135385164.jpg')">
                  </div>
               </div>
            </section>
            <section class="bg-inherit font-color-white md:p-md p-md">
               @@include('./_includes/_commons/h3.html',{
               "title": "Two Column Heading<br> With an Image",
               "className": ""
               })
            </section>
         </div>
      </div>
      <div class="col-12 lg:col-6 bg-aqua">
         <div class="flex-col">
            <section class="ratio-16x9 ">
               <div class="pos-absolute pin flex-col">
                  <div class="flex-stretch bg-center bg-cover" style="background-image: url('./images/iStock-494765544-(1).jpg')">
                  </div>
               </div>
            </section>
            <section class="bg-inherit font-color-white md:p-md p-md">
               @@include('./_includes/_commons/h3.html',{
               "title": "Two Column Heading<br> With an Image",
               "className": ""
               })
            </section>
         </div>
      </div>
   </div>
</section>