<section class="@@sectionClasses">
   <div class="py-2md lg:py-lg">      
      <div class="container md:container-md lg:container-xl mx-auto">
         <div class="flex-row lg:flex-row-reverse flex-wrap -mx-sm xl:-mx-xs -my-sm">
            <section class="@@col1Classes px-sm xl:px-xs py-sm" data-aos="fade" data-aos-delay="300" data-aos-duration="700">
               <section class="ratio-16x9 " data-aos="fade" data-aos-delay="100" data-aos-duration="700">
                  <div class="pos-absolute pin flex-col flex-stretch bg-no-repeat @@bgImgClasses" style="background-image:url('@@bgImage')"></div>
               </section>
            </section>
            <section class="@@col2Classes px-sm xl:px-xs py-sm" data-aos="fade" data-aos-delay="100" data-aos-duration="700">
                  <div class="text-wrap w-full @@textWrapClasses">
                     @@if (context.title) {
                        @@include('./_includes/_commons/h2.html', {
                        "title": "<span>@@title</span>",
                        "className": "@@titleClass"
                        })
                     }
                     @@if (context.subtitle) {
                        @@include('./_includes/_commons/h3.html', {
                        "title": "<span>@@subtitle</span>",
                        "className": "@@subtitleClass"
                        })
                     }
                     @@if (context.text) {
                        @@text
                     }
                     @@if (context.button === true) {
                        @@include('./_includes/_commons/button.html', {
                        "link": "@@buttonLink",
                        "className": "@@buttonClass font-color-white",
                        "buttonText": "@@buttonText"
                        })
                     }
                  </div>
            </section>
         </div>
      </div>
   </div>
</section>