<div class="bg-dark font-color-white py-xl">
   <div class="container md:container-md lg:container-xl mx-auto">
      @@include('./_includes/_commons/h3-lg.html', {
      "title": "Useful Links",
      "className": "font-color-inherit font-size-2md"
      })

      <div class="" data-aos="fade-up" data-aos-delay="100" data-aos-duration="700">
         <div class="-m-xs lg:-m-md flex-row flex-wrap py-md align-center">
            <div class="flex-auto p-xs lg:p-md">
               <h2 class="font-weight-bold mb-xxs">Title Here</h2>
               <p>Brief into here about the link and why it is useful then a link at the end to visit the site</p>
            </div>
            <div class="flex-none p-xs lg:p-md">
               @@include('./_includes/_commons/button.html', {"link": "#","className": "bg-aqua font-color-white","buttonText": "Visit Site"})
            </div>
         </div>
      </div>
      <div class="pb-xxxs bg-center" style="background-image: url('images/border-pattern.png')"></div>
      
      <div class="" data-aos="fade-up" data-aos-delay="300" data-aos-duration="700">
         <div class="-m-xs lg:-m-md flex-row flex-wrap py-md align-center">
            <div class="flex-auto p-xs lg:p-md">
               <h2 class="font-weight-bold mb-xxs">Title Here</h2>
               <p>Brief into here about the link and why it is useful then a link at the end to visit the site</p>
            </div>
            <div class="flex-none p-xs lg:p-md">
               @@include('./_includes/_commons/button.html', {"link": "#","className": "bg-aqua font-color-white","buttonText": "Visit Site"})
            </div>
         </div>
      </div>
      <div class="pb-xxxs bg-center" style="background-image: url('images/border-pattern.png')"></div>
      
      <div class="" data-aos="fade-up" data-aos-delay="500" data-aos-duration="700">
         <div class="-m-xs lg:-m-md flex-row flex-wrap py-md align-center">
            <div class="flex-auto p-xs lg:p-md">
               <h2 class="font-weight-bold mb-xxs">Title Here</h2>
               <p>Brief into here about the link and why it is useful then a link at the end to visit the site</p>
            </div>
            <div class="flex-none p-xs lg:p-md">
               @@include('./_includes/_commons/button.html', {"link": "#","className": "bg-aqua font-color-white","buttonText": "Visit Site"})
            </div>
         </div>
      </div>
      <div class="pb-xxxs bg-center" style="background-image: url('images/border-pattern.png')"></div>

   </div>
</div>