<section class="pt-2md lg:pt-2xl">
   <section class="js_media_Gallery_Popup flex-auto ratio-16x9 lg:ratio-5x2 ">
      <a href="https://www.youtube.com/watch?v=cKnHcB7LNrw" class="pos-absolute pin has-video image-rollover flex-col
            hover:shadow-parent-lg">
         <div class="flex-stretch bg-center bg-cover" style="background-image: url('./images/iStock-960184566-(1).jpg')">
            <!-- ! Play button -->
            <div class="
                     pointer-events-none
                     icon icon-2lg
                     bg-pink radius-full
                     pos-absolute pin-tl-50 pin-tl50 
                     shadow-child transition-all">
               <span class="flex-row justify-center align-center">
                  <span class="d-inline-block icon icon-md ml-0 font-color-white">
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357 357">
                        <path fill="currentColor" d="M38.25 0v357l280.5-178.5z" /></svg>
                  </span>
               </span>
            </div>
         </div>
      </a>
   </section>
</section>