.container { padding: 2rem 0; }

.list { -ms-flex-wrap: wrap; flex-wrap: wrap; }

.list .column { margin-bottom: 1rem; }

.list .column img { border-radius: 1rem; overflow: hidden; border: .1rem solid; }

@media all and (min-width: 640px) { .list .column { max-width: 25%; } }
