/*Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* Base */
*, *:after, *:before { -webkit-box-sizing: inherit; box-sizing: inherit; margin: 0; padding: 0; outline: none; }

html { -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 62.5%; }

body { color: #405c7f; font-family: "lato", "Helvetica", "Arial", sans-serif; font-size: 1.4rem; font-weight: 400; line-height: 1.5; overflow-x: hidden; }

/* Typography */
b, strong { font-weight: 700; }

p { margin-top: 0; }

h1, .h1 { font-size: 3.6rem; }

h2, .h2 { font-size: 2.4rem; }

h3, .h3 { font-size: 2.2rem; }

h4, .h4 { font-size: 1.8rem; }

h5, .h5 { font-size: 1.6rem; }

h6, .h6 { font-size: 1.4rem; letter-spacing: 0; }

.font-primary { font-family: "trajan-pro-3", serif; font-weight: 700; }

.subtitle { letter-spacing: .3rem; font-weight: 400; }

.para { line-height: 1.8; }

/* Link */
a { color: inherit; text-decoration: none; }

a:not(.icon):focus, a:not(.icon):hover { text-decoration: underline; }

/* List */
dl, ol, ul { list-style: none; margin-top: 0; padding-left: 0; }

dl dl, dl ol, dl ul, ol dl, ol ol, ol ul, ul dl, ul ol, ul ul { font-size: 90%; margin: 1.5rem 0 1.5rem 3rem; }

ol { list-style: decimal; }

ul { list-style: circle; }

/* Spacing */
dd, dt, li { margin-bottom: 1.2rem; }

h1:not(:last-child), h2:not(:last-child), h3:not(:last-child), h4:not(:last-child), h5:not(:last-child), h6:not(:last-child) { margin-bottom: 2rem; }

fieldset, input, select, textarea { margin-bottom: 0; }

blockquote:not(:last-child), dl:not(:last-child), form:not(:last-child), ol:not(:last-child), p:not(:last-child), pre:not(:last-child), table:not(:last-child), address:not(:last-child), ul:not(:last-child) { margin-bottom: 1.2rem; }

/* Images */
img { display: inline-block; max-width: 100%; vertical-align: top; }

.image { display: inline-block; }

.image img { min-height: 100%; width: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center; -webkit-transition: all 0.2s 0s ease-in-out; -o-transition: all 0.2s 0s ease-in-out; transition: all 0.2s 0s ease-in-out; }

.image[class*="aspect-ratio"] { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 100%; }

.image-wrap { overflow: hidden; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background-position: center; background-size: cover; background-color: #f2f2f2; }

/* Button */
.button { margin: 0; border-radius: 0; font-family: "lato", "Helvetica", "Arial", sans-serif; font-size: 1.2rem; line-height: inherit; letter-spacing: .05em; padding: 1rem 2.5rem; text-align: center; text-transform: uppercase; display: inline-block; text-decoration: none !important; -webkit-transition: all 0.5s 0s ease-in-out; -o-transition: all 0.5s 0s ease-in-out; transition: all 0.5s 0s ease-in-out; border: 0.1rem solid #92b1d4; border-radius: 0.4rem; background-color: transparent; color: #405c7f; }

.button.disabled, .button[disabled] { cursor: default; opacity: 0.5; color: rgba(64, 92, 127, 0.5); pointer-events: none; }

.button.is_block { display: block; }

.button.is_auto { min-width: 0; }

.button:not(span) { cursor: pointer; }

.button_icon { height: 16px; }

.button:hover { background-color: #92b1d4; color: #ffffff; }

.buttons .button { display: inline-block; }

.buttons .button + .button { margin-left: 1rem; }

.close_button { width: 24px; height: 24px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.close_button > span { display: inline-block; width: 100%; height: 1px; background-color: #405c7f; margin-top: -1px; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.close_button > span:last-child { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

/* Layout */
.container { padding: 0 4rem; width: 100%; }

.container .container-col--inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100%; width: 100%; }

/* Utilities */
.text-center { text-align: center; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.text-upper { text-transform: uppercase; }

.full-grow { -webkit-box-flex: 1 !important; -ms-flex: 1 !important; flex: 1 !important; }

._h100 { min-height: 100%; }

.m_auto { margin: auto; }

.m_t-auto { margin-top: auto; }

.m_b-auto { margin-bottom: auto; }

.m_l-auto { margin-left: auto; }

.m_r-auto { margin-right: auto; }

/*Aspect Ratio*/
.aspect-ratio_1x1 { position: relative; width: 100%; }

.aspect-ratio_1x1:before { display: block; content: ""; width: 100%; padding-top: 100%; }

.aspect-ratio_1x1 > *:first-child { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }

@media all and (max-width: 900px) { .aspect-ratio_16x9--sm { position: relative; width: 100%; }
  .aspect-ratio_16x9--sm:before { display: block; content: ""; width: 100%; padding-top: 56.25%; }
  .aspect-ratio_16x9--sm > *:first-child { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
  .aspect-ratio_1x1--sm { position: relative; width: 100%; }
  .aspect-ratio_1x1--sm:before { display: block; content: ""; width: 100%; padding-top: 100%; }
  .aspect-ratio_1x1--sm > *:first-child { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
  .aspect-ratio_5x6--sm { position: relative; width: 100%; }
  .aspect-ratio_5x6--sm:before { display: block; content: ""; width: 100%; padding-top: 120%; }
  .aspect-ratio_5x6--sm > *:first-child { position: absolute; top: 0; right: 0; bottom: 0; left: 0; } }

/* Grid */
.grid { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.center_a { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.center_v { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.has-gutter { margin-left: -2rem; margin-right: -2rem; }

.has-gutter > .col { padding-left: 2rem; padding-right: 2rem; }

.has-gutter_thin { margin-left: -1rem; margin-right: -1rem; }

.has-gutter_thin > .col { padding-left: 1rem; padding-right: 1rem; }

.has-gutter_skinny { margin-left: -0.5rem; margin-right: -0.5rem; }

.has-gutter_skinny > .col { padding-left: 0.5rem; padding-right: 0.5rem; }

.has-list { margin-top: -2rem; }

.has-list > .col { margin-top: 2rem; }

.has-list_reg, .has-list.has-gutter { margin-top: -4rem; }

.has-list_reg > .col, .has-list.has-gutter > .col { margin-top: 4rem; }

.has-list_thin, .has-list.has-gutter_thin { margin-top: -2rem; }

.has-list_thin > .col, .has-list.has-gutter_thin > .col { margin-top: 2rem; }

.has-list_skinny, .has-list.has-gutter_skinny { margin-top: -1rem; }

.has-list_skinny > .col, .has-list.has-gutter_skinny > .col { margin-top: 1rem; }

.col { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.col-1 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 8.33333%; }

.col-2 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 16.66667%; }

.col-3 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 25%; }

.col-4 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 33.33333%; }

.col-5 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 41.66667%; }

.col-6 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 50%; }

.col-7 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 58.33333%; }

.col-8 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 66.66667%; }

.col-9 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 75%; }

.col-10 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 83.33333%; }

.col-11 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 91.66667%; }

.col-12 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 100%; }

.col-offset-0 { margin-left: 0%; }

.col-offset-1 { margin-left: 8.33333%; }

.col-offset-2 { margin-left: 16.66667%; }

.col-offset-3 { margin-left: 25%; }

.col-offset-4 { margin-left: 33.33333%; }

.col-offset-5 { margin-left: 41.66667%; }

.col-offset-6 { margin-left: 50%; }

.col-offset-7 { margin-left: 58.33333%; }

.col-offset-8 { margin-left: 66.66667%; }

.col-offset-9 { margin-left: 75%; }

.col-offset-10 { margin-left: 83.33333%; }

.col-offset-11 { margin-left: 91.66667%; }

.col-offset-12 { margin-left: 100%; }

.col-auto { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: auto; }

.col-flex { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

@media all and (max-width: 900px) { .col-sm-1 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 8.33333%; }
  .col-sm-2 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 16.66667%; }
  .col-sm-3 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 25%; }
  .col-sm-4 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 33.33333%; }
  .col-sm-5 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 41.66667%; }
  .col-sm-6 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 50%; }
  .col-sm-7 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 58.33333%; }
  .col-sm-8 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 66.66667%; }
  .col-sm-9 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 75%; }
  .col-sm-10 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 83.33333%; }
  .col-sm-11 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 91.66667%; }
  .col-sm-12 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 100%; }
  .col-sm-offset-0 { margin-left: 0%; }
  .col-sm-offset-1 { margin-left: 8.33333%; }
  .col-sm-offset-2 { margin-left: 16.66667%; }
  .col-sm-offset-3 { margin-left: 25%; }
  .col-sm-offset-4 { margin-left: 33.33333%; }
  .col-sm-offset-5 { margin-left: 41.66667%; }
  .col-sm-offset-6 { margin-left: 50%; }
  .col-sm-offset-7 { margin-left: 58.33333%; }
  .col-sm-offset-8 { margin-left: 66.66667%; }
  .col-sm-offset-9 { margin-left: 75%; }
  .col-sm-offset-10 { margin-left: 83.33333%; }
  .col-sm-offset-11 { margin-left: 91.66667%; }
  .col-sm-offset-12 { margin-left: 100%; }
  .col-sm-auto { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: auto; }
  .col-sm-flex { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; } }

@media all and (max-width: 767px) { .col-xs-1 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 8.33333%; }
  .col-xs-2 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 16.66667%; }
  .col-xs-3 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 25%; }
  .col-xs-4 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 33.33333%; }
  .col-xs-5 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 41.66667%; }
  .col-xs-6 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 50%; }
  .col-xs-7 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 58.33333%; }
  .col-xs-8 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 66.66667%; }
  .col-xs-9 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 75%; }
  .col-xs-10 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 83.33333%; }
  .col-xs-11 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 91.66667%; }
  .col-xs-12 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 100%; }
  .col-xs-offset-0 { margin-left: 0%; }
  .col-xs-offset-1 { margin-left: 8.33333%; }
  .col-xs-offset-2 { margin-left: 16.66667%; }
  .col-xs-offset-3 { margin-left: 25%; }
  .col-xs-offset-4 { margin-left: 33.33333%; }
  .col-xs-offset-5 { margin-left: 41.66667%; }
  .col-xs-offset-6 { margin-left: 50%; }
  .col-xs-offset-7 { margin-left: 58.33333%; }
  .col-xs-offset-8 { margin-left: 66.66667%; }
  .col-xs-offset-9 { margin-left: 75%; }
  .col-xs-offset-10 { margin-left: 83.33333%; }
  .col-xs-offset-11 { margin-left: 91.66667%; }
  .col-xs-offset-12 { margin-left: 100%; }
  .col-xs-auto { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: auto; }
  .col-xs-flex { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; } }

/*page Loader*/
.pageLoader { position: fixed; background-color: #405c7f; top: 0; left: 0; height: 100%; width: 100%; z-index: 1000100; background-image: url("../images/logo.png"); background-repeat: no-repeat; background-position: center; background-size: 28rem; }

.pageLoader.is-hidden { -webkit-animation: 1.8s .6s loadingDone ease-in-out both; animation: 1.8s .6s loadingDone ease-in-out both; }

@-webkit-keyframes loadingDone { 0% { opacity: 1; }
  100%, 80% { opacity: 0;
    z-index: -9; } }

@keyframes loadingDone { 0% { opacity: 1; }
  100%, 80% { opacity: 0;
    z-index: -9; } }

.tabletRoate { position: fixed; background-color: #405c7f; top: 0; left: 0; height: 100%; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; opacity: 0; z-index: -10; -webkit-transition: all 0.5s 0s ease-in-out; -o-transition: all 0.5s 0s ease-in-out; transition: all 0.5s 0s ease-in-out; }

@media all and (orientation: portrait) and (min-width: 700px) { .tabletRoate { -webkit-animation: 1s 0s tabletRoateSign_show ease-in-out both; animation: 1s 0s tabletRoateSign_show ease-in-out both; } }

@-webkit-keyframes tabletRoateSign_show { 0% { opacity: 0;
    z-index: -10; }
  100% { opacity: 1;
    z-index: 100099; } }

@keyframes tabletRoateSign_show { 0% { opacity: 0;
    z-index: -10; }
  100% { opacity: 1;
    z-index: 100099; } }

/*Animation*/
@-webkit-keyframes smoothInUp { 0% { opacity: 0;
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem); }
  100% { opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@keyframes smoothInUp { 0% { opacity: 0;
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem); }
  100% { opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes smoothInRight { 0% { opacity: 0;
    -webkit-transform: translateX(4rem);
            transform: translateX(4rem); }
  100% { opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes smoothInRight { 0% { opacity: 0;
    -webkit-transform: translateX(4rem);
            transform: translateX(4rem); }
  100% { opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes smoothInDown { 0% { opacity: 0;
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem); }
  100% { opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes smoothInDown { 0% { opacity: 0;
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem); }
  100% { opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes smoothInLeft { 0% { opacity: 0;
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem); }
  100% { opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes smoothInLeft { 0% { opacity: 0;
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem); }
  100% { opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes smoothOutLeft { 100% { opacity: 0;
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem); }
  0% { opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes smoothOutLeft { 100% { opacity: 0;
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem); }
  0% { opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes smoothZoomIn { from { opacity: 0;
    -webkit-transform: scale3d(0.83, 0.83, 0.83);
            transform: scale3d(0.83, 0.83, 0.83); }
  50% { opacity: 1; } }

@keyframes smoothZoomIn { from { opacity: 0;
    -webkit-transform: scale3d(0.83, 0.83, 0.83);
            transform: scale3d(0.83, 0.83, 0.83); }
  50% { opacity: 1; } }

@-webkit-keyframes fadeIn { from { opacity: 0; }
  to { opacity: 1; } }

@keyframes fadeIn { from { opacity: 0; }
  to { opacity: 1; } }

.fadeIn { -webkit-animation-name: fadeIn; animation-name: fadeIn; }

@-webkit-keyframes fadeInLeft { from { opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to { opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInLeft { from { opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to { opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.fadeInLeft { -webkit-animation-name: fadeInLeft; animation-name: fadeInLeft; }

@-webkit-keyframes fadeOut { from { opacity: 1; }
  to { opacity: 0; } }

@keyframes fadeOut { from { opacity: 1; }
  to { opacity: 0; } }

.fadeOut { -webkit-animation-name: fadeOut; animation-name: fadeOut; }

@-webkit-keyframes fadeOutLeft { from { opacity: 1; }
  to { opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

@keyframes fadeOutLeft { from { opacity: 1; }
  to { opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

.fadeOutLeft { -webkit-animation-name: fadeOutLeft; animation-name: fadeOutLeft; }

@-webkit-keyframes slideInLeft { from { -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to { -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slideInLeft { from { -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to { -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.slideInLeft { -webkit-animation-name: slideInLeft; animation-name: slideInLeft; }

@-webkit-keyframes slideOutLeft { from { -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to { visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

@keyframes slideOutLeft { from { -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to { visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

.slideOutLeft { -webkit-animation-name: slideOutLeft; animation-name: slideOutLeft; }

/*Theme*/
.text-default { color: #405c7f; }

.text-primary { color: #92b1d4; }

.text-secondary { color: #576878; }

.bg-default { background-color: #405c7f; color: #ffffff; }

.bg-primary { background-color: #92b1d4; color: #ffffff; }

.bg-primary--light { background-color: #e4ecf4; color: #405c7f; }

.bg-secondary { background-color: #576878; color: #ffffff; }

/*cookie-message*/
#cookie-message { position: fixed; bottom: 0; top: auto; left: 0; right: 0; z-index: 100099; background-color: #ffffff; color: #405c7f; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 2rem 4rem; font-size: 1.4rem; outline: 1px solid #e4ecf4; -webkit-box-shadow: 0 0 5px 0 rgba(87, 104, 120, 0.5); box-shadow: 0 0 5px 0 rgba(87, 104, 120, 0.5); }

/*Hamburger*/
.hamburger { width: 24px; height: 14px; right: 1rem; -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .5s ease-in-out; -o-transition: .5s ease-in-out; transition: .5s ease-in-out; cursor: pointer; }

.hamburger span { display: block; position: absolute; height: 1px; width: 100%; border-top: 1px solid #ffffff; border-radius: 2px; opacity: 1; left: 0; -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out; }

.hamburger span:nth-child(1) { top: 0px; }

.hamburger span:nth-child(2), .hamburger span:nth-child(3) { top: 6px; }

.hamburger span:nth-child(4) { top: 12px; }

.hamburger.is-active span:nth-child(1) { top: 6px; width: 0%; left: 50%; }

.hamburger.is-active span:nth-child(2) { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.hamburger.is-active span:nth-child(3) { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

.hamburger.is-active span:nth-child(4) { top: 6px; width: 0%; left: 50%; }

/*Header*/
.header { background-color: #405c7f; color: #ffffff; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center; padding: 3rem 4rem; position: relative; z-index: 100002; }

.header.header_fixed, .header_fixed .header, .header.header_abs, .header_abs .header { position: absolute; right: 0; top: 0; left: 0; bottom: auto; }

.header.header_fixed, .header_fixed .header { position: fixed; }

.header_fixed .header, .header_abs .header, .header.header_light, .header_light .header { background-color: transparent; }

.header .hamburger { position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 4rem; z-index: 99; }

.brand-logo { margin: auto; display: inline-block; }

.brand-logo img { height: 4rem; }

/*Navbar*/
.navbar { position: fixed; overflow: hidden; z-index: 19; background-color: rgba(64, 92, 127, 0.92); top: 0; bottom: 0; left: 0; right: auto; width: 100%; max-width: 48rem; -webkit-animation: .5s 0s fadeOutLeft both; animation: .5s 0s fadeOutLeft both; }

.navbar-inner { display: -webkit-box; display: -ms-flexbox; display: flex; height: 100%; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.navbar ul { list-style: none; text-align: center; margin: 0; padding: 0; font-size: 1.8rem; text-transform: uppercase; font-weight: 300; color: rgba(255, 255, 255, 0.6); }

.navbar ul li:hover, .navbar ul li.active { color: white; }

.navbar ul li.active { font-weight: 400; }

.navbar ul a { text-decoration: none !important; display: inline-block; padding: 1rem; }

.navbar.is-open { -webkit-animation: .3s 0s fadeInLeft both; animation: .3s 0s fadeInLeft both; }

.navbar.is-open ul li { opacity: 1; }

.navbar.is-open ul li:nth-child(1) { -webkit-animation: 0.3s 0.1s fadeInLeft both; animation: 0.3s 0.1s fadeInLeft both; }

.navbar.is-open ul li:nth-child(2) { -webkit-animation: 0.3s 0.2s fadeInLeft both; animation: 0.3s 0.2s fadeInLeft both; }

.navbar.is-open ul li:nth-child(3) { -webkit-animation: 0.3s 0.3s fadeInLeft both; animation: 0.3s 0.3s fadeInLeft both; }

.navbar.is-open ul li:nth-child(4) { -webkit-animation: 0.3s 0.4s fadeInLeft both; animation: 0.3s 0.4s fadeInLeft both; }

.navbar.is-open ul li:nth-child(5) { -webkit-animation: 0.3s 0.5s fadeInLeft both; animation: 0.3s 0.5s fadeInLeft both; }

.navbar.is-open ul li:nth-child(6) { -webkit-animation: 0.3s 0.6s fadeInLeft both; animation: 0.3s 0.6s fadeInLeft both; }

.navbar.is-open ul li:nth-child(7) { -webkit-animation: 0.3s 0.7s fadeInLeft both; animation: 0.3s 0.7s fadeInLeft both; }

.navbar.is-open ul li:nth-child(8) { -webkit-animation: 0.3s 0.8s fadeInLeft both; animation: 0.3s 0.8s fadeInLeft both; }

.navbar.is-open ul li:nth-child(9) { -webkit-animation: 0.3s 0.9s fadeInLeft both; animation: 0.3s 0.9s fadeInLeft both; }

.navbar.is-open ul li:nth-child(10) { -webkit-animation: 0.3s 1s fadeInLeft both; animation: 0.3s 1s fadeInLeft both; }

.navbar.is-open ul li:nth-child(11) { -webkit-animation: 0.3s 1.1s fadeInLeft both; animation: 0.3s 1.1s fadeInLeft both; }

.navbar.is-open ul li:nth-child(12) { -webkit-animation: 0.3s 1.2s fadeInLeft both; animation: 0.3s 1.2s fadeInLeft both; }

/*Footer*/
.footer { background-color: #ffffff; color: #405c7f; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 3rem 4rem; position: relative; font-size: 1.4rem; }

.footer.footer_fixed, .footer_fixed .footer, .footer.footer_abs, .footer_abs .footer { background-color: transparent; position: absolute; z-index: 100002; right: 0; top: auto; left: 0; bottom: 0; }

.footer.footer_fixed, .footer_fixed .footer { position: fixed; }

.footer_fixed .footer .links, .footer_abs .footer .links, .footer.footer_light .links, .footer_light .footer .links { color: #ffffff; }

.footer .links { list-style: none; }

.footer .links li { display: inline-block; margin-bottom: 0 !important; }

.footer .links li:not(:last-child) { padding-right: .5em; }

.footer .links li:not(:last-child):after { content: '/'; margin-left: .5em; }

/*Home page pagination*/
.pagination { position: fixed; left: 0; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); z-index: 10; list-style: none; margin: 0; padding: 0; }

.pagination a { color: #ffffff; text-transform: uppercase; font-size: 1.3rem; font-weight: 300; text-decoration: none !important; position: relative; padding-left: 6rem; height: 2.4rem; display: inline-block; }

.pagination a span { text-shadow: 0px 0px 2px #000000; -webkit-transform-origin: left center; -ms-transform-origin: left center; transform-origin: left center; display: inline-block; -webkit-transition: -webkit-transform .5s ease-in-out; transition: -webkit-transform .5s ease-in-out; -o-transition: transform .5s ease-in-out; transition: transform .5s ease-in-out; transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out; }

.pagination a:before { content: ""; position: absolute; top: 50%; left: 0; border-top: .1rem solid; width: 2rem; -webkit-transition: width .5s ease-in-out; -o-transition: width .5s ease-in-out; transition: width .5s ease-in-out; -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8); box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8); }

.pagination a.active span { -webkit-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2); }

.pagination a.active:before { width: 4rem; }

/*Masonry*/
.masonry { /* Masonry container */ -webkit-column-count: 3; column-count: 3; -webkit-column-gap: 1rem; column-gap: 1rem; padding-top: 1rem; }

.masonry .item { /* Masonry bricks or child elements */ background-color: #eee; display: inline-block; margin: 0 0 1rem; width: 100%; vertical-align: top; }

/*Tiles*/
.tiles-wrapper { height: 100%; }

.tiles { height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 1rem 0; position: relative; }

.tiles .tile-col { -webkit-box-flex: 1; -ms-flex: auto; flex: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 0 .5rem; }

.tiles .tile-col:first-of-type { padding-left: 0; }

.tiles .tile-col:last-of-type { padding-right: 0; }

.tiles .tile-col .tile { padding: .5rem 0; }

.tiles .tile-col .tile:first-of-type { padding-top: 0; }

.tiles .tile-col .tile:last-of-type { padding-bottom: 0; }

.tiles .tile { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; }

.tiles .tile.row-6 { -ms-flex-preferred-size: 17%; flex-basis: 17%; }

.tiles .tile_auto { -webkit-box-flex: 0; -ms-flex: none; flex: none; }

.tiles .tile.tile-row .tile-col:first-of-type .tile { padding-left: 0; }

.tiles .tile.tile-row .tile-col:last-of-type .tile { padding-right: 0; }

.tiles .item { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; position: relative; margin: 0; }

.tiles .item > *:first-child { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }

.tiles .item-big:before { display: block; content: ""; width: 100%; padding-top: 178.10458%; }

.tiles .figure .caption-wrap { padding: 1em; }

@media all and (max-width: 900px) { .tiles-col-sm { min-height: auto; padding: .5rem 0; }
  .tiles-col-sm .tile-col { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; padding: .5rem 0; -webkit-box-ordinal-group: 1; -ms-flex-order: 0; order: 0; }
  .tiles-col-sm .tile-col.col-1 { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .tiles-col-sm .tile-col.col-1 .tile { padding: 0 .5rem; }
  .tiles-col-sm .tile-col.col-1 .tile:first-of-type { padding-left: 0; }
  .tiles-col-sm .tile-col.col-1 .tile:last-of-type { padding-right: 0; }
  .tiles-col-sm .tile-col.col-1 .tile .tile-col { padding: 0; }
  .tiles-col-sm .tile-col.col-6 > .tile { padding: .5rem 0; }
  .tiles-col-sm .tile-col.col-6 > .tile:first-of-type { padding-top: 0; }
  .tiles-col-sm .tile-col.col-6 > .tile:last-of-type { padding-bottom: 0; }
  .tiles-col-sm .tile-col.col-6 .tile-row .tile-col { padding: 0 .5rem; }
  .tiles-col-sm .tile-col.col-6 .tile-row .tile-col:first-of-type { padding-left: 0; }
  .tiles-col-sm .tile-col.col-6 .tile-row .tile-col:last-of-type { padding-right: 0; }
  .tiles-col-sm .tile-col.col-4 > .tile { padding: .5rem 0; }
  .tiles-col-sm .tile-col.col-4 > .tile:first-of-type { padding-top: 0; }
  .tiles-col-sm .tile-col.col-4 > .tile:last-of-type { padding-bottom: 0; }
  .tiles-col-sm .tile-col .tile { padding: 0; -webkit-box-flex: 1; -ms-flex: auto; flex: auto; }
  .tiles-col-sm .tile-col .tile.row-6 { -ms-flex-preferred-size: unset; flex-basis: unset; width: 43%; }
  .tiles-col-sm .tile-col.col-6 { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .tiles-col-sm .tile-col.col-6 .tile.row-6 { width: 100%; }
  .tiles-col-sm .tile-col.col-4 { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .tiles-col-sm .tile-col.col-4 .tile.row-6 { width: 100%; }
  .tiles-row-sm { min-height: auto; }
  .tiles-row-sm .tile-col { padding: .5rem 0; }
  .tiles-row-sm .tile-col:first-of-type { padding-top: 0; }
  .tiles-row-sm .tile-col:last-of-type { padding-bottom: 0; }
  .tiles-row-sm .tile-col .tile { padding: 0 .5rem; }
  .tiles-row-sm .tile-col .tile:first-of-type { padding-left: 0; }
  .tiles-row-sm .tile-col .tile:last-of-type { padding-right: 0; }
  .tiles-row-sm .tile-col.tile-col--sm { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .tiles-row-sm .tile-col.tile-col--sm > .tile { padding: .5rem 0; }
  .tiles-row-sm .tile-col.tile-col--sm > .tile:first-of-type { padding-top: 0; }
  .tiles-row-sm .tile-col.tile-col--sm > .tile:last-of-type { padding-bottom: 0; }
  .tiles-row-sm .tile-col.tile-col--sm > .tile .tile-col { padding: 0 .5rem; }
  .tiles-row-sm .tile-col.tile-col--sm > .tile .tile-col:first-of-type { padding-left: 0; }
  .tiles-row-sm .tile-col.tile-col--sm > .tile .tile-col:last-of-type { padding-right: 0; } }

/*hexagonImage*/
.hexagoneShape { position: absolute; z-index: 9; right: calc(36.8299% - 1rem); top: calc(60% - 1rem); -webkit-transform: translate(50%, -50%); -ms-transform: translate(50%, -50%); transform: translate(50%, -50%); outline: none !important; overflow: hidden; }

.hexagoneShape .image_inside { background-position: center; background-size: cover; background-repeat: no-repeat; }

.hexagoneShape .hexagone-ratio { position: relative; width: 100%; }

.hexagoneShape .hexagone-ratio:before { display: block; content: ""; width: 100%; padding-top: 115.47344%; }

.hexagoneShape .hexagone-ratio > *:first-child { position: absolute; top: 0; right: 0; bottom: 0; left: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.hexagoneShape .hexside { width: 100%; height: 150%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; position: relative; }

.hexagoneShape .hexside .hexside { height: 100%; background-color: #ffffff; }

.hexagoneShape .hexside_1, .hexagoneShape .hexside_2, .hexagoneShape .hexside_3 { overflow: hidden; }

.hexagoneShape .hexside_1, .hexagoneShape .hexside_4 { -webkit-transform: rotate(120deg); -ms-transform: rotate(120deg); transform: rotate(120deg); }

.hexagoneShape .hexside_2, .hexagoneShape .hexside_5 { -webkit-transform: rotate(-60deg); -ms-transform: rotate(-60deg); transform: rotate(-60deg); }

.hexagoneShape .hexside_3, .hexagoneShape .hexside_6 { -webkit-transform: rotate(-60deg); -ms-transform: rotate(-60deg); transform: rotate(-60deg); }

.hexagoneShape .hexside_3 { padding: 1rem; }

.hexagoneShape .hexside_4, .hexagoneShape .hexside_5, .hexagoneShape .hexside_6 { overflow: hidden; }

/*Figure*/
.figure { position: relative; z-index: 0; overflow: hidden; }

.figure-caption * { text-decoration: none !important; }

.figure-rollover { position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 1; background-color: rgba(146, 177, 212, 0.92); color: #ffffff; -webkit-animation: slideOutLeft .5s 0s ease-in-out both; animation: slideOutLeft .5s 0s ease-in-out both; }

.figure-rollover .caption-wrap { -webkit-animation: fadeOut .5s 0s ease-in-out both; animation: fadeOut .5s 0s ease-in-out both; }

.figure:hover .figure-rollover { -webkit-animation: slideInLeft .5s 0s ease-in-out both; animation: slideInLeft .5s 0s ease-in-out both; }

.figure:hover .figure-rollover .caption-wrap { -webkit-animation: fadeIn .5s .15s ease-in-out both; animation: fadeIn .5s .15s ease-in-out both; }

.figure .caption-wrap { height: 100%; width: 100%; padding: 3em; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: center; align-content: center; text-align: center; }

.figure .caption-title { text-transform: uppercase; }

/*owl_carousel*/
.owl-carousel, .owl-carousel .owl-item { -webkit-tap-highlight-color: transparent; position: relative; }

.owl-carousel { display: none; width: 100%; z-index: 1; }

.owl-carousel .owl-stage { position: relative; -ms-touch-action: pan-Y; -moz-backface-visibility: hidden; }

.owl-carousel .owl-stage:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }

.owl-carousel .owl-stage-outer { position: relative; overflow: hidden; -webkit-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item, .owl-carousel .owl-wrapper { -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item { min-height: 1px; float: left; -webkit-backface-visibility: hidden; -webkit-touch-callout: none; }

.owl-carousel .owl-item img { /*display:block;width:100%*/ }

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled { display: none; }

.no-js .owl-carousel, .owl-carousel.owl-loaded { display: block; }

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev { cursor: pointer; cursor: hand; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.owl-carousel.owl-loading { opacity: 0; display: block; }

.owl-carousel.owl-hidden { opacity: 0; }

.owl-carousel.owl-refresh .owl-item { visibility: hidden; }

.owl-carousel.owl-drag .owl-item { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.owl-carousel.owl-grab { cursor: move; cursor: -webkit-grab; cursor: grab; }

.owl-carousel.owl-rtl { direction: rtl; }

.owl-carousel.owl-rtl .owl-item { float: right; }

.owl-carousel .animated { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }

.owl-carousel .owl-animated-in { z-index: 0; }

.owl-carousel .owl-animated-out { z-index: 1; }

.owl-carousel .fadeOut { -webkit-animation-name: fadeOut; animation-name: fadeOut; }

@keyframes fadeOut { 0% { opacity: 1; }
  100% { opacity: 0; } }

.owl-height { -webkit-transition: height .5s ease-in-out; -o-transition: height .5s ease-in-out; transition: height .5s ease-in-out; }

.owl-carousel .owl-item .owl-lazy { opacity: 0; -webkit-transition: opacity .4s ease; -o-transition: opacity .4s ease; transition: opacity .4s ease; }

.owl-carousel .owl-item img.owl-lazy { -webkit-transform-style: preserve-3d; transform-style: preserve-3d; }

.owl-carousel .owl-video-wrapper { position: relative; height: 100%; background: #000; }

.owl-carousel .owl-video-play-icon { position: absolute; height: 80px; width: 80px; left: 50%; top: 50%; margin-left: -40px; margin-top: -40px; background: url(owl.video.play.png) no-repeat; cursor: pointer; z-index: 1; -webkit-backface-visibility: hidden; -webkit-transition: -webkit-transform .1s ease; transition: -webkit-transform .1s ease; -o-transition: transform .1s ease; transition: transform .1s ease; transition: transform .1s ease, -webkit-transform .1s ease; }

.owl-carousel .owl-video-play-icon:hover { -ms-transform: scale(1.3, 1.3); -webkit-transform: scale(1.3, 1.3); transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn { display: none; }

.owl-carousel .owl-video-tn { opacity: 0; height: 100%; background-position: center center; background-repeat: no-repeat; background-size: contain; -webkit-transition: opacity .4s ease; -o-transition: opacity .4s ease; transition: opacity .4s ease; }

.owl-carousel .owl-video-frame { position: relative; z-index: 1; height: 100%; width: 100%; }

/*Owl Theme default*/
.owl-theme .owl-dots, .owl-theme .owl-nav { text-align: center; -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav { margin-top: 10px; }

.owl-theme .owl-nav [class*=owl-] { color: #FFF; font-size: 14px; margin: 5px; padding: 4px 7px; background: #D6D6D6; display: inline-block; cursor: pointer; border-radius: 3px; }

.owl-theme .owl-nav [class*=owl-]:hover { background: #869791; color: #FFF; text-decoration: none; }

.owl-theme .owl-nav .disabled { opacity: .5; cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots { margin-top: 10px; }

.owl-theme .owl-dots .owl-dot { display: inline-block; zoom: 1; }

.owl-theme .owl-dots .owl-dot span { width: 10px; height: 10px; margin: 5px 7px; background: #D6D6D6; display: block; -webkit-backface-visibility: visible; -webkit-transition: opacity .2s ease; -o-transition: opacity .2s ease; transition: opacity .2s ease; border-radius: 30px; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span { background: #869791; }

/*Banner*/
/*Banner
---------------------------------*/
.banner { position: relative; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; overflow: hidden; color: #ffffff; background-color: #92b1d4; }

.banner.has-shade:after { content: ""; position: absolute; left: 0; top: 0; right: 0; bottom: 0; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(87%, rgba(0, 0, 0, 0.5))); background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 87%); background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 87%); background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 87%); }

.banner > figure { position: absolute; left: 0; right: 0; bottom: 0; top: 0; }

.banner-bg { position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-position: center; background-size: cover; background-repeat: no-repeat; }

.banner-bg--lc .banner-bg { background-position: left center; }

.banner-bg--rc .banner-bg { background-position: right center; }

.banner-body { position: relative; z-index: 1; width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }

/*Banner Carousel*/
.banner_carousel, .banner_carousel .owl-stage-outer, .banner_carousel .owl-stage, .banner_carousel .owl-item, .banner_carousel .owl-item > .item { height: 100%; }

.banner_carousel_wrapper { position: relative; }

.section_navigation { position: absolute; bottom: 0; left: 0; right: 0; top: auto; z-index: 9; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 2rem 4rem; }

/*Action group*/
.action_group { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.action_button { position: relative; }

.action_button, .action_button:hover { background-color: transparent; padding: 1.2rem; border: 0; color: #ffffff; border-radius: 0; min-width: 0; }

.action_button:not(:last-child):after { content: ""; width: 6rem; border-bottom: .1em solid; position: absolute; bottom: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

/*content-wrapper*/
.content-wrapper { height: 100%; padding: 0 6rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.content-media { position: relative; }

.content-media:before { display: block; content: ""; width: 100%; padding-top: 108.10811%; }

.content-media > *:first-child { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }

.content-details { padding: 2rem 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center; }

.content-details .details-footer { margin-top: 3rem; }

/*table*/
table { width: 100%; font-size: 1.3rem; }

table td { border-bottom: 1px solid; padding: .5rem 1.5rem; }

table td:first-child { padding-left: 0; }

/*Popup*/
.popup { position: relative; width: 100%; height: 100%; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; border-radius: 0; }

.popup, .popup_wrapper, .popup_background { -webkit-transition: all .5s 0s ease-out; -o-transition: all .5s 0s ease-out; transition: all .5s 0s ease-out; }

.popup_wrapper { overflow: hidden !important; }

.popup-wrap { height: 100%; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; border-radius: 0; overflow: auto; position: relative; }

.popup-wrap .close_button { top: 2rem; right: 4rem; position: absolute; }

.popup-body { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; -ms-flex-positive: 1; flex-grow: 1; -ms-flex: auto; flex: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.plan-image { max-height: 600px; }

.popup_visible .popup { -webkit-animation: .5s 0s fadeInLeft both; animation: .5s 0s fadeInLeft both; }

.popup { -webkit-animation: .7s 0s fadeOutLeft both; animation: .7s 0s fadeOutLeft both; }

/*Our team*/
.container-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.container-wrap .action-col { display: -webkit-box; display: -ms-flexbox; display: flex; }

.ourTeam-popup .container { margin: auto; }

.ourTeam-popup .slide_item { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.ourTeam-popup .slide_item .tile { width: 25%; padding: .5rem; overflow: hidden; }

.ourTeam-popup .slide_item .caption-wrap { padding: 1em; }

.ourTeam-popup .active .tile:nth-child(1) { -webkit-animation: fadeIn 0.5s 0.17s ease-in-out both; animation: fadeIn 0.5s 0.17s ease-in-out both; }

.ourTeam-popup .active .tile:nth-child(2) { -webkit-animation: fadeIn 0.5s 0.34s ease-in-out both; animation: fadeIn 0.5s 0.34s ease-in-out both; }

.ourTeam-popup .active .tile:nth-child(3) { -webkit-animation: fadeIn 0.5s 0.51s ease-in-out both; animation: fadeIn 0.5s 0.51s ease-in-out both; }

.ourTeam-popup .active .tile:nth-child(4) { -webkit-animation: fadeIn 0.5s 0.68s ease-in-out both; animation: fadeIn 0.5s 0.68s ease-in-out both; }

.ourTeam-popup .active .tile:nth-child(5) { -webkit-animation: fadeIn 0.5s 0.85s ease-in-out both; animation: fadeIn 0.5s 0.85s ease-in-out both; }

.ourTeam-popup .active .tile:nth-child(6) { -webkit-animation: fadeIn 0.5s 1.02s ease-in-out both; animation: fadeIn 0.5s 1.02s ease-in-out both; }

.ourTeam-popup .active .tile:nth-child(7) { -webkit-animation: fadeIn 0.5s 1.19s ease-in-out both; animation: fadeIn 0.5s 1.19s ease-in-out both; }

.ourTeam-popup .active .tile:nth-child(8) { -webkit-animation: fadeIn 0.5s 1.36s ease-in-out both; animation: fadeIn 0.5s 1.36s ease-in-out both; }

.team_list .figure-caption { font-size: 1.3rem; }

@media all and (max-width: 700px) { .ourTeam-popup .ourTeam_carousel { display: block; margin-bottom: 3rem; }
  .ourTeam-popup .slide_item .tile { width: 100%; }
  .ourTeam-popup .container .col:first-child .action_group { margin-left: auto; margin-right: 0; }
  .ourTeam-popup .container .col:last-child .action_button { display: none; } }

/*Media CSS*/
@media all and (max-width: 900px) { .pageLoader { background-size: 20rem; }
  .header { min-height: 0; }
  .header .hamburger { left: 2rem; }
  .brand-logo img { height: 3.6rem; }
  .footer { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; text-align: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; min-height: 0; }
  .footer > * { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .footer > .middle { -webkit-box-ordinal-group: 1; -ms-flex-order: 0; order: 0; margin-bottom: 2rem; }
  .footer .right .links { display: none; }
  .section_navigation, .header, .footer, .popup-header { padding: 2rem; }
  .container { padding: 0 2rem; }
  .banner.has-shade-full-sm:after { background-color: rgba(0, 0, 0, 0.6); background-image: none; }
  .navbar { max-width: 100%; }
  .pagination li { margin-bottom: 0; }
  .pagination a span { display: none; }
  .content-wrapper { padding: 6rem; }
  .tiles-row-sm .tile-col { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
  .hexagone_boder, .hexagone_frame { display: none; }
  table td { padding: .5rem; }
  .masonry { -webkit-column-count: 2; column-count: 2; }
  .about-content { text-align: center; }
  .about-content .para { text-align: justify; } }

@media all and (max-width: 700px) { .brand-logo img { height: 3.6rem; }
  .content-wrapper { padding: 2rem; }
  .full-page .banner-body { padding: 10rem 0 8rem; }
  .masonry { -webkit-column-count: 1; column-count: 1; }
  .popup_wrapper_visible { z-index: 100099 !important; }
  .about-content .para { line-height: 1.5; } }
