// Flexbox display
@mixin flexbox($flextype){display: $flextype;}
// row | row-reverse | column | column-reverse | unset
@mixin flex-direction($direction) {flex-direction: $direction;}
// nowrap | wrap | wrap-reverse
@mixin flex-wrap($wrap) {flex-wrap: $wrap;}
// <flex-direction> || <flex-wrap>
@mixin flex-flow($flow) {flex-flow: $flow;}
// <integer>
@mixin order($val) {order: $val;}
// 0 | 1 | number
@mixin flex-grow($grow) {flex-grow: $grow;}
// 0 | 1 | number
@mixin flex-shrink($shrink) {flex-shrink: $shrink;}
// <width> 
@mixin flex-basis($width) {flex-basis: $width;}
// <positive-number>, initial, auto, or none
@mixin flex($values) {flex: $values;}
// flex-start | flex-end | center | space-between | space-around | space-evenly
@mixin justify-content($justify) {justify-content: $justify;}
// flex-start | flex-end | center | baseline | stretch 
@mixin align-items($align) {align-items: $align;}
// auto | flex-start | flex-end | center | baseline | stretch 
@mixin align-self($align) {align-self: $align;}
// flex-start | flex-end | center | space-between | space-around | stretch 
@mixin align-content($align) {align-content: $align;}
