body {
  background-color: $color-white;
}

h1,
h2 {
  letter-spacing: 0.15rem;
}
// h3,
// h4,
// h5,
// h6 {
//   line-height: 1.25;
// }

[class*="ratio"]:before {
  display: block;
  width: 100%;
  content: "";
  pointer-events: none;
}

.link {
  // text-decoration: none;
  display: inline-block;

  &:hover {
    font-weight: 700;
  }

  &.primary {
    color: $color-primary;
  }
}

.button {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  // position: relative;
  // line-height: 1.2;
  // font-family: $primaryFont;
  transition: $transition-1;
  text-align: center;
  // text-transform: uppercase;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  // font-weight: 500;
  // padding: 1.2rem 4rem;

  // &.sm {
  //   font-size: 1.4rem;
  //   padding: 0.6rem 2rem;
  // }

  &:hover {
    box-shadow: $shadow_lg;
  }
}


.list {
  &.primary {
    ::marker {
      color: $color-primary;
    }
  }
  &.secondary {
    ::marker {
      color: $color-secondary;
    }
  }
  &.tertiary {
    ::marker {
      color: $color-tertiary;
    }
  }
}

// ::marker {
//   color: $color-primary;
//   .primary & {
//     color: $color-primary;
//   }
//   .secondary & {
//     color: $color-secondary;
//   }
//   .white & {
//     color: $color-white;
//   }
// }

.unstuck-link {
  overflow: visible !important;
}

.img-rollover
{
  overflow: hidden;
}
.img-rollover .card-image,
.img-rollover .play-button
{
  transition: $transition;
}
.image-rollover-parent:hover .img-rollover .card-image,
.img-rollover:hover .card-image
{
  transform: scale(1.045);
}

.hero-banner {
  height: 100vh;
  max-height: 74.5rem;
  @media (min-width: $bp_xl) {
    min-height: 74.5rem;
  }
}

.jsItemCarousel {
  &.owl-theme .owl-dots {
    text-align: left;
    
    .owl-dot span {
      background-color: $color-white;
    }
    .owl-dot.active span, 
    .owl-dot:hover span {
      background-color: $color-primary;
    }
  }
}

.accordion-wrapper {
  // .accordion {
  //   &.is-open {
  //     > .accordion-label {
  //       + .accordion-content {
  //         > .answer {
  //           // animation: fadeInUp 0.35s ease-in both;
  //         }
  //       }
  //     }
  //   }
  // }
  &.bg-primary-light {
    .accordion {
      &.is-open { 
        > .accordion-toggle {
          background-color: $color-primary-light;
        }
      }
    }
  }
  &.bg-secondary-light {
    .accordion {
      &.is-open { 
        > .accordion-toggle {
          background-color: $color-secondary-light;
        }
      }
    }
  }
  &.bg-tertiary-light {
    .accordion {
      &.is-open { 
        > .accordion-toggle {
          background-color: $color-tertiary-light;
        }
      }
    }
  }
}

.accordion-wrapper .accordion.is-open > .accordion-label + .accordion-content {
  max-height: 150em;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

.accordion-wrapper .accordion.is-open > .accordion-label > .toggle-sign {
  transform: rotate(-180deg);
}

@media (min-width: $bp_lg) {
  .tabs-accordion.accordion-wrapper .toggle-content .accordion > .accordion-label {
    display: none;
  }
}

.accordion-wrapper .accordion .accordion-label .toggle-sign-plus .close
{
  transform: rotate(0deg);
  transform-origin: center;
}

.accordion-wrapper .accordion.is-open > .accordion-label .toggle-sign-plus
{
  transform: rotate(0);
}
.accordion-wrapper .accordion.is-open > .accordion-label .toggle-sign-plus .close
{
  transform: rotate(90deg);
}

.illustaredMap {
  &.is-active {
    margin-top: -1rem;
  }
}

.googleMap {
  color: $color-text;
  &.is-active {
    margin-top: -1rem;
    background-color: $color-secondary;
    color: $color-white;
  }
}

#zoomTooFrame {
  img {
    background-color: white;
  }
}

.bg-anim {
  animation: bg-anim-mobile 20s ease-in-out both infinite alternate;
  @media (min-width: $bp_lg) {
    animation: bg-anim 20s ease-in-out both infinite alternate;
  }
}

@keyframes bg-anim {
  0% {
    background-size: 120% 120%;
    background-position: 10% 10%;
  }
  100% {
    background-size: 100% 100%;
    background-position: 0% 0%;
  }  
}

@keyframes bg-anim-mobile {
  0% {
    background-size: auto 120%;
    background-position: 10% 10%;
  }
  100% {
    background-size: auto 100%;
    background-position: 0% 0%;
  }  
}

.loading-cover {
  animation: loadOut .75s 500ms ease-in both;
}

@keyframes loadOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.clip-path {
  clip-path: inset(0 0 0 0);
}

.airplane-fixed {
  width: 43.4rem;
}

.header + main {
  margin-top: $header_sm;
  @media (min-width: $bp_md) {
    margin-top: $header_md;
  }
  @media (min-width: $bp_xl) {
    margin-top: $header_lg;
  }
}

.navbar {
  top: $header_sm;
  @media all and (max-width: $bp) {
    max-width: unset;
  }
  @media (min-width: $bp_md) {
    top: $header_md;
  }
  @media (min-width: $bp_xl) {
    top: $header_lg;
  }
}

.navbar > ul > li > .drop-menu-holder {
  top: 0;
  @media (min-width: $bp_lg) {
    top: $header_md;
  }
  @media (min-width: $bp_xl) {
    top: $header_lg;
  }
}

.jsNavbarToggle {
  &.is-open, &.menu-open {
    .header {
      position: fixed;
    }
  }
  &.is-open {
     @media all and (max-width: $bp) {
        .hamburger {
           position: relative;
           top: 0;
           right: 0;
        }
     }
  }
}