.navbar {
   .nav-link-group {
      display: flex;
      flex-direction: row;
      align-items: center;
   }

   .nav-link {
      flex: auto;
      position: relative;
   }

   .nav-link-has-menu {
      cursor: default;
   }

   .nav-link-toogle {
      display: flex;
      flex-direction: column;
      position: absolute;
      justify-content: center;
      top: 0;
      right: 0;
      height: 100%;
      pointer-events: none;
   }
}


.navbar li {
   > .nav-link-group > .nav-link-toogle > .icon .down-icon,
   > .nav-link-group > .nav-link-toogle > .icon .close-icon {
      transition: $transition;
   }
   > .nav-link-group > .nav-link-toogle > .icon .down-icon {
      opacity: 1;
   }
   &.is-open {
      z-index: 1;
   }
   &.is-open > .nav-link-group > .nav-link-toogle > .icon .down-icon {
      transform: translateY(-50%);
      opacity: 0;
   }
   > .nav-link-group > .nav-link .icon {
      opacity: 0;
   }
   &.is-open,
   &.is-active {
      > .nav-link-group > .nav-link .icon {
         opacity: 1;
      }
   }
   > .nav-link-group:hover > .nav-link .icon {
      opacity: 1;
   }
}

.navbar li {
   > .nav-link-group > .nav-link-toogle > .icon .close-icon {
      transform: translateY(0%);
      opacity: 0;
   }
   &.is-open > .nav-link-group > .nav-link-toogle > .icon .close-icon {
      transform: translateY(-50%);
      opacity: 1;
   }
}


// nav custom style
.drop-menu-holder {
   position: fixed;
   overflow: auto;
   height: 100vh;
   max-height: 74.5rem;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   top: 0;
   left: auto;
   right: 0;
   pointer-events: none;
   width: 100%;
   @media (min-width: $bp_lg) {
      min-height: 74.5rem;
   }
   > .drop-menu {
      pointer-events: all;
      transition: $transition;
      transform: translateX(100%);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      flex: auto;
      overflow-x: hidden;
      overflow-y: auto;
      // @media (min-width: $bp_lg) {
      //    max-width: 50vw;
      // }
   }
}

.navbar li {
   &.is-open > .drop-menu-holder > .drop-menu {
      transform: translateX(0%);
   }
   &.is-open,
   &.is-active {
      color: $color-secondary; 
      @media (min-width: $bp_lg) {
         color: $color-primary;
      }
   }
   .drop-menu-holder li.is-active {
      > .nav-link-group > .nav-link {
         color: $color-secondary; 
      }
      > .sub-nav-list > li {
         color: $color-white;
      }
      > .sub-nav-list > li {
         &:hover,
         &.is-active {
            color: $color-secondary;
         }
      }
   }
}

.navbar {
   top: $header_sm;
   @media all and (max-width: $bp) {
     max-width: unset;
   }
   @media (min-width: $bp_md) {
     top: $header_md;
   }
   @media (min-width: $bp_xl) {
     top: $header_lg;
   }
 }
 
 .navbar > ul > li > .drop-menu-holder {
   top: 0;
   @media (min-width: $bp_lg) {
     top: $header_md;
   }
   @media (min-width: $bp_xl) {
     top: $header_lg;
   }
 }

@media (min-width: $bp_lg) {
   .navbar li {
      position: static;
   }
   .navbar > ul > li > .drop-menu-holder {
      position: absolute;
      width: calc(50vw + 1rem);
      left: 0;
      top: 100%;
   }
}