<header class="header w-full flex-col z-100 lg:pos-absolute pin-x pin-t pt-20 lg:pt-60">
    <div class="container sm:container-sm md:container-md lg:container-lg xl:container-xl xxl:container-xxl mx-auto">
      <div class="flex-row flex-wrap -m-20">
         <nav class="col-12 lg:col-6 p-20 f-color-black">
            <ul class="list-reset flex-row -mx-10">
               <li class="px-10" data-aos="fade" data-aos-delay="100"><a class="d-inline-block no-underline hover:f-color-default transition-all @@if(context.information){f-color-default}" href="./">Information</a></li>
               <li class="px-10" data-aos="fade" data-aos-delay="200"><a class="d-inline-block no-underline hover:f-color-default transition-all @@if(context.work){f-color-default}" href="./work">Work</a></li>
               <li class="px-10" data-aos="fade" data-aos-delay="300"><a class="d-inline-block no-underline hover:f-color-default transition-all @@if(context.jobs){f-color-default}" href="./">Jobs</a></li>
            </ul>
         </nav>
         @@if(context.information){
            <div class="col-12 lg:col-6 p-20">
               <div class="text-wrap" data-aos="fade" data-aos-delay="500">
                  <p>Hello & welcome to UNSTUCKstudio - or Us for short. We are an award-winning Salisbury-based creative agency that launches, relaunches and manages brands across print, web,
                     packaging, video, exhibitions & events.</p>
                  <p>We’re currently busy building brand experiences for our lovely clients, some of our work can be viewed here. Please bear with us, and sign up to our newsletter and we’ll notify
                     you when our new site goes live.</p>
                  <p>
                     <a class="hover:f-color-black transition-all" href="mailto:hello@unstuckstudio.co.uk">hello@unstuckstudio.co.uk</a><br />
                     <a class="hover:f-color-black transition-all" href="tel:+44 (0)1722 782873">+44 (0)1722 782873</a>
                  </p>
                  <p>
                     Follow us<br />
                     <a class="hover:f-color-black transition-all" href="#">Join our newsletter</a>
                  </p>
               </div>
            </div>
         }
      </div>
   </div>
</header>