$fontRelatedClassNamePrifix: 'f-';
$fontFamilyClassNamePrefix: "#{$fontRelatedClassNamePrifix}family";
$textColorsClassPrefix: "#{$fontRelatedClassNamePrifix}color";
$fontSizesClassPrefix: "#{$fontRelatedClassNamePrifix}size";
$fontWeightsClassPrefix: "#{$fontRelatedClassNamePrifix}weight";
$lineHeightsClassPrefix: "#{$fontRelatedClassNamePrifix}height";
$letterSpacingsClassPrefix: "#{$fontRelatedClassNamePrifix}spacing";

/*ImportFontsonts*/
 @import "./ImportFonts";

$color-white: #ffffff;
$color-black: #000000;

// brand colors
$color1: #173854;
$color2: #edb236;
$color3: #f3f3f3;

$color-text: $color1;
$color-primary: $color1;
$color-secondary: $color2;
$color-light: $color3;
$color-light-1: mix(white, $color-primary, 70%);
$color-light-2: mix(white, $color-primary, 80%);

$color-text-placeholder: rgba($color-text, .5);
$color-input-text: $color-primary;
$defaultPlaceHolderColor: $color-text-placeholder;
$color-placeholder: mix(white, $color-primary, 96%);


//-------------------------

// $gridSizes: ();
$orientations: (
  // landscape\: "landscape",
  // portrait\: "portrait"
);

$baseFont: 'usual', $font_sans;
//$primaryFont: 'futura-pt-bold', $font_sans;

$defaultFont: $baseFont;
$defaultTextColor: $color-text;
$defaultFontWeights: 300;
$defaultFontSize: 1.6rem;
$defaultFontHeight: 1.2;
$defaultLetterSpacing: .02em;

$fontFamily: (
  $fontFamilyClassNamePrefix "default" $defaultFont,
  //$fontFamilyClassNamePrefix "primary" $primaryFont,
);

$bp_sm: 576px;
$bp_md: 710px;
$bp_lg: 992px;
$bp_xl: 1200px;
$bp_xxl: 1400px;
$breakPoints: (
  null 0, 
  sm\: $bp_sm, 
  md\: $bp_md, 
  lg\: $bp_lg, 
  xl\: $bp_xl,
  xxl\: $bp_xxl,
);

$states: (
  null null,
  hover\: ":hover",
  focus\: ":focus",
  //focus-within\: ":focus-within",
  // active\: null,
);

$gradList-secondary: linear-gradient(45deg, rgba($color-secondary,0.90) 39%, rgba($color-white,0) 100%);
$bgColors: (
  //$bgColorsClassPrefix "$color-placeholder" $color-placeholder 'states' 'no-parent' null,
  $bgColorsClassPrefix "inherit" inherit 'states' 'no-parent' null,
  $bgColorsClassPrefix "transparent" transparent 'states' 'no-parent' null,
  $bgColorsClassPrefix "primary" $color-primary 'states' 'no-parent' null,
  $bgColorsClassPrefix "secondary" $color-secondary 'states' 'no-parent' null,
  //$bgColorsClassPrefix "dark" $color-dark 'states' 'no-parent' null,
  $bgColorsClassPrefix "light" $color-light 'states' 'no-parent' null,
  $bgColorsClassPrefix "light-1" $color-light-1 'states' 'no-parent' null,
  $bgColorsClassPrefix "light-2" $color-light-2 'states' 'no-parent' null,
  //$bgColorsClassPrefix "black" $color-black 'states' 'no-parent' null,
  $bgColorsClassPrefix "white" $color-white 'states' 'no-parent' null,
  //$bgColorsClassPrefix "darker" $color-darker 'states' 'no-parent' null,
  //$bgColorsClassPrefix "grad-secondary" $gradList-secondary 'no-states' 'no-parent' 'background',
);

$shadowOverClassPrefix: "overlay";
$shadowOver: (
  //$shadowOverClassPrefix 'cover' $gradList-primary 'no-states',
  //$shadowOverClassPrefix 'grad-primary' $gradList-primary 'states',
  //$shadowOverClassPrefix 'grad-primary-to-right' $gradList-primary-to-right 'states',
  //$shadowOverClassPrefix 'grad-secondary' $gradList-secondary 'states',
  //$shadowOverClassPrefix 'grad-primary-reverse' $gradList-primary-reverse 'states',
  //$shadowOverClassPrefix 'grad-secondary-reverse' $gradList-secondary-reverse 'states',
  //$shadowOverClassPrefix 'solid-primary' $gradList-solid-primary 'states',
  //$shadowOverClassPrefix 'solid-secondary' $gradList-solid-secondary 'states',
  //$shadowOverClassPrefix "none" none 'no-states',
);

$themeColor: ();

$borderColors: (
  $borderColorsClassPrefix "inherit" inherit 'states' 'no-parent',
  $borderColorsClassPrefix "transparent" transparent 'states' 'no-parent',
  $borderColorsClassPrefix "primary" $color-primary 'states' 'no-parent',
  $borderColorsClassPrefix "secondary" $color-secondary 'states' 'no-parent',
  $borderColorsClassPrefix "light" $color-light 'states' 'no-parent',
  //$borderColorsClassPrefix "black" $color-black 'states' 'no-parent',
  //$borderColorsClassPrefix "white" $color-white 'no-states' 'parent',
);

$borderWidth: (
  null 0.1rem 'states' 'no-parent',
  //2 0.2rem 'states' 'no-parent',
  //3 0.3rem 'states' 'no-parent',
  //8 0.8rem 'states' 'no-parent',
  0 0rem 'no-states' 'no-parent',
);


$selectionTextColor: $color-white;
//$selectionTextBgColor: rgba($color-primary, .65);
$selectionTextBgColor: rgba(invert($color-primary), .65);
//$selectionTextBgColor: rgba(#CF995F, .55);

$textColors: (
  $textColorsClassPrefix "inherit" inherit 'states' 'no-parent' null,
  $textColorsClassPrefix "default" $color-text 'states' 'no-parent' null,
  $textColorsClassPrefix "white" $color-white 'states' 'no-parent' null,
  $textColorsClassPrefix "primary" $color-primary 'states' 'no-parent' null,
  //$textColorsClassPrefix "primary-grad" $gradList-primary-text 'states' 'no-parent' 'background-image',
  $textColorsClassPrefix "secondary" $color-secondary 'states' 'no-parent' null,
  //$textColorsClassPrefix "dark" $color-dark 'states' 'no-parent' null,
);

// 16, 18, 30, 40, 58
$fontSizes: (
  $fontSizesClassPrefix "inherit" inherit null,
  $fontSizesClassPrefix "16" 1.6rem null,
  $fontSizesClassPrefix "17" 1.7rem null,
  $fontSizesClassPrefix "18" 1.8rem null,
  $fontSizesClassPrefix "19" 1.9rem null,
  $fontSizesClassPrefix "20" 2.0rem null,
  $fontSizesClassPrefix "24" 2.4rem null,
  $fontSizesClassPrefix "28" 2.8rem null,
  $fontSizesClassPrefix "30" 3.0rem null,
  $fontSizesClassPrefix "34" 3.4rem null,
  $fontSizesClassPrefix "40" 4.0rem null,
  $fontSizesClassPrefix "58" 5.8rem null,
);

$fontWeights: (
  $fontWeightsClassPrefix "inherit" inherit null,
  // $fontWeightsClassPrefix "hairline" 100 null,
  // $fontWeightsClassPrefix "thin" 200 null,
  $fontWeightsClassPrefix "light" 300 'no-states',
  $fontWeightsClassPrefix "regular" 400 'states',
  $fontWeightsClassPrefix "medium" 500 null,
   $fontWeightsClassPrefix "semiBold" 600 'states',
  $fontWeightsClassPrefix "bold" 700 null,
  // $fontWeightsClassPrefix "extraBold" 800 null,
  // $fontWeightsClassPrefix "black" 900 null,
);

$lineHeights: (
  $lineHeightsClassPrefix "none" 1,
  //$lineHeightsClassPrefix "tight" 1,
  //$lineHeightsClassPrefix "tight" 1.25,
  //$lineHeightsClassPrefix "normal" "normal",
  $lineHeightsClassPrefix "ease" 1.5,
  //$lineHeightsClassPrefix "loose" 2
);

$letterSpacings: (
  // $letterSpacingsClassPrefix "tight" -0.05em,
  //$letterSpacingsClassPrefix "base" $defaultLetterSpacing,
  //$letterSpacingsClassPrefix "wide" .15em,
);

$paddings: (
  $paddingsClassPrefix "1" .1rem,
  $paddingsClassPrefix "2" .2rem,
  $paddingsClassPrefix "5" .5rem,
  $paddingsClassPrefix "10" 1.0rem,
  $paddingsClassPrefix "15" 1.5rem,
  $paddingsClassPrefix "20" 2.0rem,
  $paddingsClassPrefix "25" 2.5rem,
  $paddingsClassPrefix "35" 3.5rem,
  $paddingsClassPrefix "40" 4.0rem,
  $paddingsClassPrefix "50" 5.0rem,
  $paddingsClassPrefix "55" 5.5rem,
  //$paddingsClassPrefix "70" 7.0rem,
  $paddingsClassPrefix "75" 7.5rem,
  //$paddingsClassPrefix "80" 8.0rem,
  $paddingsClassPrefix "95" 9.5rem,
  $paddingsClassPrefix "130" 13.0rem,
  $paddingsClassPrefix "150" 15.0rem,
  $paddingsClassPrefix "200" 20.0rem,
  $paddingsClassPrefix "275" 27.5rem,
  $paddingsClassPrefix "0" 0,
);

$margins: (
  $marginsClassPrefix "auto" auto,
  $marginsClassPrefix "1" .1rem,
  $marginsClassPrefix "2" .2rem,
  $marginsClassPrefix "5" .5rem,
  $marginsClassPrefix "10" 1.0rem,
  $marginsClassPrefix "15" 1.5rem,
  $marginsClassPrefix "20" 2.0rem,
  $marginsClassPrefix "25" 2.5rem,
  $marginsClassPrefix "35" 3.5rem,
  $marginsClassPrefix "40" 4.0rem,
  $marginsClassPrefix "50" 5.0rem,
  //$marginsClassPrefix "60" 6.0rem,
  //$marginsClassPrefix "70" 7.0rem,
  $marginsClassPrefix "75" 7.5rem,
  //$marginsClassPrefix "80" 8.0rem,
  $marginsClassPrefix "95" 9.5rem,
  $marginsClassPrefix "130" 13.0rem,
  $marginsClassPrefix "150" 15.0rem,
  $marginsClassPrefix "200" 20.0rem,
  $marginsClassPrefix "275" 27.5rem,
  $marginsClassPrefix "0" 0,
);

$negativeMargin: (
  $negativeMarginClassPrefix "1" .1rem,
  $negativeMarginClassPrefix "2" .2rem,
  $negativeMarginClassPrefix "5" .5rem,
  $negativeMarginClassPrefix "10" 1.0rem,
  $negativeMarginClassPrefix "15" 1.5rem,
  $negativeMarginClassPrefix "20" 2.0rem,
  $negativeMarginClassPrefix "25" 2.5rem,
  $negativeMarginClassPrefix "35" 3.5rem,
  $negativeMarginClassPrefix "40" 4.0rem,
  $negativeMarginClassPrefix "50" 5.0rem,
  //$negativeMarginClassPrefix "60" 6.0rem,
  //$negativeMarginClassPrefix "70" 7.0rem,
  $negativeMarginClassPrefix "75" 7.5rem,
  //$negativeMarginClassPrefix "80" 8.0rem,
  $negativeMarginClassPrefix "95" 9.5rem,
  $negativeMarginClassPrefix "130" 13.0rem,
  $negativeMarginClassPrefix "150" 15.0rem,
  $negativeMarginClassPrefix "200" 20.0rem,
  $negativeMarginClassPrefix "275" 27.5rem,
  $negativeMarginClassPrefix "0" 0,
);

$shadow: 0 1px 3px 0 rgba($color-primary, 0.10), 0 1px 2px 0 rgba($color-primary, 0.06);
$shadow_md: 0 4px 6px -1px rgba($color-primary, 0.45), 0 2px 4px -1px rgba($color-primary, 0.06);
$shadow_lg: 0 6px 12px 6px rgba($color-primary, 0.25);
$shadow_xl: 0 20px 25px -5px rgba($color-primary, 0.45), 0 10px 10px -5px rgba($color-primary, 0.04);
$shadow_2xl: 0 12px 50px 0px rgba($color-primary, 0.20);
$shadow_inner: inset 0 2px 4px 0 rgba($color-primary, 0.06);
$shadow_outline: inset 0 2px 4px 0 rgba($color-primary, 0.06);

$shadows: (
  $shadowsClassPrefix null $shadow 'states',
  $shadowsClassPrefix "md" $shadow_md 'states',
  $shadowsClassPrefix "lg" $shadow_lg 'states',
  //$shadowsClassPrefix "xl" $shadow_xl 'states',
  //$shadowsClassPrefix "2xl" $shadow_2xl 'states',
  //$shadowsClassPrefix "inner" $shadow_inner 'states',
  //$shadowsClassPrefix "outline" $shadow_outline 'states',
  $shadowsClassPrefix "none" none 'states',
);

$aspectRatiosClassNamePrefix: "ratio";
$aspectRatios: (
  $aspectRatiosClassNamePrefix "logo" 656 217,
  $aspectRatiosClassNamePrefix "1x1" 1 1,
  //$aspectRatiosClassNamePrefix "3x2" 3 1,
  $aspectRatiosClassNamePrefix "4x3" 4 3,
  //$aspectRatiosClassNamePrefix "5x2" 5 2,
  $aspectRatiosClassNamePrefix "16x9" 16 9,
  $aspectRatiosClassNamePrefix "7x4" 7 4.22,
  $aspectRatiosClassNamePrefix "23x20" 23 20,
  //$aspectRatiosClassNamePrefix "unstuck-design" 165 12,
  $aspectRatiosClassNamePrefix "none" 1 0,
);

$columnCount: ();
$columnCount: (0, 2, 4);

$columnCountGapsClassPrefix: "col-gap";
$columnCountGaps: (
  $columnCountGapsClassPrefix "20" 2rem,
  $columnCountGapsClassPrefix "30" 3rem,
  $columnCountGapsClassPrefix "40" 4rem,
);

$hasColsSizes: ();

//74,
$iconsSizes: (
  $iconsSizesClassNamePrefix null 2.6rem,
  $iconsSizesClassNamePrefix "16" 1.6rem,
  $iconsSizesClassNamePrefix "logo" 65.6rem,
  $iconsSizesClassNamePrefix "logo_rg" 16.0rem,
  $iconsSizesClassNamePrefix "logo_sm" 31.0rem,
  $iconsSizesClassNamePrefix "thumb" 11.1rem,
  //$iconsSizesClassNamePrefix "unstuck-design" 20.0rem,
  $iconsSizesClassNamePrefix "auto" 'auto',
);

 $opacities: (
   $opacitiesClassPrefix "0" 0 null,
   $opacitiesClassPrefix "15" 0.15 null,
   $opacitiesClassPrefix "25" 0.25 null,
   $opacitiesClassPrefix "40" 0.4 null,
   $opacitiesClassPrefix "50" 0.5 null,
   $opacitiesClassPrefix "65" 0.65 null,
   $opacitiesClassPrefix "75" 0.75 null,
   $opacitiesClassPrefix "85" 0.85 null,
   $opacitiesClassPrefix "100" 1 null
 );

$borderRadiusClassPrefix: "rounded";
$borderRadiuses: (
  // $borderRadiusClassPrefix null 2px,
  $borderRadiusClassPrefix "full" 9999px,
  $borderRadiusClassPrefix "5" 0.5rem,
  $borderRadiusClassPrefix "10" 1rem,
);

// Container widths
// $container_lg: 100rem;
$container_lg: 96rem;
$container_intro: 90rem;
$container_xxl: 140rem;
$container_null: calc(100% - 3rem);
$container: (
  $containerClassPrefix null $container_null,
  $containerClassPrefix "fluid" $container_fluid,
  $containerClassPrefix "sm" $container_sm,
  $containerClassPrefix "md" $container_md,
  $containerClassPrefix "lg" $container_lg,
  $containerClassPrefix "xl" $container_xl,
  $containerClassPrefix "xxl" $container_xxl,
  $containerClassPrefix "intro" $container_intro,
);

// $zIndexs: (
  // $zIndexsClassPrefix "auto" "auto",
  // $zIndexsClassPrefix "0" 0,
  // $zIndexsClassPrefix "10" 10,
  // $zIndexsClassPrefix "20" 20,
  // $zIndexsClassPrefix "30" 30,
  // $zIndexsClassPrefix "40" 40,
  // $zIndexsClassPrefix "50" 50,
// );

$iconThickNess: .06rem;
$navbarBp: $bp_lg;
$lineThickNess: 2px;

// Range slider style
// $trackHeight: 2px;
// $trackWidth: 100%;
// $trackColor: $color1;
// $trackColorFocus: $color-black;
// $trackBorderColor: transparent;
// $trackBorderWidth: 0px;
// $trackBorderRadius: 4px;

// $thumbHeight: 24px;
// $thumbWidth: $thumbHeight;
// $thumbColor: $color-white;
// $thumbBorderColor: $colorPink;
// $thumbBorderWidth: 2px;
// $thumbBorderRadius: 15px;