/**/
/*=====================================*/
/*Include Fonts*/

/**/
/*=====================================*/
/*Font classes*/


.secondary-font{
  font-family: 'Montserrat', sans-serif;  
  font-weight: 400;
}
.primary-font{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

$font-xs : 10pt; //14pt
$font-sm : 11pt; //15pt
$font-md : 15pt; //20pt
$font-lg : 36pt; //48pt
$font-xl : 48pt; //64pt

.font-xs{font-size: $font-xs;}
.font-sm{font-size: $font-sm;}
.font-md{font-size: $font-md;}
.font-lg{font-size: $font-lg;}
.font-xl{font-size: $font-xl;}