<section class="py-60 mt-60 bg-light">
   <div class="container sm:container-sm lg:container-lg xl:container-xl mx-auto">
      <div class="mb-40 text-center f-family-secondary">
         <h1 class="uppercase f-weight-bold f-size-48 uppercase">Get in touch</h1>
      </div>
      <div class="flex-row flex-wrap -m-15">
         <div class="flex-col col-12 lg:col-4 p-15 align-center" data-aos="fade" data-aos-delay="100">
            <span class="icon icon-44 mb-20 44 f-color-red">
               <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 44.7 44.7">
                 <path d="M32.5 44.7c-3.1 0-6.3-1.2-8.7-3.6L3.6 20.9c-4.8-4.8-4.8-12.5 0-17.3L6.5.7c.4-.5 1-.7 1.6-.7.6 0 1.2.2 1.6.7L18 9c.4.4.7 1 .7 1.6 0 .6-.2 1.2-.7 1.6l-3.6 3.6c-.9.9-.9 2.4 0 3.3l11.1 11.1c.9.9 2.4.9 3.3 0l3.6-3.6c.9-.9 2.3-.9 3.2 0L44 35c.9.9.9 2.3 0 3.2l-2.9 2.9c-2.4 2.4-5.5 3.6-8.6 3.6" clip-path="url(#b)"/>
               </svg>
            </span>
            <div class="text-wrap text-center w-full">
               <p>
                  <a href="tel:+44 2036 910238" title="Call us" class="f-size-22 no-underline hover:f-color-red">UK: +44 2036 910238</a>
                  <br />
                  <a href="tel:+25 4727 979083" title="Call us" class="f-size-22 no-underline hover:f-color-red">Kenya: +25 4727 979083</a>
               </p>
            </div>
         </div>
         <div class="flex-col col-12 lg:col-4 p-15 align-center" data-aos="fade" data-aos-delay="200">
            <span class="icon icon-44 mb-20 4 f-color-dark">
               <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Layer_1" x="0" y="0" version="1.1" viewBox="0 0 28.7 40.8" xml:space="preserve">
                 <g>
                   <path d="M2.9 19.8s-2 0-.9 1.7l11.5 18.6s1.1 1.7 2.1 0l11.3-18.6s1-1.7-1-1.7h-23z" />
                   <path d="M14.4 28.7c7.9 0 14.4-6.4 14.4-14.4C28.7 6.4 22.3 0 14.4 0S0 6.4 0 14.4c0 1.7.3 3.2.8 4.7 1.9 5.6 7.3 9.6 13.6 9.6"/>
                   <circle cx="14.4" cy="14.4" r="9.3" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                 </g>
               </svg>
            </span>
            <div class="text-wrap text-center w-full">
               <p>
                  <a href="https://goo.gl/maps/vMkQwRx4g51c6ALy8" title="See on Map" target="_blank" class="f-size-22 no-underline hover:f-color-red">Unit 13, Barnack Business Centre,
                     Blakey Rd, Salisbury, Wiltshire, SP1 2LP, UK</a>
               </p>
            </div>
         </div>
         <div class="flex-col col-12 lg:col-4 p-15 align-center" data-aos="fade" data-aos-delay="300">
            <span class="icon icon-44 mb-20 f-color-green">
               <svg stroke="currentColor" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 44.7 33.6">
                  <path fill="currentColor" d="M0 0h44.7v33.6H0z" />
                  <path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3.9l19.3 15.6L41 3.9" clip-path="url(#b)"/>
               </svg>
            </span>
            <div class="text-wrap text-center w-full">
               <p>
                  <a href="mailto:info@dbaafrica.com" title="email us" class="f-size-22 no-underline hover:f-color-red">info@dbaafrica.com</a>
               </p>
            </div>
         </div>
      </div>
   </div>
</section>