<section class="py-60 @@sectionSx">
   <div class="container sm:container-sm lg:container-lg xl:container-xl mx-auto">
      <div class="flex-row flex-wrap -m-10">
         <div class="col-12 md:col-6 lg:col-3 p-10 align-center" data-aos="fade-up" data-aos-delay="100">
            <a href="athlete-profile.html" class="img-media img-rollover image-placeholder no-underline flex-col text-wrap text-center hover:f-color-red">
               <figure class="ratio-1x1 pos-relative flex-none overflow-hidden">
                  <div class="card-image pos-absolute pin bg-cover bg-center" style="background-image: url('./images/IMG_0119-1x1.jpg')"></div>
               </figure>
               <h2 class="f-family-secondary f-size-30 uppercase">4 column with image and title</h2>
            </a>
         </div>
         <div class="col-12 md:col-6 lg:col-3 p-10 align-center" data-aos="fade-up" data-aos-delay="200">
            <a href="athlete-profile.html" class="img-media img-rollover image-placeholder no-underline flex-col text-wrap text-center hover:f-color-red">
               <figure class="ratio-1x1 pos-relative flex-none overflow-hidden">
                  <div class="card-image pos-absolute pin bg-cover bg-center" style="background-image: url('./images/IMG_0127-1x1.jpg')"></div>
               </figure>
               <h2 class="f-family-secondary f-size-30 uppercase">4 column with image and title</h2>
            </a>
         </div>
         <div class="col-12 md:col-6 lg:col-3 p-10 align-center" data-aos="fade-up" data-aos-delay="300">
            <a href="athlete-profile.html" class="img-media img-rollover image-placeholder no-underline flex-col text-wrap text-center hover:f-color-red">
               <figure class="ratio-1x1 pos-relative flex-none overflow-hidden">
                  <div class="card-image pos-absolute pin bg-cover bg-center" style="background-image: url('./images/IMG_0150-(1)-1x1.jpg')"></div>
               </figure>
               <h2 class="f-family-secondary f-size-30 uppercase">4 column with image and title</h2>
            </a>
         </div>
         <div class="col-12 md:col-6 lg:col-3 p-10 align-center" data-aos="fade-up" data-aos-delay="400">
            <a href="athlete-profile.html" class="img-media img-rollover image-placeholder no-underline flex-col text-wrap text-center hover:f-color-red">
               <figure class="ratio-1x1 pos-relative flex-none overflow-hidden">
                  <div class="card-image pos-absolute pin bg-cover bg-center" style="background-image: url('./images/IMG_9739-1x1.jpg')"></div>
               </figure>
               <h2 class="f-family-secondary f-size-30 uppercase">4 column with image and title</h2>
            </a>
         </div>
      </div>
   </div>
</section>