<header class="header w-full pos-fixed pin-t pin-x flex-col pt-40 z-50 bg-white md:shadow-lg">
   <div class="container lg:container-lg xl:container-xl xxl:container-xxl mx-auto">
      <div class="flex-col justify-center">
         <!-- <div class="flex-row justify-end">
            <div class="icon f-color-inherit ml-8">
               <span>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"
                     viewBox="0 0 24 24">
                     <circle cx="11" cy="11" r="8"></circle>
                     <path d="m21 21-4.35-4.35"></path>
                  </svg>
               </span>
            </div>
         </div> -->
         <div class="navbar-toggle f-color-primary d-inline-flex lg:d-hidden z-50 my-8 ml-8">
            <div class="icon hamburger pointer-events-auto transition-all">
               <div class="m-1 lg:m-1_5">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
               </div>
            </div>
         </div>
         <a class="brand-logo lg:ml-auto mr-auto mb-30" href="index.html">
            <span class="icon icon-logo-sm lg:icon-logo ratio-logo">
               <span>
                  <img class="w-full h-full object-contain" src="./images/brand-logo.png">
               </span>
            </span>
         </a>
         <nav class="
            navbar 
            pos-fixed 
            pin-x 
            z-30
            f-size-16
            lg:pin-none
            lg:pos-static
            lg:mx-auto
            ">
            <div class="container lg:container-fluid mx-auto">
               <div class="flex-col lg:align-end">
                  <ul class="list-reset flex-col lg:flex-row -mx-15 lg:-mx-10 pos-relative">
                     <li class="@@if(context.basket){is-active} px-15">
                        <div class="submenu-trigger nav-link pb-20 flex-row align-center">
                           <span>
                              BASKETS
                           </span>
                           <span class="icon icon-18 lg:icon-15 ml-8 lg:ml-2 flex-none f-color-secondary">
                              <span class="down-icon">
                                 <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-chevron-down" viewBox="0 0 24 24">
                                    <path d="m6 9 6 6 6-6" />
                                 </svg>
                              </span>
                              <span class="close-icon">
                                 <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"
                                    viewBox="0 0 24 24">
                                    <path d="M18 6 6 18M6 6l12 12" />
                                 </svg>
                              </span>
                           </span>
                        </div>
                        <div class="submenu pos-fixed pin-x pin-t z-40">
                           <div class="container lg:container-lg mx-auto bg-white">
                              <div class="p-15 flex-row align-center justify-space-between lg:d-hidden">
                                 <button class="back-button uppercase f-color-inherit flex-row align-center">
                                    <span class="icon icon-15 mr-8 flex-none f-color-secondary">
                                       <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="111 237 192 320">
                                          <path d="M303 269.4L270.7 237 111 397l159.7 160 32.3-32.4L175.7 397z" />
                                       </svg>
                                    </span>
                                    Back
                                 </button>
                                 <h3>BASKETS</h3>
                              </div>
                              <ul class="list-reset flex-col p-20">
                                 <li class="">
                                    <a href="about.html" class="flex-row justify-space-between px-10 py-10 uppercase f-weight-bold">
                                       <span>Morocco</span>
                                    </a>
                                 </li>
                                 <li class="">
                                    <a href="about.html" class="flex-row justify-space-between px-10 py-10 uppercase f-weight-bold">
                                       <span>Madagascar</span>
                                    </a>
                                 </li>
                                 <li class="">
                                    <a href="about.html" class="flex-row justify-space-between px-10 py-10 uppercase f-weight-bold">
                                       <span>Ghana</span>
                                    </a>
                                 </li>
                                 <li class="">
                                    <a href="about.html" class="flex-row justify-space-between px-10 py-10 uppercase f-weight-bold">
                                       <span>Shopping BasketS</span>
                                    </a>
                                 </li>
                                 <li class="">
                                    <a href="about.html" class="flex-row justify-space-between px-10 py-10 uppercase f-weight-bold">
                                       <span>Beach BasketS</span>
                                    </a>
                                 </li>
                                 <li class="">
                                    <a href="about.html" class="flex-row justify-space-between px-10 py-10 uppercase f-weight-bold">
                                       <span>Children’s</span>
                                    </a>
                                 </li>
                                 <li class="">
                                    <a href="about.html" class="flex-row justify-space-between px-10 py-10 uppercase f-weight-bold">
                                       <span>Vegan</span>
                                    </a>
                                 </li>
                                 <li class="">
                                    <a href="about.html" class="flex-row justify-space-between px-10 py-10 uppercase f-weight-bold">
                                       <span>SALE</span>
                                    </a>
                                 </li>
                                 
                              </ul>
                           </div>
                        </div>
                     </li>
                     <li class="@@if(context.household){is-active} px-15">
                        <div class="submenu-trigger nav-link pb-20">Household</div>
                     </li>
                     <li class=" @@if(context.accessories){is-active} px-15">
                        <a class="nav-link pb-20" href="#">ACCESSORIES</a>
                     </li>
                     <li class=" @@if(context.news){is-active} px-15">
                        <a class="nav-link pb-20" href="#">news</a>
                     </li>
                     <li class="@@if(context.about){is-active} px-15">
                        <a class="nav-link pb-20" href="#">About</a>
                     </li>
                     <li class="@@if(context.contact){is-active} px-15">
                        <a class="nav-link pb-20" href="#">contact</a>
                     </li>
                     <li class="@@if(context.stockist){is-active} px-15">
                        <a class="nav-link pb-20" href="#">become a stockist</a>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
      </div>
   </div>
</header>