<header class="header w-full pos-fixed pin-t pin-x flex-col pt-40 z-50 bg-white md:shadow-lg">
   <div class="container lg:container-lg xl:container-xl xxl:container-xxl mx-auto">
      <div class="flex-row lg:flex-col align-start justify-center">
         <a class="brand-logo mb-30 lg:ml-auto mr-auto" href="index.html">
            <span class="icon icon-logo-sm lg:icon-logo ratio-logo">
               <span>
                  <img class="w-full h-full object-contain" src="./images/brand-logo.png">
               </span>
            </span>
         </a>
         <div class="flex-row align-center justify-space-between lg:pos-fixed pin-x pin-t lg:w-full lg:p-10 lg:px-20 lg:f-size-16">
            <div class="d-hidden lg:d-inline-block flex-row align-center">
               <a class="no-underline hover:f-color-secondary" href="mailto:sales@basketbasket.co.uk">sales@basketbasket.co.uk</a>
               <span class="f-color-secondary px-10">|</span>
               <a class="no-underline hover:f-color-secondary" href="tel:01420 85112">01420 85112</a>
            </div>
            <div class="flex-row align-center">
               <button class="p-10 ml-20 lg:ml-0 search-toggle f-color-inherit hover:bg-secondary hover:f-color-white flex-row align-center">
                  <i class="icon lg:icon-18 flex-col justify-center">
                     <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"
                        viewBox="0 0 24 24">
                        <circle cx="11" cy="11" r="8"></circle>
                        <path d="m21 21-4.35-4.35"></path>
                     </svg>
                  </i>
                  <span class="d-hidden lg:d-inline-block pl-10">Search</span>
               </button>
               <span class="f-color-secondary d-hidden lg:d-inline-block">|</span>
               <button class="p-10 ml-20 lg:ml-0 f-color-inherit hover:bg-secondary hover:f-color-white flex-row align-center d-hidden lg:d-inline-block">
                  <span class="px-10 f-weight-medium">Stockist Login</span>
               </button>
               <span class="f-color-secondary d-hidden lg:d-inline-block">|</span>
               <a href="check-out.html" class="p-10 ml-20 lg:ml-0 f-color-inherit d-inline-block hover:bg-secondary hover:f-color-white pos-relative">
                  <i class="icon  lg:icon-18 flex-col justify-center">
                     <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.7 30.5">
                        <path
                           d="M28.1 28.7h-4L26 13.6h4.8l-2.7 15.1zM5 13.6h4.2l1.7 15.1H7.7L5 13.6zm7.7 15.1L11 13.6h5.5v15.1h-3.8zm5.7 0V13.6h5.7l-1.9 15.1h-3.8zm9.3-16.9L23.4.6c-.2-.5-.7-.7-1.2-.5-.5.2-.7.7-.5 1.2l4 10.6h-16l4.2-10.3c.2-.5 0-1-.5-1.2-.5-.2-1 0-1.2.5l-4.4 11H.9c-.5 0-.9.4-.9.9s.4.9.9.9h2.2l3 16.2c.1.4.5.7.9.7h21.9c.4 0 .8-.3.9-.8l2.8-16.2h2.3c.5 0 .9-.4.9-.9s-.4-.9-.9-.9h-7.2z" />
                     </svg>
                  </i>
                  <span class="icon icon-18 rounded-full bg-secondary pos-absolute pin-t pin-r -mt-2 -mr-2 f-color-white f-size-10">
                     <b>4</b>
                  </span>
               </a>
               <div class="navbar-toggle p-10 ml-20 lg:ml-0 d-inline-flex lg:d-hidden z-50 hover:bg-secondary hover:f-color-white">
                  <i class="icon hamburger pointer-events-auto">
                     <div>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                     </div>
                  </i>
               </div>
            </div>
         </div>

         <nav class="
            navbar 
            pos-fixed 
            pin-x 
            z-30
            f-size-16
            lg:pin-none
            lg:pos-static
            lg:mx-auto
            ">
            <div class="container lg:container-fluid mx-auto">
               <div class="flex-col lg:align-end">
                  <ul class="list-reset flex-col lg:flex-row -mx-15 lg:-mx-10 pos-relative">
                     <li class="@@if(context.basket){is-active} px-15">
                        <div class="submenu-trigger nav-link pb-20 flex-row align-center">
                           <span>
                              BASKETS
                           </span>
                           <span class="icon icon-18 lg:icon-15 ml-8 lg:ml-2 flex-none f-color-secondary">
                              <span class="down-icon">
                                 <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-chevron-down" viewBox="0 0 24 24">
                                    <path d="m6 9 6 6 6-6" />
                                 </svg>
                              </span>
                              <span class="close-icon">
                                 <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"
                                    viewBox="0 0 24 24">
                                    <path d="M18 6 6 18M6 6l12 12" />
                                 </svg>
                              </span>
                           </span>
                        </div>
                        <div class="submenu pos-fixed pin-x pin-t z-40">
                           <div class="container lg:container-lg mx-auto bg-white">
                              <div class="p-15 flex-row align-center justify-space-between lg:d-hidden">
                                 <button class="back-button uppercase f-color-inherit flex-row align-center">
                                    <span class="icon icon-15 mr-8 flex-none f-color-secondary">
                                       <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="111 237 192 320">
                                          <path d="M303 269.4L270.7 237 111 397l159.7 160 32.3-32.4L175.7 397z" />
                                       </svg>
                                    </span>
                                    Back
                                 </button>
                                 <h3>BASKETS</h3>
                              </div>
                              <ul class="list-reset flex-col p-20">
                                 <li class="">
                                    <a href="#" class="flex-row justify-space-between px-10 py-10 uppercase f-weight-bold">
                                       <span>Morocco</span>
                                    </a>
                                 </li>
                                 <li class="">
                                    <a href="#" class="flex-row justify-space-between px-10 py-10 uppercase f-weight-bold">
                                       <span>Madagascar</span>
                                    </a>
                                 </li>
                                 <li class="">
                                    <a href="#" class="flex-row justify-space-between px-10 py-10 uppercase f-weight-bold">
                                       <span>Ghana</span>
                                    </a>
                                 </li>
                                 <li class="">
                                    <a href="#" class="flex-row justify-space-between px-10 py-10 uppercase f-weight-bold">
                                       <span>Shopping BasketS</span>
                                    </a>
                                 </li>
                                 <li class="">
                                    <a href="#" class="flex-row justify-space-between px-10 py-10 uppercase f-weight-bold">
                                       <span>Beach BasketS</span>
                                    </a>
                                 </li>
                                 <li class="">
                                    <a href="#" class="flex-row justify-space-between px-10 py-10 uppercase f-weight-bold">
                                       <span>Children’s</span>
                                    </a>
                                 </li>
                                 <li class="">
                                    <a href="#" class="flex-row justify-space-between px-10 py-10 uppercase f-weight-bold">
                                       <span>Vegan</span>
                                    </a>
                                 </li>
                                 <li class="">
                                    <a href="#" class="flex-row justify-space-between px-10 py-10 uppercase f-weight-bold">
                                       <span>SALE</span>
                                    </a>
                                 </li>

                              </ul>
                           </div>
                        </div>
                     </li>
                     <li class="@@if(context.household){is-active} px-15">
                        <a class="nav-link pb-20" href="#">Household</a>
                     </li>
                     <li class=" @@if(context.accessories){is-active} px-15">
                        <a class="nav-link pb-20" href="#">ACCESSORIES</a>
                     </li>
                     <li class=" @@if(context.news){is-active} px-15">
                        <a class="nav-link pb-20" href="news.html">news</a>
                     </li>
                     <li class="@@if(context.about){is-active} px-15">
                        <a class="nav-link pb-20" href="#">About</a>
                     </li>
                     <li class="@@if(context.contact){is-active} px-15">
                        <a class="nav-link pb-20" href="contact-us.html">contact</a>
                     </li>
                     <li class="@@if(context.stockist){is-active} px-15">
                        <a class="nav-link pb-20" href="#">become a stockist</a>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
      </div>
   </div>
</header>
<section class="w-full search-bar pos-fixed">
   <form class="w-full flex-row">
      <input type="text" placeholder="Search..." name="search" class="input flex-auto p-20 flex-stretch focus:shadow-md transition-all" />
      <button class="p-10 flex-none bg-white f-color-secondary hover:bg-secondary hover:f-color-white">
         <i class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"
               viewBox="0 0 24 24">
               <circle cx="11" cy="11" r="8"></circle>
               <path d="m21 21-4.35-4.35"></path>
            </svg>
         </i>
      </button>
   </form>
</section>