<section class="pt-2lg">
   <div class="container md:container-md lg:container-xl mx-auto">
      <div data-togglable="true" data-close-others="true" class="accordion-wrapper flex-row flex-wrap text-left">
         <div class="col-12 toggle-content">
            <div class="accordion is-open">
               <div data-filterby="content_2019" class="accordion-label accordion-toggle pt-md pb-xs transition-all border-b border-secondary opacity-parent-0 hover:opacity-parent-100">
                  <h3 class="question fweight-semibold fsize-2lg text-center">2019</h3>
                  <span class="toggle-sign icon transition-all opacity-child">
                     <span class="p-xxs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357 357">
                           <path fill="currentColor" d="M357 204H204v153h-51V204H0v-51h153V0h51v153h153v51z" /></svg></span>
                  </span>
               </div>
               <div class="accordion-content transition-all">
                  <div class="answer p-sm">
                     <div class="flex-row flex-wrap -mr-2xs -mb-2xs lg:-mr-2sm lg:-mb-2sm">
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News October 2019</h3>
                                 <p>00/00/2019</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News September 2019</h3>
                                 <p>00/00/2019</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News August 2019</h3>
                                 <p>00/00/2019</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News July 2019</h3>
                                 <p>00/00/2019</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News June 2019</h3>
                                 <p>00/00/2019</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News May 2019</h3>
                                 <p>00/00/2019</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News April 2019</h3>
                                 <p>00/00/2019</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News March 2019</h3>
                                 <p>00/00/2019</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="accordion">
               <div data-filterby="content_2018" class="accordion-label accordion-toggle pt-md pb-xs transition-all border-b border-secondary opacity-parent-0 hover:opacity-parent-100">
                  <h3 class="question fweight-semibold fsize-2lg text-center">2018</h3>
                  <span class="toggle-sign icon transition-all opacity-child">
                     <span class="p-xxs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357 357">
                           <path fill="currentColor" d="M357 204H204v153h-51V204H0v-51h153V0h51v153h153v51z" /></svg></span>
                  </span>
               </div>
               <div class="accordion-content transition-all">
                  <div class="answer p-sm">
                     <div class="flex-row flex-wrap -mr-2xs -mb-2xs lg:-mr-2sm lg:-mb-2sm">
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News October 2018</h3>
                                 <p>00/00/2018</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News September 2018</h3>
                                 <p>00/00/2018</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News August 2018</h3>
                                 <p>00/00/2018</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News July 2018</h3>
                                 <p>00/00/2018</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News June 2018</h3>
                                 <p>00/00/2018</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News May 2018</h3>
                                 <p>00/00/2018</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News April 2018</h3>
                                 <p>00/00/2018</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News March 2018</h3>
                                 <p>00/00/2018</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="accordion">
               <div data-filterby="content_2017" class="accordion-label accordion-toggle pt-md pb-xs transition-all border-b border-secondary opacity-parent-0 hover:opacity-parent-100">
                  <h3 class="question fweight-semibold fsize-2lg text-center">2017</h3>
                  <span class="toggle-sign icon transition-all opacity-child">
                     <span class="p-xxs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357 357">
                           <path fill="currentColor" d="M357 204H204v153h-51V204H0v-51h153V0h51v153h153v51z" /></svg></span>
                  </span>
               </div>
               <div class="accordion-content transition-all">
                  <div class="answer p-sm">
                     <div class="flex-row flex-wrap -mr-2xs -mb-2xs lg:-mr-2sm lg:-mb-2sm">
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News October 2017</h3>
                                 <p>00/00/2017</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News September 2017</h3>
                                 <p>00/00/2017</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News August 2017</h3>
                                 <p>00/00/2017</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News July 2017</h3>
                                 <p>00/00/2017</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News June 2017</h3>
                                 <p>00/00/2017</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News May 2017</h3>
                                 <p>00/00/2017</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News April 2017</h3>
                                 <p>00/00/2017</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News March 2017</h3>
                                 <p>00/00/2017</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="accordion">
               <div data-filterby="content_2016" class="accordion-label accordion-toggle pt-md pb-xs transition-all border-b border-secondary opacity-parent-0 hover:opacity-parent-100">
                  <h3 class="question fweight-semibold fsize-2lg text-center">2016</h3>
                  <span class="toggle-sign icon transition-all opacity-child">
                     <span class="p-xxs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357 357">
                           <path fill="currentColor" d="M357 204H204v153h-51V204H0v-51h153V0h51v153h153v51z" /></svg></span>
                  </span>
               </div>
               <div class="accordion-content transition-all">
                  <div class="answer p-sm">
                     <div class="flex-row flex-wrap -mr-2xs -mb-2xs lg:-mr-2sm lg:-mb-2sm">
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News October 2016</h3>
                                 <p>00/00/2016</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News September 2016</h3>
                                 <p>00/00/2016</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News August 2016</h3>
                                 <p>00/00/2016</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News July 2016</h3>
                                 <p>00/00/2016</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News June 2016</h3>
                                 <p>00/00/2016</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News May 2016</h3>
                                 <p>00/00/2016</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News April 2016</h3>
                                 <p>00/00/2016</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News March 2016</h3>
                                 <p>00/00/2016</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="accordion">
               <div data-filterby="content_2015" class="accordion-label accordion-toggle pt-md pb-xs transition-all border-b border-secondary opacity-parent-0 hover:opacity-parent-100">
                  <h3 class="question fweight-semibold fsize-2lg text-center">2015</h3>
                  <span class="toggle-sign icon transition-all opacity-child">
                     <span class="p-xxs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357 357">
                           <path fill="currentColor" d="M357 204H204v153h-51V204H0v-51h153V0h51v153h153v51z" /></svg></span>
                  </span>
               </div>
               <div class="accordion-content transition-all">
                  <div class="answer p-sm">
                     <div class="flex-row flex-wrap -mr-2xs -mb-2xs lg:-mr-2sm lg:-mb-2sm">
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News October 2015</h3>
                                 <p>00/00/2015</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News September 2015</h3>
                                 <p>00/00/2015</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News August 2015</h3>
                                 <p>00/00/2015</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News July 2015</h3>
                                 <p>00/00/2015</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News June 2015</h3>
                                 <p>00/00/2015</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News May 2015</h3>
                                 <p>00/00/2015</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News April 2015</h3>
                                 <p>00/00/2015</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News March 2015</h3>
                                 <p>00/00/2015</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="accordion">
               <div data-filterby="content_2014" class="accordion-label accordion-toggle pt-md pb-xs transition-all border-b border-secondary opacity-parent-0 hover:opacity-parent-100">
                  <h3 class="question fweight-semibold fsize-2lg text-center">2014</h3>
                  <span class="toggle-sign icon transition-all opacity-child">
                     <span class="p-xxs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357 357">
                           <path fill="currentColor" d="M357 204H204v153h-51V204H0v-51h153V0h51v153h153v51z" /></svg></span>
                  </span>
               </div>
               <div class="accordion-content transition-all">
                  <div class="answer p-sm">
                     <div class="flex-row flex-wrap -mr-2xs -mb-2xs lg:-mr-2sm lg:-mb-2sm">
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News October 2014</h3>
                                 <p>00/00/2014</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News September 2014</h3>
                                 <p>00/00/2014</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News August 2014</h3>
                                 <p>00/00/2014</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News July 2014</h3>
                                 <p>00/00/2014</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News June 2014</h3>
                                 <p>00/00/2014</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News May 2014</h3>
                                 <p>00/00/2014</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News April 2014</h3>
                                 <p>00/00/2014</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News March 2014</h3>
                                 <p>00/00/2014</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="accordion">
               <div data-filterby="content_2013" class="accordion-label accordion-toggle pt-md pb-xs transition-all border-b border-secondary opacity-parent-0 hover:opacity-parent-100">
                  <h3 class="question fweight-semibold fsize-2lg text-center">2013</h3>
                  <span class="toggle-sign icon transition-all opacity-child">
                     <span class="p-xxs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357 357">
                           <path fill="currentColor" d="M357 204H204v153h-51V204H0v-51h153V0h51v153h153v51z" /></svg></span>
                  </span>
               </div>
               <div class="accordion-content transition-all">
                  <div class="answer p-sm">
                     <div class="flex-row flex-wrap -mr-2xs -mb-2xs lg:-mr-2sm lg:-mb-2sm">
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News October 2013</h3>
                                 <p>00/00/2013</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News September 2013</h3>
                                 <p>00/00/2013</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News August 2013</h3>
                                 <p>00/00/2013</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News July 2013</h3>
                                 <p>00/00/2013</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News June 2013</h3>
                                 <p>00/00/2013</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News May 2013</h3>
                                 <p>00/00/2013</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News April 2013</h3>
                                 <p>00/00/2013</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                        <div class="col-12 lg:col-6 pr-2xs pb-2xs lg:pr-2sm lg:pb-2sm">
                           <div class="border-b border-secondary py-xs flex-col lg:flex-row">
                              <div class="mb-xs lg:mb-0">
                                 <h3 class="fweight-semibold">Royal Anglian News March 2013</h3>
                                 <p>00/00/2013</p>
                              </div>
                              <a href="#" class="size-lg hover:shadow-bottom button bg-primary fsize-2sm fcolor-white hover:bg-secondary capitalize py-xs px-md ml-auto">Download</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>