<section class="pt-2lg">
   <div class="container md:container-md lg:container-xl mx-auto">
      <div class="pagination flex-row justify-center list-reset fweight-semibold">
         <a href="#" class="mx-xxs py-xxs px-xs fcolor-inherit no-underline border border-primary flex-col justify-center align-center hover:bg-primary bg-primary fcolor-white">1</a>
         <a href="#" class="mx-xxs py-xxs px-xs fcolor-inherit no-underline border border-primary flex-col justify-center align-center hover:bg-light hover:fcolor-default">2</a>
         <a href="#" class="mx-xxs py-xxs px-xs fcolor-inherit no-underline border border-primary flex-col justify-center align-center hover:bg-light hover:fcolor-default">3</a>
         <a href="#" class="mx-xxs py-xxs px-xs fcolor-inherit no-underline border border-primary flex-col justify-center align-center hover:bg-light hover:fcolor-default">4</a>
         <a href="#" class="mx-xxs py-xxs px-xs fcolor-inherit no-underline border border-primary flex-col justify-center align-center hover:bg-light hover:fcolor-default">5</a>
         <a href="#" class="mx-xxs py-xxs px-xs fcolor-inherit no-underline border border-primary flex-col justify-center align-center hover:bg-light hover:fcolor-default">
            <img src="./images/next-icon.svg" alt=""/>
         </a>
         <a href="#" class="mx-xxs py-xxs px-xs fcolor-inherit no-underline border border-primary flex-col justify-center align-center hover:bg-light hover:fcolor-default">
            <img src="./images/next-to-next-icon.svg" alt=""/>
         </a>
      </div>
   </div>
</section>