<footer class="bg-secondary f-color-white py-40 lg:py-64">
  <div class="container sm:container-sm md:container-md lg:container-lg xl:container-xl xxl:container-xxl mx-auto">
    <div class="flex-row flex-wrap lg:justify-space-between -m-20">
      <div class="col-12 lg:col-5 p-20 text-left">
        <div class="flex-col lg:flex-row flex-wrap align-center text-wrap text-center lg:text-left justify-center lg:justify-start">
          <a href="index.html" title="@@websiteName" class="d-inline-block ratio-1x1 icon-logo-sm xl:icon-logo">
            <img class="pos-absolute pin object-contain" src="./images/isa-logo-white.svg" alt="@@websiteName" />
          </a>
          <div class="text-wrap-xs f-size-16 xl:f-size-22 lg:pl-20">
            <a href="tel:01722 548320" class="d-inline-block no-underline hover:f-color-primary transition-all"><b class="f-color-primary">t:</b> 01722 548320</a><br />
            <a href="mail:info@isaccountancy.co.uk" class="d-inline-block no-underline hover:f-color-primary transition-all"><b class="f-color-primary">e:</b> info@isaccountancy.co.uk</a>
          </div>
        </div>
      </div>
      <div class="col-12 lg:col-5 p-20 text-center xs:text-right">
        <div class="text-wrap text-center lg:text-right">
          <h2 class="xl:f-size-24">Chartered Accountants + Your Business Advisors</h2>
          <a href="#" class="button f-size-16 xl:f-size-22 f-weight-semiBold bg-primary f-color-white py-20 px-20">Start your accounting journey</a>
        </div>
      </div>
    </div>
    <div class="flex-row lg:flex-row-reverse flex-wrap justify-center lg:justify-space-between -m-10 xl:-m-20">
      <div class="col-12 sm:col-10 lg:col-5 p-20 text-center lg:text-right mt-auto">
        <div class="flex-row flex-wrap -m-10">
          <div class="col-4 p-10">
            <img src="./images/b1g1-logo.png" />
          </div>
          <div class="col-4 p-10">
            <img src="./images/icrew-logo.png" />
          </div>
          <div class="col-4 p-10">
            <img src="./images/XERO SILVER PARTNER LOGOS RGB colour for light or white bkgds-01.svg" />
          </div>
        </div>
      </div>
      <div class="col-12 lg:col-5 p-20 text-center lg:text-left">
        <div class="text-wrap f-size-12 xl:f-size-16">
          <ul class="list-reset flex-row flex-wrap justify-center lg:justify-start -m-8">
            <li class="p-8"><a href="#" class="no-underline d-inline-block hover:f-color-primary transition-all">Accessibility</a></li>
            <li class="p-8"><a href="#" class="no-underline d-inline-block hover:f-color-primary transition-all">Privacy</a></li>
            <li class="p-8"><a href="#" class="no-underline d-inline-block hover:f-color-primary transition-all">Cookies</a></li>
            <li class="p-8"><a href="#" class="no-underline d-inline-block hover:f-color-primary transition-all">Tearms</a></li>
            <li class="p-8"><a href="#" class="no-underline d-inline-block hover:f-color-primary transition-all">Website Design</a></li>
          </ul>
          <p>IS Accountancy is a trading name of Ian Sheekey Accountancy Limited Registered company number 12703862 in England & Wales Registered Office: Suite 204, Warner House, 123 Castle Street,
            Salisbury, SP1 3TB A member of the ICAEW Practice Assurance Scheme</p>
          <p>&copy; 2022 Ian Sheekey Accountancy Limited</p>
        </div>
      </div>
    </div>
  </div>
</footer>