<section class="bg-secondary f-color-white py-40 md:py-90 xl:py-130" data-aos="fade-in" data-aos-delay="100">
   <div class="container md:container-md lg:container-article xl:container-xl xxl:container-xxl mx-auto pos-relative">
      <div class="flex-row flex-wrap justify-center align-center lg:flex-nowrap">
         <div class="col-12 lg:col-6 lg:pr-60 xl:pr-100" data-aos="fade-up" data-aos-delay="300">
            <div class="text-wrap text-center lg:text-left">
               <div class="text-wrap-inherit xl:f-size-22">
                  <h2 class="f-size-22 xl:f-size-32 f-weight-light">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam voluptatum dicta et fuga assumenda aperiam voluptatibus
                     mollitia qui.</h2>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In minus excepturi praesentium, quam nisi accusamus! Excepturi sit et eligendi unde non exercitationem incidunt
                     omnis nam.</p>
               </div>
            </div>
         </div>
         <div class="col-9 mx-auto lg:col-auto lg:pos-absolute lg:pin-y lg:pin-l-50 lg:pin-l50 border border-primary my-40 lg:my-0"></div>
         <div class="col-12 lg:col-6 lg:pl-60" data-aos="fade-up" data-aos-delay="500">
            <div class="text-wrap text-center">
               <h2 class="f-size-36 xl:f-size-47 f-weight-light"><em>“Life is like accounting, everything must be balanced.”</em></h2>
               <a href="#" class="button f-weight-semiBold bg-primary f-color-white hover:f-color-secondary py-13  px-30">Get in touch</a>
            </div>
         </div>
      </div>
   </div>
</section>