<header class="header w-full flex-col z-100 pos-absolute bg-white shadow-lg lg:shadow-none">
   <div class="container md:container-md lg:container-lg xl:container-xl xxl:container-xxl mx-auto lg:pos-relative">
      <div class="flex-row lg:align-end justify-space-between py-30">
         <a href="index.html" title="@@websiteName" class="brand-logo d-inline-block ratio-logo icon-logo-main-sm md:icon-logo-main-md xl:icon-logo-main">
            <img class="pos-absolute pin object-contain w-full" src="./images/isa-logo.svg" alt="@@websiteName" />
         </a>
         <div class="lg:pos-absolute pin-t pin-r xl:mt-30">
            <div class="d-hidden md:d-inline-block">
               <a href="#" class="button f-weight-semiBold bg-primary f-color-white py-8 xl:py-13 px-30">Get in touch</a>
            </div>
            <div class="icon icon-32 navbar-toggle d-inline-flex lg:d-hidden z-50 rounded transition-all ml-auto">
               <span class="p-2 pos-absolute pin">
                  <i class="icon icon-22 my-auto hamburger pointer-events-auto">
                     <div>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                     </div>
                  </i>
               </span>
            </div>
         </div>
         @@include('./_includes/_navbar.html', {})
      </div>
   </div>
</header>

@@if(context.pixelmatch && context.pixelmatch.show){
<div class="pos-absolute pin-t pin-x pin-b-auto overflow-visible z-400 text-center pointer-events-none" style="margin-top: 0rem;">
   <img src="@@pixelmatch.image" class="pointer-events-none opacity-25" style="outline: 1px solid red;" />
</div>
}