<header class="header w-full flex-col z-100 pos-static bg-white shadow-lg lg:shadow-none">
   <div class="container md:container-md lg:container-lg xl:container-xl xxl:container-xxl mx-auto pos-relative">
      <div class="flex-row lg:align-end justify-space-between py-30">
         <a href="index.html" title="@@websiteName" class="brand-logo d-inline-block ratio-logo icon-logo-main-sm md:icon-logo-main-md xl:icon-logo-main">
            <img class="pos-absolute pin object-contain w-full" src="./images/isa-logo.svg" alt="@@websiteName" />
         </a>
         <div class="lg:pos-absolute pin-t pin-r xl:mt-30">
            <a href="#" class="d-hidden md:d-inline-flex button f-weight-semiBold bg-primary f-color-white py-8 xl:py-12 px-30">Get in touch</a>
            <div class="icon icon-32 navbar-toggle d-inline-flex lg:d-hidden z-50 rounded transition-all ml-auto">
               <span class="p-2 pos-absolute pin">
                  <i class="icon icon-22 my-auto hamburger pointer-events-auto">
                     <div>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                     </div>
                  </i>
               </span>
            </div>
         </div>
         <nav class="
            bg-primary f-color-white
            lg:bg-white lg:f-color-inherit
            navbar 
            pos-absolute 
            pin-x 
            z-30
            lg:pin-none
            lg:pos-static
            lg:ml-auto
            lg:w-auto
            shadow-lg
            lg:shadow-none 
            lg:-mb-30 
            lg:-mr-28
         ">
            <ul class="list-reset flex-col lg:flex-row justify-end pos-relative">
               <li class="@@if(context.home){is-active}">
                  <a class="nav-link py-30 px-16 lg:px-28" href="#">home</a>
               </li>
               <li class="@@if(context.about){is-active}">
                  <a class="nav-link py-30 px-16 lg:px-28" href="#">about us</a>
               </li>
               <li class="@@if(context.services){is-active}">
                  <div class="submenu-trigger nav-link py-30 px-16 lg:px-28 flex-row pos-relative">
                     <span>
                        services
                     </span>
                     <i class="icon-14 ratio-1x1 ml-8 lg:ml-2 flex-none f-color-inherit d-inline-block pos-absolute pin-t pin-r pin-b-auto mt-24 mr-18">
                        <svg class="pos-absolute pin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.687 22.687">
                           <path transform="rotate(45 3.952 9.54)" fill="currentColor" d="M10.442 6.657 0 11.162a1.7 1.7 0 0 1 .429-.807l2.02-2.109 6.873-7.09L10.442 0l1.118 1.154 8.992 9.279a1.7 1.7 0 0 1 .357.743Z" data-name="Path 1953"/>
                        </svg>
                     </i>
                  </div>
                  <!-- Submenu -->
                  <div class="submenu f-size-14 lg:f-size-18 bg-white lg:bg-transparent pos-fixed pin-x pin-t pin-b z-40">
                     <div class="bg-white lg:shadow-lg">
                        <div class="container-fluid lg:container-xl mx-auto bg-white h-full lg:h-auto pt-16 pb-16">
                           <div class="pt-10 px-20 flex-row align-center justify-end lg:d-hidden">
                              <button class="back-button uppercase f-color-inherit flex-row align-center f-weight-bold">
                                 <span class="icon icon-28 lg:icon-16 mr-8 flex-none f-color-secondary">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                       class="feather feather-chevron-down" viewBox="0 0 24 24">
                                       <path d="m6 9 6 6 6-6" />
                                    </svg>
                                 </span>
                                 Back
                              </button>
                           </div>
                           <div class="p-20">
                              <div class="flex-row flex-wrap -m-10 lg:-m-20">
                                 <div class="col-2 xs:col-4 md:col-3 lg:col-2 p-10 lg:p-20">
                                    <div class="text-wrap text-center">
                                       <a href="products.html" class="ratio-1x1 d-inline-block bg-primary-xlight hover:shadow-md transition-all">
                                          <img src="./images/bird-thumb.png" class="pos-absolute pin w-full h-full object-cover" />
                                       </a>
                                       <h2 class="uppercase f-weight-bold">Bird</h2>
                                    </div>
                                 </div>
                                 <div class="col-2 xs:col-4 md:col-3 lg:col-2 p-10 lg:p-20">
                                    <div class="text-wrap text-center">
                                       <a href="products.html" class="ratio-1x1 d-inline-block bg-primary-xlight hover:shadow-md transition-all">
                                          <img src="./images/cat-thumb.png" class="pos-absolute pin w-full h-full object-cover" />
                                       </a>
                                       <h2 class="uppercase f-weight-bold">Cat</h2>
                                    </div>
                                 </div>
                                 <div class="col-2 xs:col-4 md:col-3 lg:col-2 p-10 lg:p-20">
                                    <div class="text-wrap text-center">
                                       <a href="products.html" class="ratio-1x1 d-inline-block bg-primary-xlight hover:shadow-md transition-all">
                                          <img src="./images/dog-thumb.png" class="pos-absolute pin w-full h-full object-cover" />
                                       </a>
                                       <h2 class="uppercase f-weight-bold">Dog</h2>
                                    </div>
                                 </div>
                                 <div class="col-2 xs:col-4 md:col-3 lg:col-2 p-10 lg:p-20">
                                    <div class="text-wrap text-center">
                                       <a href="products.html" class="ratio-1x1 d-inline-block bg-primary-xlight hover:shadow-md transition-all">
                                          <img src="./images/farm-animal-thumb.png" class="pos-absolute pin w-full h-full object-cover" />
                                       </a>
                                       <h2 class="uppercase f-weight-bold">Farm animal</h2>
                                    </div>
                                 </div>
                                 <div class="col-2 xs:col-4 md:col-3 lg:col-2 p-10 lg:p-20">
                                    <div class="text-wrap text-center">
                                       <a href="products.html" class="ratio-1x1 d-inline-block bg-primary-xlight hover:shadow-md transition-all">
                                          <img src="./images/horse-thumb.png" class="pos-absolute pin w-full h-full object-cover" />
                                       </a>
                                       <h2 class="uppercase f-weight-bold">Horse</h2>
                                    </div>
                                 </div>
                                 <div class="col-2 xs:col-4 md:col-3 lg:col-2 p-10 lg:p-20">
                                    <div class="text-wrap text-center">
                                       <a href="products.html" class="ratio-1x1 d-inline-block bg-primary-xlight hover:shadow-md transition-all">
                                          <img src="./images/small-exotic-thumb.png" class="pos-absolute pin w-full h-full object-cover" />
                                       </a>
                                       <h2 class="uppercase f-weight-bold">Small / exotic</h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </li>
               <li class=" @@if(context.resources){is-active}">
                  <a class="nav-link py-30 px-16 lg:px-28" href="#">resources</a>
               </li>
               <li class=" @@if(context.findus){is-active}">
                  <a class="nav-link py-30 px-16 lg:px-28" href="#">find us</a>
               </li>
            </ul>
         </nav>
      </div>
   </div>
</header>

@@if(context.pixelmatch && context.pixelmatch.show){
<div class="pos-absolute pin-t pin-x pin-b-auto overflow-visible z-400 text-center pointer-events-none" style="margin-top: 0rem;">
   <img src="@@pixelmatch.image" class="pointer-events-none opacity-25" style="outline: 1px solid red;" />
</div>
}