<nav class="bg-primary f-color-white
   lg:bg-white lg:f-color-primary-dark
   navbar 
   pos-absolute 
   pin-x 
   z-30
   lg:pin-none
   lg:pos-static
   lg:ml-auto
   lg:w-auto
   shadow-lg
   lg:shadow-none 
   lg:-mb-30 
   lg:-mr-28">
   <ul class="">
      <li class="@@if(context.home){is-active}">
         <div class="nav-link-group">
            <a class="nav-link" href="index.html">home</a>
            <div class="nav-link-toogle">
               <span class="icon icon-28 lg:icon-16 ml-8 lg:ml-2 flex-none f-color-inherit">
                  <span class="down-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down" viewBox="0 0 24 24">
                      <path d="m6 9 6 6 6-6"></path>
                    </svg>
                  </span>
                  <span class="close-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x" viewBox="0 0 24 24">
                      <path d="M18 6 6 18M6 6l12 12"></path>
                    </svg>
                  </span>
                </span>
            </div>
         </div>
      </li>
   </ul>
</nav>