<nav class="bg-primary f-color-white
   lg:bg-white lg:f-color-primary-dark
   navbar 
   pos-fixed 
   pin-x
   pin-b 
   z-30
   shadow-lg
   lg:pos-static
   lg:pin-none
   lg:pos-static
   lg:ml-auto
   lg:w-auto
   lg:shadow-none 
   lg:-mb-30
   lg:-mr-20">
   <ul class="list-reset flex-col lg:flex-row justify-end pos-relative f-size-28 lg:f-size-20 mt-40 lg:mt-0">
      <li class="@@if(context.home){is-active} hover:f-color-primary">
         <div class="nav-link-group lg:hover:f-color-primary transition-all-1">
            <a class="nav-link py-10 px-12 lg:py-28 lg:px-20" href="index.html">home</a>
         </div>
      </li>
      <li class="@@if(context.about){is-active} hover:f-color-primary">
         <div class="nav-link-group lg:hover:f-color-primary transition-all-1">
            <a class="nav-link py-10 px-12 lg:py-28 lg:px-20" href="#">about us</a>
         </div>
      </li>
      <li class="@@if(context.services){is-active} hover:f-color-primary">
         <div class="nav-link-group lg:hover:f-color-primary transition-all-1">
            <a class="nav-link py-10 px-12 lg:py-28 lg:px-20" href="index.html">services</a>
            <div class="nav-link-toogle">
               <span class="icon icon-28 lg:icon-16 ml-8 lg:ml-2 flex-none f-color-inherit">
                  <span class="down-icon">
                     <svg class="lg:d-hidden" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                        <path d="m9 18 6-6-6-6" />
                     </svg>
                     <svg class="d-hidden lg:d-inline-block" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                        <path d="m6 9 6 6 6-6"/>
                      </svg>
                  </span>
                  <span class="close-icon">
                     <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                        <path d="M18 6 6 18M6 6l12 12"></path>
                     </svg>
                  </span>
               </span>
            </div>
         </div>
         <div class="drop-menu-holder f-weight-light f-size-28 xl:f-size-48">
            <ul class="drop-menu bg-primary f-color-white p-20 list-reset">
               <li class="f-size-20 lg:f-size-30 mb-12">
                  <span>services</span>
               </li>
               <li class="@@if(context.tax){is-active}">
                  <div class="nav-link-group hover:f-color-secondary transition-all-1">
                     <a class="nav-link py-10 py-8" href="index.html">Tax</a>
                     <div class="nav-link-toogle">
                        <span class="icon icon-20 ml-8 lg:ml-2 flex-none f-color-inherit">
                           <span class="down-icon">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2"
                                 class="feather feather-chevron-right" viewBox="0 0 24 24">
                                 <path d="m9 18 6-6-6-6" />
                              </svg>
                           </span>
                           <span class="close-icon">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                                 <path d="M18 6 6 18M6 6l12 12"></path>
                              </svg>
                           </span>
                        </span>
                     </div>
                  </div>
                  <div class="drop-menu-holder f-weight-light f-size-28 xl:f-size-36">
                     <ul class="drop-menu bg-primary f-color-white p-20 list-reset">
                        <li class="go-back f-size-20 lg:f-size-30 mb-12">
                           <div class="nav-link-group hover:f-color-secondary transition-all-1">
                              <span class="icon icon-20 mr-8 lg:mr-2 flex-none f-color-inherit">
                                 <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                                    <path d="m15 18-6-6 6-6" />
                                 </svg>
                              </span>
                              <span>Tax</span>
                           </div>
                        </li>
                        <li class="@@if(context.home){is-active}">
                           <div class="nav-link-group hover:f-color-secondary transition-all-1">
                              <a class="nav-link py-10 py-8" href="#">Individuals + Landlords</a>
                           </div>
                        </li>
                        <li class="@@if(context.home){is-active}">
                           <div class="nav-link-group hover:f-color-secondary transition-all-1">
                              <a class="nav-link py-10 py-8" href="#">Businesses</a>
                           </div>
                        </li>
                        <li class="@@if(context.home){is-active}">
                           <div class="nav-link-group hover:f-color-secondary transition-all-1">
                              <a class="nav-link py-10 py-8" href="#">Not for Profit</a>
                           </div>
                        </li>
                     </ul>
                  </div>
               </li>
               <li class="@@if(context.accounting){is-active}">
                  <div class="nav-link-group hover:f-color-secondary transition-all-1">
                     <a class="nav-link py-10 py-8" href="index.html">Accounting</a>
                     <div class="nav-link-toogle">
                        <span class="icon icon-20 ml-8 lg:ml-2 flex-none f-color-inherit">
                           <span class="down-icon">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2"
                                 class="feather feather-chevron-right" viewBox="0 0 24 24">
                                 <path d="m9 18 6-6-6-6" />
                              </svg>
                           </span>
                           <span class="close-icon">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                                 <path d="M18 6 6 18M6 6l12 12"></path>
                              </svg>
                           </span>
                        </span>
                     </div>
                  </div>
                  <div class="drop-menu-holder f-weight-light f-size-28 xl:f-size-36">
                     <ul class="drop-menu bg-primary f-color-white p-20 list-reset">
                        <li class="go-back f-size-20 lg:f-size-30 mb-12">
                           <div class="nav-link-group hover:f-color-secondary transition-all-1">
                              <span class="icon icon-20 mr-8 lg:mr-2 flex-none f-color-inherit">
                                 <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                                    <path d="m15 18-6-6 6-6" />
                                 </svg>
                              </span>
                              <span>Accounting</span>
                           </div>
                        </li>
                        <li class="@@if(context.home){is-active}">
                           <div class="nav-link-group hover:f-color-secondary transition-all-1">
                              <a class="nav-link py-10 py-8" href="#">Individuals + Landlords</a>
                           </div>
                        </li>
                        <li class="@@if(context.home){is-active}">
                           <div class="nav-link-group hover:f-color-secondary transition-all-1">
                              <a class="nav-link py-10 py-8" href="#">Businesses</a>
                           </div>
                        </li>
                        <li class="@@if(context.home){is-active}">
                           <div class="nav-link-group hover:f-color-secondary transition-all-1">
                              <a class="nav-link py-10 py-8" href="#">Not for Profit</a>
                           </div>
                        </li>
                     </ul>
                  </div>
               </li>
               <li class="@@if(context.navigation){is-active}">
                  <div class="nav-link-group hover:f-color-secondary transition-all-1">
                     <a class="nav-link py-10 py-8" href="index.html">Navigation</a>
                     <div class="nav-link-toogle">
                        <span class="icon icon-20 ml-8 lg:ml-2 flex-none f-color-inherit">
                           <span class="down-icon">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2"
                                 class="feather feather-chevron-right" viewBox="0 0 24 24">
                                 <path d="m9 18 6-6-6-6" />
                              </svg>
                           </span>
                           <span class="close-icon">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                                 <path d="M18 6 6 18M6 6l12 12"></path>
                              </svg>
                           </span>
                        </span>
                     </div>
                  </div>
                  <div class="drop-menu-holder f-weight-light f-size-28 xl:f-size-36">
                     <ul class="drop-menu bg-primary f-color-white p-20 list-reset">
                        <li class="go-back f-size-20 lg:f-size-30 mb-12">
                           <div class="nav-link-group hover:f-color-secondary transition-all-1">
                              <span class="icon icon-20 mr-8 lg:mr-2 flex-none f-color-inherit">
                                 <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                                    <path d="m15 18-6-6 6-6" />
                                 </svg>
                              </span>
                              <span>Navigation</span>
                           </div>
                        </li>
                        <li class="@@if(context.home){is-active}">
                           <div class="nav-link-group hover:f-color-secondary transition-all-1">
                              <a class="nav-link py-10 py-8" href="#">Individuals + Landlords</a>
                           </div>
                        </li>
                        <li class="@@if(context.home){is-active}">
                           <div class="nav-link-group hover:f-color-secondary transition-all-1">
                              <a class="nav-link py-10 py-8" href="#">Businesses</a>
                           </div>
                        </li>
                        <li class="@@if(context.home){is-active}">
                           <div class="nav-link-group hover:f-color-secondary transition-all-1">
                              <a class="nav-link py-10 py-8" href="#">Not for Profit</a>
                           </div>
                        </li>
                     </ul>
                  </div>
               </li>
            </ul>
         </div>
      </li>
      <li class="@@if(context.resources){is-active} hover:f-color-primary">
         <div class="nav-link-group lg:hover:f-color-primary transition-all-1">
            <a class="nav-link py-10 px-12 lg:py-28 lg:px-20" href="#">resources</a>
         </div>
      </li>
      <li class="@@if(context.findUs){is-active} hover:f-color-primary">
         <div class="nav-link-group lg:hover:f-color-primary transition-all-1">
            <a class="nav-link py-10 px-12 lg:py-28 lg:px-20" href="find-us.html">find us</a>
         </div>
      </li>
   </ul>
</nav>