<section class="pos-relative py-40 lg:py-90" data-aos="fade-in" data-aos-delay="100">
   <div class="container sm:container-sm lg:container-article xl:container-xl xxl:container-xxl mx-auto pos-relative">
      <section class="flex-row flex-wrap -m-20">
         <div class="col-12 lg:col-6 xl:pr-100 p-20">
            <div class="text-wrap">
               <div class="text-wrap-inherit lg:f-size-22">
                  <h2 class="f-size-28 f-color-primary f-weight-medium">We will:</h2>
                  <ul class="text-wrap-sm pl-20">
                     <li>Calculate your income tax, national insurance contributions (NIC) and any capital gains tax liabilities to be included on your self-assessment return, including if you have been treated as a deemed employee under the IR35/off-payroll working rules.</li>
                     <li>Submit your returns to HM Revenue & Customs (HMRC).</li>
                     <li>Tell you how much tax you should pay and when.</li>
                     <li>Advise on the interest and penalty implications if tax or NIC is paid late.</li>
                     <li>Check HMRC's calculation of your tax and NIC liabilities and initiate repayment claims if tax or NIC have been overpaid.</li>
                     <li>Help you comply with Making Tax Digital (MTD).</li>
                     <li>Check the digital accounting records which you keep to meet the requirements of MTD.</li>
                     <li>Submit your MTD for VAT return to HMRC.</li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-12 lg:col-6 xl:pl-100 p-20">
            <div class="text-wrap">
               <div class="text-wrap-inherit lg:f-size-22">
                  <h2 class="f-size-28 f-color-primary f-weight-medium">We can additionally:</h2>
                  <ul class="text-wrap-sm pl-20">
                     <li>Advise and assist with registration for VAT.</li>
                     <li>Advise on tax credits and universal credits.</li>
                     <li>Reconcile VAT outputs with turnover.</li>
                     <li>Make recommendations about suitable methods of accounting.</li>
                     <li>Deal with any enquiry opened into your tax return by HMRC.</li>
                  </ul>
                  <p>Maintaining good accounting records not only helps you to avoid unnecessary financial penalties, it also saves you money through your individual entitlements and tax relief, and helps you to track how your business is growing.</p>
               </div>
            </div>
         </div>
      </section>
   </div>
</section>