body{
  line-height: 1.3;
}

b,
strong {
  font-weight: 600;
}

.button {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  position: relative;
  transition: all .45s 0s ease-in-out;
  display: inline-block;
  min-height: 43px;

  &.size-md{
    min-width: 10rem;
  }
  
  &.size-lg{
    min-width: 20rem;
  }
  
  &.size-xl{
    min-width: 27rem;
  }
}

.button {
  &:hover {
    transform: translateY(-.5rem) !important;
  }
}

textarea {
  resize: none;
}

.transition-all {

  &,
  *[class*="hover\:"],
  *[class*="focus\:"] {
    transition: all .35s 0s ease-in-out;
  }

  // &.dropdown {
  //   transition: all .7s 0s ease-in-out;
  // }
}

.text-wrap {
  >* {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}

.brand-logo,
.unstuck-link {
  display: inline-block;
}

.unstuck-link {
  display: inline-block;
  svg,
  img {
    max-height: 1.7rem;
    vertical-align: top;
    vertical-align: inherit;
  }

  svg{
    path{
      fill: currentColor;
    }
  }
}

// .img-placeholder {
//   // background-color: rgba($colorDark, .1);
//   background-image: url('../images/ewe-sheep-placeholder.svg');
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: 6.4rem;
//   transition: all .45s 0s ease-in-out;
//   @media (min-width: $bp_md) {
//     // background-size: 26rem;
//   }
// }

.image-rollover {
  overflow: hidden;
  .card-image  {
    transition: all .45s 0s ease-in-out;
  }
  &:hover {
    // background-size: 28rem;
    .card-image {
      transform: scale(1.045);
    }
    .play-button{
      transform: scale(0.955);
    }
  }
}

.pagination{
  > a {
    width: 3.6rem;
    height: 3.6rem;
    text-align: center;
  }
}

// .page-banner{
//   max-height: 62rem;
// }

.twitter-feeds{
  min-height: 40rem;
  @media(max-width: $bp-lg){
    max-height: 40rem;
    min-height: 0;
  }
}

// Carousel style
.banner-carousel{
  .owl-dots{
    max-width: $container_lg;
    margin: 0 auto !important;
    transform: translateY(-13.5rem);
    text-align: left;
    width: $container_null;
    .owl-dot{
      margin-left: -5px;
    }
    @media (min-width: $bp_md){
      transform: translateY(-15rem);
    }
    @media (min-width: $bp_xl){
      width:100%;
    }
  }
  &.owl-theme .owl-dots .owl-dot {
    span{
      background-color: $colorBlue;
      border: 1px solid $colorBlue
    }
    &.active{
      span{
        background-color: $colorWhite;
      }
    }
  } 
}

// Search toggle
.search-toggle{
  &.is-active{
    .search-open{
      display: none;
    }
    .search-close{
      display: inline-flex;
    }
  }
  &:not(.is-active){
    .search-close{
      display: none;
    }
    .search-open{
      display: inline-flex;
    }
  }
}

.searchBarToggle{
  @media (max-width: $bp_md){
    transition: height .45s ease-in-out;
    top: auto;
    bottom: 0rem;
    body:not(.search-is-open) &{
      height: 0;
      overflow: hidden;
    }
    body.search-is-open &{
      height: 5.2rem;
    }  
  }
  @media (min-width: $bp_md){
    transition: max-width .45s ease-in-out;
    body:not(.search-is-open) &{
      max-width: 0;
      overflow: hidden;
    }
    body.search-is-open &{
      max-width: 100rem;
    }  
  }
}

.banner-snippet{
  @media (max-width: $bp_md){
    .text-wrap{
      p{
        display: none;
      }
    }
  }
}