@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/*Font family
---------------------------------*/
body { font-size: 17px; line-height: 1.3333; color: #000000; background-color: #ffffff; }

b, strong { font-weight: 700; }

body, .text-default { font-family: "museo-sans", Helvetica, Arial, sans-serif; font-weight: 300; color: #000000; }

.text-display, .text-title { font-family: "museo", Helvetica, Arial, serif; font-weight: 500; }

::-webkit-input-placeholder { color: #000000; }

::-moz-placeholder { color: #000000; opacity: 1; }

:-ms-input-placeholder { color: #000000; }

:-moz-placeholder { color: #000000; }

/*Display text
---------------------------------*/
.display_1 { font-size: 56px; line-height: 1.2; }

/*Heading text
---------------------------------*/
h1, .h1, .title_1 { font-size: 33px; line-height: 1.2; }

h2, .h2, .title_2 { font-size: 30px; line-height: 1.2; }

/*Sub Heading text*/
h3, .h3, .title_3 { font-size: 22px; line-height: 1.18; }

h4, .h4, .title_4 { font-size: 18px; }

h5, .h5, .title_5 { font-size: 16px; }

h6, .h6, .title_6 { font-size: 14px; }

.display_1, .title_1, .title_2, .title_3, .title_4, .title_5, .title_6 { text-transform: uppercase; }

/*Has border*/
.has-border { position: relative; padding-bottom: 15px; }

.has-border:after { content: ""; position: absolute; bottom: 0; left: 0; width: 100px; height: 0; border-bottom: .09em solid; }

.has-border.text-center { text-align: center; }

.has-border.text-center:after { left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

.has-border.main-header { padding-bottom: 40px; margin-bottom: 40px; }

.has-border.main-header:after { width: 250px; }

.text-center .has-border { text-align: center; }

.text-center .has-border:after { left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

/*Text color
---------------------------------*/
.text-primary { color: #39a949; }

.text-secondary { color: #00abd6; }

.text-highlight { color: #f5e230; }

.text-dark { color: #000000; }

.text-light { color: #ffffff; }

/*intro text*/
.text-intro { font-size: 18px; }

/*Utilities
-------------------------------- */
/*Image*/
img { vertical-align: middle; }

.img-res { display: inline-block; max-width: 100%; height: auto; }

/*Text alignments*/
.text-center { text-align: center; }

.text-left { text-align: left; }

.text-right { text-align: right; }

/*Text transfromf*/
.text-upper { text-transform: uppercase; }

.text-lower { text-transform: lowercase; }

.text-caps { text-transform: capitalize; }

.text-normal { text-transform: none; }

/*Margin Paddings*/
.pad-10-a { padding: 10px; }

.pad-10-t { padding-top: 10px; }

.pad-10-r { padding-right: 10px; }

.pad-10-b { padding-bottom: 10px; }

.pad-10-l { padding-left: 10px; }

.mar-10-a { margin: 10px; }

.mar-10-t { margin-top: 10px; }

.mar-10-r { margin-right: 10px; }

.mar-10-b { margin-bottom: 10px; }

.mar-10-l { margin-left: 10px; }

.pad-20-a { padding: 20px; }

.pad-20-t { padding-top: 20px; }

.pad-20-r { padding-right: 20px; }

.pad-20-b { padding-bottom: 20px; }

.pad-20-l { padding-left: 20px; }

.mar-20-a { margin: 20px; }

.mar-20-t { margin-top: 20px; }

.mar-20-r { margin-right: 20px; }

.mar-20-b { margin-bottom: 20px; }

.mar-20-l { margin-left: 20px; }

.pad-30-a { padding: 30px; }

.pad-30-t { padding-top: 30px; }

.pad-30-r { padding-right: 30px; }

.pad-30-b { padding-bottom: 30px; }

.pad-30-l { padding-left: 30px; }

.mar-30-a { margin: 30px; }

.mar-30-t { margin-top: 30px; }

.mar-30-r { margin-right: 30px; }

.mar-30-b { margin-bottom: 30px; }

.mar-30-l { margin-left: 30px; }

.pad-40-a { padding: 40px; }

.pad-40-t { padding-top: 40px; }

.pad-40-r { padding-right: 40px; }

.pad-40-b { padding-bottom: 40px; }

.pad-40-l { padding-left: 40px; }

.mar-40-a { margin: 40px; }

.mar-40-t { margin-top: 40px; }

.mar-40-r { margin-right: 40px; }

.mar-40-b { margin-bottom: 40px; }

.mar-40-l { margin-left: 40px; }

.pad-50-a { padding: 50px; }

.pad-50-t { padding-top: 50px; }

.pad-50-r { padding-right: 50px; }

.pad-50-b { padding-bottom: 50px; }

.pad-50-l { padding-left: 50px; }

.mar-50-a { margin: 50px; }

.mar-50-t { margin-top: 50px; }

.mar-50-r { margin-right: 50px; }

.mar-50-b { margin-bottom: 50px; }

.mar-50-l { margin-left: 50px; }

.pad-60-a { padding: 60px; }

.pad-60-t { padding-top: 60px; }

.pad-60-r { padding-right: 60px; }

.pad-60-b { padding-bottom: 60px; }

.pad-60-l { padding-left: 60px; }

.mar-60-a { margin: 60px; }

.mar-60-t { margin-top: 60px; }

.mar-60-r { margin-right: 60px; }

.mar-60-b { margin-bottom: 60px; }

.mar-60-l { margin-left: 60px; }

.pad-70-a { padding: 70px; }

.pad-70-t { padding-top: 70px; }

.pad-70-r { padding-right: 70px; }

.pad-70-b { padding-bottom: 70px; }

.pad-70-l { padding-left: 70px; }

.mar-70-a { margin: 70px; }

.mar-70-t { margin-top: 70px; }

.mar-70-r { margin-right: 70px; }

.mar-70-b { margin-bottom: 70px; }

.mar-70-l { margin-left: 70px; }

/*Buttons
---------------------------------*/
.button, button, input[type="submit"], input[type="reset"], input[type="button"] { display: inline-block; padding: 0 15px; font-family: "museo-sans", Helvetica, Arial, sans-serif; text-align: center; font-size: 16px; font-weight: 700; line-height: 44px; letter-spacing: .1rem; text-transform: uppercase; text-decoration: none; white-space: nowrap; -webkit-border-radius: 0; border-radius: 0; cursor: pointer; -webkit-box-sizing: border-box; box-sizing: border-box; vertical-align: top; -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); padding-right: 40px; padding-left: 40px; color: #39a949; border: 2px solid; background-color: transparent; }

.button:hover, .button:focus, button:hover, button:focus, input[type="submit"]:hover, input[type="submit"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="button"]:hover, input[type="button"]:focus { outline: 0; color: #ffffff; background-color: #39a949; border-color: #39a949; }

.button + .button, .button + button, .button + input[type="submit"], .button + input[type="reset"], .button + input[type="button"], button + .button, button + button, button + input[type="submit"], button + input[type="reset"], button + input[type="button"], input[type="submit"] + .button, input[type="submit"] + button, input[type="submit"] + input[type="submit"], input[type="submit"] + input[type="reset"], input[type="submit"] + input[type="button"], input[type="reset"] + .button, input[type="reset"] + button, input[type="reset"] + input[type="submit"], input[type="reset"] + input[type="reset"], input[type="reset"] + input[type="button"], input[type="button"] + .button, input[type="button"] + button, input[type="button"] + input[type="submit"], input[type="button"] + input[type="reset"], input[type="button"] + input[type="button"] { margin-left: 5px; }

.button, .button-md { line-height: 44px; font-size: 16px; }

.button-sm { line-height: 24px; font-size: 14px; }

.button-lg { line-height: 48px; font-size: 30px; }

.button-primary { color: #39a949; background-color: transparent; }

.button-primary:hover, .button-primary:focus { color: #ffffff; background-color: #39a949; border-color: #39a949; }

.button-primary.button-fill { color: #ffffff; background-color: #39a949; border-color: #39a949; }

.button-primary.button-fill:hover, .button-primary.button-fill:focus { color: #39a949; background-color: transparent; border-color: #39a949; }

.button-secondary { color: #00abd6; background-color: transparent; }

.button-secondary:hover, .button-secondary:focus { color: #ffffff; background-color: #00abd6; border-color: #00abd6; }

.button-secondary.button-fill { color: #ffffff; background-color: #00abd6; border-color: #00abd6; }

.button-secondary.button-fill:hover, .button-secondary.button-fill:focus { color: #00abd6; background-color: transparent; border-color: #00abd6; }

.button-highlight { color: #f5e230; background-color: transparent; }

.button-highlight:hover, .button-highlight:focus { color: #ffffff; background-color: #f5e230; border-color: #f5e230; }

.button-highlight.button-fill { color: #000000; background-color: #f5e230; border-color: #f5e230; }

.button-highlight.button-fill:hover, .button-highlight.button-fill:focus { color: #f5e230; background-color: transparent; border-color: #f5e230; }

.button-light { color: #ffffff; background-color: transparent; border-color: #ffffff; }

.button-light:hover, .button-light:focus { color: #000000; background-color: #ffffff; border-color: #ffffff; }

.button-light.button-fill { color: #000000; background-color: #ffffff; border-color: #ffffff; }

.button-light.button-fill:hover, .button-light.button-fill:focus { color: #ffffff; background-color: transparent; border-color: #ffffff; }

.button-dark { color: #000000; background-color: transparent; }

.button-dark:hover, .button-dark:focus { color: #ffffff; background-color: #000000; border-color: #000000; }

.button-dark.button-fill { color: #ffffff; background-color: #000000; border-color: #000000; }

.button-dark.button-fill:hover, .button-dark.button-fill:focus { color: #000000; background-color: transparent; border-color: #000000; }

.button, .button-square { -webkit-border-radius: 0; border-radius: 0; }

.button-circle { -webkit-border-radius: 24px; border-radius: 24px; }

.button-full-circle { -webkit-border-radius: 50%; border-radius: 50%; }

.button-rounded { -webkit-border-radius: 4px; border-radius: 4px; }

/* Links
---------------------------------*/
a { color: inherit; text-decoration: none; -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }

a:hover, a:focus, a:active { text-decoration: underline; }

a.button { text-decoration: none; }

/*Icons
-------------------------------- */
.ico { position: relative; display: inline-block; /*Shapes*/ }

.ico:before { display: block; content: ""; width: 100%; padding-top: 100%; }

.ico + .ico { margin-left: 5px; }

.ico, .ico-md { width: 32px; font-size: 19px; }

.ico-sm { width: 24px; font-size: 14px; }

.ico-lg { width: 38px; font-size: 26px; }

.ico > span { position: absolute; left: 0; top: 0; right: 0; bottom: 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; border: 2px solid; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.ico > span img { max-width: 24px; }

.ico > span, .ico-primary > span { color: #ffffff; border-color: #39a949; background-color: #39a949; }

.ico.ico-outline > span, .ico-primary.ico-outline > span { color: #39a949; border-color: #39a949; background-color: transparent; }

.ico-secondary > span { color: #ffffff; border-color: #00abd6; background-color: #00abd6; }

.ico-secondary.ico-outline > span { color: #00abd6; border-color: #00abd6; background-color: transparent; }

.ico-highlight > span { color: #ffffff; border-color: #f5e230; background-color: #f5e230; }

.ico-highlight.ico-outline > span { color: #f5e230; border-color: #f5e230; background-color: transparent; }

.ico-dark > span { color: #ffffff; border-color: #000000; background-color: #000000; }

.ico-dark.ico-outline > span { color: #000000; border-color: #000000; background-color: transparent; }

.ico-light > span { color: #000000; border-color: #ffffff; background-color: #ffffff; }

.ico-light.ico-outline > span { color: #ffffff; border-color: #ffffff; background-color: transparent; }

.ico-outline > span { color: #000000; border-color: #000000; background-color: transparent; }

.ico > span, .ico-circle > span { -webkit-border-radius: 100%; border-radius: 100%; }

.ico-rounded > span { -webkit-border-radius: 4px; border-radius: 4px; }

.ico-square > span { -webkit-border-radius: 0; border-radius: 0; }

/* Forms
-------------------------------- */
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], textarea, select { font-size: 1rem; line-height: 1.2; font-weight: 300; font-family: "museo-sans", Helvetica, Arial, sans-serif; color: #000000; }

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select { vertical-align: top; height: 38px; padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */ background-color: #fff; border: 1px solid transparent; -webkit-border-radius: 0; border-radius: 0; -webkit-box-shadow: none; box-shadow: none; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Removes awkward default styles on some inputs for iOS */
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

textarea { height: auto; resize: none; min-height: 65px; padding-top: 6px; padding-bottom: 6px; }

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, textarea:focus, select:focus { border: 1px solid #39a949; outline: 0; }

label, legend { display: block; margin-bottom: 3px; }

fieldset { padding: 0; border-width: 0; }

input[type="checkbox"], input[type="radio"] { display: inline; }

label > .label-body { display: inline-block; margin-left: 15px; font-weight: normal; }

.ph-center::-webkit-input-placeholder { text-align: center; }

.ph-center::-moz-placeholder { text-align: center; }

.ph-center:-ms-input-placeholder { text-align: center; }

.ph-center:-moz-placeholder { text-align: center; }

.ph-center ::-webkit-input-placeholder { text-align: center; }

.ph-center ::-moz-placeholder { text-align: center; }

.ph-center :-ms-input-placeholder { text-align: center; }

.ph-center :-moz-placeholder { text-align: center; }

/* Spacing
-------------------------------- */
h1, h2, h3, h4, h5, h6 { margin-top: 0; margin-bottom: 20px; }

input, textarea, select, fieldset { margin-top: 0; margin-bottom: 20px; }

pre, blockquote, dl, figure, table, p, ul, ol, form { margin-top: 0; margin-bottom: 20px; }

/*Background rules
---------------------------------*/
.bg-primary { background-color: #39a949; color: #ffffff; }

.bg-primary .text-primary, .bg-primary .text-secondary, .bg-primary .text-dark, .bg-primary .text-light { color: #ffffff; }

.bg-primary .button, .bg-primary button, .bg-primary input[type="submit"], .bg-primary input[type="reset"], .bg-primary input[type="button"] { color: #ffffff; border: 2px solid; background-color: transparent; }

.bg-primary .button:hover, .bg-primary .button :focus, .bg-primary button:hover, .bg-primary button :focus, .bg-primary input[type="submit"]:hover, .bg-primary input[type="submit"] :focus, .bg-primary input[type="reset"]:hover, .bg-primary input[type="reset"] :focus, .bg-primary input[type="button"]:hover, .bg-primary input[type="button"] :focus { color: #39a949; background-color: #ffffff; border-color: #ffffff; }

.bg-primary .button-highlight { color: #f5e230; background-color: transparent; }

.bg-primary .button-highlight:hover, .bg-primary .button-highlight :focus { color: #39a949; background-color: #f5e230; border-color: #f5e230; }

.bg-primary .button-dark { color: #000000; background-color: transparent; }

.bg-primary .button-dark:hover, .bg-primary .button-dark :focus { color: #ffffff; background-color: #000000; border-color: #000000; }

.bg-primary .gm-style { color: #39a949; }

.bg-secondary { background-color: #00abd6; color: #ffffff; }

.bg-secondary .text-primary, .bg-secondary .text-secondary, .bg-secondary .text-dark, .bg-secondary .text-light { color: #ffffff; }

.bg-secondary .button, .bg-secondary button, .bg-secondary input[type="submit"], .bg-secondary input[type="reset"], .bg-secondary input[type="button"] { color: #ffffff; border: 2px solid; background-color: transparent; }

.bg-secondary .button:hover, .bg-secondary .button :focus, .bg-secondary button:hover, .bg-secondary button :focus, .bg-secondary input[type="submit"]:hover, .bg-secondary input[type="submit"] :focus, .bg-secondary input[type="reset"]:hover, .bg-secondary input[type="reset"] :focus, .bg-secondary input[type="button"]:hover, .bg-secondary input[type="button"] :focus { color: #00abd6; background-color: #ffffff; border-color: #ffffff; }

.bg-secondary .button-highlight { color: #f5e230; background-color: transparent; }

.bg-secondary .button-highlight:hover, .bg-secondary .button-highlight :focus { color: #00abd6; background-color: #f5e230; border-color: #f5e230; }

.bg-secondary .button-dark { color: #000000; background-color: transparent; }

.bg-secondary .button-dark:hover, .bg-secondary .button-dark :focus { color: #ffffff; background-color: #000000; border-color: #000000; }

.bg-secondary .gm-style { color: #00abd6; }

.bg-dark { background-color: #000000; color: #ffffff; }

.bg-dark .text-dark { color: #ffffff; }

.bg-dark .button-dark { color: #ffffff; background-color: transparent; border-color: #ffffff; }

.bg-dark .button-dark:hover, .bg-dark .button-dark :focus { color: #000000; background-color: #ffffff; border-color: #ffffff; }

.bg-dark .gm-style { color: #000000; }

.bg-light { background-color: #ffffff; }

.bg-light .button-light { color: #000000; background-color: transparent; border-color: #000000; }

.bg-light .button-light:hover, .bg-light .button-light :focus { color: #ffffff; background-color: #000000; border-color: #000000; }

.bg-light .gm-style { color: #000000; }

.bg-highlight { background-color: #f5e230; }

.bg-highlight .text-highlight { color: #ffffff; }

.bg-highlight .button-highlight { color: #ffffff; background-color: transparent; border-color: #ffffff; }

.bg-highlight .button-highlight:hover, .bg-highlight .button-highlight :focus { color: #000000; background-color: #ffffff; border-color: #ffffff; }

.bg-highlight .gm-style { color: #f5e230; }

/*Layout
---------------------------------*/
*, :after, :before { -webkit-box-sizing: border-box; box-sizing: border-box; }

.container { width: 100%; max-width: 1140px; margin-left: auto; margin-right: auto; padding-left: 12px; padding-right: 12px; }

.container:before, .container:after { display: table; content: " "; }

.section { position: relative; }

/*Grid
---------------------------------*/
.grid { margin-left: -12px; margin-right: -12px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.grid > .col { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; padding: 0 12px; margin-bottom: 24px; }

@media (max-width: 800px) { .grid > .col { -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none; width: 50%; } }

@media (max-width: 600px) { .grid > .col { width: 100%; } }

.grid-2 > .col { width: 50%; -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none; }

@media (max-width: 600px) { .grid-2 > .col { width: 100%; } }

.grid-3 > .col { width: 33.33%; -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none; }

@media (max-width: 800px) { .grid-3 > .col { width: 50%; } }

@media (max-width: 600px) { .grid-3 > .col { width: 100%; } }

.grid-4 > .col { width: 25%; -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none; }

@media (max-width: 800px) { .grid-4 > .col { width: 50%; } }

@media (max-width: 600px) { .grid-4 > .col { width: 100%; } }

.grid > .col-25 { width: 25%; -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none; }

@media (max-width: 800px) { .grid > .col-25 { width: 50%; } }

@media (max-width: 600px) { .grid > .col-25 { width: 100%; } }

.grid > .col-33 { width: 33.33%; -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none; }

@media (max-width: 800px) { .grid > .col-33 { width: 50%; } }

@media (max-width: 600px) { .grid > .col-33 { width: 100%; } }

.grid > .col-50 { width: 50%; -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none; }

@media (max-width: 600px) { .grid > .col-50 { width: 100%; } }

/*Breadcrumbs
---------------------------------*/
.breadcrumbs { list-style: none; margin-top: 15px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.breadcrumbs li { font-size: 13px; line-height: 13px; color: #999999; border-right: 1px solid; padding: 0 10px; font-weight: 500; }

.breadcrumbs li:last-child { border: 0; }

@media (max-width: 599px) { .breadcrumbs li { font-size: 8px; } }

/*Video thumb
---------------------------------*/
.video-thumb { position: relative; }

.video-thumb .video-play-btn { position: absolute; padding: 0; height: 125px; width: 125px; z-index: 1; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; }

.video-thumb .video-play-btn:after { content: ""; height: 0; width: 0; border: 2em solid; border-width: 2em 2em 2em 3em; border-color: transparent transparent transparent #ffffff; }

.video-thumb .video-play-btn.button-highlight { border-color: transparent transparent transparent #000000; }

.video-thumb .video-play-btn.button-light:after { border-color: transparent transparent transparent #000000; }

/*Banner carousel
*/
.banner-crousel { position: relative; }

.banner-crousel .owl-dots { position: absolute; bottom: 0; left: 0; right: 0; margin-bottom: 30px; }

.banner-crousel .owl-dots .owl-dot span { background-color: #ffffff; }

.banner-crousel .owl-dots .owl-dot:hover span { background-color: #ffffff; }

.banner-crousel .owl-dots .owl-dot.active span { background-color: transparent; border: 1px solid #ffffff; }

/*Header
---------------------------------*/
.header { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; position: absolute; top: 0; right: 0; bottom: auto; left: 0; z-index: 9; }

.header .header-top { padding: 0 12px; background-color: #39a949; width: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

@media (max-width: 599px) { .header .header-top { padding-bottom: 20px; } }

.header .logo { margin: 30px auto; width: 80%; max-width: 400px; }

.footer { font-weight: 700; }

.footer .contacts { width: 20%; -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.footer .contacts > * { margin-bottom: 12px; }

.footer .contacts .logo { max-width: 150px; }

.footer .contacts .social { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.footer .site-map { font-size: 13px; margin-left: 50px; width: -webkit-calc( 80% - 50px); width: calc( 80% - 50px); }

.footer .site-map ul { margin-bottom: 0; }

.footer .site-map ul li { margin-bottom: 12px; }

.footer .site-map ul li:first-child { margin-bottom: 12px; }

.footer .site-map ul li:last-child { margin-bottom: 0; }

.footer-bottom { font-size: 13px; width: 100%; -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none; }

@media (max-width: 800px) { .footer { text-align: center; }
  .footer .contacts { width: 100%; text-align: center; }
  .footer .contacts .logo { margin-left: auto; margin-right: auto; }
  .footer .contacts .social { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
  .footer .site-map { width: 100%; text-align: center; margin-left: 0; margin-right: 0; max-width: 100%; text-align: center; }
  .footer .site-map .grid > .col { width: 100%; } }

/* Hamburger Icon
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hamburger { position: relative; height: 20px; width: 20px; margin: 0 auto; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; margin-bottom: 10px; margin-top: -30px; }

.hamburger > div, .hamburger:before, .hamburger:after { position: absolute; background-color: #ffffff; height: 2px; -webkit-border-radius: 2px; border-radius: 2px; -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger > div { width: 26px; top: 50%; margin-top: -1px; }

.hamburger:before, .hamburger:after { content: ""; width: 100%; }

.hamburger:before { left: 0; top: 0; -webkit-transform-origin: 0 0; -ms-transform-origin: 0 0; transform-origin: 0 0; }

.hamburger:after { right: 0; bottom: 0; -webkit-transform-origin: 100% 100%; -ms-transform-origin: 100% 100%; transform-origin: 100% 100%; }

.hamburger.is-active > div { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

.hamburger.is-active:before, .hamburger.is-active:after { width: 50%; -webkit-transform: rotate(42deg); -ms-transform: rotate(42deg); transform: rotate(42deg); }

@media (min-width: 600px) { .hamburger { display: none; } }

.nav { background-color: rgba(57, 169, 73, 0.7); color: #ffffff; width: 100%; }

.nav ul, .nav label { margin: 0; padding: 0; }

.nav > ul { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; list-style: none; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.nav > ul > li { position: relative; overflow: hidden; }

.nav > ul > li a { font-weight: 500; }

.nav > ul > li label { position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 1; -webkit-transition-delay: 500ms; -o-transition-delay: 500ms; transition-delay: 500ms; }

.nav > ul > li ul { position: absolute; left: 0; top: 100%; right: auto; bottom: auto; background-color: rgba(57, 169, 73, 0.7); border-top: 3px solid #f5e230; max-height: 0; overflow: hidden; }

.nav > ul > li ul li { white-space: nowrap; }

.nav > ul > li.active, .nav > ul > li:hover { overflow: visible; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.nav > ul > li.active > a, .nav > ul > li:hover > a { color: #f5e230; }

.nav > ul > li.active label, .nav > ul > li:hover label { z-index: -1; }

.nav > ul > li.active ul, .nav > ul > li:hover ul { max-height: 2000px; -webkit-transition: max-height 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); -o-transition: max-height 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); transition: max-height 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }

.nav > ul li a { color: #ffffff; padding: 15px 30px; display: inline-block; }

@media (max-width: 599px) { .nav > ul li a { padding: 15px 12px; } }

.nav > ul li a:hover { text-decoration: none; }

@media (min-width: 991px) { .nav > ul li a:hover { color: #f5e230; } }

.nav > ul li li a { padding: 8px 30px; }

@media (max-width: 599px) { .nav { max-height: 0; overflow: hidden; -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .nav > ul { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .nav > ul li { width: 100%; }
  .nav > ul li a { width: 100%; }
  .nav > ul li ul { position: static; border-top: 0; width: 100%; background-color: transparent; }
  .hamburger.is-active + .nav { max-height: 2000px; } }

/*Banner
*/
.banner { position: relative; min-height: 640px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; padding-top: 177px; }

.banner-bg { position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-position: center; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; }

.banner-bg:after { content: ""; position: absolute; left: 0; top: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.3); }

.banner-body { padding: 15px 12px; position: relative; width: 100%; text-align: center; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.banner-body .text-display, .banner-body .text-title { margin-bottom: 50px; }

/*Cards
---------------------------------*/
.card { height: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.card-body { padding: 50px 20px 30px; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; }

.card-body > *:last-child { margin-top: auto; }

.card-full { min-height: 440px; }

.card-full .side-content { padding-right: 72px; margin-bottom: 0; }

.card-full .side-img { margin-bottom: 0; position: absolute; right: 0; top: 0; bottom: 0; height: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; background-position: center; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; }

.card-full .side-img.map { padding-left: 0; padding-right: 0; }

.card-reverse .side-content { margin-left: auto; padding-right: 12px; padding-left: 72px; }

.card-reverse .side-img { right: auto; left: 0; }

@media (max-width: 800px) { .card-full .side-content { padding-left: 24px; padding-right: 24px; } }

@media (max-width: 599px) { .card-full { min-height: 0; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .card-full .side-img { opacity: .3; }
  .card-full .side-content { position: relative; z-index: 1; padding-left: 12px; padding-right: 12px; } }

@media (max-width: 599px) { .location-wrap { padding-top: -webkit-calc( 300px + 24px); padding-top: calc( 300px + 24px); }
  .location-wrap .map { opacity: 1; -webkit-box-ordinal-group: 0; -webkit-order: -1; -ms-flex-order: -1; order: -1; height: 300px; bottom: auto; margin-bottom: 24px; } }

/*Table
---------------------------------*/
table { border-collapse: collapse; border-spacing: 0; }

table, table thead, table tbody, table tr, table th, table td { border: 0px; padding: 0; }

.table-info { font-weight: 500; }

.table-info td { padding: 4px 12px; }

.table-info td:last-child { padding-right: 0; }

.table-info td:first-child { padding-left: 0; }

.table { width: 100%; font-family: "museo", Helvetica, Arial, serif; margin-bottom: 24px; }

.table tr { border-bottom: 3px solid #ffffff; }

.table th, .table td { padding: 12px; }

.table tbody { color: #000000; }

.table tbody tr { background-color: #f6f6f6; }

.table tbody tr:hover { background-color: #eaeaea; }

/*Responsive table
---------------------------------*/
@media (max-width: 800px) { .table-res thead, .table-res th { display: none; }
  .table-res tr, .table-res td { display: block; }
  .table-res td { display: block; padding-left: 10em; position: relative; }
  .table-res td:last-child { border: 0; }
  .table-res td:before { content: attr(data-th) ": "; display: inline-block; font-weight: 700; width: -webkit-calc(10em - 12px); width: calc(10em - 12px); max-width: 50%; position: absolute; left: 0px; top: 0px; bottom: 0; padding: 12px; background-color: #f6f6f6; }
  .table-res.bg-primary td { background-color: rgba(57, 169, 73, 0.3); }
  .table-res.bg-primary td:not(:last-child) { border-bottom: 1px solid rgba(57, 169, 73, 0.3); }
  .table-res.bg-primary td:before { color: #39a949; }
  .table-res.bg-secondary td { background-color: rgba(0, 171, 214, 0.3); }
  .table-res.bg-secondary td:not(:last-child) { border-bottom: 1px solid rgba(0, 171, 214, 0.3); }
  .table-res.bg-secondary td:before { color: #00abd6; }
  .table-res.bg-highlight td { background-color: rgba(245, 226, 48, 0.3); }
  .table-res.bg-highlight td:not(:last-child) { border-bottom: 1px solid rgba(245, 226, 48, 0.3); }
  .table-res.bg-highlight td:before { color: #f5e230; }
  .table-res.bg-dark td { background-color: rgba(0, 0, 0, 0.3); }
  .table-res.bg-dark td:not(:last-child) { border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
  .table-res.bg-light td { background-color: rgba(255, 255, 255, 0.3); }
  .table-res.bg-light td:not(:last-child) { border-bottom: 1px solid rgba(255, 255, 255, 0.3); } }

/*Scroll table
---------------------------------*/
.scroll-table { width: 100%; overflow: auto; margin-bottom: 24px; }

.scroll-table > table, .scroll-table > .table { min-width: 900px; margin-bottom: 0; }

.scroll-table > .table-res { min-width: 0; }

/*Map Marker*/
.gm-style { color: #000000; font-family: "museo-sans", Helvetica, Arial, sans-serif; font-weight: bold; }

.map > div { height: 100%; width: 100%; }

/*Map marker swing*/
@-webkit-keyframes mrkrswing { 0% { -webkit-transform: rotate(-7deg); transform: rotate(-7deg); }
  100% { -webkit-transform: rotate(7deg); transform: rotate(7deg); } }
@keyframes mrkrswing { 0% { -webkit-transform: rotate(-7deg); transform: rotate(-7deg); }
  100% { -webkit-transform: rotate(7deg); transform: rotate(7deg); } }

#markerLayer img { -webkit-transform-origin: 50% 100% 0; -ms-transform-origin: 50% 100% 0; transform-origin: 50% 100% 0; -webkit-animation: mrkrswing 1.4s alternate ease-in-out infinite; animation: mrkrswing 1.4s alternate ease-in-out infinite; }

/*Popup
------------------------------------------*/
.popup { -webkit-transform: scale(0.8); -ms-transform: scale(0.8); transform: scale(0.8); }

.popup_visible .popup { -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }

.popup { width: -webkit-calc(100% - 24px); width: calc(100% - 24px); max-height: 100%; }

.popup_background { background-color: #fff !important; }

.popup, .popup_wrapper, .popup_background { -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }

.popup-close { position: absolute; right: -12px; top: -12px; height: 24px; width: 24px; padding: 0; vertical-align: top; line-height: 20px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; border-color: #f5e230; background-color: #39a949; }

.popup-close:before, .popup-close:after { position: absolute; content: ""; height: 1px; width: 100%; background-color: #ffffff; }

.popup-close:before { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

.popup-close:after { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.popup-close:hover { border-color: #f5e230; background-color: #39a949; }

.popup-outer { position: relative; }

.popup-xs { max-width: 400px; }

.popup-sm { max-width: 780px; }

.popup-md { max-width: 900px; }

.popup-lg { max-width: 1200px; }

.embed-responsive { position: relative; display: block; height: 0; padding: 0; overflow: hidden; }

.embed-responsive-16by9 { padding-bottom: 56.25%; }

.embed-responsive-4by3 { padding-bottom: 75%; }

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video { position: absolute; top: 0; bottom: 0; left: 0; width: 100%; height: 100%; border: 0; }
