.transition { -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

/*Color classes*/
.primary-color { color: #1b304f; }

.primary-color--bg { background-color: #1b304f; color: #ffffff; }

.highlight-color { color: #f39200; }

.highlight-color--bg { background-color: #f39200; color: #ffffff; }

.secondary-color { color: #444444; }

.secondary-color--bg { background-color: #444444; }

.secondary-color-light { color: #7f7f7f; }

.secondary-color-light--bg { background-color: #7f7f7f; }

.secondary-bg-light { background-color: #f7f7f7; }

/*Link classes*/
a, a:hover, a:focus, a.link-primary { color: #1b304f; }

a.link-highlight, a.link-highlight:hover, a.link-highlight:focus { color: #f39200; }

/*Font-family classes*/
.primary-font { font-family: "Gotham-Light", "Arial", "Helvetica Neue", "Helvetica", sans-serif; }

.primary-font--lightItalic { font-family: "Gotham-LightItalic"; }

.primary-font--bold { font-family: "Gotham-Bold"; }

.primary-font--boldItalic { font-family: "Gotham-BoldItalic"; }

.primary-font--book, .form-control { font-family: "Gotham-Book"; }

.primary-font--bookItalic { font-family: "Gotham-BookItalic"; }

.primary-font--medium { font-family: "Gotham-Medium"; }

.primary-font--MediumItalic { font-family: "Gotham-MediumItalic"; }

.secondary-font, .title i, .title em { font-family: "Didot Italic", "Didot-Italic", "Times New Roman", "Times", "Baskerville", "Georgia", serif; }

.pad-100 { padding: 100px; }

.pad-50 { padding: 50px; }

.pad-60 { padding: 60px; }

.pad-70 { padding: 70px; }

.pad-30 { padding: 30px; }

.pad-t-only { padding-bottom: 0; padding-right: 0; padding-left: 0; }

.pad-tb-only { padding-right: 0; padding-left: 0; }

.pad-lr-only { padding-top: 0; padding-bot: 0; }

.h100vh { min-height: 100vh; }

body { font-family: "Gotham-Light", "Arial", "Helvetica Neue", "Helvetica", sans-serif; font-size: 14px; line-height: 1.7em; color: #444444; }

::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #1b304f !important; }

::-moz-placeholder { /* Firefox 19+ */ color: #1b304f; opacity: 1 !important; }

:-ms-input-placeholder { /* IE 10+ */ color: #1b304f !important; }

:-moz-placeholder { /* Firefox 18- */ color: #1b304f !important; }

*:focus, *:active { outline: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; }

*:first-child { margin-top: 0; }

/*Heading group*/
.heading-group { text-transform: uppercase; padding-bottom: 15px; position: relative; margin-bottom: 40px; }

.heading-group:after { content: ""; position: absolute; bottom: 0; left: 0; right: auto; top: auto; height: 3px; width: 70px; background-color: #1b304f; }

.heading-group--t-c { text-align: center; }

.heading-group--t-c:after { left: 50%; margin-left: -35px; }

.title { color: #f39200; font-family: "Gotham-Bold"; font-size: 26px; line-height: 1.7em; }

.title--sm { font-family: "Gotham-Bold"; color: #f39200; font-size: 11px; }

.title i, .title em { color: #1b304f; font-size: 36px; display: block; }

.title--w { color: #ffffff; }

.title.t-big { font-size: 60px; line-height: 1; }

.title.t-big i, .title.t-big em { font-size: 60px; }

.heading { color: #ffffff; text-transform: uppercase; font-family: "Gotham-Light"; }

.primary-color--bg { color: #ffffff; }

.primary-color--bg .heading-group:after { background-color: #ffffff; }

.primary-color--bg .title i, .primary-color--bg .title em { color: #ffffff; }

small, .small { font-size: 11px; }

.h1 { font-size: 60px; }

.h2 { font-size: 40px; }

.h3 { font-size: 24px; }

.h4 { font-size: 18px; }

strong, b { font-family: "Gotham-Bold"; }

.medium { font-family: "Gotham-Medium"; }

.wrapper { margin: auto; max-width: 980px; width: 100%; }

/*Inputs*/
.form-control { border-color: #d2d2d2; -webkit-box-shadow: none; box-shadow: none; color: #1b304f; margin-bottom: 10px; height: 40px; }

.btn { font-family: "Gotham-Medium"; font-size: 11px; text-transform: uppercase; padding: 12px 12px 11px; min-width: 230px; }

.btn-lg { padding-top: 18px; padding-bottom: 18px; }

.btn:last-child { margin-top: 15px; }

.btn-primary { color: #f39200; background-color: transparent; border-color: #f39200; }

.btn-primary:hover { color: #1b304f; background-color: #f39200; border-color: #f39200; }

a.link:hover { text-decoration: none; }

a.link--primary { color: #1b304f; }

a.link--w { color: #ffffff; }

a.link--hightlight { color: #f39200; }

a.link--u { /*uppercase*/ text-transform: uppercase; }

a.link--m { /*medium*/ font-family: "Gotham-Medium"; }

a.link--s { /*small*/ font-size: 11px; }

a.primary-link { color: #1b304f; }

/*Flex columns*/
.flex-wrap { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.img-rounded { -webkit-border-radius: 3px; border-radius: 3px; }

/**/
.breadcrumb { position: absolute; z-index: 1; left: 0; right: 0; background-color: transparent; margin-bottom: 0; color: #999999; font-size: 10px; text-transform: uppercase; font-family: "Gotham-Book"; }

.breadcrumb > li + li:before { content: "\000BB"; }

.header { position: relative; }

.header .header-wrap { height: 92px; padding: 17px 0; }

.header .header-wrap .btn-link, .header .header-wrap .logo { z-index: 999; position: relative; }

.header .header-wrap .btn-link { margin-right: 15px; float: right; margin-top: 20px; }

.header .header-wrap .menu-toggle { float: left; }

.header .header-wrap .logo { width: 140px; position: absolute; left: -webkit-calc(50% - 70px); left: calc(50% - 70px); }

.header .menu-toggle { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; cursor: pointer; }

.header .menu-toggle .burger { position: relative; width: 17px; margin-right: 9px; height: 2px; background-color: #ffffff; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

.header .menu-toggle .burger:before, .header .menu-toggle .burger:after { content: ""; height: 2px; width: 100%; background-color: #ffffff; position: absolute; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

.header .menu-toggle .burger:before { top: -4px; }

.header .menu-toggle .burger:after { bottom: -4px; }

.header .menu-toggle:hover .burger { background-color: #f39200; }

.header .menu-toggle:hover .burger:after, .header .menu-toggle:hover .burger:before { background-color: #f39200; }

.header .btn-link { text-transform: uppercase; font-weight: bold; font-size: 11px; font-family: "Gotham-Bold"; color: #ffffff; text-decoration: none; margin-bottom: 0; cursor: pointer; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

.header .btn-link:hover { color: #f39200; }

.header .btn-link .ico { margin: 0 7px; font-size: 13px; }

.header .header-links .btn-link:not(:last-child) { margin-right: 20px; }

.header .header-bg { background-color: #1b304f; position: absolute; z-index: 99; left: 0; right: 0; top: 0; bottom: 0; }

.header .cover { background-color: rgba(0, 0, 0, 0.8); position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: -1; opacity: 0; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

/*Menu and Search toggle button css*/
#menuClose + .menu-toggle, #searchClose + .search-toggle { display: none; }

#menuOpen:checked + .menu-toggle { display: none; }

#menuOpen:checked ~ #menuClose + .menu-toggle { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

#menuOpen:checked ~ .menu-toggle { color: #f39200; }

#menuOpen:checked ~ .menu-toggle .burger:after, #menuOpen:checked ~ .menu-toggle .burger:before, #menuOpen:checked ~ .menu-toggle .burger { background-color: #f39200; }

#menuOpen:checked ~ .cover { z-index: 98; opacity: 1; }

#menuOpen:checked ~ .menu-wrap { -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }

/*--------*/
#searchOpen:checked + .search-toggle { display: none; }

#searchOpen:checked ~ #searchClose + .search-toggle { display: block; }

#searchOpen:checked ~ .search-toggle { color: #f39200; }

#searchOpen:checked ~ .search-toggle .burger:after, #searchOpen:checked ~ .search-toggle .burger:before, #searchOpen:checked ~ .search-toggle .burger { background-color: #f39200; }

#searchOpen:checked ~ .cover { z-index: 98; opacity: 1; }

#searchOpen:checked ~ .search-wrap { -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }

.search-wrap { padding: 30px 0 30px 30px; top: 92px; left: 0; right: auto; width: 100%; bottom: auto; position: absolute; z-index: 99; background-color: #f7f7f7; -webkit-transform: translateX(-100%); -ms-transform: translateX(-100%); transform: translateX(-100%); -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.search-wrap .search-field { -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end; }

.search-wrap .search-field input { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; -webkit-border-radius: 0; border-radius: 0; border-width: 0 0 1px 0; background-color: transparent; margin-right: 30px; margin-bottom: 0; font-size: 24px; }

.menu-wrap { padding: 30px 0 30px 30px; top: 92px; left: 0; right: auto; width: 100%; min-height: -webkit-calc(100vh + 92px); min-height: calc(100vh + 92px); bottom: auto; position: absolute; z-index: 99; background-color: #f7f7f7; -webkit-transform: translateX(-100%); -ms-transform: translateX(-100%); transform: translateX(-100%); -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.menu-wrap ul { list-style: none; padding: 0; margin: 0; }

.menu-wrap a:not(.primary-link) { color: #444444; text-decoration: none; }

.menu-wrap label { margin-bottom: 0; }

.menu-wrap .main-menu { /*1st level*/ }

.menu-wrap .main-menu:before { position: absolute; content: ""; left: -webkit-calc(25% + 20px); left: calc(25% + 20px); top: 30px; bottom: 30px; }

@media (min-width: 1100px) { .menu-wrap .main-menu:before { border-right: 1px solid #d2d2d2; } }

.menu-wrap .main-menu > a { -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

@media (min-width: 1100px) { .menu-wrap .main-menu li:hover > a, .menu-wrap .main-menu li:hover > label { color: #f39200; }
  .menu-wrap .main-menu li:hover > ul { display: block; max-height: 2000px; }
  .menu-wrap .main-menu li:hover > ul.submenu--col-wise { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; } }

.menu-wrap .main-menu li > input[type=checkbox]:checked + label, .menu-wrap .main-menu li > input[type=checkbox]:checked ~ a { color: #f39200; }

.menu-wrap .main-menu li > input[type=checkbox]:checked ~ ul { display: block; max-height: 2000px; }

.menu-wrap .main-menu li > input[type=checkbox]:checked ~ ul.submenu--col-wise { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.menu-wrap .main-menu > ul { /*For all li, for all a*/ /*Width of li-s*/ }

.menu-wrap .main-menu > ul li { font-family: "Gotham-Light"; text-transform: uppercase; font-size: 20px; margin-bottom: 15px; padding-right: 30px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.menu-wrap .main-menu > ul li a { min-height: 33px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-ordinal-group: 0; -webkit-order: -1; -ms-flex-order: -1; order: -1; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; }

.menu-wrap .main-menu > ul li strong { font-family: "Gotham-Bold"; margin-right: 10px; }

.menu-wrap .main-menu > ul li li { font-family: "Gotham-Medium"; font-size: 13px; }

.menu-wrap .main-menu > ul li li li { font-family: "Gotham-Light"; font-size: 14px; text-transform: none; }

.menu-wrap .main-menu > ul li { width: 25%; }

.menu-wrap .main-menu > ul li ul { width: -webkit-calc(75% - 20px); width: calc(75% - 20px); }

.menu-wrap .main-menu > ul li ul li { width: 45%; }

.menu-wrap .main-menu > ul li ul li ul { width: 55%; }

.menu-wrap .main-menu > ul li ul li ul li { width: 100%; }

@media (min-width: 1100px) { .menu-wrap .main-menu > ul li ul.submenu--col-wise { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; -webkit-flex-shrink: 0; -ms-flex-negative: 0; flex-shrink: 0; /* NEW */ }
  .menu-wrap .main-menu > ul li ul.submenu--col-wise > li { width: 33%; }
  .menu-wrap .main-menu > ul li ul.submenu--col-wise > li label { display: none; }
  .menu-wrap .main-menu > ul li ul.submenu--col-wise > li > ul { padding: 15px 0; -webkit-box-flex: 1; -webkit-flex: auto; -ms-flex: auto; flex: auto; width: 100%; display: block; position: static; }
  .menu-wrap .main-menu > ul li ul.submenu--col-wise > li > ul li { margin-bottom: 0; padding-right: 0px; } }

.menu-wrap .main-menu > ul ul { padding: 30px 0 30px 30px; position: absolute; top: 0; right: 0; bottom: 0; overflow-y: auto; display: none; }

.menu-wrap .main-menu .menu-footer { margin-top: 50px; margin-bottom: 50px; }

.menu-wrap .main-menu .menu-footer li { font-family: "Gotham-Medium"; font-size: 13px; text-transform: uppercase; }

.menu-wrap .social a:not(:last-child) { margin-right: 15px; font-size: 18px; }

@media (max-width: 1099px) { .menu-wrap { padding: 15px 0 15px 15px; width: 100%; max-width: 500px; }
  .menu-wrap .main-menu > ul li { width: 100%; padding-right: 15px; }
  .menu-wrap .main-menu > ul li ul { width: 100%; }
  .menu-wrap .main-menu > ul li ul li { width: 100%; padding-right: 0; }
  .menu-wrap .main-menu > ul li ul li ul { width: 100%; }
  .menu-wrap .main-menu > ul li ul li ul li { margin-bottom: 0; }
  .menu-wrap .main-menu > ul ul { position: static; padding: 0; display: block; max-height: 0px; overflow: hidden; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
  .menu-wrap .main-menu li > input[type=checkbox]:checked ~ ul { padding: 15px 0; }
  .menu-wrap .main-menu li li > input[type=checkbox]:checked ~ ul { padding: 5px 0; } }

.footer { padding-top: 60px; padding-bottom: 40px; background-color: #ffffff; }

.footer .wrapper .get-in-touch { margin-bottom: 70px; padding-right: 100px; border-right: 1px solid #d2d2d2; }

.footer .wrapper .get-in-touch a, .footer .wrapper .get-in-touch a:hover { color: #1b304f; }

.footer .wrapper .social a:not(:last-child) { margin-right: 15px; font-size: 18px; }

.footer .wrapper .subcribe { padding-left: 100px; margin-bottom: 70px; }

.footer .footer-bottom { font-family: "Gotham-Book"; font-size: 10px; color: #444444; }

.footer .footer-bottom a, .footer .footer-bottom a:hover { color: #7f7f7f; }

.footer .footer-bottom .links { text-align: right; }

.footer .footer-bottom .links a { padding-left: 20px; }

.footer .footer-bottom .links a:not(:last-child) { border-right: 1px solid #7f7f7f; padding-right: 20px; }

/*Section with Images*/
.section--with-img { position: relative; }

.section--with-img .container, .section--with-img .wrapper { position: relative; z-index: 9; }

.section--with-img .ref-img { position: absolute; z-index: 0; width: -webkit-calc(50% - 30px); width: calc(50% - 30px); top: 0; bottom: 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.section--with-img .ref-img--overlay:after { content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(27, 48, 79, 0.8); }

.section--with-img .ref-img--w-100 { width: 100%; }

.section--with-img .ref-img--to-r { right: 0; }

.section--with-img .ref-img--to-l { left: 0; }

.section--with-img .ref-img--pos-rb { -webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end; }

.section--with-img .ref-img--pos-lb { -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end; }

.section--with-img .ref-img--pos-c { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.section--with-img .ref-img--w-60 { width: -webkit-calc(60% - 30px); width: calc(60% - 30px); }

.section--tilt-bg { overflow: hidden; }

.section--tilt-bg:after { position: absolute; content: ""; background-color: #f7f7f7; top: 0; width: 100%; height: 100%; left: 50%; -webkit-transform: skewX(-15deg); -ms-transform: skewX(-15deg); transform: skewX(-15deg); z-index: -1; }

.section--tilt-bg--at60:after { left: 60%; }

/*brief-wrapper*/
.col-2-wrapp .col:last-child { float: right; }

/*listing*/
.card { color: #1b304f; }

.card--thumb { margin-bottom: 20px; }

.card--title { margin-bottom: 20px; text-transform: uppercase; font-family: "Gotham-Bold"; }

.card--text { margin-bottom: 20px; }

.card--link { text-transform: uppercase; font-family: "Gotham-Bold"; color: #f39200; }

.card--link:hover { color: #f39200; }

.card ul li { margin-bottom: 20px; }

/*plane-text-wrap*/
.plane-text-wrap h4 { color: #1b304f; text-transform: uppercase; font-family: "Gotham-Bold"; }

.plane-text-wrap p { margin-bottom: 30px; }

.plane-text-wrap a.link-highlight { font-family: "Gotham-Book"; }

.lerning-personal { min-height: 700px; }

.bio-section { -webkit-box-pack: space-evenly; -webkit-justify-content: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.bio-section .bio { -webkit-align-self: center; -ms-flex-item-align: center; align-self: center; font-family: "Gotham-Bold"; }

.bio-section .bio i { font-family: "Didot Italic", "Didot-Italic", "Times New Roman", "Times", "Baskerville", "Georgia", serif; }

.client-section { -webkit-box-pack: space-evenly; -webkit-justify-content: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

/*We can Help you with*/
.tab-brief-wrap ul { list-style: none; padding: 0; }

.tab-brief-wrap ul li { text-transform: uppercase; font-size: 20px; font-family: "Gotham-Bold"; margin-bottom: 25px; }

.tab-brief-wrap ul li a, .tab-brief-wrap ul li a:hover { text-decoration: none; color: #1b304f; }

.tab-brief-wrap ul li.active a { color: #f39200; }

.tab-brief-wrap .panel { margin-top: 50px; position: relative; z-index: 9; overflow: hidden; background-color: rgba(255, 255, 255, 0.8); }

/*Get in touch*/
.want-to-contact { text-align: center; overflow: hidden; }

.want-to-contact .contact-box { border: 1px solid #f39200; -webkit-border-radius: 3px; border-radius: 3px; padding-top: 15px; padding-bottom: 10px; margin: 30px auto 0; text-transform: uppercase; float: none; z-index: 2; }

.want-to-contact .contact-box .col:not(:last-child) { border-right: 1px solid #f39200; }

.want-to-contact .contact-box .col:not(:last-child) h4 { margin-top: 5px; }
