.navbar {
  a.is-active {
    color: $color-secondary;
  }
  .nav-link {
    // font-weight: 700;
    text-transform: uppercase;
  }
}

.mfp-image-holder .mfp-close {
  font-size: 6.4rem;
  font-family: "";
  font-weight: 100;
  margin-top: 44px;
  padding-right: 15px;
  opacity: 1;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

button.mfp-arrow {
  background-color: $color-primary;
  height: 4.8rem;
  width: 4.8rem;
  color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  &,
  &:active {
    margin-top: -2.4rem;
  }

  &::before {
    display: none;
  }
  &::after {
    left: unset;
    top: unset;
    margin: 0;
    height: 2rem;
    width: 2rem;
    color: inherit;
    border: 0.12rem solid;
  }
  &-left {
    &::after {
      margin-left: 0.5rem;
      border-right: transparent;
      border-bottom: transparent;
      transform: rotate(-45deg) translate(2px, 2px);
    }
  }
  &-right {
    &::after {
      margin-right: 0.5rem;
      border-left: transparent;
      border-top: transparent;
      transform: rotate(-45deg) translate(-2px, -2px);
    }
  }
}

.search {
  &-bar {
    max-height: 0;
    overflow: hidden;
    top: $headerHeight;
    @media (min-width: $bp_lg) {
      top: $headerHeight_lg;
    }
  }
}
.search-is-open {
  .search {
    &-toggle {
      background-color: $color-secondary;
      color: $color-white;
      @media (min-width: $bp_lg) {
        color: $color-secondary;
        background-color: transparent;
      }
    }
    &-bar {
      max-height: 5.6rem;
    }
  }
}

[class*="ratio"]:before {
  display: block;
  width: 100%;
  content: "";
  pointer-events: none;
}

.diamond-shape {
  max-height: 47rem;
}

.link {
  // text-decoration: none;
  display: inline-block;

  &:hover {
    font-weight: 700;
  }

  &.primary {
    color: $color-primary;
  }
  &.secondary {
    color: $color-secondary;
  }
  &.tertiary {
    color: $color-tertiary;
  }
}

.button {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  line-height: 1.2;
  font-family: $primaryFont;
  transition: $transition;
  text-align: center;
  text-transform: uppercase;
  // font-size: 1.6rem;
  letter-spacing: 0.25rem;
  // font-weight: 500;
  padding: 1rem 2rem;

  &.sm {
    font-size: 1.4rem;
    padding: 0.6rem 2rem;
  }

  &:hover {
    // background-color: $color-white;
    box-shadow: $shadow_lg;
    // color: $color-primary;
  }

  &.primary {
    color: $color-primary;
    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }
  &.secondary {
    color: $color-secondary;
    &:hover {
      background-color: $color-secondary;
      color: $color-white;
    }
  }
  &.tertiary {
    color: $color-tertiary;
    &:hover {
      background-color: $color-tertiary;
      color: $color-white;
    }
  }
  &.quaternary {
    color: $color-quaternary;
    &:hover {
      background-color: $color-quaternary;
      color: $color-white;
    }
  }
}

.select {
  &:after {
    color: inherit;
    top: calc(50% - 0.2rem);
    right: 1.2rem;
    width: 0.8rem;
    height: 0.8rem;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2rem;
    // background-color: $color-secondary;
    border-radius: 9999px;
    pointer-events: none;
  }
}

.banner-carousel {
  .item {
    width: calc(100% + 3px);
  }
  .owl-dots {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
  }
  .owl-dots .owl-dot {
    &,
    &:hover {
      span {
        background-color: transparent;
        border: 0.3rem solid white;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    &.active {
      span {
        background-color: $color-white;
        border-color: $color-white;
      }
    }
  }
}

.list {
  &.primary {
    ::marker {
      color: $color-primary;
    }
  }
  &.secondary {
    ::marker {
      color: $color-secondary;
    }
  }
  &.tertiary {
    ::marker {
      color: $color-primary;
    }
  }
}

.hero-banner {
  height: calc(90vh - #{$headerHeight});
  // @media (min-width: $bp_md) {
  //   height: calc(90vh - #{$headerHeight_md});
  // }
  @media (min-width: $bp_lg) {
    height: auto;
    max-height: calc(90vh - #{$headerHeight_lg});
  }
  // @media (min-width: $bp_xl) {
  //   max-height: calc(90vh - #{$headerHeight_xl});
  // }
}

.page-banner {
  min-height: 48rem;
  @media (min-width: $bp_lg) {
    min-height: 63rem;
  }
}

// Component styling
.heading-banner,
.article-full-card {
  // h1,
  // h2,
  // h3 {
  //   text-transform: uppercase;
  // }
  // h1,
  // h2 {
  //   font-size: 6.1rem;
  //   letter-spacing: 0.65rem;
  // }
  // @media (min-width: $bp_lg) {
  //   &-md {
  //     min-height: 60rem;
  //   }
  //   h2 {
  //     font-size: 10.1rem;
  //   }
  //   h1 {
  //     font-size: 11.8rem;
  //   }
  // }
  &.primary {
    background-color: $color-primary;
    color: $color-white;
    .button {
      &:hover {
        background-color: $color-white;
        color: $color-primary;
      }
    }
    .diamond-shape {
      color: $color-primary;
    }
  }
  &.secondary {
    background-color: $color-secondary;
    color: $color-white;
    .button {
      &:hover {
        background-color: $color-white;
        color: $color-secondary;
      }
    }
    .diamond-shape {
      color: $color-secondary;
    }
  }
  &.tertiary {
    background-color: $color-tertiary;
    color: $color-white;
    .button {
      &:hover {
        background-color: $color-white;
        color: $color-tertiary;
      }
    }
    .diamond-shape {
      color: $color-tertiary;
    }
  }
  &.tertiary-1 {
    background-color: $color-tertiary-1;
    color: $color-white;
    .button {
      &:hover {
        background-color: $color-white;
        color: $color-tertiary-1;
      }
    }
    .diamond-shape {
      color: $color-tertiary-1;
    }
  }
  &.quaternary {
    background-color: $color-quaternary;
    color: $color-white;
    .button {
      &:hover {
        background-color: $color-white;
        color: $color-quaternary;
      }
    }
    .diamond-shape {
      color: $color-quaternary;
    }
  }
  &.light {
    background-color: $color-light;
    .button {
      &:hover {
        background-color: $color-primary;
        color: $color-light;
      }
    }
    .diamond-shape {
      color: $color-light;
    }
  }
}

.heading-bar {
  // h3 {
  //   text-transform: uppercase;
  //   // font-size: 2.3rem;
  // }

  &.primary {
    background-color: $color-primary;
    color: $color-white;
  }
  &.secondary {
    background-color: $color-secondary;
    color: $color-white;
  }
  &.tertiary {
    background-color: $color-tertiary;
    color: $color-white;
  }
  &.quaternary {
    background-color: $color-quaternary;
    color: $color-white;
  }
  &.light {
    background-color: $color-light;
  }
}

.heading,
.title {
  &.primary {
    color: $color-primary;
  }
  &.secondary {
    color: $color-secondary;
  }
  &.tertiary {
    color: $color-tertiary;
  }
  &.quaternary {
    color: $color-quaternary;
  }
}

.article-card {
  &.primary {
    h2,
    .button {
      color: $color-primary;
    }
    .button {
      &:hover {
        background-color: $color-primary;
        color: $color-white;
      }
    }
  }
  &.secondary {
    h2,
    .button {
      color: $color-secondary;
    }
    .button {
      &:hover {
        background-color: $color-secondary;
        color: $color-white;
      }
    }
  }
  &.tertiary {
    h2,
    .button {
      color: $color-tertiary;
    }
    .button {
      &:hover {
        background-color: $color-tertiary;
        color: $color-white;
      }
    }
  }
  &.quaternary {
    h2,
    .button {
      color: $color-quaternary;
    }
    .button {
      &:hover {
        background-color: $color-quaternary;
        color: $color-white;
      }
    }
  }
}

.testimonials-card {
  &.primary {
    background-color: $color-primary;
    color: $color-white;
  }
  &.secondary {
    background-color: $color-secondary;
    color: $color-white;
  }
  &.tertiary {
    background-color: $color-tertiary;
    color: $color-white;
  }
  &.quaternary {
    background-color: $color-quaternary;
    color: $color-white;
  }
  &.light {
    background-color: $color-light;
  }
}

.media-card {
  .roll-over {
    transition: all 0.35s 0s ease-out;
    .title {
      color: $color-white;
      font-size: 2.1rem;
      text-transform: uppercase;
    }
  }
}

.pagination {
  font-size: 1.6rem;
  font-weight: 500;
  > a {
    text-decoration: none;
    &:not(:last-child) {
      border-right-width: 1px;
      border-right-style: solid;
    }
    &.active,
    &:hover {
      font-weight: 700;
    }
  }
  &.primary {
    a {
      &.active,
      &:hover {
        color: $color-primary;
      }
      &:not(:last-child) {
        border-right-color: $color-primary;
      }
    }
  }
  &.secondary {
    a {
      &.active,
      &:hover {
        color: $color-secondary;
      }
      &:not(:last-child) {
        border-right-color: $color-secondary;
      }
    }
  }
  &.tertiary {
    a {
      &.active,
      &:hover {
        color: $color-tertiary;
      }
      &:not(:last-child) {
        border-right-color: $color-tertiary;
      }
    }
  }
  &.quaternary {
    a {
      &.active,
      &:hover {
        color: $color-quaternary;
      }
      &:not(:last-child) {
        border-right-color: $color-quaternary;
      }
    }
  }
}

.filter-tabs {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  li {
    span {
      font-weight: 700;
    }
    a {
      // font-size: 2.1rem;
      // padding: 1.5rem;
      position: relative;
      text-transform: uppercase;
      display: inline-block;
    }

    &.active,
    &:hover {
      a {
        font-weight: 700;
        cursor: default;
      }
    }
    &.active {
      border-bottom-width: 0.3rem;
      border-bottom-style: solid;
    }
  }
  &.primary {
    li.active {
      border-bottom-color: $color-primary;
    }
  }
  &.secondary {
    li.active {
      border-bottom-color: $color-secondary;
    }
  }
  &.tertiary {
    li.active {
      border-bottom-color: $color-tertiary;
    }
  }
  &.quaternary {
    li {
      &.active {
        border-bottom-color: $color-quaternary;
      }
    }
  }
}

.article {
  &-banner {
    &.primary {
      h3,
      h4 {
        color: $color-primary;
      }
    }
    &.secondary {
      h3,
      h4 {
        color: $color-secondary;
      }
    }
    &.tertiary {
      h3,
      h4 {
        color: $color-tertiary;
      }
    }
    &.quaternary {
      h3,
      h4 {
        color: $color-quaternary;
      }
    }
  }
  &-content {
    img {
      vertical-align: top;
    }
  }
}

.table {
  width: 100%;
  th,
  td {
    padding: 15px;
    border: 1px solid;
  }
  &.primary {
    background-color: $color-primary;
    color: $color-white;
  }
  &.secondary {
    background-color: $color-secondary;
    color: $color-white;
  }
  &.tertiary {
    background-color: $color-tertiary;
    color: $color-white;
  }
  &.quaternary {
    background-color: $color-quaternary;
    color: $color-white;
  }
  &.light {
    background-color: $color-light;
  }
}

.product-filter {
  .custom-tick {
    &.hide-tick {
      .tick {
        display: none;
      }
    }
    &.primary {
      & > input.style-radio:checked,
      & > input[type="checkbox"].style-radio:checked,
      & > input[type="radio"]:checked {
        & + .tick {
          &,
          & + .related-text {
            color: $color-primary;
          }
        }
      }
    }
    &.secondary {
      & > input.style-radio:checked,
      & > input[type="checkbox"].style-radio:checked,
      & > input[type="radio"]:checked {
        & + .tick {
          &,
          & + .related-text {
            color: $color-secondary;
          }
        }
      }
    }
    &.tertiary {
      & > input.style-radio:checked,
      & > input[type="checkbox"].style-radio:checked,
      & > input[type="radio"]:checked {
        & + .tick {
          &,
          & + .related-text {
            color: $color-tertiary;
          }
        }
      }
    }
    &.quaternary {
      & > input.style-radio:checked,
      & > input[type="checkbox"].style-radio:checked,
      & > input[type="radio"]:checked {
        & + .tick {
          &,
          & + .related-text {
            color: $color-quaternary;
          }
        }
      }
    }
  }
}

.accordion-wrapper .accordion {
  > .accordion-label > .toggle-sign {
    transform: rotate(180deg);
  }
  &.is-open > .accordion-label > .toggle-sign {
    transform: rotate(0deg);
  }
}

.footer-links {
  @media (min-width: $bp_lg) {
    li:not(:last-child) {
      border-right: 1px solid;
    }
    &.primary {
      li:not(:last-child) {
        border-right-color: $color-primary;
      }
    }
    &.secondary {
      li:not(:last-child) {
        border-right-color: $color-secondary;
      }
    }
    &.tertiary {
      li:not(:last-child) {
        border-right-color: $color-tertiary;
      }
    }
    &.quaternary {
      li:not(:last-child) {
        border-right-color: $color-quaternary;
      }
    }
  }
}

.accordion-wrapper .accordion.is-open {
  &.focus\:shadow-md {
    box-shadow: $shadow_md;
  }
}

.imageGallery-wrapper {
  .lSAction {
    display: none !important;
  }

  .imageGallery li img {
    width: 100%;
    height: 100%;
    background-color: $color-light;
  }
  .lSSlideWrapper {
    &:before {
      padding-top: 100% !important;
    }
    margin-bottom: 2.5rem;
  }
  .lSSlideOuter .lSPager.lSGallery li {
    img {
      transition: transform 0.35s ease-in-out;
    }
    &.active,
    &:hover {
      border-radius: 0rem;
      border: 0.1rem solid $color-secondary;
      background-color: $color-light;
      img {
        transform: scale(1.1);
      }
      > a {
        opacity: 0.7;
      }
    }
  }
}

// Custom Select dropdown
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.custom-select {
  &-wrapper {
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: inherit;
    width: 100%;
    height: auto;
  }
  &-styled {
    &:after {
      transform-origin: center;
      transition: $transition;
    }
    &:active,
    &.active {
      box-shadow: $shadow_md;
      &:after {
        transform: rotate(-225deg);
      }
    }
  }
  &-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: $color-white;
    box-shadow: $shadow_lg;
    li {
      margin: 0;
      padding: 12px 0;
      text-indent: 15px;
      border-top: $color-light;
      transition: $transition;
      &:hover {
        background: $color-light;
        color: $color-secondary;
      }
      &.is-selected {
        color: $color-white;
        background: $color-secondary;
      }
      &[rel="hide"] {
        display: none;
      }
    }
  }
}

.custom-number {
  position: relative;
  .quantity {
    &-nav {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
    }
    &-button {
      flex: 1;
      padding: 0 1.5rem;
      background-color: $color-primary;
      color: $color-white;
      line-height: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      user-select: none;
      font-weight: bold;
      &:hover {
        background-color: $color-secondary;
      }
    }
  }
}
