<section class="py-80 @@sectionSx">
   <div class="container sm:container-sm lg:container-lg xl:container-xl mx-auto">
      <div class="mb-40 f-family-secondary">
         <h1 class="uppercase f-weight-bold f-size-70 uppercase">H1 header left</h1>
      </div>
      <div class="flex-row flex-wrap -m-20">
         <div class="flex-col col-12 lg:col-4 p-20 align-center" data-aos="fade-up" data-aos-delay="100">
            <article class="flex-col text-wrap w-full">
               <div class="ratio-1x1 pos-relative image-placeholder">
                  <figure class="pos-absolute pin bg-cover bg-center" style="background-image: url('./images/profile-thumb.jpg')"></figure>
               </div>
               <h2 class="f-family-secondary f-size-40 uppercase">3 columns with image and text box on white</h2>
               <p>Ugitate ligenet omnimus aut rat. Fersper eiusam, voluptatust pari nimet aut magnim quo qui illestota sitatur? Ximustiis ut et reicit autem ligendes volorrum ex elit pedit as modi rerspel enditioria voluptatur, omnime non natet acerspellis utem inciis Res aut occae con conet la cuptiore santio cupturescit adiantur Um aute pelibusanis qui numentio qui nitas simoluptat as sintem esenim quissum eostium quiditin.</p>
            </article>
         </div>
         <div class="flex-col col-12 lg:col-4 p-20 align-center" data-aos="fade-up" data-aos-delay="200">
            <article class="flex-col text-wrap w-full">
               <div class="ratio-1x1 pos-relative image-placeholder">
                  <figure class="pos-absolute pin bg-cover bg-center" style="background-image: url('./images/profile-thumb.jpg')"></figure>
               </div>
               <h2 class="f-family-secondary f-size-40 uppercase">3 columns with image and text box on white</h2>
               <p>Ugitate ligenet omnimus aut rat. Fersper eiusam, voluptatust pari nimet aut magnim quo qui illestota sitatur? Ximustiis ut et reicit autem ligendes volorrum ex elit pedit as modi rerspel enditioria voluptatur, omnime non natet acerspellis utem inciis Res aut occae con conet la cuptiore santio cupturescit adiantur Um aute pelibusanis qui numentio qui nitas simoluptat as sintem esenim quissum eostium quiditin.</p>
            </article>
         </div>
         <div class="flex-col col-12 lg:col-4 p-20 align-center" data-aos="fade-up" data-aos-delay="300">
            <article class="flex-col text-wrap w-full">
               <div class="ratio-1x1 pos-relative image-placeholder">
                  <figure class="pos-absolute pin bg-cover bg-center" style="background-image: url('./images/profile-thumb.jpg')"></figure>
               </div>
               <h2 class="f-family-secondary f-size-40 uppercase">3 columns with image and text box on white</h2>
               <p>Ugitate ligenet omnimus aut rat. Fersper eiusam, voluptatust pari nimet aut magnim quo qui illestota sitatur? Ximustiis ut et reicit autem ligendes volorrum ex elit pedit as modi rerspel enditioria voluptatur, omnime non natet acerspellis utem inciis Res aut occae con conet la cuptiore santio cupturescit adiantur Um aute pelibusanis qui numentio qui nitas simoluptat as sintem esenim quissum eostium quiditin.</p>
            </article>
         </div>
      </div>
   </div>
</section>