<!-- Request a Valuation popup -->
<section id="jsRequestValuationPopup" class="d-hidden popup bg-primary f-color-white flex-col w-full h-full">
   <div class="popup-body pos-absolute pin flex-col justify-center align-center overflow-x-hidden overflow-y-auto">
      <div class="container container-md my-20 mx-auto">
         <div class="text-wrap-md">
            <div class="icon-90 lg:icon-165 mx-auto"><img src="./images/CM_Logo_Submark.png" /></div>
            <div class="text-center text-wrap-md">
               <hgroup class="text-wrap-xs">
                  <h3 class="f-color-secondary f-size-17 uppercase">CONTACT US</h3>
                  <h2 class="f-size-24 lg:f-size-39 f-family-secondary f-weight-bold">Request a valuation.</h2>
               </hgroup>
               <p>Fill out the form below to request a free valuation<br /> at a time to suit you: or call us on <br/><a href="tel:01722 331 993">01722 331 993</a></p>
            </div>
            <form class="flex-col -m-8 f-color-primary">
               <div class="col-12 flex-col p-8">
                  <input type="text" required="" placeholder="Full name" name="fullName" class="w-full border-2 bg-white f-color-inherit p-10 flex-stretch focus:border-secondary focus:shadow-md transition-all">
               </div>
               <div class="col-12 flex-col p-8">
                  <input type="email" required="" placeholder="Email" name="email" class="w-full border-2 bg-white f-color-inherit p-10 flex-stretch focus:border-secondary focus:shadow-md transition-all">
               </div>
               <div class="col-12 flex-col p-8">
                  <input type="text" required="" placeholder="Telephone" name="telephone" class="w-full border-2 bg-white f-color-inherit p-10 flex-stretch focus:border-secondary focus:shadow-md transition-all">
               </div>
               <div class="col-12 flex-col p-8">
                  <textarea rows="4" placeholder="Message" name="message" class="w-full border-2 bg-white f-color-inherit p-10 flex-stretch focus:border-secondary focus:shadow-md transition-all"></textarea>
               </div>
               <div class="col-12 flex-col p-8">
                  <div class="select">
                    <select name="enquiryType" class="w-full border-2 border-white bg-white f-color-inherit p-10 flex-stretch focus:border-secondary focus:shadow-md transition-all not-selected">
                      <option value="" selected="selected">How did you hear about us?</option>
                      <option>Option 1</option>
                      <option>Option 2</option>
                      <option>Option 3</option>
                    </select>
                  </div>
               </div>
               <div class="col-12 flex-row flex-wrap justify-space-between align-center px-8">
                  <label class="w-auto custom-tick my-auto my-8">
                    <input name="addr" type="checkbox" class="style-radio">
                    <span class="d-inline-block tick"><span class="border border-secondary border-2 f-color-secondary rounded-full"></span></span>
                    <span class="related-text f-size-14">
                      <span class="f-color-white">I have read and agree to your</span>
                      <a href="#" class="f-color-secondary underline">privacy policy</a>
                    </span>
                  </label>
                  <button class="button secondary auto-width my-8"><span>BOOK A VALUATION</span></button>
                </div>
            </form>
            <footer class="flex-row justify-center no-text-wrap">
               <button class="jsRequestValuationPopup_close">
                  <span class="icon icon-30 f-weight-regular rounded-full f-color-secondary hover:bg-secondary hover:f-color-white shadow-lg">
                    <span class="p-8">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 224.512 224.512" fill="currentColor">
                        <path d="M224.507 6.997L217.521 0 112.256 105.258 6.998 0 .005 6.997l105.258 105.257L.005 217.512l6.993 7L112.256 119.24l105.265 105.272 6.986-7-105.258-105.258z"></path>
                      </svg>
                    </span>
                  </span>
                </button>
            </footer>
         </div>
      </div>
   </div>
</section>

<!-- Request a Valuation popup -->
<section id="jsSearchPropertyPopup" class="d-hidden popup bg-primary f-color-white flex-col w-full h-full">
   <div class="popup-body pos-absolute pin flex-col justify-center align-center overflow-x-hidden overflow-y-auto">
      <div class="container container-md my-20 mx-auto">
         <div class="text-wrap-md">
            <div class="icon-90 lg:icon-165 mx-auto"><img src="./images/CM_Logo_Submark.png" /></div>
            <div class="text-center text-wrap-md">
               <h2 class="f-size-24 lg:f-size-39 f-family-secondary f-weight-bold">Property Search</h2>
            </div>
            <form class="flex-row flex-wrap align-center">
               <div class="col-12 xl:col-flex">
                  <div class="flex-row flex-wrap align-center -m-8 xl:py-30 xl:pr-30">
                     <div class="col-12 flex-row justify-center p-8">
                        <div class="p-8">
                           <label class="w-auto custom-tick mx-auto my-10">
                              <input name="interestedIn" type="radio" checked>
                              <span class="d-inline-block tick"><span class="border border-secondary border-2 f-color-secondary rounded-full"></span></span>
                              <span class="related-text">
                                <span class="f-color-inherit">To Buy</span>
                              </span>
                            </label>
                        </div>
                        <div class="p-8">
                           <label class="w-auto custom-tick mx-auto my-10">
                              <input name="interestedIn" type="radio">
                              <span class="d-inline-block tick"><span class="border border-secondary border-2 f-color-secondary rounded-full"></span></span>
                              <span class="related-text">
                                <span class="f-color-inherit">To Rent</span>
                              </span>
                            </label>
                        </div>
                     </div>
                     <div class="col-12 flex-col p-8">
                        <div class="select">
                          <select name="enquiryType" class="w-full border border-white f-color-inherit p-10 flex-stretch focus:shadow-md transition-all not-selected">
                            <option value="" selected="selected">Location</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                          </select>
                        </div>
                     </div>
                     <div class="col-12 md:col-6 flex-col p-8">
                        <div class="select">
                          <select name="enquiryType" class="w-full border border-white f-color-inherit p-10 flex-stretch focus:shadow-md transition-all not-selected">
                            <option value="" selected="selected">Min Price</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                          </select>
                        </div>
                     </div>
                     <div class="col-12 md:col-6 flex-col p-8">
                        <div class="select">
                          <select name="enquiryType" class="w-full border border-white f-color-inherit p-10 flex-stretch focus:shadow-md transition-all not-selected">
                            <option value="" selected="selected">Max Price</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                          </select>
                        </div>
                     </div>
                     <div class="col-12 md:col-6 flex-col p-8">
                        <div class="select">
                          <select name="enquiryType" class="w-full border border-white f-color-inherit p-10 flex-stretch focus:shadow-md transition-all not-selected">
                            <option value="" selected="selected">Min Beds</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                          </select>
                        </div>
                     </div>
                     <div class="col-12 md:col-6 flex-col p-8">
                        <div class="select">
                          <select name="enquiryType" class="w-full border border-white f-color-inherit p-10 flex-stretch focus:shadow-md transition-all not-selected">
                            <option value="" selected="selected">Property Type</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                          </select>
                        </div>
                     </div>
                     <div class="col-12 flex-col p-8">
                        <label class="w-auto custom-tick mx-auto my-10">
                           <input name="addr" type="checkbox" class="style-radio">
                           <span class="d-inline-block tick"><span class="border border-secondary border-2 f-color-secondary rounded-full"></span></span>
                           <span class="related-text">
                             <span class="f-color-inherit">Exclude STC</span>
                           </span>
                         </label>
                     </div>
                  </div>
               </div>
               <div class="col-12 mt-8 xl:mt-0">
                  <div class="flex-row flex-wrap justify-center">
                     <button class="button secondary"><span>search</span></button>
                  </div>
               </div>
            </form>
            <footer class="flex-row justify-center no-text-wrap">
               <button class="jsSearchPropertyPopup_close">
                  <span class="icon icon-30 f-weight-regular rounded-full f-color-secondary hover:bg-secondary hover:f-color-white shadow-lg">
                    <span class="p-8">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 224.512 224.512" fill="currentColor">
                        <path d="M224.507 6.997L217.521 0 112.256 105.258 6.998 0 .005 6.997l105.258 105.257L.005 217.512l6.993 7L112.256 119.24l105.265 105.272 6.986-7-105.258-105.258z"></path>
                      </svg>
                    </span>
                  </span>
                </button>
            </footer>
         </div>
      </div>
   </div>
</section>

<footer class="py-65 xl:py-100 bg-primary f-color-white">
   <div class="container md:container-md lg:container-lg xl:container-xl xxl:container-xxl mx-auto">
      <div class="flex-row flex-wrap justify-center lg:justify-space-between align-center -m-10">
         <div class="p-10 footer-logo">
            <a href="index.html">
               <img src="./images/CM_Logo_Submark.png" class="icon-68 md:icon-108" />
            </a>
         </div>
         <div class="p-10">
            <h2 class="f-size-35 flex-col text-wrap-xs border-l-4 border-secondary pl-20 py-20 xl:pl-40">
               <span>Local experts.</span>
               <span>Exceptional service.</span>
            </h2>
         </div>
         <div class="mx-auto md:mx-0 md:col-auto p-10">
            <table>
               <tr>
                  <td class="p-6">Salisbury</td>
                  <td class="py-6 pl-10"><a href="tel:01722 331993" class="d-inline-block hover:f-color-secondary no-underline transition-all">01722 331993</a></td>
               </tr>
               <tr>
                  <td class="p-6">Amesbury</td>
                  <td class="py-6 pl-10"><a href="tel:01722 331993" class="d-inline-block hover:f-color-secondary no-underline transition-all">01980 669751</a></td>
               </tr>
               <tr>
                  <td class="p-6">New Forest</td>
                  <td class="py-6 pl-10"><a href="tel:01722 331993" class="d-inline-block hover:f-color-secondary no-underline transition-all">01425 541575</a></td>
               </tr>
            </table>
         </div>
      </div>
      <div class="flex-col lg:flex-row lg:flex-wrap lg:justify-space-between xl:flex-nowrap align-center -m-10 pt-40">
         <div class="p-10">
            <div class="border-l-4 border-primary pl-20 py-20 xl:pl-40">
               <div class="flex-row flex-wrap justify-center xl:justify-start -m-8">
                  <a href="mailto:info@cartermay.co.uk" class="d-inline-block hover:f-color-secondary no-underline p-8 transition-all">info@cartermay.co.uk</a>
                  <a href="https://goo.gl/maps/V6EVTGLEJ35s6YaE6" target="_blank" class="text-center d-inline-block hover:f-color-secondary no-underline p-8 transition-all">Head office: 87 Castle Street, Salisbury, SP1 3SP</a> 
                  <div class="w-full"></div>
                  <a href="#" class="d-inline-block hover:f-color-secondary no-underline p-8 transition-all">Accessibility</a>
                  <a href="#" class="d-inline-block hover:f-color-secondary no-underline p-8 transition-all">Privacy</a>
                  <a href="#" class="d-inline-block hover:f-color-secondary no-underline p-8 transition-all">Cookies</a>
                  <a href="#" class="d-inline-block hover:f-color-secondary no-underline p-8 transition-all">Terms</a>
                  <span class="d-inline-block p-8">Website Design</span>
                  <span class="d-inline-block p-8">©2021 Carter May Estate Agents Salisbury</span>
               </div>
            </div>
         </div>
         <div class="p-10 lg:mx-auto">
            <div class="flex-row flex-wrap lg:flex-nowrap justify-center align-center -m-8">
               <div class="p-8">
                  <img src="./images/CMP-logo.png" />
               </div>
               <div class="p-8">
                  <img src="./images/TSI-logo.png" />
               </div>
               <div class="p-8">
                  <img src="./images/TPO-logo.png" />
               </div>
               <div class="p-8">
                  <img src="./images/matterport-logo.png" />
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>