<header class="header w-full pos-fixed pin-t pin-x pt-15 pb-15 xl:pt-36 xl:pb-0 flex-col z-50 bg-white md:shadow-lg">
   <div class="container lg:container-lg xl:container-xl xxl:container-xxl mx-auto">
      <div class="flex-row align-center">
         <a class="brand-logo mr-auto xl:-mt-30" href="index.html">
            <span class="icon icon-logo-sm lg:icon-logo ratio-logo">
               <span>
                  <img class="w-full h-full object-contain" src="./images/CM_Logo.png">
               </span>
            </span>
         </a>
         <div class="flex-row flex-wrap align-center justify-end xl:-m-5 pos-absolute pin-x pin-t-100 md:pos-static shadow-lg md:shadow-none">
            <div class="xl:p-5 col-6 md:col-auto">
               <a href="#" class="jsRequestValuationPopup_open button custom-primary secondary auto-width w-full md:w-auto"><span>BOOK A VALUATION</span></a>
            </div>
            <div class="xl:p-5 col-6 md:col-auto xl:-mr-20">
               <a href="#" class="jsSearchPropertyPopup_open custom-primary primary button auto-width w-full">
                  <span class="flex-row align-center">
                     Search Property
                     <span class="icon icon-30 f-color-inherit ml-8 d-hidden xl:d-inline-block">
                        <span>
                           <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search" viewBox="0 0 24 24">
                              <circle cx="11" cy="11" r="8"></circle>
                              <path d="m21 21-4.35-4.35"></path>
                            </svg>
                        </span>
                     </span>
                  </span>
               </a>
            </div>
            <nav class="
               navbar 
               pos-fixed 
               pin-x 
               z-30
               bg-primary 
               f-size-24
               f-color-white
               xl:f-size-15
               xl:bg-transparent
               xl:f-color-primary
               xl:pin-none
               xl:pos-static
               xl:col-12
               xl:p-5
            ">
               <div class="container lg:container-lg xl:container-fluid mx-auto">
                  <div class="flex-col xl:align-end">
                     <ul class="list-reset flex-col xl:flex-row -mx-15">
                        <li class="@@if(context.buying){is-active}">
                           <div class="submenu-trigger p-15 flex-row align-center">
                              <span>
                                 BUYING
                              </span>
                              <span class="icon icon-15 ml-8 flex-none f-color-secondary">
                                 <span class="down-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down" viewBox="0 0 24 24"><path d="m6 9 6 6 6-6"/></svg>
                                 </span>
                                 <span class="close-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x" viewBox="0 0 24 24"><path d="M18 6 6 18M6 6l12 12"/></svg>
                                 </span>
                              </span>
                           </div>
                           <div class="submenu pos-fixed pin-x z-40 bg-primary f-color-white">
                              <div class="container lg:container-lg xl:container-xl xxl:container-xxl mx-auto">
                                 <div class="p-15 flex-row align-center justify-space-between xl:d-hidden">
                                    <button class="back-button uppercase f-color-inherit flex-row align-center">
                                       <span class="icon icon-15 mr-8 flex-none f-color-secondary">
                                          <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="111 237 192 320">
                                             <path d="M303 269.4L270.7 237 111 397l159.7 160 32.3-32.4L175.7 397z" />
                                          </svg>
                                       </span>
                                       Back
                                    </button>
                                    <h3>BUYING</h3>
                                 </div>
                                 <ul class="list-reset flex-col">
                                    <li class="border-b border-light">
                                       <a href="about.html" class="text-wrap-xs p-20">
                                          <h3 class="f-size-24">Submenu link 1</h3>
                                          <div class="flex-row align-center">
                                             <p>The leading estate agency for Salisbury and beyond.. </p>
                                             <span class="icon icon-10 flex-none ml-8 f-color-secondary">
                                                <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="111 237 192 320"><path d="M111 269.4l32.3-32.4L303 397 143.3 557 111 524.6 238.3 397z"/></svg>
                                             </span>
                                          </div>
                                       </a>
                                    </li>
                                    <li class="border-b border-light">
                                       <a href="team.html" class="text-wrap-xs p-20">
                                          <h3 class="f-size-24">Submenu link 2</h3>
                                          <div class="flex-row align-center">
                                             <p>Salisbury’s award winning and number one estate agency.</p>
                                             <span class="icon icon-10 flex-none ml-8 f-color-secondary">
                                                <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="111 237 192 320"><path d="M111 269.4l32.3-32.4L303 397 143.3 557 111 524.6 238.3 397z"/></svg>
                                             </span>
                                          </div>
                                       </a>
                                    </li>
                                    <li class="border-b border-light">
                                       <a href="about.html" class="text-wrap-xs p-20">
                                          <h3 class="f-size-24">Submenu link 3</h3>
                                          <div class="flex-row align-center">
                                             <p>The leading estate agency for Salisbury and beyond.. </p>
                                             <span class="icon icon-10 flex-none ml-8 f-color-secondary">
                                                <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="111 237 192 320"><path d="M111 269.4l32.3-32.4L303 397 143.3 557 111 524.6 238.3 397z"/></svg>
                                             </span>
                                          </div>
                                       </a>
                                    </li>
                                    <li class="border-b border-light">
                                       <a href="team.html" class="text-wrap-xs p-20">
                                          <h3 class="f-size-24">Submenu link 4</h3>
                                          <div class="flex-row align-center">
                                             <p>Salisbury’s award winning and number one estate agency.</p>
                                             <span class="icon icon-10 flex-none ml-8 f-color-secondary">
                                                <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="111 237 192 320"><path d="M111 269.4l32.3-32.4L303 397 143.3 557 111 524.6 238.3 397z"/></svg>
                                             </span>
                                          </div>
                                       </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </li>
                        <li class="@@if(context.lettings){is-active}">
                           <div class="submenu-trigger p-15">LETTINGS</div>
                        </li>
                        <li class=" @@if(context.selling){is-active}">
                           <a class="p-15" href="selling.html">SELLING</a>
                        </li>
                        <li class="@@if(context.about){is-active} @@if(context.team){is-active}">
                           <div class="submenu-trigger p-15 flex-row align-center">
                              <span>
                                 ABOUT US
                              </span>
                              <span class="icon icon-15 ml-8 flex-none f-color-secondary">
                                 <span class="down-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down" viewBox="0 0 24 24"><path d="m6 9 6 6 6-6"/></svg>
                                 </span>
                                 <span class="close-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x" viewBox="0 0 24 24"><path d="M18 6 6 18M6 6l12 12"/></svg>
                                 </span>
                              </span>
                           </div>
                           <div class="submenu pos-fixed pin-x z-40 bg-primary f-color-white">
                              <div class="container lg:container-lg xl:container-xl xxl:container-xxl mx-auto">
                                 <div class="p-15 flex-row align-center justify-space-between xl:d-hidden">
                                    <button class="back-button uppercase f-color-inherit flex-row align-center">
                                       <span class="icon icon-15 mr-8 flex-none f-color-secondary">
                                          <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="111 237 192 320">
                                             <path d="M303 269.4L270.7 237 111 397l159.7 160 32.3-32.4L175.7 397z" />
                                          </svg>
                                       </span>
                                       Back
                                    </button>
                                    <h3>ABOUT US</h3>
                                 </div>
                                 <ul class="list-reset flex-col">
                                    <li class="border-b border-light @@if(context.about){is-active}">
                                       <a href="about.html" class="text-wrap-xs p-20">
                                          <h3 class="f-size-24">About us</h3>
                                          <div class="flex-row align-center">
                                             <p>The leading estate agency for Salisbury and beyond.. </p>
                                             <span class="icon icon-10 flex-none ml-8 f-color-secondary">
                                                <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="111 237 192 320"><path d="M111 269.4l32.3-32.4L303 397 143.3 557 111 524.6 238.3 397z"/></svg>
                                             </span>
                                          </div>
                                       </a>
                                    </li>
                                    <li class="border-b border-light @@if(context.team){is-active}">
                                       <a href="team.html" class="text-wrap-xs p-20">
                                          <h3 class="f-size-24">Our People</h3>
                                          <div class="flex-row align-center">
                                             <p>Salisbury’s award winning and number one estate agency.</p>
                                             <span class="icon icon-10 flex-none ml-8 f-color-secondary">
                                                <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="111 237 192 320"><path d="M111 269.4l32.3-32.4L303 397 143.3 557 111 524.6 238.3 397z"/></svg>
                                             </span>
                                          </div>
                                       </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </li>
                        <li class="@@if(context.localArea){is-active}">
                           <div class="p-15">LOCAL AREA</div>
                        </li>
                        <li class="@@if(context.register){is-active}">
                           <a class="p-15" href="#">REGISTER</a>
                        </li>
                        <li class="@@if(context.contact){is-active}">
                           <a class="p-15" href="contact.html">CONTACT</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </nav>
         </div>
         <div class="navbar-toggle f-color-primary d-inline-flex xl:d-hidden z-50 my-8 ml-8">
            <div class="icon hamburger pointer-events-auto transition-all">
               <div class="m-1 lg:m-1_5">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>