@mixin getTextAlignmentClasses($bp) {
  .#{$bp}text{
    &-left{ text-align: left;}
    &-center{ text-align: center;}
    &-right{ text-align: right;}
    &-justify{ text-align: justify; }
  }
}

@mixin getVerticalAlignmentClasses($bp) {
  .#{$bp}align{
    &-baseline{vertical-align: baseline;}
    &-top{vertical-align: top;}
    &-middle{vertical-align: middle;}
    &-bottom{vertical-align: bottom;}
    &-text-top{vertical-align: text-top;}
    &-text-bottom{vertical-align: text-bottom;}
  }
}