<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta property="og:title" content="@@siteName" />
<meta property="og:description" content="@@description" />
<meta property="og:image" content="http://codechameleon.in/@@pojectName/images/preview-1200x630.jpg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:url" content="****WEBSITE-URL****" />
<meta name="twitter:card" content="summary_large_image" />
<link rel="icon" href="./images/favicon.png" />
<title>@@pageName | @@siteName</title>
<link rel="stylesheet" href="./css/styles.css" />