/*Aspect ratio default layout*/
*[class*="ar-"]{
  position: relative;
	width: 100%;

	&:before {
		content: "";
		pointer-events: none;
		display: block;
    width: 100%;
  }

  >*:first-child {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

@mixin getAspectRatioClasses($bp) {
  @each $ar in $aspectRatios {
    .#{$bp}ar-#{nth($ar, 1)} {
      &:before {
        padding-top: (nth($ar, 3) / nth($ar, 2)) * 100%;
      }
    }
  }
}