<div class="-m-sm flex-row flex-wrap">
   <div class="flex-col col-12 p-sm">
      <div class="-m-xs flex-col flex-stretch">
         <div class="p-xs">
            <h4 class="font-weight-bold font-color-pink mb-xs">Packing</h4>
            <div class="-m-xs flex-row flex-wrap justify-start">
               <div class="p-xs">
                  <div class="text-wrap w-full">
                     <p>We offer packing as part of our removal and storage service, please specify whether you would like this included in your quote.</p>
                  </div>
               </div>
            </div>
            <div class="-m-xs flex-row flex-wrap justify-start">
               <div class="p-xs">
                  <label class="custom-tick">
                     <input name="packing" type="radio" checked>
                     <span class="tick d-inline-block border"><span class="radius-full bg-white font-color-pink"></span></span>
                     <span class="related-text"><span class="">Yes</span>
                     </span>
                  </label>
               </div>
               <div class="p-xs">
                  <label class="custom-tick">
                     <input name="packing" type="radio">
                     <span class="tick d-inline-block border"><span class="radius-full bg-white font-color-pink"></span></span>
                     <span class="related-text"><span class="">No</span>
                     </span>
                  </label>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="px-sm col-12">
      <div class="pb-xxxs bg-center" style="background-image: url('images/border-pattern-pink.png')"></div>
   </div>

   <div class="flex-col col-12 p-sm">
      <div class="-m-xs flex-col flex-stretch">
         <div class="p-xs">
            <h4 class="font-weight-bold font-color-pink mb-xs">Shredding</h4>
            <div class="-m-xs flex-row flex-wrap justify-start">
               <div class="p-xs">
                  <div class="text-wrap w-full">
                     <p>With a few personal details, a criminal can open new bank accounts, get new credit cards, claim benefits and apply for official documents like a driving license - all in your name, and all traceable to you! Identity theft is the UK’s fastest-growing method used to carry out criminal activity. It involves unauthorised use of your name and personal details to either steal from you, or commit a crime in your name.</p>
                     <p>We shred all the material we collect in line with BS EN 15713:2009, which means you can be assured we have destroyed everything to the highest standards. Further more we then recycle in Line with ISO 14001 to keep our waste levels as low as possible.</p>
                     <p>The bags we supply are 35cm wide, 25cm deep and can carry up to 40cm in height of material.</p>
                     <p>Add a bag to your order and we will post out the bags for you to fill with a security tag. Then at collection of your effects we will remove the bag, shred the bag and issue you an E-certificate.</p>
                  </div>
               </div>
            </div>
            <div class="-m-xs flex-row flex-wrap justify-start">
               <div class="p-xs">
                  <label class="custom-tick">
                     <input name="shredding" type="radio" checked>
                     <span class="tick d-inline-block border"><span class="radius-full bg-white font-color-pink"></span></span>
                     <span class="related-text"><span class="">Yes</span>
                     </span>
                  </label>
               </div>
               <div class="p-xs">
                  <label class="custom-tick">
                     <input name="shredding" type="radio">
                     <span class="tick d-inline-block border"><span class="radius-full bg-white font-color-pink"></span></span>
                     <span class="related-text"><span class="">No</span>
                     </span>
                  </label>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="px-sm col-12">
      <div class="pb-xxxs bg-center" style="background-image: url('images/border-pattern-pink.png')"></div>
   </div>

   <div class="flex-col col-12 p-sm">
      <div class="-m-xs flex-col flex-stretch">
         <div class="p-xs">
            <h4 class="font-weight-bold font-color-pink mb-xs">Insurance</h4>
            <div class="-m-xs flex-row flex-wrap justify-start">
               <div class="p-xs">
                  <div class="text-wrap w-full">
                     <p><strong>Fire and Theft cover -</strong> This cover level will compensate you for total loss of goods, either in transit or while in storage. From the moment we collect your goods, they are covered up to the value that you have specified. This basic cover is essential for storage and all storage facilities will charge you a sum to be covered. You can visit <a href="www.storeandinsure.co.uk" class="font-color-pinkMedium">www.storeandinsure.co.uk</a> for a comparison quote.</p>
                     <p><strong>Comprehensive cover -</strong> This extended level of cover will not only cover you for fire and theft but also any accidental breakages that may occur in the process of the move and covered up to the limit you have requested. Terms and conditions</p>
                     <p>Do you require insurance?</p>
                  </div>
               </div>
            </div>
            <div class="-m-xs flex-row flex-wrap justify-start">
               <div class="p-xs">
                  <label class="custom-tick">
                     <input name="insurance" type="radio" checked>
                     <span class="tick d-inline-block border"><span class="radius-full bg-white font-color-pink"></span></span>
                     <span class="related-text"><span class="">Yes</span>
                     </span>
                  </label>
               </div>
               <div class="p-xs">
                  <label class="custom-tick">
                     <input name="insurance" type="radio">
                     <span class="tick d-inline-block border"><span class="radius-full bg-white font-color-pink"></span></span>
                     <span class="related-text"><span class="">No</span>
                     </span>
                  </label>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="px-sm col-12">
      <div class="pb-xxxs bg-center" style="background-image: url('images/border-pattern-pink.png')"></div>
   </div>

   <div class="flex-col col-12 p-sm">
      <div class="-m-xs flex-col flex-stretch">
         <div class="p-xs">
            <h4 class="font-weight-bold font-color-pink mb-xs">Dismantling</h4>
            <div class="-m-xs flex-row flex-wrap justify-start">
               <div class="p-xs">
                  <div class="text-wrap w-full">
                     <p>If you require any items dismantling, please specify in detail the description, size and any other relevant information we might need.</p>
                  </div>
               </div>
            </div>
            <div class="-m-xs flex-col">
               <div class="p-xs">
                  <textarea rows="4" placeholder=""
                     class="py-xs bg-white flex-stretch focus:shadow-lg px-2xs transition-all border border-pink w-full"></textarea>
               </div>
            </div>
         </div>
         <div class="p-xs mt-auto text-right">
            @@include('./_includes/_commons/button.html', {
               "link": "javascript:void(0);",
               "className": "mt-auto bg-aqua font-color-white size-lg",
               "buttonText": "Next step",
               "dataAttr": "data-goto",
               "dataAttrValue": "step_2"
            })
         </div>
      </div>
   </div>
</div>