<form>
   <div class="-m-sm flex-row flex-wrap">
      <div class="p-sm col-12 lg:col-6 flex-col">
         <div class="-m-xs flex-col flex-stretch">
            <div class="p-xs">
               @@include('./_includes/_commons/h3.html', {
               "title": "<span>1 Your Quote Details</span>",
               "className": "font-color-cyan mb-sm"
               })
               <h4 class="font-weight-bold font-color-pink mb-xs">Your nearest storage site is 22.06 miles away</h4>
               <div class="-m-xs flex-row">
                  <div class="p-xs">
                     <div class="text-wrap f-full font-weight-bold">
                        <p>
                           St Johns Industrial Park,<br>
                           Devizes,<br>
                           Wiltshire<br>
                           DE3 4JJ
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="mx-xs my-sm border-b border-pink border-dashed"></div>
            <div class="p-xs">
               @@include('./_includes/_commons/h3.html', {
               "title": "<span>2 Your Location</span>",
               "className": "font-color-cyan mb-sm"
               })
               <h4 class="font-weight-bold font-color-pink mb-xs">Getting your items into storage</h4>
               <div class="-m-xs">
                  <div class="p-xs">
                     <p>Do you need our removal service to get your items into storage?</p>
                     <p><strong>Yes</strong></p>
                  </div>
               </div>
            </div>
            <div class="p-xs">
               <h4 class="font-weight-bold font-color-pink mb-xs">Moving from location for items…</h4>
               <div class="-m-xs">
                  <div class="p-xs">
                     <div class="text-wrap f-full font-weight-bold">
                        <p>
                           52 St Francis Place,<br>
                           Salisbury, <br>
                           Wiltshire<br>
                           SP1 9PL
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="p-xs">
               <h4 class="font-weight-bold font-color-pink mb-xs">Information about the address</h4>
               <div class="-m-xs">
                  <div class="p-xs">
                     <p>Please describe parking access at the address…</p>
                     <p><strong>Parking will be tricky in the day for large vans. There might be a shortwalk to the property, 2 to 3 minutes. </strong></p>
                  </div>
                  <div class="p-xs">
                     <p>How many floors is the property over?</p>
                     <p><strong>3</strong></p>
                  </div>
               </div>
            </div>
            <div class="mx-xs my-sm border-b border-pink border-dashed"></div>
            <div class="p-xs">
               @@include('./_includes/_commons/h3.html', {
               "title": "<span>3 Item Storage</span>",
               "className": "font-color-cyan"
               })
            </div>
            <div class="p-xs">
               <h4 class="font-weight-bold font-color-pink mb-xs">Quantities of items to store…</h4>
               <div class="-m-xs">
                  <div class="p-xs">
                     <table class="w-full border-0">
                        <tbody>
                           <tr>
                              <td class="p-xxs">Furniture</td>
                              <td class="p-xxs text-right font-weight-bold">11</td>
                           </tr>
                           <tr>
                              <td class="p-xxs">Electronic</td>
                              <td class="p-xxs text-right font-weight-bold">4</td>
                           </tr>
                           <tr>
                              <td class="p-xxs">Mechanical</td>
                              <td class="p-xxs text-right font-weight-bold">0</td>
                           </tr>
                           <tr>
                              <td class="p-xxs">Personal</td>
                              <td class="p-xxs text-right font-weight-bold">23</td>
                           </tr>
                           <tr>
                              <td class="p-xxs">Clothing</td>
                              <td class="p-xxs text-right font-weight-bold">0</td>
                           </tr>
                           <tr>
                              <td class="p-xxs">Small Fragile</td>
                              <td class="p-xxs text-right font-weight-bold">15</td>
                           </tr>
                           <tr>
                              <td class="p-xxs">Other</td>
                              <td class="p-xxs text-right font-weight-bold">6</td>
                           </tr>
                           <tr>
                              <td class="p-xxs font-color-pink"><strong>Total</strong></td>
                              <td class="p-xxs text-right font-weight-bold font-color-pink"><strong>65</strong></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <div class="lg:d-hidden mx-xs my-sm border-b border-pink border-dashed"></div>
         </div>
      </div>
      <div class="p-sm col-12 lg:col-6 flex-col">
         <div class="-m-xs flex-col flex-stretch">
            <div class="p-xs">
               @@include('./_includes/_commons/h3.html', {
               "title": "<span>4 Extra Options</span>",
               "className": "font-color-cyan mb-sm"
               })
               <h4 class="font-weight-bold font-color-pink mb-xs">Do you require your items to be packed?</h4>
               <div class="-m-xs">
                  <div class="p-xs">
                     <p><strong>Yes</strong></p>
                  </div>
               </div>
            </div>
            <div class="p-xs">
               <h4 class="font-weight-bold font-color-pink mb-xs">Do you require any shredding?</h4>
               <div class="-m-xs">
                  <div class="p-xs">
                     <p><strong>Yes</strong></p>
                  </div>
               </div>
            </div>
            <div class="p-xs">
               <h4 class="font-weight-bold font-color-pink mb-xs">Do you require any insurance?</h4>
               <div class="-m-xs">
                  <div class="p-xs">
                     <p><strong>No</strong></p>
                  </div>
               </div>
            </div>
            <div class="mx-xs my-sm border-b border-pink border-dashed"></div>
            <div class="p-xs">
               @@include('./_includes/_commons/h3.html', {
               "title": "<span>5 Storage Period & Personal Details</span>",
               "className": "font-color-cyan mb-sm"
               })
               <h4 class="font-weight-bold font-color-pink mb-xs">Storage start date</h4>
               <div class="-m-xs">
                  <div class="p-xs">
                     <p><strong>10-Oct-19</strong></p>
                  </div>
               </div>
            </div>
            <div class="p-xs">
               <h4 class="font-weight-bold font-color-pink mb-xs">Your deposit</h4>
               <div class="-m-xs">
                  <div class="p-xs">
                     <p><strong>£250</strong></p>
                  </div>
               </div>
            </div>
            <div class="p-xs">
               <h4 class="font-weight-bold font-color-pink mb-xs">Storage duration in weeks</h4>
               <div class="-m-xs">
                  <div class="p-xs">
                     <p><strong>520</strong></p>
                  </div>
               </div>
            </div>
            <div class="p-xs">
               <h4 class="font-weight-bold font-color-pink mb-xs">Your name</h4>
               <div class="-m-xs">
                  <div class="p-xs">
                     <p><strong>Mr Dennis Glover</strong></p>
                  </div>
               </div>
            </div>
            <div class="p-xs">
               <h4 class="font-weight-bold font-color-pink mb-xs">Your email</h4>
               <div class="-m-xs">
                  <div class="p-xs">
                     <p><strong>dennis.glover@gmail.com</strong></p>
                  </div>
               </div>
            </div>
            <div class="p-xs">
               <h4 class="font-weight-bold font-color-pink mb-xs">Your telephone number</h4>
               <div class="-m-xs">
                  <div class="p-xs">
                     <p><strong>07892 645 237</strong></p>
                  </div>
               </div>
            </div>
            <div class="mx-xs my-sm border-b border-pink border-dashed"></div>
            <div class="p-xs">
               <h4 class="font-weight-bold font-color-cyan">Total weekly cost</h4>
               @@include('./_includes/_commons/h2.html', {
                  "title": "<span>£XX</span> <span class='font-size-sm'>per week*</span>",
                  "className": "font-color-cyan mb-sm"
               })
               <div class="-m-xs flex-row flex-wrap">
                  <div class="p-xs col-12 md:col-6">
                     <h4 class="font-weight-bold font-color-pink">Storage Weekly Cost</h4>
                     @@include('./_includes/_commons/h2.html', {
                        "title": "<span class='font-size-2md'>£XX</span> <span class='font-size-sm'>per week*</span>",
                        "className": "font-height-none mb-sm"
                     })
                  </div>
                  <div class="p-xs col-12 md:col-6">
                     <h4 class="font-weight-bold font-color-pink">Comparison Storage Cost</h4>
                     @@include('./_includes/_commons/h2.html', {
                        "title": "<span class='font-size-2md'>£XX</span> <span class='font-size-sm'>per week*</span><div class='font-size-xs'>(Including Van Hire, Fuel & Sundries)</div>",
                        "className": "font-height-none mb-sm"
                     })
                  </div>
               </div>
               <h4 class="font-weight-bold font-color-pink">Additional Weekly Costs</h4>
               @@include('./_includes/_commons/h2.html', {
                  "title": "<span class='font-size-2md'>£XX</span> <span class='font-size-sm'>per week*</span>",
                  "className": "font-height-none mb-sm"
               })
               <p class="font-size-xs">
                  *This quote is accurate based on the details provided, but we reserve the right amend
                  this figure if the details change or are inaccurate. For more information, please see our
                  @@include('./_includes/_commons/button-as-link.html', {
                     "link": "#",
                     "className": "font-color-pink opacity-50 hover:opacity-100",
                     "buttonText": "Terms and Conditions."
                  })
               </p>
            </div>
            <div class="p-xs mt-auto text-right">
               @@include('./_includes/_commons/button.html', {
               "link": "thank-ewe.html",
               "className": "bg-aqua font-color-white mt-auto",
               "buttonText": "Confirm & Book Storage"
               })
            </div>
         </div>
      </div>
</form>