h1, h2, h3, h4 {
  line-height: 1.2;
}

b,
strong {
  font-weight: 700;
}

.header {
  min-height: 13rem;
}

.select {
  &:after {
    border-width: 0 0 .2rem .2rem;
  }
}


.transition-all {
  &,
  *[class*="hover\:"],
  *[class*="focus\:"] {
    transition: all .45s 0s ease-in-out;
  }
}

a{
  color: inherit;
}
.button {
  align-items: center;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;

  .icon {
    flex: none;
  }
}

.hero-banner {
  @media (min-width: $bp_lg) {
    min-height: 88rem;
  }
}

.text-wrap {
  >* {
    &:not(:last-child):not(.line-divider):not(.free-child) {
      margin-bottom: 2rem;
    }
  }
  &-lg{
    >* {
      &:not(:last-child):not(.line-divider):not(.free-child) {
        margin-bottom: 4rem;
      }
    }
  }
  &-md{
    >* {
      &:not(:last-child):not(.line-divider):not(.free-child) {
        margin-bottom: 2.5rem;
      }
    }
  }
  &-sm{
    >* {
      &:not(:last-child):not(.line-divider):not(.free-child) {
        margin-bottom: 1.5rem;
      }
    }
  }
  &-xs{
    >* {
      &:not(:last-child):not(.line-divider):not(.free-child) {
        margin-bottom: 1rem;
      }
    }
  }
}

.img-rollover {
 overflow: hidden;
 .card-image, .play-button {
   transition: all .35s 0s;
 }
 .image-rollover-parent:hover &,
 &:hover {
   // background-size: 28rem;
   .card-image {
     transform: scale(1.045);
   }
   //.play-button{
   //  transform: scale(0.955);
   //}
 }
}


.brand-logo,
.unstuck-link {
  display: inline-block;
}

//.unstuck-link {
//  display: inline-block;
//  vertical-align: bottom;
//  svg,
//  img {
//    max-height: 1.7rem;
//    vertical-align: top;
//    vertical-align: inherit;
//  }
//
//  svg{
//    path{
//      fill: currentColor;
//    }
//  }
//}

//.mfp-image-holder .mfp-close {
//  font-size: 6.4rem;
//  font-family: '';
//  font-weight: 100;
//  margin-top: 44px;
//  padding-right: 15px;
//  opacity: 1;
//  text-shadow: 0 0 2px rgba(0,0,0, .4);
//}
//button.mfp-arrow {
//  background-color: $color-primary;
//  height: 4.8rem;
//  width: 4.8rem;
//  color: $color-white;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  &,
//  &:active{
//    margin-top: -2.4rem;
//  }
//
//  &::before {
//    display: none;
//  }
//  &::after {
//    left: unset;
//    top: unset;
//    margin: 0;
//    height: 2rem;
//    width: 2rem;
//    color: inherit;
//    border: .12rem solid;
//  }
//  &-left{
//    &::after {
//      margin-left: .5rem;
//      border-right: transparent;
//      border-bottom: transparent;
//      transform: rotate(-45deg) translate(2px, 2px)
//    }
//  }
//  &-right{
//    &::after {
//      margin-right: .5rem;
//      border-left: transparent;
//      border-top: transparent;
//      transform: rotate(-45deg) translate(-2px, -2px)
//    }
//  }
//}

// Carousel style
//.banner-carousel{
//    &.jsBannerCarousel {
//      .owl-dots{
//        @media (min-width: $bp_lg){
//          text-align: left;
//          transform: translateY(-13rem);
//        }
//        position: absolute;
//        margin-top: 0 !important;
//        transform: translateY(-5rem);
//      }
//    }
//  .owl-dots{
//    text-align: center;
//    margin: 0 auto 0 !important;
//    left: 0;
//    right: 0;
//    width: calc(100% - 3rem);
//    bottom: 0;
//    transform: translateY(4rem);
//    .owl-dot{
//      margin-left: -7px;
//    }
//    @media (min-width: $bp_lg){
//      max-width:$container_lg;
//    }
//    @media (min-width: $bp_xl){
//      max-width:$container_xl;
//    }
//  }
//  &.owl-theme .owl-dots .owl-dot {
//    span{
//      opacity: .65;
//      background-color: transparent;
//      border: 2px solid $color-white;
//      width: 1.5rem;
//      height: 1.5rem;
//      margin: 0 7px;
//      &:hover {
//        opacity: 1;
//      }
//    }
//    &.active{
//      span{
//        opacity: 1;
//        border-color: $color-white;
//        background-color: $color-white;
//      }
//    }
//  }
//  &.blue-dots{
//    &.owl-theme .owl-dots .owl-dot {
//      span {
//        border: 2px solid $color-primary;
//      }
//      &.active{
//        span{
//          border-color: $color-primary;
//          background-color: $color-primary;
//        }
//      }
//    }
//  }
//}

//.filter_parent {
//  .filter_wrapper {
//    min-height: auto;
//    @media (min-width: $bp_lg){
//      min-height: 50vh;
//    }
//  }
//  .filter_tab.is-active {
//    font-weight: 600;
//    color: $color-primary;
//  }
//}

//.accordion-wrapper .accordion.is-open {
//  & > .accordion-label + .accordion-content {
//    max-height: 40em;
//  }
//  & > .accordion-label > .toggle-sign {
//    transform: rotate(180deg);
//  }
//}

//.popup_visible .popup {
//  overflow: visible;
//  animation: fade-in-fwd 0.35s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
//}
//
//.popup {
//  &_wrapper {
//    perspective: 500px;
//    perspective-origin: 50% 50%;
//  }
//  &_background {
//    opacity: .85 !important;
//  }
//  max-height: calc(100% - 2rem);
//}
//
//@keyframes fade-in-fwd {
//  0% {
//    transform: translateZ(-20px);
//    opacity: 0;
//  }
//  100% {
//    transform: translateZ(0);
//    opacity: 1;
//  }
//}

//.mfp-counter {
//  display: none;
//}
//
//.mfp-title {
//  padding-right: 0;
//}
//
//.mfp-bottom-bar {
//  @media (min-width: $bp_lg){
//    top: auto;
//    bottom: 40px;
//  }
//}
//
//.mfp-content {
//  &.caption-close {
//    .caption-wrapper {
//      max-height: 0;
//      overflow: hidden;
//      .caption-toggle {
//        .plus {
//          display: block;
//        }
//        .minus {
//          display: none;
//        }
//      }
//    }
//  }
//  .caption-toggle {
//    font-weight: 600;
//    .plus {
//      display: none;
//    }
//  }
//}

.image-placeholder {
  background-image: url("../images/image-placeholder.png");
  background-position: center;
  background-repeat: no-repeat;
  //background-color: $color-placeholder;
}

a[href^="http"] {
  @media (max-width: $bp_sm){
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}

//a[href]:not(:hover) {
//  text-decoration: none;
//}

.horizontal-card {
  @media (min-width: $bp_lg){
    min-height: 50rem;
  }
}

.list-style {
  column-rule-style: solid;
  column-rule-width: .1rem;
}

nav ul li a.current {
  color: $color-white;
}

.container {
  width: calc(100% - 4rem);
}


.stripe{
  .tbody {
    .tr:nth-child(even){
      background-color: $color-light-1;
    }
  }
  .th, .td {
    border-width: 0 0.1rem;
    border-color: $color-light;
    border-style: solid;
  }
}

.tabs-collection {
  .tab {
    .plus {
      display: inline;
    }
    .down {
      display: none;
    }
    &.active {
      >  a {
        background-color: $color-secondary;
        color: $color-white;
      }
      .plus {
        display: none;
      }
      .down {
        display: inline;
      }
    }
  }
  .tabs-container {
    &:not(.active) {
      display: none;
    }
  }
}

.popup_visible .popup {
  animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.popup {
  &_wrapper {
    perspective: 500px;
    perspective-origin: 50% 50%;
  }
  max-height: calc(100% - 2rem);
}

@keyframes fade-in-fwd {
  0% {
    transform: translateZ(-20px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}