/*Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=b0c19288-9d8b-4491-be22-1deb460b8976&fontids=1492695");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/*Fonts*/
@font-face { font-family: "Neue Haas Unica W06 Regular"; src: url("Fonts/1492695/7f8c1d60-d5ac-4ee5-a155-164ad7d137fc.eot?#iefix"); src: url("Fonts/1492695/7f8c1d60-d5ac-4ee5-a155-164ad7d137fc.eot?#iefix") format("eot"), url("Fonts/1492695/b738ba59-0380-498d-a4b9-74311a35e16b.woff2") format("woff2"), url("Fonts/1492695/cdd3ed3d-72da-4fbe-a668-d125aed12d29.woff") format("woff"), url("Fonts/1492695/4e56a671-6fda-4cf6-90d9-4090205249bf.ttf") format("truetype"); }

/*Base*/
*, *:after, *:before { -webkit-box-sizing: inherit; box-sizing: inherit; margin: 0; padding: 0; outline: none; }

html { -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 62.5%; }

body { color: #000000; font-family: "Neue Haas Unica W06 Regular", Helvetica, Arial, sans-serif; font-size: 1.8rem; font-weight: 400; line-height: 1.2; overflow-x: hidden; scroll-behavior: smooth; }

/*Typography*/
b, strong { font-weight: bold; }

h1, h2, h3, h4, h5, h6 { font-weight: 400; }

h1, .h1 { font-size: 5.6rem; line-height: 1.1481; }

h2, .h2 { font-size: 3.6rem; line-height: 1.1750; }

h3, .h3 { font-size: 2.4rem; line-height: 1.2; }

h4, .h4 { font-size: 2.2rem; line-height: 1.2; }

h5, .h5 { font-size: 1.4rem; line-height: 1.2; }

h6, .h6 { font-size: 1.16rem; line-height: 1.2; }

@media all and (max-width: 676px) { h1, .h1 { font-size: 4.6rem; }
  h2, .h2 { font-size: 3.2rem; } }

/*Spacing*/
h1:not(:last-child), h2:not(:last-child), h3:not(:last-child), h4:not(:last-child), h5:not(:last-child), h6:not(:last-child) { margin-bottom: 2rem; }

fieldset, input, select, textarea { margin-bottom: 0; }

blockquote:not(:last-child), figure:not(:last-child), form:not(:last-child), p:not(:last-child), pre:not(:last-child), table:not(:last-child), address:not(:last-child) { margin-bottom: 2rem; }

dl:not(:last-child), ol:not(:last-child), ul:not(:last-child) { margin-bottom: 2rem; }

dd:not(:last-child), dt:not(:last-child), li:not(:last-child) { margin-bottom: 1rem; }

/*Link*/
a { color: inherit; text-decoration: none; border-style: dotted; border-width: 0 0 1px 0; }

a:not(.button):focus, a:not(.button):hover { color: #ff3db4; }

.link { display: inline-block; word-wrap: break-word; }

/*List*/
ul { list-style-type: disc; list-style-position: inside; }

ol { list-style-type: decimal; list-style-position: inside; }

ul ul, ol ul { list-style-type: circle; list-style-position: inside; margin-left: 1rem; }

ol ol, ul ol { list-style-type: lower-latin; list-style-position: inside; margin-left: 1rem; }

/*Button*/
.button, button, input[type='button'], input[type='reset'], input[type='submit'] { margin: 0; border-radius: 0; font-size: 1.8rem; line-height: inherit; font-weight: bold; letter-spacing: 0.3rem; padding: .8rem 2rem; text-transform: uppercase; display: inline-block; text-decoration: none !important; -webkit-transition: all 0.7s 0s ease-in-out; -o-transition: all 0.7s 0s ease-in-out; transition: all 0.7s 0s ease-in-out; background-color: #000000; border: 1px solid #000000; color: #ffffff; cursor: pointer; }

.button:hover, .button.active, button:hover, button.active, input[type='button']:hover, input[type='button'].active, input[type='reset']:hover, input[type='reset'].active, input[type='submit']:hover, input[type='submit'].active { -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3); }

.button.disabled, .button[disabled], button.disabled, button[disabled], input[type='button'].disabled, input[type='button'][disabled], input[type='reset'].disabled, input[type='reset'][disabled], input[type='submit'].disabled, input[type='submit'][disabled] { cursor: default; opacity: 0.5; color: rgba(255, 255, 255, 0.5); pointer-events: none; }

ul.action { list-style: none; padding: 0; margin-left: 1rem; }

ul.action li { padding-left: 1rem; }

/*Form*/
::-webkit-input-placeholder { color: black; }

::-moz-placeholder { color: black; opacity: 1; }

:-ms-input-placeholder { color: black; }

:-moz-placeholder { color: black; }

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], textarea, select { font-size: inherit; line-height: inherit; font-weight: 500; font-family: "Neue Haas Unica W06 Regular", Helvetica, Arial, sans-serif; color: #000000; }

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select { vertical-align: top; height: 46px; padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */ background-color: #ffffff; border: 1px solid transparent; -webkit-box-shadow: none; box-shadow: none; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Removes awkward default styles on some inputs for iOS */
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

textarea { height: auto; resize: none; min-height: 100px; padding-top: 6px; padding-bottom: 6px; }

.col textarea { min-height: 100%; }

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, textarea:focus, select:focus { border-color: #ff3db4; -webkit-box-shadow: 0 0 0px 2px #ffc5e9; box-shadow: 0 0 0px 2px #ffc5e9; outline: 0; -webkit-transition: box-shadow 0.7s 0s ease-in-out; -o-transition: box-shadow 0.7s 0s ease-in-out; -webkit-transition: -webkit-box-shadow 0.7s 0s ease-in-out; transition: -webkit-box-shadow 0.7s 0s ease-in-out; transition: box-shadow 0.7s 0s ease-in-out; transition: box-shadow 0.7s 0s ease-in-out, -webkit-box-shadow 0.7s 0s ease-in-out; }

label, legend { display: block; margin-bottom: .3rem; }

fieldset { padding: 0; border-width: 0; }

input[type="checkbox"], input[type="radio"] { display: inline; }

label > .label-body { display: inline-block; margin-left: 15px; font-weight: normal; }

.ph-center::-webkit-input-placeholder { text-align: center; }

.ph-center::-moz-placeholder { text-align: center; }

.ph-center:-ms-input-placeholder { text-align: center; }

.ph-center:-moz-placeholder { text-align: center; }

.ph-center ::-webkit-input-placeholder { text-align: center; }

.ph-center ::-moz-placeholder { text-align: center; }

.ph-center :-ms-input-placeholder { text-align: center; }

.ph-center :-moz-placeholder { text-align: center; }

.field { color: #000000; }

.field input[type="email"], .field input[type="number"], .field input[type="search"], .field input[type="text"], .field input[type="tel"], .field input[type="url"], .field input[type="password"], .field textarea, .field select { width: 100%; }

.fields .field:not(:last-child) { margin-bottom: 2rem; }

.form_border input[type="email"], .form_border input[type="number"], .form_border input[type="search"], .form_border input[type="text"], .form_border input[type="tel"], .form_border input[type="url"], .form_border input[type="password"], .form_border textarea, .form_border select, .form_border .custom-radio > .tick, .form_border .custom-check > .tick, .form_border .custom-radio > input:checked + .tick, .form_border .custom-check > input:checked + .tick { border-color: #000000; }

/*Custom Select
----------------------------------------*/
.select { position: relative; color: #000000; }

.select:after { content: ""; position: absolute; height: 10px; width: 10px; border: 1px solid; border-width: 0 0 1px 1px; color: inherit; pointer-events: none; top: calc(50% - 8px); right: 20px; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

.select select { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

.select select::-ms-expand { display: none; }

select { padding-right: 40px; }

/*Custom checkbox and Radio
----------------------------------------*/
.custom-radio, .custom-check { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; }

.custom-radio > input[type="radio"], .custom-radio > input[type="checkbox"], .custom-check > input[type="radio"], .custom-check > input[type="checkbox"] { cursor: pointer; position: absolute; opacity: 0; }

.custom-radio > .tick, .custom-check > .tick { position: relative; height: 18px; width: 18px; background-color: #ffffff; border: 1px solid #000000; margin-top: .5rem; display: inline-block; -webkit-box-flex: 0; -ms-flex: none; flex: none; }

.custom-radio > .tick:after, .custom-check > .tick:after { content: ""; position: absolute; }

.custom-radio > .tick:after, .custom-check > .tick:after { left: 6px; top: 2px; width: 5px; height: 10px; border: solid #000000; border-width: 0 2px 2px 0; -webkit-transform: rotate(45deg) scale(0); -ms-transform: rotate(45deg) scale(0); transform: rotate(45deg) scale(0); opacity: 0; -webkit-transition: all .2s 0s ease-in-out; -o-transition: all .2s 0s ease-in-out; transition: all .2s 0s ease-in-out; }

.custom-radio > .tick + .related-text, .custom-check > .tick + .related-text { margin-left: 1rem; padding-right: 1rem; }

.custom-radio > input:checked + .tick:after, .custom-check > input:checked + .tick:after { opacity: 1; -webkit-transform: rotate(45deg) scale(1); -ms-transform: rotate(45deg) scale(1); transform: rotate(45deg) scale(1); }

.custom-radio > .related-text, .custom-check > .related-text { display: inline-block; }

.custom-radio > .related-text ~ .tick, .custom-check > .related-text ~ .tick { margin-left: 5px; }

.custom-radio > .tick { border-radius: 50%; }

.custom-radio > .tick:after { left: 4px; top: 4px; width: 10px; height: 10px; border: 1px solid #ffffff; background-color: #000000; border-width: 0 2px 2px 0; border-radius: 50%; -webkit-transform: rotate(0deg) scale(0); -ms-transform: rotate(0deg) scale(0); transform: rotate(0deg) scale(0); opacity: 0; }

.custom-radio > input:checked + .tick:after { opacity: 1; -webkit-transform: rotate(0deg) scale(1); -ms-transform: rotate(0deg) scale(1); transform: rotate(0deg) scale(1); }

.custom-radio > input:checked + .tick, .custom-check > input:checked + .tick { border-color: #000000; }

/*divider*/
hr, .divider { border: 0; width: 100%; -webkit-box-flex: 0; -ms-flex: none; flex: none; height: 0; border-style: solid; }

hr, hr._hr, .divider, .divider._hr { border-width: 1px 0 0 0; margin: 2rem 0; }

hr._vr, .divider._vr { width: 0; height: 100%; border-width: 0 1px 0 0; margin: 0 auto; }

.border { border: 1px solid; }

/*Image*/
img { display: inline-block; max-width: 100%; vertical-align: bottom; }

.image { display: inline-block; }

.image img { min-height: 100%; width: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center; -webkit-transition: all 0.2s 0s ease-in-out; -o-transition: all 0.2s 0s ease-in-out; transition: all 0.2s 0s ease-in-out; }

a.image, .image a { border: 0; }

a.image:hover img { -webkit-transform: scale(1.075); -ms-transform: scale(1.075); transform: scale(1.075); }

.image:hover a img { -webkit-transform: scale(1.075); -ms-transform: scale(1.075); transform: scale(1.075); }

.image[class*="aspect-ratio"] { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 100%; }

.image-wrap { overflow: hidden; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background-position: center; background-size: cover; }

/*Grid*/
.grid { width: calc( 100% + 2rem); margin-left: -2rem; margin-top: -2rem; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.grid > * { margin-left: 2rem; margin-top: 2rem; }

.grid-4 > * { width: calc( (100% / 4) -  2rem); max-width: calc( (100% / 4) -  2rem); }

.grid-8 > * { width: calc( (100% / 8) -  2rem); max-width: calc( (100% / 8) -  2rem); }

@media all and (max-width: 900px) { .grid-4 > * { width: calc( (100% / 2) -  2rem); max-width: calc( (100% / 2) -  2rem); }
  .grid-8 > * { width: calc( (100% / 4) -  2rem); max-width: calc( (100% / 4) -  2rem); } }

@media all and (max-width: 676px) { .grid-4 > * { width: calc( (100% / 1) -  2rem); max-width: calc( (100% / 1) -  2rem); }
  .grid-8 > * { width: calc( (100% / 2) -  2rem); max-width: calc( (100% / 2) -  2rem); } }

/*Layout*/
.wrapper { width: 100%; max-width: 1220px; margin: 0 auto; padding: 0 10rem; }

.section { margin-top: 100px; }

.section > .section { margin-top: 66px; }

@media all and (max-width: 1080px) { .wrapper { padding: 0 5rem; } }

@media all and (max-width: 676px) { .wrapper { padding: 0 1rem; }
  .section { margin-top: 66px; }
  .section > .section { margin-top: 66px; } }

/*Aspect Ratio*/
.aspect-ratio_16x9 { position: relative; width: 100%; }

.aspect-ratio_16x9:before { display: block; content: ""; width: 100%; padding-top: 56.25%; }

.aspect-ratio_16x9 > *:first-child { position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; }

.aspect-ratio_11x5 { position: relative; width: 100%; }

.aspect-ratio_11x5:before { display: block; content: ""; width: 100%; padding-top: 46.37273%; }

.aspect-ratio_11x5 > *:first-child { position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; }

/*color Classes*/
.text-default { color: #000000; }

.text-highlight { color: #ff3db4; }

.text-light { color: #cccccc; }

.bg-default { background-color: #000000; }

.bg-highlight { background-color: #ff3db4; }

.bg-light { background-color: #cccccc; }

/*Header*/
.header { height: 238px; background-color: #ffffff; position: fixed; z-index: 999; left: 0; right: 0; top: 0; bottom: auto; padding-top: 0; padding-bottom: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

.header + .main { padding-top: 238px; }

.header .grid { -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; margin-top: 0; }

.header.shrink { height: 167px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.header.shrink .brand-logo { width: calc( (100% / 8) -  2rem); }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .header.shrink .brand-logo { width: 11.5%; } }

.header.shrink .brand-logo img { margin-bottom: 0; }

.header.shrink .contact { margin-bottom: auto; }

.header .brand-logo { border: 0; display: inline-block; margin-top: 0; width: calc( (100% / 4) -  2rem); }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .header .brand-logo { width: 24%; } }

.header .brand-logo img { margin-bottom: -19.791665%; }

.header .contact { list-style: none; margin-left: 1rem; margin-top: auto; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }

.header .contact li { margin: 0; display: inline-block; padding-left: 1rem; }

.header .contact a { border: 0; }

.header { -webkit-transition: height .4s 0s ease-in-out, padding-bottom .4s 0s ease-in-out; -o-transition: height .4s 0s ease-in-out, padding-bottom .4s 0s ease-in-out; transition: height .4s 0s ease-in-out, padding-bottom .4s 0s ease-in-out; }

.brand-logo { -webkit-transition: all .4s 0s ease-in-out; -o-transition: all .4s 0s ease-in-out; transition: all .4s 0s ease-in-out; }

.brand-logo img { -webkit-transition: margin-bottom .4s 0s ease-in-out, -webkit-transform .4s 0s ease-in-out; transition: margin-bottom .4s 0s ease-in-out, -webkit-transform .4s 0s ease-in-out; -o-transition: margin-bottom .4s 0s ease-in-out, transform .4s 0s ease-in-out; transition: margin-bottom .4s 0s ease-in-out, transform .4s 0s ease-in-out; transition: margin-bottom .4s 0s ease-in-out, transform .4s 0s ease-in-out, -webkit-transform .4s 0s ease-in-out; }

@media all and (max-width: 900px) { .header { height: 172px; }
  .header + .main { padding-top: 172px; }
  .header.shrink { height: 167px; }
  .header.shrink .brand-logo { width: calc( (100% / 6) - 2rem); } }

@media all and (max-width: 767px) { .header { height: 86px; }
  .header .contact { margin-bottom: 1rem; }
  .header .contact li { display: block; }
  .header .brand-logo { width: calc( (100% / 3) - 2rem); }
  .header + .main { padding-top: 86px; }
  .header.shrink { height: 86px; }
  .header.shrink .brand-logo { width: calc( (100% / 4) - 2rem); } }

/*Footer*/
.footer { margin-top: 100px; background-color: #cccccc; padding: 33px 0 100px; }

.footer p { margin-bottom: 1rem; }

.footer address { margin-bottom: 1rem; }

.footer ul.links { margin: 0; padding: 0; list-style: none; }

.footer ul.links a { border: 0; }

.footer ul.links .icon { width: 16px; vertical-align: middle; }

/*Hero*/
.hero { background-color: #cccccc; }

.hero-title { position: absolute; left: 0; bottom: 0; list-style: none; margin: 0; padding: 0; width: 100%; }

.hero-title li { margin: 0; position: absolute; bottom: 0; left: 0; }

.hero .fluid-text { margin-bottom: -.6vw; font-size: 4.1vw; }

@media all and (min-width: 1200px) { .hero .fluid-text { font-size: 5.6rem; margin-bottom: -.8rem; } }

@media all and (max-width: 640px) { .hero .fluid-text { font-size: 6.1vw; } }

/*artical Posts*/
.posts > article .image { margin-bottom: 2rem; }

@media all and (max-width: 900px) { .posts { margin-top: -66px; }
  .posts > article { margin-top: 66px; }
  .posts .has-list { margin-top: -66px; }
  .posts .has-list > .col { margin-top: 66px; } }
