$bp: $navbarBp;

.navbar {
   li {
      position: relative;

      &:after {
         opacity: 0;
         clear: both;
         content: "";
         height: 0;
         width: 50%;
         color: inherit;
         border: .1rem solid;
         border-width: 0 0 .1rem 0;
         display: block;
         position: absolute;
         margin: 0;
         bottom: 1rem;
         left: 50%;
         transform: translateX(-50%);
         // border-color: $colorWhite;
         transition: opacity .7s .2s ease-in-out;
         transform-origin: center;
      }

      &.active {
         &:after {
            opacity: 1;
            width: 2.5rem;
            animation: fadeIn 1s .5s ease-in-out both;
         }
      }
   }

   a {
      // display: inline-block;
      text-decoration: none !important;
   }

   @media all and (max-width: $bp) {
      opacity: 0;
      transform: translateX(100%);
      max-width: calc(100% - 2.5rem);

      ul {
         flex-direction: column;
      }

      .nav-transition & {
         transition: all .7s .2s ease-in-out;
      }
   }
}

.jsNavbarToggle {
   &.is-open {
      @media all and (max-width: $bp) {
         .navbar {
            opacity: 1;
            transform: translateX(0);
         }

         .hamburger {
            z-index: 9999;
            position: fixed;
            top: 2.8rem;
            right: 2rem;
         }
      }
   }
}
