$bp: $bp_lg;

.navbar {
   li {
      position: relative;

      &:after {
         opacity: 0;
         clear: both;
         content: "";
         height: 0;
         width: 50%;
         color: inherit;
         border: .1rem solid;
         border-width: 0 0 .1rem 0;
         display: block;
         position: absolute;
         margin: 0;
         bottom: 1rem;
         left: 50%;
         transform: translateX(-50%);
         // border-color: $colorWhite;
         transition: opacity .7s .2s ease-in-out;
         transform-origin: center;
      }

      &.active {
         &:after {
            opacity: 1;
            width: 2.5rem;
            animation: fadeIn 1s .5s ease-in-out both;
         }
      }
   }

   a {
      display: inline-block;
      text-decoration: none !important;
   }

   @media all and (max-width: $bp) {
      opacity: 0;
      transform: translateX(100%);
      max-width: calc(100% - 2.5rem);

      ul {
         flex-direction: column;
      }

      .nav-transition & {
         transition: all .7s .2s ease-in-out;
      }
   }
}

.jsNavbarToggle {
   &.is-open {
      @media all and (max-width: $bp) {
         .navbar {
            opacity: 1;
            transform: translateX(0);
         }

         .hamburger {
            z-index: 9999;
            position: fixed;
            top: 2.8rem;
            right: 2rem;
         }
      }
   }
}

// For dropdown
.navbar {
   >ul>li {
      > .dropdown{
         max-height: 0;
         opacity: 0;
         transition: all 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
         li{
            opacity: 0;
         }
      }
      &:hover{
         >.dropdown {
            opacity: 1;
            max-height: 100rem;
            @for $i from 0 to 10 {
               li:nth-child(#{$i + 1}) {
                  animation: slideInFwdBottom 0.6s #{0.1 * $i}s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
               }
            }
         }
      }
   }

   .dropdown {
      min-width: 32rem;
      width: fit-content;
      z-index: 40;
      overflow: hidden;
      max-height: 100rem;
   }

   @media all and (min-width: $bp) {
      .dropdown {
         position: absolute;
         top: 100%;
      }
   }
}

//  Custom style
.navbar {
   >ul>li {
      >.dropdown{
         > ul>li {
            &:after {
               height: 50%;
               width: 0;
               border-width: 0 0 0 .1rem;
               left: -1.5rem;
            }
         }
         @media all and (max-width: $bp) {
            font-size: 1.6rem;
            padding-left: 1rem;
         }
      }
   }

   @media all and (max-width: $bp) {
      >ul {
         margin-top: 9.8rem;
         >li {
            &:after {
               bottom: -.1rem;
            }
            &:hover{
               &:after {
                  display: none;
               }
            }
         }
      }
      @media all and (max-width: $bp_md) {
         >ul {
            margin-top: 3rem;
         }  
      }

      >ul>li {
         &:after {
            left: 3rem;
         }
      }
   }
}

.sticky-header {
   .header {
      position: fixed;
      left: 0;
      right: 0;
      z-index: 50;
   }

   @media all and (max-width: $bp) {
      main {
         margin-top: 6.863rem;
      }
      
      .header .brand-logo {
         width: 13.1rem;
      }
   }

   @media all and (min-width: $bp) {
      main {
         margin-top: 31rem;
      }
      .header .brand-logo {
         width: 40.6rem;
      }

      &:not(.for-home-only),
      &.shrink {
         main {
            margin-top: 19.09rem;
         }
   
         .header .brand-logo {
            width: 21.2rem;
         }
         .tagline{
            height: 0;
         }
      }
   }

}

// shrink animation and sticky header