.accordion-wrapper {
  .accordion {
    position: relative;
    width: 100%;
    overflow: hidden;

    >.accordion-label {
      position: relative;
      display: block;
      cursor: pointer;

      display: flex;
      justify-content: space-between;
      align-items: center;

      >.question {
        flex: 1;
        padding-right: 1rem;
        margin-bottom: 0;
      }
    }
    &.is-open{
      >.accordion-label{
        +.accordion-content {
          max-height: 80em;
          opacity: 1;
  
          >.answer {
            animation: fade-in 0.3s 0.3s ease-in-out both;
          }
        }
        >.toggle-sign {
          transform: rotate(45deg);
        }
      }
    }

    >.accordion-content {
      max-height: 0;
      overflow: hidden;
      // transition: all 0.3s 0s ease-in-out;
      opacity: 0;
    }
  }
}