input[type=range] {
  -webkit-appearance: none;
  width: $trackWidth;
  margin: 5px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: $trackWidth;
  height: $trackHeight;
  cursor: pointer;
  background: rgba($trackColor, 0.78);
  border-radius: $trackBorderRadius;
  border: $trackBorderWidth solid $trackBorderColor;
}
input[type=range]::-moz-range-track{
  width: $trackWidth;
  height: $trackHeight;
  cursor: pointer;
  background: rgba($trackColor, 0.78);
  border-radius: $trackBorderRadius;
  border: $trackBorderWidth solid $trackBorderColor;
}
input[type=range]::-ms-track {
  width: $trackWidth;
  height: $trackHeight;
  cursor: pointer;
  color: transparent;
  background: rgba($trackColor, 0.78);
  border-radius: $trackBorderRadius;
  border: $trackBorderWidth solid $trackBorderColor;
}

input[type=range]::-webkit-slider-thumb{
  border: $thumbBorderWidth solid $thumbBorderColor;
  height: $thumbHeight;
  width: $thumbWidth;
  border-radius: $thumbBorderRadius;
  background: $thumbColor;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -#{$thumbHeight/2 - $trackHeight/2};
}
input[type=range]::-moz-range-thumb{
  border: $thumbBorderWidth solid $thumbBorderColor;
  height: $thumbHeight;
  width: $thumbWidth;
  border-radius: $thumbBorderRadius;
  background: $thumbColor;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -#{$thumbHeight/2 - $trackHeight/2};
}
input[type=range]::-ms-thumb {
  border: $thumbBorderWidth solid $thumbBorderColor;
  height: $thumbHeight;
  width: $thumbWidth;
  border-radius: $thumbBorderRadius;
  background: $thumbColor;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -#{$thumbHeight/2 - $trackHeight/2};
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba($trackColorFocus, 0.78);
}
input[type=range]::-ms-fill-lower {
  background: rgba($trackColor, 0.78);
  border-radius: $trackBorderRadius;
}
input[type=range]::-ms-fill-upper {
  background: rgba($trackColor, 0.78);
  border-radius: $trackBorderRadius;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba($trackColorFocus, 0.78);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba($trackColorFocus, 0.78);
}