$defaultPlaceHolderColor:#999999 !default;
$color-input-text: #000000 !default;
@mixin PlaceHolderColor($placeHolderColor: $defaultPlaceHolderColor) {
  ::-webkit-input-placeholder {
    color: $placeHolderColor;
  }
  
  ::-moz-placeholder {
    color: $placeHolderColor;
    opacity: 1;
  }
  
  :-ms-input-placeholder {
    color: $placeHolderColor;
  }
  
  :-moz-placeholder {
    color: $placeHolderColor;
  }
}
@include PlaceHolderColor();

.select {
  position: relative;
  color: inherit;

  &:after {
    content: "";
    position: absolute;
    height: 1rem;
    width: 1rem;
    color: inherit;
    pointer-events: none;
    top: calc(50% - 0.6rem);
    right: 2rem;
    transform: rotate(-45deg);
    border: .15rem solid;
    border-width: 0 0 .15rem .15rem;
  }

  datalist,
  select {
    appearance: none;
  }

  datalist::-ms-expand,
  select::-ms-expand {
    display: none;
  }

  select {
    &:invalid {
      color: $color-text-placeholder;
    }

    option {
      color: $color-input-text;

      &[value=""] {
        color: $color-text-placeholder !important;
      }
    }
  }
}