.filter_parent {

  .filter_wrapper {
    min-height: 50vh;
  }

  .filter_obj{
    &:not(.filtered) {
      display: none;
      opacity: 0;
    }

  }

  .filter_tab:not(.is-active) {
    cursor: pointer;
  }
}
