.popup_background {
	opacity: .50 !important;
}

.popup_visible .popup {
	// display: inline-flex !important;
	overflow: hidden;
	perspective: 500px;
	perspective-origin: 50% 50%;
	// animation: fade-in 0.6s ease-in-out both;
}

// .popup {
	// animation: fade-out 0.7s ease-in-out both;

	// &_wrapper {
	// 	perspective: 500px;
	// 	perspective-origin: 50% 50%;
	// }

	// position: relative;
	// flex-direction: column;

	// .close_button {
	// 	position: absolute;
	// 	right: 0rem;
	// 	top: 0rem;
	// 	color: inherit;
	// 	z-index: 99;
	// }


	// &-wrap {
	// 	flex: 1;
	// 	flex: 1 1 auto;
	// 	display: flex;
	// 	flex-direction: column;
	// 	overflow: hidden;
	// 	position: relative;
	// }

// }

// @keyframes fade-in {
//   0% {
// 	opacity: 0;
//   }
//   100% {
// 	opacity: 1;
//   }
// }

// @keyframes fade-out {
//   0% {
// 	opacity: 1;
//   }
//   100% {
// 	opacity: 0;
//   }
// }


// @keyframes fade-in-bck {
//   0% {
// 	transform: translateZ(2rem);
// 	opacity: 0;
//   }
//   100% {
// 	transform: translateZ(0);
// 	opacity: 1;
//   }
// }

// @keyframes fade-out-bck {
//   0% {
// 	transform: translateZ(0);
// 	opacity: 1;
//   }
//   100% {
// 	transform: translateZ(-2rem);
// 	opacity: 0;
//   }
// }


// .holder {
// 	position: relative;
// 	display: flex;
// 	flex-direction: column;

// 	&-inner {
// 		flex: 1 1 auto;
// 		overflow: auto;
// 		padding-bottom: 3rem;
// 	}

// 	&:after {
// 		content: "";
// 		position: absolute;
// 		bottom: 0;
// 		right: 0;
// 		left: 0;
// 		height: 3rem;

// 		background-image: linear-gradient(to bottom,
// 			rgba(#000000, 0) -5%,
// 			rgba(#000000, 1) 90%);
// 	}
// }