/**/
/*=====================================*/
/*Colors classes*/

/*Black and White*/
$black : #000000;
$white : #ffffff;

/*Greys*/
$grey1: #404041;
$grey2: #383739;
$grey3: #323232;
$grey4: #f2f2f3;

/*Other Colors*/

/*Pinks*/
$pink1: #f06078;
$pink2: #ec008b;
$pink3: #b14d9d;

/*Aquas*/
$aqua1: #1db3bf;
$aqua2: #00b4a1;
$aqua3: #64d4b7;
$aqua4: #f6fbfc;
$aqua5: #4bacca;

/*Blues*/
$blue1: #5f6db3;
$blue2: #227482;
$blue3: #0288cf;
$blue4: #101928;


/*Yellows*/
$yellow1: #fbaf3a;
$yellow2: #ec604b;


