/**/
/*=====================================*/
/*Fonts*/
@font-face {
    font-family: 'Selima';
    src: url('fonts/Selima.eot');
    src: url('fonts/Selima.woff2') format('woff2'),
            url('fonts/Selima.woff') format('woff'),
            url('fonts/Selima.ttf') format('truetype'),
            url('fonts/Selima.svg#Selima') format('svg'),
            url('fonts/Selima.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
  
.selima{
    font-family: 'Selima';
    font-weight:normal;
    font-style:normal;
}
.zilla{//Replacement for Aleo and Arvo
    font-family: 'Zilla Slab', serif;
}
$font-16 : 16px;
$font-17 : 17px;
$font-21 : 21px;
$font-28 : 28px;
$font-36 : 36px;
$font-40 : 40px;
$font-50 : 50px;
$font-62 : 62px;
$font-70 : 70px;
$font-84 : 84px;
$font-96 : 96px;

.font-17{font-size: $font-17;}
.font-21{font-size: $font-21;}
.font-28{font-size: $font-28;}
.font-36{font-size: $font-36;}
.font-40{font-size: $font-40;}
.font-50{font-size: $font-50;}
.font-62{font-size: $font-62;}
.font-70{font-size: $font-70;}
.font-84{font-size: $font-84;}
.font-96{font-size: $font-96;}
