<!-- hello-bar -->
<section class="hello-bar pos-fixed pin-t pin-x z-100">
   <div class="py-8 bg-primary f-color-white">
      <div class="container md:container-md xl:container-xl mx-auto">
         <div class="text-wrap text-center">
            <marquee scrollamount="10" onMouseOver="this.stop()" onMouseOut="this.start()" class="uppercase"><strong>CHRISTMAS DELIVERY</strong> - LAST ORDERS 12 NOON DECEMBER 23RD</marquee>
         </div>
      </div>
      <button class="hello-bar-close button bg-inherit f-color-inherit pos-absolute pin-r pin-t">
         <i class="f-color-inherit icon icon-40">
            <span class="pos-absolute pin justify-center align-center">
               <span class="icon-10">
                  <svg version="1.1" stroke="currentColor" stroke-width="1.6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17.9 17.9"
                     xml:space="preserve">
                     <line class="st0" x1="17.2" y1="0.7" x2="0.7" y2="17.2" />
                     <line class="st0" x1="17.2" y1="17.2" x2="0.7" y2="0.7" />
                  </svg>
               </span>
            </span>
         </i>
      </button>
   </div>
</section>

<header class="header w-full flex-col z-100 pos-fixed pin-x pin-t bg-primary-xlight shadow-lg lg:shadow-none">
   <div class="header-container container md:container-md lg:container-lg xl:container-xl mx-auto pos-relative">
      <div class="flex-row align-center lg:align-end justify-space-between pt-16 pb-16 lg:pt-36 lg:pb-34">
         <div class="lg:mx-auto">
            <a href="index.html" title="@@websiteName" class="brand-logo d-inline-block ratio-logo icon-logo-sm md:icon-logo-md lg:icon-logo">
               <img class="pos-absolute pin object-contain" src="./images/vetimed-logo.svg" alt="Vatimed" />
            </a>
         </div>
         <div class="lg:pos-absolute pin-r">
            <div class="flex-row align-center -m-4">
               <a title="Account" href="#" class="icon icon-32 m-4 f-color-white rounded hover:shadow-lg transition-all">
                  <div class="circle primary-light pos-absolute pin"></div>
                  <span class="p-6 pos-absolute pin">
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                        <circle cx="12" cy="7" r="4"></circle>
                     </svg>
                  </span>
               </a>
               <a title="Basket" href="#" class="icon icon-32 m-4 f-color-white rounded hover:shadow-lg transition-all">
                  <div class="circle primary pos-absolute pin"></div>
                  <span class="p-6 pos-absolute pin">
                     <svg fill="currentColor" class="my-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.7 30.5">
                        <path d="M28.1 28.7h-4L26 13.6h4.8l-2.7 15.1zM5 13.6h4.2l1.7 15.1H7.7L5 13.6zm7.7 15.1L11 13.6h5.5v15.1h-3.8zm5.7 0V13.6h5.7l-1.9 15.1h-3.8zm9.3-16.9L23.4.6c-.2-.5-.7-.7-1.2-.5-.5.2-.7.7-.5 1.2l4 10.6h-16l4.2-10.3c.2-.5 0-1-.5-1.2-.5-.2-1 0-1.2.5l-4.4 11H.9c-.5 0-.9.4-.9.9s.4.9.9.9h2.2l3 16.2c.1.4.5.7.9.7h21.9c.4 0 .8-.3.9-.8l2.8-16.2h2.3c.5 0 .9-.4.9-.9s-.4-.9-.9-.9h-7.2z"></path>
                     </svg>
                  </span>
               </a>
               <a title="Search" href="#" class="search-toggle lg:d-hidden icon icon-32 m-4 f-color-white rounded hover:shadow-lg transition-all">
                  <div class="circle primary-medium pos-absolute pin"></div>
                  <span class="p-6 pos-absolute pin">
                     <svg xmlns="http://www.w3.org/2000/svg" class="my-auto" fill="none" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"
                           viewBox="0 0 24 24">
                           <circle cx="11" cy="11" r="8"></circle>
                           <path d="m21 21-4.35-4.35"></path>
                        </svg>
                  </span>
               </a>
               <div class="icon icon-32 navbar-toggle m-4 f-color-white d-inline-flex lg:d-hidden z-50 rounded hover:shadow-lg transition-all">
                  <div class="circle secondary pos-absolute pin"></div>
                  <span class="p-6 pos-absolute pin">
                     <i class="icon icon-14 my-auto hamburger pointer-events-auto">
                        <div>
                           <span></span>
                           <span></span>
                           <span></span>
                           <span></span>
                        </div>
                     </i>
                  </span>
               </div>
            </div>
         </div>
      </div>
   </div>
   <nav class="
            bg-primary-medium f-color-white
            navbar 
            pos-absolute 
            pin-x 
            z-30
            lg:pin-none
            lg:pos-static
            lg:mx-auto
            lg:w-full
            shadow-lg
            lg:shadow-none
            ">
      <div class="container lg:container-xl mx-auto pt-16 pb-16 lg:pt-0 lg:pb-0">
         <div class="flex-col lg:flex-row">
            <ul class="list-reset flex-col lg:flex-row pos-relative">
               <li class="">
                  <div class="submenu-trigger nav-link py-16 px-16 flex-row align-center justify-space-between">
                     <span>
                        Shop by pet
                     </span>
                     <span class="icon icon-28 lg:icon-16 ml-8 lg:ml-2 flex-none f-color-inherit">
                        <span class="down-icon">
                           <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                              class="feather feather-chevron-down" viewBox="0 0 24 24">
                              <path d="m6 9 6 6 6-6" />
                           </svg>
                        </span>
                        <span class="close-icon">
                           <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"
                              viewBox="0 0 24 24">
                              <path d="M18 6 6 18M6 6l12 12" />
                           </svg>
                        </span>
                     </span>
                  </div>
                  <!-- Submenu -->
                  <div class="submenu bg-white lg:bg-transparent pos-fixed pin-x pin-t pin-b z-40">
                     <div class="bg-white lg:shadow-lg">
                        <div class="container-fluid lg:container-xl mx-auto bg-white h-full lg:h-auto pt-16 pb-16">
                           <div class="p-10 flex-row align-center justify-space-between lg:d-hidden">
                              <button class="back-button uppercase f-color-inherit flex-row align-center f-weight-bold">
                                 <span class="icon icon-28 lg:icon-16 mr-8 flex-none f-color-secondary">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                       class="feather feather-chevron-down" viewBox="0 0 24 24">
                                       <path d="m6 9 6 6 6-6" />
                                    </svg>
                                 </span>
                                 Back
                              </button>
                           </div>
                           <div class="p-20">
                              <div class="flex-row flex-wrap -m-10 lg:-m-20">
                                 <div class="col-6 lg:col-2 p-10 lg:p-20">
                                    <div class="text-wrap text-center">
                                       <a href="#" class="ratio-1x1 d-inline-block bg-primary-xlight hover:shadow-md transition-all">
                                          <img src="./images/bird-thumb.png" class="pos-absolute pin w-full h-full object-cover" />
                                       </a>
                                       <h2 class="uppercase f-weight-bold">Bird</h2>
                                    </div>
                                 </div>
                                 <div class="col-6 lg:col-2 p-10 lg:p-20">
                                    <div class="text-wrap text-center">
                                       <a href="#" class="ratio-1x1 d-inline-block bg-primary-xlight hover:shadow-md transition-all">
                                          <img src="./images/cat-thumb.png" class="pos-absolute pin w-full h-full object-cover" />
                                       </a>
                                       <h2 class="uppercase f-weight-bold">Cat</h2>
                                    </div>
                                 </div>
                                 <div class="col-6 lg:col-2 p-10 lg:p-20">
                                    <div class="text-wrap text-center">
                                       <a href="#" class="ratio-1x1 d-inline-block bg-primary-xlight hover:shadow-md transition-all">
                                          <img src="./images/dog-thumb.png" class="pos-absolute pin w-full h-full object-cover" />
                                       </a>
                                       <h2 class="uppercase f-weight-bold">Dog</h2>
                                    </div>
                                 </div>
                                 <div class="col-6 lg:col-2 p-10 lg:p-20">
                                    <div class="text-wrap text-center">
                                       <a href="#" class="ratio-1x1 d-inline-block bg-primary-xlight hover:shadow-md transition-all">
                                          <img src="./images/farm-animal-thumb.png" class="pos-absolute pin w-full h-full object-cover" />
                                       </a>
                                       <h2 class="uppercase f-weight-bold">Farm animal</h2>
                                    </div>
                                 </div>
                                 <div class="col-6 lg:col-2 p-10 lg:p-20">
                                    <div class="text-wrap text-center">
                                       <a href="#" class="ratio-1x1 d-inline-block bg-primary-xlight hover:shadow-md transition-all">
                                          <img src="./images/horse-thumb.png" class="pos-absolute pin w-full h-full object-cover" />
                                       </a>
                                       <h2 class="uppercase f-weight-bold">Horse</h2>
                                    </div>
                                 </div>
                                 <div class="col-6 lg:col-2 p-10 lg:p-20">
                                    <div class="text-wrap text-center">
                                       <a href="#" class="ratio-1x1 d-inline-block bg-primary-xlight hover:shadow-md transition-all">
                                          <img src="./images/small-exotic-thumb.png" class="pos-absolute pin w-full h-full object-cover" />
                                       </a>
                                       <h2 class="uppercase f-weight-bold">Small/exotic</h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </li>
               <li class="@@if(context.prescription){is-active}">
                  <div class="submenu-trigger nav-link py-16 px-16 flex-row align-center justify-space-between">
                     <span>
                        Prescription
                     </span>
                     <span class="icon icon-28 lg:icon-16 ml-8 lg:ml-2 flex-none f-color-inherit">
                        <span class="down-icon">
                           <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                              class="feather feather-chevron-down" viewBox="0 0 24 24">
                              <path d="m6 9 6 6 6-6" />
                           </svg>
                        </span>
                        <span class="close-icon">
                           <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"
                              viewBox="0 0 24 24">
                              <path d="M18 6 6 18M6 6l12 12" />
                           </svg>
                        </span>
                     </span>
                  </div>
                  <!-- Submenu -->
                  <div class="submenu bg-white lg:bg-transparent pos-fixed pin-x pin-t pin-b z-40">
                     <div class="bg-white lg:shadow-lg">
                        <div class="container-fluid lg:container-lg mx-auto bg-white h-full lg:h-auto pt-16 pb-16">
                           <div class="p-10 flex-row align-center justify-space-between lg:d-hidden">
                              <button class="back-button uppercase f-color-inherit flex-row align-center f-weight-bold">
                                 <span class="icon icon-28 lg:icon-16 mr-8 flex-none f-color-secondary">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                       class="feather feather-chevron-down" viewBox="0 0 24 24">
                                       <path d="m6 9 6 6 6-6" />
                                    </svg>
                                 </span>
                                 Back
                              </button>
                           </div>
                           <div class="p-20">
                              <div class="text-wrap text-center f-size-28">
                                 <h3 class="f-size-24 text-center">Start by choosing the first letter of your prescription</h3>
                                 <div class="flex-row flex-wrap justify-center -m-10">
                                    <div class="p-10">
                                       <a href="#" class="icon icon-54 bg-primary-xlight hover:shadow-md hover:bg-white transition-all"><span><span>A</span></span></a>
                                    </div>
                                    <div class="p-10">
                                       <a href="#" class="icon icon-54 bg-primary-xlight hover:shadow-md hover:bg-white transition-all"><span><span>B</span></span></a>
                                    </div>
                                    <div class="p-10">
                                       <a href="#" class="icon icon-54 bg-primary-xlight hover:shadow-md hover:bg-white transition-all"><span><span>C</span></span></a>
                                    </div>
                                    <div class="p-10">
                                       <a href="#" class="icon icon-54 bg-primary-xlight hover:shadow-md hover:bg-white transition-all"><span><span>D</span></span></a>
                                    </div>
                                    <div class="p-10">
                                       <a href="#" class="icon icon-54 bg-primary-xlight hover:shadow-md hover:bg-white transition-all"><span><span>E</span></span></a>
                                    </div>
                                    <div class="p-10">
                                       <a href="#" class="icon icon-54 bg-primary-xlight hover:shadow-md hover:bg-white transition-all"><span><span>F</span></span></a>
                                    </div>
                                    <div class="p-10">
                                       <a href="#" class="icon icon-54 bg-primary-xlight hover:shadow-md hover:bg-white transition-all"><span><span>G</span></span></a>
                                    </div>
                                    <div class="p-10">
                                       <a href="#" class="icon icon-54 bg-primary-xlight hover:shadow-md hover:bg-white transition-all"><span><span>H</span></span></a>
                                    </div>
                                    <div class="p-10">
                                       <a href="#" class="icon icon-54 bg-primary-xlight hover:shadow-md hover:bg-white transition-all"><span><span>I</span></span></a>
                                    </div>
                                    <div class="p-10">
                                       <a href="#" class="icon icon-54 bg-primary-xlight hover:shadow-md hover:bg-white transition-all"><span><span>J</span></span></a>
                                    </div>
                                    <div class="p-10">
                                       <a href="#" class="icon icon-54 bg-primary-xlight hover:shadow-md hover:bg-white transition-all"><span><span>K</span></span></a>
                                    </div>
                                    <div class="p-10">
                                       <a href="#" class="icon icon-54 bg-primary-xlight hover:shadow-md hover:bg-white transition-all"><span><span>L</span></span></a>
                                    </div>
                                    <div class="p-10">
                                       <a href="#" class="icon icon-54 bg-primary-xlight hover:shadow-md hover:bg-white transition-all"><span><span>M</span></span></a>
                                    </div>
                                    <div class="p-10">
                                       <a href="#" class="icon icon-54 bg-primary-xlight hover:shadow-md hover:bg-white transition-all"><span><span>N</span></span></a>
                                    </div>
                                    <div class="p-10">
                                       <a href="#" class="icon icon-54 bg-primary-xlight hover:shadow-md hover:bg-white transition-all"><span><span>O</span></span></a>
                                    </div>
                                    <div class="p-10">
                                       <a href="#" class="icon icon-54 bg-primary-xlight hover:shadow-md hover:bg-white transition-all"><span><span>p</span></span></a>
                                    </div>
                                    <div class="p-10">
                                       <a href="#" class="icon icon-54 bg-primary-xlight hover:shadow-md hover:bg-white transition-all"><span><span>Q</span></span></a>
                                    </div>
                                    <div class="p-10">
                                       <a href="#" class="icon icon-54 bg-primary-xlight hover:shadow-md hover:bg-white transition-all"><span><span>R</span></span></a>
                                    </div>
                                    <div class="p-10">
                                       <a href="#" class="icon icon-54 bg-primary-xlight hover:shadow-md hover:bg-white transition-all"><span><span>S</span></span></a>
                                    </div>
                                    <div class="p-10">
                                       <a href="#" class="icon icon-54 bg-primary-xlight hover:shadow-md hover:bg-white transition-all"><span><span>T</span></span></a>
                                    </div>
                                    <div class="p-10">
                                       <a href="#" class="icon icon-54 bg-primary-xlight hover:shadow-md hover:bg-white transition-all"><span><span>U</span></span></a>
                                    </div>
                                    <div class="p-10">
                                       <a href="#" class="icon icon-54 bg-primary-xlight hover:shadow-md hover:bg-white transition-all"><span><span>V</span></span></a>
                                    </div>
                                    <div class="p-10">
                                       <a href="#" class="icon icon-54 bg-primary-xlight hover:shadow-md hover:bg-white transition-all"><span><span>W</span></span></a>
                                    </div>
                                    <div class="p-10">
                                       <a href="#" class="icon icon-54 bg-primary-xlight hover:shadow-md hover:bg-white transition-all"><span><span>X</span></span></a>
                                    </div>
                                    <div class="p-10">
                                       <a href="#" class="icon icon-54 bg-primary-xlight hover:shadow-md hover:bg-white transition-all"><span><span>Y</span></span></a>
                                    </div>
                                    <div class="p-10">
                                       <a href="#" class="icon icon-54 bg-primary-xlight hover:shadow-md hover:bg-white transition-all"><span><span>Z</span></span></a>
                                    </div>
                                 </div>
                                 <button class="uppercase button bg-secondary f-size-18 f-color-white py-10 px-20">View all</button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </li>
               <li class=" @@if(context.accessories){is-active}">
                  <a class="nav-link py-16 px-16" href="#">Special offers</a>
               </li>
            </ul>
         </div>
      </div>
   </nav>
   <section class="search-bar lg:pos-absolute pin-x pin-t-100 bg-primary-medium">
      <div class="container container-fluid lg:container-lg xl:container-xl mx-auto p-16 lg:p-0">
         <div class="flex-row lg:justify-end">
            <form class="lg:icon-268 flex-row bg-white rounded-4 lg:my-10 ml-auto shadow-inner w-full lg:w-auto lg:-mt-44">
               <div class="flex-auto flex-col">
                  <input type="text" placeholder="Search" name="search" class="uppercase w-full p-16 lg:p-10 f-size-12" />
               </div>
               <button class="button uppercase rounded-4 overflow-hidden hover:bg-default hover:f-color-white transition-all">
                  <i class="icon icon-46 lg:icon-30">
                     <span class="p-12 lg:p-8">
                        <svg xmlns="http://www.w3.org/2000/svg" class="my-auto" fill="none" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"
                           viewBox="0 0 24 24">
                           <circle cx="11" cy="11" r="8"></circle>
                           <path d="m21 21-4.35-4.35"></path>
                        </svg>
                     </span>
                  </i>
               </button>
            </form>
         </div>
      </div>
   </section>
</header>

@@if(context.pixelmatch && context.pixelmatch.show){
<div class="pos-absolute pin-t pin-x pin-b-auto overflow-visible z-400 text-center pointer-events-none" style="margin-top: 0rem;">
   <img src="@@pixelmatch.image" class="pointer-events-none opacity-25" style="outline: 1px solid red;" />
</div>
}