<div id="jsPrescriptionPopup" class="d-hidden container sm:container-sm md:container-md xl:container-lg popup shadow-lg bg-white mx-10 max-h-full">
   <div class="flex-col w-full flex-stretch popup-wrap">
      <button class="jsPrescriptionPopup_close pos-absolute pin-t pin-r z-10 d-inline-block f-color-default hover:bg-primary-medium hover:f-color-white ml-auto transition-all mt-16 mr-32">
         <i class="f-color-inherit icon icon-30">
            <span class="p-8">
               <svg version="1.1" stroke="currentColor" stroke-width="1.6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17.9 17.9"
                  xml:space="preserve">
                  <line class="st0" x1="17.2" y1="0.7" x2="0.7" y2="17.2" />
                  <line class="st0" x1="17.2" y1="17.2" x2="0.7" y2="0.7" />
               </svg>
            </span>
         </i>
      </button>
      <div class="flex-stretch overflow-auto popup-body bg-secondary-light p-16 -mt-18">
         <section class="border-2 border-secondary border-dashed p-20 lg:p-40">
            <div class="text-wrap-lg text-center">
               <div class="rounded f-color-primary-medium icon icon-130">
                  <div class="circle secondary pos-absolute pin"></div>
                  <span class="pos-absolute pin p-20 f-color-white">
                     <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" viewBox="0 0 77.2 86.4">
                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3.457"
                           d="M63.9 73H57v0h6.9zm-3.5 3.4h0v-6.9h0v6.9zm-3.4-51h0c0-5.1-4.1-9.2-9.2-9.2H29.4c-5.1 0-9.2 4.1-9.2 9.2 0 0-4-21 12.5-22.1 4.6-.3 10.6 4 15.8 4 5.2 0 8.6-5.5 8.6-5.5v23.6zM46.3 46.9v-2.3c-2.4 1.4-5.1 2.3-7.7 2.3-2.6 0-5.2-.8-7.7-2.3v2.3c0 3.4-2.1 6.1-4.6 6.1 0 6.8 5.5 31.7 12.3 31.7 6.8 0 12.3-24.9 12.3-31.7-2.5 0-4.6-2.7-4.6-6.1zm1.5-30.7H29.4c-5.1 0-9.2 4.1-9.2 9.2 0 11.9 9.4 21.5 18.4 21.5 9 0 18.4-9.6 18.4-21.5 0-5.1-4.1-9.2-9.2-9.2zm27.7 68.5V74.6c0-10.1-7.9-17.4-18.4-20L50.9 53c0 6.8-5.5 12.3-12.3 12.3-6.8 0-12.3-5.5-12.3-12.3l-6.1 1.5c-10.6 2.6-18.4 9.8-18.4 20v10.1h73.7z">
                        </path>
                     </svg>
                  </span>
               </div>
               <div class="xl:col-count-2 text-left text-wrap">
                  <div class="text-wrap-xs">
                     <h2 class="f-weight-semiBold">Why do I need a Prescription?</h2>
                     <p>Many of the products we sell are categorised as POM-V. This means they are prescription only medications and we need a written prescription from your vet so that we can
                        supply it. The prescription symbol on the left is on display by the product photo if that is the case.</p>
                  </div>
                  <div class="text-wrap-xs">
                     <h2 class="f-weight-semiBold">How can I get a Prescription?</h2>
                     <p>Ask your veterinary practice for one. If your vet has suggested some treatment for your pet then he/she must write you a prescription if you request one. Many practices
                        have their own prescription forms but you can download a blank template here for your vet to complete.</p>
                  </div>
                  <div class="text-wrap-xs">
                     <h2 class="f-weight-semiBold">Will my vet charge me for writing the prescription?</h2>
                     <p>Yes, that is likely. However, under pharmacy regulations, he/she must not make an unreasonable charge. Usually it is still cheaper to pay your vet for the prescription
                        then get the medication through our website.</p>
                  </div>
                  <div class="text-wrap-xs">
                     <h2 class="f-weight-semiBold">How long does the prescription last?</h2>
                     <p>It will be valid for six months from the date of issue, unless your vet states a shorter time - so you have to request the medication before the expiry date.
                        Prescriptions for certain scheduled drugs such as Tramadol or Phenobarbitone have to be fulfilled within 28 days.</p>
                  </div>
                  <div class="text-wrap-xs">
                     <h2 class="f-weight-semiBold">Do I have to buy the whole prescription at once?</h2>
                     <p>No, once we have the prescription you can buy the medication in batches if you like. That’ll help you spread the cost of your pet’s treatment.</p>
                  </div>
                  <div class="text-wrap-xs">
                     <h2 class="f-weight-semiBold">What if my pet needs the medication urgently?</h2>
                     <p>You should ask your vet to give your pet any treatment that he/she needs in the next few days, especially any emergency treatment. Any ongoing treatment could then be
                        obtained
                        from us with a prescription.</p>
                  </div>
                  <div class="text-wrap-xs">
                     <h2 class="f-weight-semiBold">Will you accept an e-mailed copy?</h2>
                     <p>We will accept a scanned copy by e-mail as long as the scan is of excellent quality and the prescription can be easily read. Photos are accepted if they are not blurred
                        and includes the whole of the pprescription.</p>
                  </div>
                  <div class="text-wrap-xs">
                     <h2 class="f-weight-semiBold">Will you accept an e-mailed copy?</h2>
                     <p>We will accept a scanned copy by e-mail as long as the scan is of excellent quality and the prescription can be easily read. Photos are accepted if they are not blurred
                        and includes the whole of the pprescription.</p>
                     <p>For orders that contain controlled medicines it is obligatory that you send us the original prescription before we can release the medicine. You will be informed of this
                        during the checkout.</p>
                     <p>Some Vets like us to have the original prescription for all medicine purchases - if this is the case it will be detailed on the prescription.</p>
                  </div>
                  <div class="text-wrap-xs">
                     <h2 class="f-weight-semiBold">How do I send the Prescription to Vetimed?</h2>
                     <p><strong class="f-color-secondary">By Upload</strong> Upload your prescription now</p>
                     <ul class="list secondary pl-20">
                        <li>Place your order first.</li>
                        <li>Upload a flat bed scan of the prescription, as a pdf or jpg file.</li>
                     </ul>
                     <p><strong class="f-color-secondary">E-mail:</strong> <a href="mailto:info@vetimed.co.uk" class="hover:f-color-secondary">info@vetimed.co.uk</a></p>
                     <ul class="list secondary pl-20">
                        <li>Place your order first.</li>
                        <li>Attach a flat bed scan of the prescription, as a pdf or jpg file. You can email us a photo if its a good quality image showing the whole document. Please put your
                           order number in the subject line</li>
                     </ul>
                     <p><strong class="f-color-secondary">By Post</strong></p>
                     <ul class="list secondary pl-20">
                        <li>Vetimed, 14-15 The Bluestone Centre, Sun Rise Way, Amesbury, SP4 7YR. Place your order first then write your order number on the prescription before posting it.</li>
                     </ul>
                  </div>
                  <div class="text-wrap-xs">
                     <h2 class="f-weight-semiBold">How do I find out more about the medicine I am purchasing?</h2>
                     <p>You can access the VMD’s database here....<br />
                        <a href="https://www.vmd.defra.gov.uk/ProductInformationDatabase/" target="_blank" class="hover:f-color-secondary">https://www.vmd.defra.gov.uk/ProductInformationDatabase/</a>
                     </p>
                  </div>
                  <div class="text-wrap-xs">
                     <h2 class="f-weight-semiBold">Has your animal had a reaction to a medicine purchsed from Vetimed?</h2>
                     <p>You can report it here...<br />
                        <a href="www.gov.uk/report-veterinary-medicine-problem" target="_blank" class="hover:f-color-secondary">www.gov.uk/report-veterinary-medicine-problem</a>
                     </p>
                  </div>
               </div>
               <div class="text-center">
                  <a href="#" class="jsPrescriptionPopup_close button uppercase bg-secondary f-color-white f-size-20 f-weight-medium px-20 py-10">Close</a>
               </div>
            </div>
         </section>
      </div>
   </div>
</div>