<section class="
   text-center lg:text-left
   pos-relative
   mt-2md lg:mt-xl
   py-sm lg:py-0
   flex-col flex-stretch 
   bg-primary f-color-white">
   <div class="mx-auto container md:container-sm lg:container-lg xl:container-xl">
      <article class="flex-col lg:flex-row">
         <section class="
            img-placeholder 
            lg:col-4
            d-hidden lg:d-inline-block
            ratio-16x9 lg:ratio-none
            mb-sm lg:mb-0
            lg:pos-absolute lg:pin-l lg:pin-y">
            <figure class="
               pos-absolute pin 
               bg-center-top bg-cover" 
               style="background-image: url('./images/know-rules-image.jpg');">
            </figure>
          </section>
          <section class="
            call-to-action 
            pos-relative 
            ml-auto lg:py-lg lg:pl-lg">
            <h2 class="
               uppercase 
               mb-sm
               f-color-inherit f-family-primary f-weight-regular f-size-3md">Familiarise yourself with the lake rules</h2>
               <div class="
                  flex-col lg:flex-row
                  -mb-sm -mr-sm">
                  <div class="pr-sm xl:pr-2xl pb-sm flex-stretch">
                     <p class="">Prior to booking and attending the site please take the time to read our lake rules.</p>
                  </div>	
                  <div class="pr-sm pb-sm flex-none">
                     <a href="rules.html" class="
                        button 
                        bg-medium hover:shadow-lg
                        px-md py-xxs rounded
                        f-family-primary f-size-sm f-color-white f-spacing-wide f-weight-semibold  
                        uppercase text-center cursor-pointer no-underline d-inline-block transition-all">view lake rules</a>
                  </div>
               </div>
         </section>
      </article>
   </div>
</section>