<section class="
   pos-relative
   pb-2md lg:pb-0
   flex-col flex-stretch 
   bg-primary f-color-white">
   <div class="lg:mx-auto lg:container-xl">
      <article class="flex-col lg:flex-row">
         <section class="
            img-placeholder 
            lg:col-6
            d-inline-block
            ratio-16x9 lg:ratio-none
            mb-sm lg:mb-0
            lg:pos-absolute lg:pin-r lg:pin-y">
            <figure class="
               pos-absolute pin 
               bg-center-top bg-cover" 
               style="background-image: url('./images/waldewn estate fishery (3 of 5).jpeg');">
            </figure>
          </section>
          <section class="
            container md:container-sm lg:container-lg xl:container-xl
            full-card 
            pos-relative
            ml-auto lg:ml-0 
            mr-auto lg:py-xl lg:pr-xl" 
            data-aos="fade-in" data-aos-delay="300" data-aos-duration="700" data-aos-anchor-placement="top-bottom"
            >
            <div class="text-wrap">
               <h2 class="uppercase f-color-inherit f-family-primary f-weight-regular f-size-3md">match lake</h2>
               <p>
                 Porerferum hariassi sint eatus duscium veliam quam arum quas ipsam ni audaeptior modistr umendendi odia vendem facia demod estia as ipsum quod quae ipsam facest faccatiam doluptatum ex escias estio idiores dendes qui res dias alitati cum qui inctio qui coritatio comnitis endes ab incia vid et am quat faccumquia sequati andelique velicius dolorrum laccae volutetur mo temos rem. Et es con peligna tusandu citaturio. Itatur aut verum fuga. Et eatius, sedita volore excesequi beaquibus, quaepero ius dolorrorero conem re corem. Igent volorere, nus unt volorro bero venis modisit, vid ut ducitaturia quodigname doloribus volute nus magnistiati net hiciis doluptatum incto tem enest, quiature susdantur rem enem laces sequiatus.
               </p>
               <p>
                 Optaesed icipitest, sequunt, quamentiat eos moluptur, aut aut et que pre ad quatiae niti sequodi genduci aessequis aut eos excerup taturiatus autemol lessumque vitatet atem fuga. Ut as et abo. Lore reiciisserum quaeperior ad et ium conserunto blamet occus ea nulparc hiliquo cone nost magni di con raectur emoluptatur as quae mi, non re am ent minctur? Pudis ipitas dolecto quae pa venienimolor arci dit elluptam fugiaec.
               </p>
             </div>
         </section>
      </article>
   </div>
</section>