<section class="py-2md lg:py-xl ">
   <div class="container md:container-sm lg:container-lg xl:container-xl mx-auto
					flex-col">
      <h2 class="f-weight-regular f-size-6 md:f-size-8 mb-2md mx-auto text-center">Need to Get Hold of Us?</h2>
      <div class="flex-col lg:flex-row justify-space-between -mb-md">
         <div class="text-wrap-xs text-center mb-md" data-aos="fade" data-aos-delay="100" data-aos-duration="700" data-aos-anchor-placement="top-bottom">
            <p class="free-child mb-xs"><strong>Chief Executive/Secretary</strong></p>
            <p>Sally Moger</p>
            <p><a class="no-underline f-color-inherit hover:f-color-primary" href="tel:07884 248357">07884 248357</a></p>
            <p><a class="no-underline f-color-inherit hover:f-color-primary" href="mailto:sally.moger@wwmhs.org">sally.moger@wwmhs.org</a></p>
         </div>
         <div class="text-wrap-xs text-center mb-md" data-aos="fade" data-aos-delay="200" data-aos-duration="700" data-aos-anchor-placement="top-bottom">
            <p class="free-child mb-xs"><strong>Property Manager</strong></p>
            <p>Pete Lillywhite</p>
            <p><a class="no-underline f-color-inherit hover:f-color-primary" href="tel:07884 248380">07884 248380</a></p>
            <p><a class="no-underline f-color-inherit hover:f-color-primary" href="mailto:pete.lillywhite@wwmhs.org">pete.lillywhite@wwmhs.org</a></p>
         </div>
         <div class="text-wrap-xs text-center mb-md" data-aos="fade" data-aos-delay="300" data-aos-duration="700" data-aos-anchor-placement="top-bottom">
            <p class="free-child mb-xs"><strong>Finance</strong></p>
            <p>Fiona Beckett</p>
            <p><a class="no-underline f-color-inherit hover:f-color-primary" href="mailto:fiona.beckett@wwmhs.org">fiona.beckett@wwmhs.org</a></p>
         </div>
      </div>
   </div>
</section>